mixin mobileSidebar ()
  .mobile-wrapper__header
    .flex-fill
      .flex.align-items-middle
        .flex-shrinkable.text-space-right
          a(href="me-homepage.html")
            img(src=`${assetsPrefix}images/content/logo.svg`, alt="Martinus").show-l
            img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus").hide-l
        .flex-fill
          .h3.text-transform-upper.mb-none ja

    .flex-shrinkable
      .btn-dropdown.btn-dropdown--no-icon.mb-none
        button.btn.btn--clean.btn--lowercase(data-toggle-expand data-toggle="self, next")
          +icon('user').icon--medium.icon--left
          span Janko

        .dropdown.dropdown--arrowhead(data-dropdown data-toggle-expand aria-expanded="false", style="min-width: 150px; max-height: 400px;")
          .dropdown__wrap(style="max-height: 400px;")
            .dropdown__group.bg-secondary
              span.text-medium.text-color-grey.text-semibold Janko Martinusák
            a(href="#").dropdown__item Odhlásiť

      .btn.btn--clean(data-toggle="#mobile-sidebar").mb-none
        +icon('close', 'icon--medium')

  .mobile-wrapper__content

    .hide-m.mb-medium.breadcrumbs(style="flex: 0 0 50px;")
      div(style="width: 600px;")
        .btn-group.btn-group--horizontal
          a.btn.btn--ghost
            | Hodnotenia
          a.btn.btn--ghost(href="me-reviews.html")
            | Dovolenky a štipendiá
          a.btn.btn--ghost(href="me-education.html")
            | Vzdelávanie
          a.btn.btn--ghost(href="me-calendar.html")
            | Moji kolegovia
          a.btn.btn--ghost(href="kb-article.html")
            | Vedma

    h2.h3.mb-small Hľadať
    .bar.mb-large
      .bar__item.bar__item--fill.text-space-right-tiny
        .form-control.mb-none
          input.input.autocomplete__input.autocomplete__input--default(type="text")
      .bar__item
        button.btn vyhľadať

    block