// VENDORS
@import './../../node_modules/normalize.css/normalize';

// UTILS
@import 'utils/mixins_functions';
@import 'utils/variables';
@import 'utils/config';
@import 'utils/media';

// BASE
@import 'base/globals';
@import 'base/typography';

// LAYOUT
@import 'layout/grid';

// MODULES
@import 'modules/bar';

// TOOLS
@import 'tools/utilities';

// SHAME
@import 'shame/shame';

// COMPONENTS
@import 'components/bookmark';

@each $variant, $color in $color-presets {
  .bg-#{'' + $variant} {
    background-color: $color;
  }
}

@each $variant, $color in $color-presets {
  .bg-light-#{'' + $variant} {
    background-color: _color-shade($color, 400);
  }
}

@each $variant, $color in $color-presets {
  .color-#{'' + $variant} {
    color: $color;
  }
}

.banner-btn {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #000;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 7px;
  height: 30px;
  line-height: 28px;
  font-weight: $font-weight-semibold;
}

@each $variant, $color in $color-presets {
  .btn-#{'' + $variant} {
    color: $color;
    border-color: $color;
  }
}

.banner-img {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.65);
}

.banner-468x60 {
  display: block;
  width: 468px;
  height: 60px;
  overflow: hidden;
  position: relative;

  .banner-img {
    height: 60px;
    transform: rotate(8deg) translateX(10px);
  }

  .banner-author {
    font-size: 12px;
  }

  .banner-title {
    font-size: 16px;
    margin-top: -2px;
  }

  .bookmark--full {
    left: 13px !important;
    right: auto;
  }

  .bar {
    height: 60px;
    margin: 0;
  }

  .bar__item {
    margin-top: 0;
  }

  .banner-btn {
    margin-right: 15px;
  }

  .banner-price {
    margin-bottom: -3px;
  }
}

.banner-padding {
  display: flex !important;
  background: $color-white;
  padding: 10px !important;

  .banner-content {
    flex: 1;
  }
}

.banner-300x300 {
  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  padding: 20px;
  position: relative;

  .banner-author {
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    padding-left: 12px;
    padding-right: 18px;
    font-weight: $font-weight-semibold;
  }

  .banner-title {
    font-size: 18px;
    display: inline-block;
    padding: 10px 24px 7px 16px;
    width: 230px;
    margin-left: 20px;
  }

  .banner-img {
    height: 200px;
    transform: rotate(20deg) translateY(10px);
  }

  .banner-btn {
    position: absolute;
    bottom: 20px;
  }

  .banner-logo {
    position: absolute;
    bottom: 20px;
    right: 0;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 5px;
    background: $color-white;
    height: 30px;
  }

  .banner-price {
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
    padding-left: 12px;
    padding-right: 18px;
    font-weight: $font-weight-semibold;
  }
}

.banner-160x600 {
  display: block;
  width: 160px;
  height: 600px;
  overflow: hidden;
  position: relative;
  padding: 20px;

  .banner-author {
    font-size: 18px;
    line-height: 1.1;
  }

  .banner-title {
    font-size: 24px;
    line-height: 1.1;
  }

  .banner-img {
    height: 240px;
    transform: rotate(20deg) translateY(10px);
  }

  .banner-btn-container {
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
  }

  .banner-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    background: $color-white;
  }

  .banner-price {
    position: absolute;
    bottom: 110px;
    left: 20px;
    right: 20px;
    font-size: 0;
    text-align: center;

    &__discount {
      background: _color(primary);
      color: $color-white;
      display: inline-block;
      font-size: $font-size-small;
      padding: 0 10px;
      position: absolute;
      top: -18px;
    }

    &__sum {
      background: $color-white;
      font-weight: $font-weight-bold;
      font-size: 24px;
      display: inline-block;
      padding: 0 10px;
    }
  }
}
