// VENDORS
@import './../../node_modules/normalize.css/normalize';

// UTILS
@import 'utils/_mixins_functions';
@import 'utils/_variables';
@import 'utils/_config';
@import 'utils/_media';

// BASE
@import 'base/_globals';
@import 'base/_typography';

// LAYOUT
@import 'layout/_grid';

// MODULES
@import 'modules/_bar';
@import 'modules/_lists';
@import 'modules/_icons_images';

// TOOLS
@import 'tools/_utilities';

// SHAME
@import 'shame/_shame';

$blur-size: 50px;

@each $variant, $color in $color-presets {
  .bg-#{$variant} {
    background-color: $color;
  }
}

@each $variant, $color in $color-presets {
  .bg-light-#{$variant} {
    background-color: _color-shade($color, 400);
  }
}

@each $variant, $color in $color-presets {
  .color-#{$variant} {
    color: $color;
  }
}

.dobraveta {
  display: block;
  width: 1000px;
  height: 1000px;
  position: relative;
  overflow: hidden;

  &__bg {
    position: absolute;
    top: -$blur-size;
    right: -$blur-size;
    bottom: -$blur-size;
    left: -$blur-size;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur($blur-size);
    z-index: 1;
  }

  &__content {
    position: absolute;
    top: 7%;
    right: 7%;
    height: 93%;
    width: 93%;
    background: $color-white;
    border-top-right-radius: 3%;
    z-index: 2;
    box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.1);
  }

  &__quote {
    color: $color-black;
    font-size: 36px;
    font-family: 'Spectral', serif;
    font-weight: 400;
    margin: 0;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    padding: 0 10%;
  }

  &__info {
    padding: 0 30% 10% 10%;
  }

  &__title {
    h1 {
      font-size: 36px;
    }
  }

  &__cover {
    width: 30%;
    position: absolute;
    bottom: -5%;
    right: 0;
    transform: rotateZ(30deg);
  }
}
