.hero-banner {
  padding: _get-rem(50px) 0;
  background-image: url('/images/knihy-roka/hero-banner-adult.png');
  background-repeat: no-repeat;
  background-size: cover;

  &--children {
    background-image: url('/images/knihy-roka/hero-banner-children.png');
  }

  h1 {
    font-size: _get-rem(80px);
    margin-bottom: _get-rem(30px);
  }

  .year {
    font-size: _get-rem(120px);
  }
}

.swiper-table {
  &__wrapper {
    padding: 70px 0;
    background-color: #956daf;
  }

  &__table {
    background-image: url('/images/knihy-roka/table.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right 0;
    padding-bottom: 60px;

    .swiper-container {
      max-width: 630px;
    }
  }
}
