.hero-banner {
  padding: _get-rem(50px) 0;
  background-image: url('/images/knihy-roka/hero-banner-adult.png');
  background-repeat: no-repeat;
  background-size: cover;

  &--children {
    background-image: url('/images/knihy-roka/hero-banner-children.png');
  }

  h1 {
    font-size: _get-rem(80px);
    margin-bottom: _get-rem(30px);
  }

  .year {
    font-size: _get-rem(120px);
  }
}

.swiper-table {
  &.beletria {
    background-color: #956daf;
    color: #fff;
  }

  &.deti1 {
    background-color: #59a9ae;
    color: #fff;
  }

  &__wrapper {
    padding: _get-rem(70px) 0;
  }

  &__table {
    background-image: url('/images/knihy-roka/table.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right 0;
    padding-bottom: _get-rem(60px);

    .swiper-container {
      max-width: _get-rem(630px);
    }
  }
}

.background-section {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: _get-rem(880px);

  .section-title__item:first-child {
    display: none;
  }
}

.book-vertical {
  .thumbnail--book {
    margin: 0 auto;
  }
}
// stylelint-disable selector-max-compound-selectors
.tab-nav {
  .beletria {
    &.is-active > .tab-nav__content--link {
      color: #956daf;
      border-color: #956daf;
    }
  }
}

.portrait--center {
  margin-left: auto;
  margin-right: auto;
}

.swiper--prispievatelky .swiper-wrapper {
  align-items: flex-start;
}

.card--annotation {
  background-color: _color(info, 100);
  border-bottom-left-radius: 0;

  &::after {
    content: '';
    position: absolute;
    bottom: _get-rem(10px);
    left: _get-rem(10px);
    width: 0;
    height: 0;
    border: _get-rem(15px) solid transparent;
    border-top-color: _color(info, 100);
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
  }
}


@media (max-width: 640px) {
  .hero-banner {
    padding: _get-rem(40px) 0;

    h1 {
      font-size: _get-rem(30px);
      margin-bottom: _get-rem(20px);
    }

    .year {
      font-size: _get-rem(100px);
    }
  }
}

@media (max-width: 480px) {
  .hero-banner {
    .year {
      font-size: _get-rem(80px);
    }
  }
}
