.kp-main-background {
  background: url('../images/content/pomocnik/kp-header-xmas.jpg') no-repeat right center;
  background-size: cover;
}

.kp-main-background-cz {
  background: url('../images/content/pomocnik/kp-header-xmas-cz.jpg') no-repeat right center;
  background-size: cover;
}

.kp-process-background {
  background: url('../images/content/pomocnik/kp-bg-xmas.jpg') no-repeat top center;
  background-size: cover;
}

.kp-logo {
  max-width: 230px !important;
}
