@import './../../node_modules/bootstrap/scss/mixins';
@import 'utils/mixins_functions';
@import 'utils/variables';
@import 'utils/config';
@import 'utils/media';

.kp-main-background {
  background: url('../images/content/pomocnik/kp-header-xmas.jpg') no-repeat right center;
  background-size: cover;

  @include breakpoint('l', 'downfrom') {
    background-position: left center !important;
  }

  .wrapper-main {
    padding-top: _get-space('v', 'large');
    padding-bottom: _get-space('v', 'large');
    color: _color(white);
  }
}

.kp-illustration {
  display: none;
}

.kp-main-background-cz {
  background: url('../images/content/pomocnik/kp-header-xmas-cz.jpg') no-repeat center center;
  background-size: cover;
}

.kp-process-background {
  background: url('../images/content/pomocnik/kp-bg-xmas.jpg') no-repeat top center;
  background-size: cover;
}

.kp-logo {
  max-width: 440px !important;
}

.kp-thanks__photo {
  display: none;
}
