@import './../../node_modules/bootstrap/scss/mixins';
@import 'utils/mixins_functions';
@import 'utils/variables';
@import 'utils/config';
@import 'utils/media';

@keyframes swinging {
  0% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

.logo-xmas {
  width: 58px;
  top: -64px;
  left: 5px;
  position: absolute;
  z-index: 10;
  transform: rotate(-2deg);

  &:hover {
    animation: swinging 3.5s ease-in-out forwards infinite;
  }
}

@media screen and (min-width: 1024px) {
  .logo-xmas {
    left: 34px;
  }
}

@media screen and (max-width: 1024px) {
  .is-search-active .logo-xmas {
    display: none;
  }
}

.header__wrapper::after {
  background: rgb(196, 7, 11);
  background: linear-gradient(90deg, rgba(126, 0, 3, 1) 0%, rgba(250, 61, 65, 1) 50%, rgba(143, 0, 3, 1) 100%);
}

.kp-main-background {
  background: url('../images/content/pomocnik/kp-header-xmas.jpg') no-repeat right center;
  background-size: cover;

  @include breakpoint('l', 'downfrom') {
    background-position: left center !important;
  }

  .wrapper-main {
    padding-top: _get-space('large');
    padding-bottom: _get-space('large');
    color: _color(white);
  }
}

.kp-illustration {
  display: none;
}

.kp-main-background-cz {
  background: url('../images/content/pomocnik/kp-header-xmas-cz.jpg') no-repeat center center;
  background-size: cover;
}

.kp-process-background {
  background: url('../images/content/pomocnik/kp-bg-xmas.jpg') no-repeat top center;
  background-size: cover;
}

.kp-logo {
  max-width: 440px !important;
}

.kp-thanks__photo {
  display: none;
}
