include ./../../mixins/icon

header.header
  .header__wrapper
    .wrapper-main
      .bar.header__bar
        .bar__item.header__logo
          a(href="#")
            img(src=`${assetsPrefix}images/content/logo.svg`, alt="Martinus").show-l
            img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus").hide-l
        .bar__item.bar__item--fill.show-s
          .btn.btn--ghost-inverse
            | Do kníhkupectva
            +icon('arrow-right').icon--right
        //-.bar__item.bar__item--fill.text-right.show-m
          .text-color-white.text-medium Páči sa ti Knižná odysea?
        .bar__item.bar__item--shrinkable
          .card.card--material.card--material-violet(style="position: relative; top: 15px; z-index: 401; padding-top: 5px;")
            .card__label(style="z-index: 2;") Sledujte nás
            div(style="overflow: hidden; height: 68px; width: 220px; position: relative;")
              div(style="position: absolute; top: -1px; left: -1px;")
                | <div class="fb-page" data-href="https://www.facebook.com/Martinus.sk/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" ><blockquote cite="https://www.facebook.com/Martinus.sk/" class="fb-xfbml-parse-ignore" ><a href="https://www.facebook.com/Martinus.sk/">Martinus</a></blockquote></div>
          //-.text-right
            | <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="100" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>