include ./../../mixins/icon

-
  const xmas = true

header.header
  .header__wrapper(data-sticky)
    .wrapper-main
      .bar.header__bar
        .bar__item.header__logo
          a(href="#")
            img(src=`${assetsPrefix}images/content/logo.svg`, alt="Martinus").show-l
            img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus").hide-l
        .bar__item.bar__item--fill.header__checkout-info.text-center
          if xmas
            span.text-color-success
              +icon('xmas').icon--medium.text-space-right
              | Stíhame do vianoc
        .bar__item
          .bar.mb-none
            .bar__item.show-l
              span.text-color-grey.text-size-medium Objednávka:
            .bar__item
              .h2.m-none.text-color-white 1234567890
