node_modules
.tmp
.npmrc
.sass-cache
bower_components
.env
*.sublime-project
*.sublime-workspace
.sublime-gulp.cache
.idea
app/images/lightgallery
app/fonts/lightgallery
app/styles/vendors/swiper
.DS_Store
config.codekit3
yarn-error.log
.playwright-mcp
