.footer-warning {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-alert;
}

.footer {
  position: relative;
  background-color: var(--#{$prefix}footer-bg);
  color: var(--#{$prefix}footer-text);

  padding-top: _get-space('large');
  margin-top: 60px;

  &__social {
    justify-content: space-around;

    @include breakpoint(m) {
      justify-content: flex-end;
    }
  }

  &::after {
    content: '';
    background-image: svg-load('./../images/content/rainbow-footer.svg');

    height: 60px;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .form-label label,
  h5,
  .h5 { color: inherit; }

  a {
    color: var(--#{$prefix}footer-link) !important;

    &:hover {
      color: var(--#{$prefix}footer-link-hover) !important;
    }

    &.text-color-white {
      color: var(--#{$prefix}footer-link) !important;

      &:hover {
        color: var(--#{$prefix}footer-link-hover) !important;
      }
    }
  }
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background: transparent;
  color: var(--#{$prefix}footer-text);
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &__text-light {
    display: block;
  }

  &__text-dark {
    display: none;
  }

  &.is-active {
    .theme-toggle__text-light {
      display: none;
    }

    .theme-toggle__text-dark {
      display: block;
    }
  }
}
