@use 'sass:map';

.is-mega-menu-active {
  .header-warning {
    display: none;
  }

  .header__topbar {
    display: block;
  }
}

.header-search {
  justify-content: flex-end;
  margin-bottom: 0;

  &__search {
    position: relative;
    display: none;
    width: 100%;

    // ugly fix - flexbox is calculating wrong width and button is overflowing
    @include breakpoint(s, down) {
      max-width: calc(100% - 45px);
    }

    .form-control {
      width: 100%;
    }

    @include breakpoint(m) {
      display: flex;
    };
  }

  &__value {
    border-left: 0;
    border-right: 0;
    border-radius: $default-border-radius;
  }

  &__empty {
    background-color: _color(grey, 900);
    border-color: _color(grey, 900);

    transition: $form-t;
  }

  &__back {
    display: none;
    margin-right: _get-space('small');
  }

  &__toggle {
    margin-bottom: 0;
    margin-right: 0;
  }

  .is-search-active & {
    @include breakpoint(s, down) {
      display: flex;
      max-width: none;
      margin-right: 0;
      flex: 1 0 auto;

      &__search { //stylelint-disable-line
        display: block;
        flex: 1 0 auto;
      }

      &__back { //stylelint-disable-line
        display: flex;
      }
    }
  }
}

.header-btn {
  padding-top: _get-rem(9px);
  padding-bottom: _get-rem(9px);

  color: _color(grey, 400);

  font-size: $font-size-medium;

  border-width: 0;

  .icon-dropdown {
    right: _get_rem(3px);
  }

  &.btn--small.btn--equal {
    padding: 0;
  }

  &:hover,
  &:focus,
  &.is-active {
    color: $color-white;
  }

  @include breakpoint('l') {
    &.is-active:not(.header-btn--no-arrow) {
      position: relative;
      overflow: visible;
      z-index: $z-index-topbar + 1;

      &::before { // stylelint-disable-line
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        bottom: -12px;
        left: 50%;
        margin-left: -8px;

        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $color-white;
      }
    }
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: $z-index-topbar;
  margin-bottom: 5px;

  .header__ad--mobile {
    max-width: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    .header__ad {
      flex-shrink: 1 !important;
    }
  }

  @include breakpoint(m) {
    top: -40px;

    &__mainbar {
      position: sticky;
      top: 0;
    }
  }

  &__topbar {
    background-color: #262422;
    width: 100%;
    order: 2;
    display: none;
    height: auto;

    .header__ad {
      display: none;

      img {
        height: 36px;
        width: auto;
      }
    }

    nav {
      display: flex;
      padding: _get-space('small') 0;
      gap: _get-space('medium');
      align-items: center;

      a {
        display: block;
        color: _color(grey, 200);

        &:last-child {
          padding-right: _get-space('medium');
        }
      }
    }

    [data-icon], .icon {
      color: _color(grey, 600);
    }

    @include breakpoint(m) {
      order: 0;
      display: block;
      height: 40px;

      .header__ad {
        display: block;
      }

      nav {
        justify-content: flex-end;

        a:last-child {
          padding-right: 0;
        }
      }
    }
  }

  &__wrapper {
    width: 100%;
    background-color: $color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      background-image: svg-load('./../images/content/rainbow-header.svg');

      height: 5px;
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      z-index: $z-index-topbar;
    }
  }

  .wrapper-main {
    @include breakpoint(m, 'down') {
      padding-left: _get-space('small');
      padding-right: _get-space('small');
    }
  }

  &__bar {
    padding: _get-space('small') 0;
    margin-bottom: 0;
    min-height: 65px;

    @include breakpoint(m, 'down') {
      justify-content: space-between;
      margin-top: 0;

      > * { // stylelint-disable-line max-nesting-depth
        margin-right: _map-deep-get($bar-spacing, small, default);
      }
    }
  }

  &__user {
    color: _color(grey, 400);
    align-items: center;

    @include breakpoint(m, 'down') {
      .bar__item:first-child {
        margin-right: 0;
      }
    }
  }

  &__username {
    max-width: _get-rem(110px);
  }

  &__cart,
  &__nav-burger .btn {
    color: _color(grey, 400);
  }

  &__checkout-info {
    font-size: _get-rem($font-size-small);

    .icon { vertical-align: -0.6em; } // magic align

    @include breakpoint(m) {
      font-size: _get-rem($font-size-regular);

      .icon { vertical-align: bottom; } // stylelint-disable-line
    };
  }

  .dropdown {
    z-index: $z-index-topbar + 1;
  }

  @include breakpoint(l) {
    .btn-dropdown {
      .header-btn {
        padding-right: _get-space();
      }
    }
  }

  @include breakpoint(m, 'down') {
    &__user { order: 1; }
    &__notifications { order: 2; }
    &__cart { order: 3; }

    &__search {
      display: block;
      order: 4;
      max-width: _get-rem(300px);
      justify-content: flex-start;
      min-width: auto;
    }

    &__nav { order: 5; }
  }

  &.is-search-active {
    @include breakpoint(s, down) {
      .header__logo,
      .header__subbrand,
      .header__nav,
      .header__user,
      .header__cart,
      .header__ad,
      .header-search__toggle {
        display: none;
      }
    }
  }

  @include breakpoint(s, 'down') {
    &__search {
      flex: 0;
    }
  }

  .btn-dropdown > .header-btn {
    padding: _get-space('small');
    text-transform: none;
    letter-spacing: normal;
  }
}

.header-user {
  &__name {
    display: inline-block;
    vertical-align: middle;

    max-width: _get-rem(135px);

    @include text-ellipsis;
  }

  @include breakpoint(l, 'down') {
    &__icon { margin-right: 0 !important; } // specificity :()
    &__name { display: none; }
  }
}

.book-detail-show {
  display: none;
}

.header.header-book-detail {
  .header__book {
    max-height: map.get($header-height, default);

    @include breakpoint(s, down) {
      font-size: $font-size-medium;
    }

    @include breakpoint(m) {
      max-height: map.get($header-height, 'm');
    }
  }

  @include breakpoint(l, 'down') {
    .header__book__name {
      min-width: _get-rem(138px);
    }
  }

  .header__buy__text {
    min-width: _get-rem(230px);
  }

  .header__search {
    width: auto;
    order: 0;
    flex: 0 1 0%;

    @include breakpoint(s) {
      flex: 0 1 15%;
    }

    @include breakpoint(m) {
      flex: 0 1 35%;
    }

    @include breakpoint(l) {
      flex: 0 1 25%;
      margin-right: 10%;
      margin-left: _get-space('medium');
    }

    @include breakpoint(xl) {
      flex: 0 1 30%;
    }
  }

  &.is-search-active {
    @include breakpoint(s, down) {
      .header__book {
        display: none;
      }

      .header__search {
        flex: 1 0 auto;
      }
    }
  }

  .book-detail-show {
    display: flex;
  }

  .book-detail-hide {
    display: none;
  }
}

// stylelint-disable

@media (max-width: 768px) {
  #luigi-ac {
    width: 100% !important;
    left: 0 !important;
  }
}

#luigi-ac .row {
  margin-right: 0;
  border-bottom: none !important;
}

#luigi-ac .title {
  text-align: left;
  font-weight: normal !important;
}

#luigi-ac .image { display: none; }
#luigi-ac .price { display: none; }
#luigi-ac .use-enter {display: none; }
#luigi-ac .footer {display: none; }
#luigi-ac .cat-div { display: none; }
#luigi-ac .lock { height: 1px; }
#luigi-ac em { background: none !important; }
#luigi-ac .text { padding-left: 10px !important; }
#luigi-ac tr { font-size: .875rem; }
#luigi-ac .row:hover,
#luigi-ac .row.active { background-color: #fbf7f5 !important;}
#luigi-ac .row:hover em, #luigi-ac .row:hover .title,
#luigi-ac .row.active em,
#luigi-ac .row.active .title { color: #d22121 !important; }

#luigi-ac {
  overflow: visible !important;
  margin-top: 10px;
  min-width: 356px;
}

#luigi-ac:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: -8px;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  transform: translateX(-50%);
}

.header-warning {
  z-index: 100;
  &.bg-dark-grey {
    position: relative;

    &::after {
      position: absolute;
      width: 20px;
      height: 100%;
      right: 0;
      top: 0;
      background: linear-gradient(90deg, rgba(71, 68, 64, 0) 0%, #474440 100%);
      display: block;
      content: ' ';
    }
  }
}

@include breakpoint(m, 'down') {
  .dropdown--account {
    opacity: 1;
    margin-top: 0;
    position: fixed;
    border-radius: 0;
    max-height: none;
    border: none;
    overflow: hidden;
    transition: var(--ms-offcanvas-transition);

    &.show,
    &.showing {
      z-index: 1442;
    }
  }
}

@include breakpoint(m) {
  .dropdown--account {
    width: 200px;
    background-color: $color-white !important;
  }
}
