.is-mega-menu-active {
  .header-warning {
    display: none;
  }
}

.header-search {
  justify-content: flex-end;
  margin-bottom: 0;

  &__search {
    display: none;

    // ugly fix - flexbox is calculating wrong width and button is overflowing
    @include breakpoint(m, down) {
      max-width: calc(100% - 45px);
    }

    .form-control {
      width: 100%;
    }

    @include breakpoint(m) {
      display: flex;
    };
  }

  &__value {
    border-left: 0;
    border-right: 0;
    border-radius: $default-border-radius;
  }

  &__empty {
    border-top-right-radius: $form-b-r;
    border-bottom-right-radius: $form-b-r;

    background-color: _color(grey, 900);
    border-color: _color(grey, 900);

    transition: $form-t;
  }

  &__back {
    display: none;
    margin-right: _get-space('h', 'small');
  }

  &__toggle {
    margin-bottom: 0;
    margin-right: 0;
  }

  .is-search-active & {
    @include breakpoint(s, down) {
      display: flex;
      max-width: none;
      margin-right: 0;
      flex: 1 0 auto;

      &__search { //stylelint-disable-line
        display: block;
        flex: 1 0 auto;
      }

      &__back { //stylelint-disable-line
        display: flex;
      }
    }
  }
}

.header-btn {
  padding-top: _get-rem(9px);
  padding-bottom: _get-rem(9px);

  color: _color(grey, 400);

  font-size: $font-size-medium;

  border-width: 0;

  .icon-dropdown {
    right: _get_rem(3px);
  }

  &.btn--small.btn--equal {
    padding: 0;
  }

  &:hover,
  &:focus,
  &.is-active {
    color: $color-white;
  }

  @include breakpoint('l') {
    &.is-active:not(.header-btn--no-arrow) {
      position: relative;
      overflow: visible;
      z-index: $z-index-topbar + 1;

      &::before { // stylelint-disable-line
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        bottom: -23px;
        left: 50%;
        margin-left: -8px;

        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $color-white;
      }
    }
  }
}

.header {
  position: relative;
  height: map-get($header-height, default);

  @include breakpoint(m) {
    height: map-get($header-height, 'm');
  }

  &__wrapper {
    height: map-get($header-height, 'default');
    width: 100%;
    background-color: $color-black;
    padding-top: _get-space('v') - _get-space('v', 'tiny');
    padding-bottom: _get-space('v');
    z-index: $z-index-topbar;

    @include breakpoint(m) {
      height: map-get($header-height, 'm');
    }

    &::after {
      content: '';
      background-image: svg-load('./../images/content/rainbow-header.svg');

      height: 5px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: $z-index-topbar;
    }

    @include breakpoint(s, 'down') {
      padding-top: _get-space('v', 'small');
      padding-bottom: _get-space('v', 'small') + _get-space('v', 'tiny');
    }
  }

  .wrapper-main {
    @include breakpoint(m, 'down') {
      padding-left: _get-space('h', 'small');
      padding-right: _get-space('h', 'small');
    }
  }

  &__bar {
    height: _get-rem(50px);
    margin-bottom: 0;

    @include breakpoint(m, 'down') {
      justify-content: space-between;

      .bar__item { // stylelint-disable-line max-nesting-depth
        margin-right: _map-deep-get($bar-spacing, small, default);
      }
    }
  }

  &__search {
    width: 100%;

    .input {
      // stylelint-disable max-nesting-depth
      &:not(.is-value) {
        ~ .header-search__value { display: none; }
      }

      &.is-value {
        ~ .header-search__empty { display: none; }
      }
      // stylelint-enable max-nesting-depth
    }
  }

  &__user {
    color: _color(grey, 400);
    align-items: center;

    @include breakpoint(m, 'down') {
      .bar__item:first-child {
        margin-right: 0;
      }
    }
  }

  &__username {
    max-width: _get-rem(110px);
  }

  &__cart,
  &__nav-burger .btn {
    color: _color(grey, 400);
  }

  &__checkout-info {
    font-size: _get-rem($font-size-small);

    .icon { vertical-align: -0.6em; } // magic align

    @include breakpoint(m) {
      font-size: _get-rem($font-size-regular);

      .icon { vertical-align: bottom; } // stylelint-disable-line
    };
  }

  .dropdown {
    z-index: $z-index-topbar + 1;
  }

  @include breakpoint(l) {
    .btn-dropdown {
      .header-btn {
        padding-right: _get-space('h');
      }
    }
  }

  @include breakpoint(m, 'down') {
    &__user { order: 1; }
    &__notifications { order: 2; }
    &__cart { order: 3; }

    &__search {
      display: block;
      order: 4;
      max-width: _get-rem(300px);
      justify-content: flex-start;
      min-width: auto;
    }

    &__nav { order: 5; }
  }

  &.is-search-active {
    @include breakpoint(s, down) {
      .header__logo,
      .header__subbrand,
      .header__nav,
      .header__user,
      .header__cart,
      .header__ad,
      .header-search__toggle {
        display: none;
      }
    }
  }

  @include breakpoint(s, 'down') {
    &__search {
      flex: 0;
    }
  }

  .book-detail-show {
    display: none;
  }

  &.header-test-1 {
    .btn-dropdown > .header-btn {
      padding-right: 0.5rem;
      text-transform: none;
    }
  }
}

.header.header-book-detail {
  .header__book {
    max-height: map-get($header-height, default);

    @include breakpoint(s, down) {
      font-size: $font-size-medium;
    }

    @include breakpoint(m) {
      max-height: map-get($header-height, 'm');
    }
  }

  @include breakpoint(l, 'down') {
    .header__book__name {
      min-width: _get-rem(138px);
    }
  }

  .header__buy__text {
    min-width: _get-rem(230px);
  }

  .header__search {
    width: auto;
    order: 0;
    flex: 0 1 0%;

    @include breakpoint(s) {
      flex: 0 1 15%;
    }

    @include breakpoint(m) {
      flex: 0 1 35%;
    }

    @include breakpoint(l) {
      flex: 0 1 25%;
      margin-right: 10%;
    }

    @include breakpoint(xl) {
      flex: 0 1 30%;
    }
  }

  &.is-search-active {
    @include breakpoint(s, down) {
      .header__book {
        display: none;
      }

      .header__search {
        flex: 1 0 auto;
      }
    }
  }

  .book-detail-show {
    display: flex;
  }

  .book-detail-hide {
    display: none;
  }
}

.header-user {
  &__name {
    display: inline-block;
    vertical-align: middle;

    max-width: _get-rem(135px);

    @include text-ellipsis;
  }

  @include breakpoint(l, 'down') {
    &__icon { margin-right: 0 !important; } // specificity :()
    &__name { display: none; }
  }
}

// stylelint-disable

@media (max-width: 768px) {
  #luigi-ac {
    width: 100% !important;
    left: 0 !important;
  }
}

#luigi-ac .row {
  margin-right: 0;
  border-bottom: none !important;
}

#luigi-ac .title {
  text-align: left;
  font-weight: normal !important;
}

#luigi-ac .image { display: none; }

#luigi-ac .price { display: none; }

#luigi-ac .use-enter {display: none; }

#luigi-ac .footer {display: none; }

#luigi-ac .cat-div { display: none; }

#luigi-ac .lock { height: 1px; }

#luigi-ac em { background: none !important; }

#luigi-ac .text { padding-left: 10px !important; }

#luigi-ac tr { font-size: .875rem; }

#luigi-ac .row:hover,
#luigi-ac .row.active { background-color: #fbf7f5 !important;}

#luigi-ac .row:hover em, #luigi-ac .row:hover .title,
#luigi-ac .row.active em,
#luigi-ac .row.active .title { color: #d22121 !important; }

#luigi-ac {
  overflow: visible !important;
  margin-top: 10px;
  min-width: 356px;
}

#luigi-ac:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: -8px;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
