$ks-color-dark: #522c2c;
$ks-color-dark-hover: #744848;
$ks-color-inverse: #fae6ad;
$ks-color-primary: #e13736;
$ks-color-beige: #c89565;
$ks-color-beige-light: #d9b694;
$ks-color-grey: #544b44;
$ks-color-grey-light: #dddcd8;

.ks-text-color-inverse {
  color: $ks-color-inverse;
}

.ks-text-color-beige {
  color: $ks-color-beige;
}

.ks-link--inverse {
  color: $ks-color-inverse;

  &:hover {
    color: $ks-color-beige-light;
  }
}

.ks-border--inverse {
  border-color: $ks-color-inverse;
}

.ks-page {
  background: $color-white;

  .leaflet-container {
    background: transparent;
  }

  .leaflet-bottom.leaflet-right {
    display: none;
  }
}

.ks-header {
  background: $ks-color-dark;

  .collapsed:not(.is-active)::after {
    background: linear-gradient(to top, rgba($ks-color-dark, 1), rgba($ks-color-dark, 0));
  }
}

.ks-user {
  &__email {
    max-width: 85%;
  }
}

.ks-list > li {
  padding-left: 45px;
}

.ks-list > li::before {
  top: 5px;
  left: 0;
  z-index: 0;
  background: $ks-color-primary;
  color: $ks-color-inverse;
  font-weight: $font-weight-bold;
  font-size: 18px;
}

.ks-map {
  width: 100%;
  height: 400px;

  @include breakpoint('m') {
    height: 700px;
  }
}

.ks-progress {
  display: flex;

  &__item {
    height: _get-space('v');
    background: _color(grey, 500);
    flex: 1 0 1px;
    margin-right: 2px;
    border-radius: 2px;
  }

  &__item--active {
    background: #fff;
  }
}

.ks-bonus {
  background: url('../images/content/campaign/knizna-sifra4/bonus.png') no-repeat;
  width: 134px;
  height: 111px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: $z-index-topbar - 1;

  &__txt {
    width: 173px;
    margin-top: 15px;
    transform-origin: center center;
    transform: rotate(40deg);
  }
}

.ks-status {
  background: #fff;
  display: inline-block;
  padding: 5px 15px;
  border: 2px solid $ks-color-beige-light;
  border-radius: 5px;

  &__num {
    color: $ks-color-primary;
  }
}
