.kd-header {
  background: url('../images/content/campaign/knizna-detektivka/header-bg.jpg') no-repeat center;
  background-size: cover;
}

.kd-user-info {
  justify-content: center;
}

@include breakpoint('m') {
  .kd-header__logo {
    max-width: 560px;
  }

  .kd-user-info {
    justify-content: flex-start;
  }
}

.kd-folder {
  background: url('../images/content/campaign/knizna-detektivka/folder.jpg');
}

.kd-badge-progress {
  padding: 13px;
  border-radius: 40px;
  background: _color('primary');
  color: _color(white);
}
