$ko-color-dark: #17061f;
$ko-color-violet-dark: #3d245e;
$ko-color-violet: #8781bd;
$ko-color-violet-hover: #cbc7e4;
$ko-color-green: #e1ff6b;

.ko-text-color-green {
  color: $ko-color-green;
}

.ko-text-color-violet {
  color: $ko-color-violet;
}

.ko-link--green {
  color: $ko-color-green;

  &:hover {
    color: $ko-color-green;
  }
}

.ko-link--green.is-active {
  color: $ko-color-green;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ko-border--violet {
  border-color: $ko-color-violet;
}

.ko-page {
  background: #3c2560;
}

.ko-header {
  background: $ko-color-violet-dark;

  .collapsed:not(.is-active)::after {
    background: linear-gradient(to top, rgba($ko-color-violet-dark, 1), rgba($ko-color-violet-dark, 0));
  }
}

.ko-user {
  &__email {
    max-width: 85%;
  }
}

.ko-timeline {
  position: relative;
  top: _get_rem(12px);
  padding-top: _get_rem(5px);
}

.ko-timeline-item {
  width: _get_rem(29px);
  transform: scale(1);
  transition: transform $ease-600;

  &:hover {
    color: $ko-color-violet-hover;
  }

  &.is-active {
    transform: scale(1.3) translateY(-3px);
    color: $color-white;
    font-weight: $font-weight-semibold;
    opacity: 1 !important;
  }

  &.is-complete {
    color: $ko-color-green;
  }

  &.is-disabled {
    color: $color-white;
    opacity: 0.2;
  }
}

.ko-planets {
  background: url('../images/content/campaign/knizna-odysea/space.jpg') no-repeat;
  background-size: 200%;
  background-position: 0 top;
  transition: background-position $ease-600;
  position: relative;

  &-bonus {
    background: url('../images/content/campaign/knizna-odysea/bonus.png') no-repeat;
    width: 134px;
    height: 111px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;

    &__txt {
      width: 173px;
      margin-top: 15px;
      transform-origin: center center;
      transform: rotate(40deg);
    }
  }

  @include breakpoint('m') {
    background-size: 120%;
  }

  &__btn .icon {
    width: _get-rem(72px);
    height: auto;
    color: $color-white;
    opacity: 0.8;

    @include breakpoint('s', 'down') {
      width: _get-rem(48px);
    }
  }

  &__btn:hover .icon {
    opacity: 1;
  }

  &__btn.is-disabled {
    opacity: 0;
  }

  .carousel__btn {
    display: flex;

    @include breakpoint('s', 'down') {
      top: 90%;
    }
  }

  .carousel__btn--prev {
    left: 5%;

    @include breakpoint('m') {
      left: 15%;
    }

    @include breakpoint('l') {
      left: 30%;
    }
  }

  .carousel__btn--next {
    right: 5%;

    @include breakpoint('m') {
      right: 15%;
    }

    @include breakpoint('l') {
      right: 30%;
    }
  }
}

.ko-planets-item {
  width: 80%;
  position: relative;

  @include breakpoint('m') {
    width: 50%;
  }

  @include breakpoint('l') {
    width: 30%;
  }

  &__image {
    transform: scale(0.7);
    transition: transform $ease-600;
  }

  .swiper-slide-active &__image {
    transform: scale(1);
  }

  &__content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    transition: visibility $ease-400, opacity $ease-600, transform $ease-600;
    transform: scale(0.3);

    .h2 {
      text-shadow: 0 0 30px $color-black;
    }

    .h5 {
      text-shadow: 0 0 10px $color-black;
    }
  }

  .swiper-slide-active &__content {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

.ko-video-background {
  background: _color(grey, 200);
}

.ko-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.ko-knihonaut {
  position: fixed;
  bottom: -50%;
  left: 0;
  width: 100%;
  z-index: 3;
  padding-right: _get-space('h', 'small');
  background: linear-gradient(to bottom, rgba($color-black, 0), rgba($color-black, 1));
  transition: all $ease-300, visibility $ease-100-delayed;
  pointer-events: none;

  @include breakpoint('l') {
    width: 50%;
    top: 50%;
    left: -250px;
    padding-right: _get-space('h', 'large');
    background: none;
  }

  .ko-knihonaut__scene {
    width: 80px;
    height: 120px;

    @include breakpoint('m') {
      width: 150px;
      height: 200px;
    }

    @include breakpoint('l') {
      width: 250px;
      height: 300px;
    }
  }

  &--active {
    bottom: 0;

    @include breakpoint('l') {
      left: 0;
      top: 20%;
    }
  }

  .card {
    transition: visibility $ease-200-delayed, opacity $ease-400, transform $ease-400;
    transform-origin: top center;
    transform: scale(0.1, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: all;

    @include breakpoint('l') {
      transform-origin: center left;
    }
  }

  .card--arrowhead {
    background-color: $color-black;
    color: $color-white;
  }

  .card--arrowhead-left::before {
    left: -10px;
    border-right-color: $color-black;
    border-width: 10px;
  }
}

.ko-knihonaut--active {
  .card {
    transform: scale(1, 1);
    opacity: 1;
    visibility: visible;
  }
}

.ko-knihonaut-button {
  position: absolute;
  top: _get-rem(15px);
  left: _get-rem(10px);
  z-index: 2;

  .icon {
    font-size: _get_rem(48px);
  }

  .pill {
    position: absolute;
    right: 0;
    top: 0;
    background-color: _color(primary);
  }
}
