$pf-color-primary: #956daf;

.pf2018 {
  h1 {
    color: $pf-color-primary;
  }
}

.pf2018-header {
  position: relative;
  background-color: $pf-color-primary;

  &__bg {
    position: absolute;
    bottom: 0;
  }

  &__content {
    position: relative;
  }
}
