.xmas2017-collection-header {
  background: url('../images/content/campaign/xmas2017/bg-collection-header.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  color: $color-white;

  h1 {
    color: $color-white;
  }
}

.xmas2017-cms-header {
  background: url('../images/content/campaign/xmas2017/bg-cz.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: _get-space('v', 'large') * 2;

  h1 {
    text-shadow: 0 0 20px rgba(#000, 0.5);
    margin-bottom: _get-space('v', 'large') * 2;
    font-size: 36px;

    @include breakpoint('m') {
      font-size: 60px;
    }
  }
}

.xmas2018-collection-header {
  color: $color-white;

  h1 {
    color: $color-white;
  }
}

.xmas2018-collection-header--helper {
  background-image: url('../images/content/campaign/xmas2018/bg-collection-helper-m.jpg');
  background-position: center top;
  background-size: cover;

  @include breakpoint('s') {
    background-image: url('../images/content/campaign/xmas2018/bg-collection-helper.jpg');
    height: auto;
    background-position: center center;
  }
}
