mixin annotation(props = {})
  -
    const {
      annotation = "Stretnú sa dvaja legendárni autori a píšu spolu knihu... Znie to ako úvod vtipu, no oni sa naozaj zišli a stvorili perfektnú knižku o anjelovi a démonovi, ktorí by mali zorganizovať Koniec sveta. Je to však svet, v ktorom žijú už tisíce rokov a tak veľmi si naň zvykli! Tento Armagedon nedopadne dobre :-)",
    } = props;

  .card.card--anotation.text-italic
    .card__content
      p #{annotation}