mixin annotationAuthor(props = {})
  -
    const { photo, name, link, position, bio } = props;

  .bar
    .bar__item(style="position: relative;")
      .portrait.portrait--large(style=`background-image: url(${photo});`)
      div(style="position: absolute; bottom: 0; right: 0;")
        img(src="images/content/logo-small.svg")
    .bar__item.bar__item--fill
      a(href=`${link}`).link #{name}
      br
      strong.text-color-grey #{position}