mixin anotationAuthor
  .bar
    .bar__item(style="position: relative;")
      .portrait.portrait--large(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
      div(style="position: absolute; bottom: 0; right: 0;")
        img(src="images/content/logo-small.svg")
    .bar__item.bar__item--fill
      a(href="#", style=`${sLink}`).link Dominika
      br
      strong.text-color-grey kníhkupkyňa, Obchodná ulica, Bratislava
      p Sem mozme napisat nieco zaujimave, co nam povie, ze osoba ktora knihy vyberala, ma pravdu.