mixin backgroundSection(props = {})
  -
    const {
      imageUrl = "background-image: url('/images/knihy-roka/beletria-01.png')"
    } = props;

  .background-section(style=imageUrl)
    .wrapper-main.section-title-wrapper