include ../icon

mixin modalPlushToy
  .modal-overlay#modal-plush-toy(data-modal)
    article.modal
      .modal__wrap
        header.modal__header
          h3.modal__header__headline Martinusácky mojkáčik - Zajko Čítajko
          .modal__header__action
            button.btn.btn--link(data-toggle='#modal-plush-toy' type="button")
              +icon-sg('sg-close', 'icon--medium', 'Close')
        section.modal__content
          p Zostať doma s dobrou knižkou, schúliť sa pod deku a uvariť si čaj, to je čitateľská idylka ako vyšitá. K dokonalosti jej chýba už len jedno – čítať v objatí s obľúbeným mojkáčom. Preto sme pre všetkých, ktorí túžia po takomto milom spoločníkovi pripravili zajka Čítajka.
          a.link(href="https://www.martinus.sk/?uItem=724081") Čítaj viac

mixin backgroundSection(props = {})
  -
    const { imageUrl, isPlushToy } = props;
  if isPlushToy
    .background-section(style=`background-image: url('${imageUrl}');`)
      button.plush-toy-button(type='button', data-toggle='#modal-plush-toy')
        +icon('plus').text-color-theme.icon--large
    +modalPlushToy
  else
    .background-section(style=`background-image: url('${imageUrl}');`)
