mixin backgroundSectionTitle(props = {})
  -
    const {
      title = "Knihy vyberáme s láskou",
      description = "Sem mozme (ale nemusime) napisat nejaky marketingovy, cukrikovy, laskyplny text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
    } = props;

  .background-section-title
    .wrapper-main.section-title-wrapper
      .section-title(style="position: relative;")
        .section-title__item
        .section-title__item
          | #{title}
        .section-title__item
          | #{description}
