mixin backgroundSectionTitle
  .background-section-title
    .wrapper-main.section-title-wrapper
      .section-title(style="position: relative;")
        .section-title__item
        .section-title__item
          | Knihy vyberáme s láskou
        .section-title__item
          | Sem mozme (ale nemusime) napisat nejaky marketingovy, cukrikovy, laskyplny text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
