include ./backgroundSection
include ./annotation
include ./annotationAuthor
include ./bookHorizontal

mixin bigHighlight(props ={})
  -
    const { book, imageUrl } = props;

  section.section
    .wrapper-main
      .row.mb-large
        .col--s-8.col--l-6.ofst--s-center.mb-medium.align-self-middle
          +backgroundSection({ imageUrl })
        .col--l-6
          if book.review
            +annotation({ annotation: book.review })
          if book.recommender
            +annotationAuthor(book.recommender)
          +bookHorizontal(Object.assign({}, book, { prefereDescription: book.review }))
