include ../product
include ../faIcon
include ../booksCarouselRecommended
include ./checkoutModal
include ./bookCover

mixin booksCarousel(props = {})
  -
    const { category } = props;

    var swiperConfig = {
      slidesPerView: 'auto',
      slidesPerGroup: 2,
      breakpoints: {
        1024: {},
        768: {},
        640: {},
        480: {}
      },
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel&attributes(attributes)
    .swiper.swiper--fullwidth(data-swiper-options=swiperConfig)
      +booksCarouselSwiperWrapper({})(data-equal-columns)
        each val, key in category
          .swiper-slide.carousel__product-detail
            +bookCover(category[key])

      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +faIcon('arrow-left').fa-2x
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +faIcon('arrow-right').fa-2x
