include ./categoriesLinks

mixin categoriesLinksChild
  section.section#deti
    .wrapper-main
      .mb-large
      h2 Kategórie pre deti
      +categoriesLinks({
        links: [
          {
            title: "Vo veku 0-3 roky",
            id: "beletria"
          },
          {
            title: "Vo veku 4-6 rokov",
            id: "knihy-pre-deti-vo-veku-4-6-rokov"
          },
          {
            title: "Vo veku 7-10 rokov",
            id: "knihy-pre-deti-vo-veku-7-10-rokov"
          },
          {
            title: "Vo veku 11-13 rokov",
            id: "knihy-pre-deti-vo-veku-11-13-rokov"
          },
          {
            title: "Vo veku 14-16 rokov",
            id: "knihy-pre-deti-vo-veku-14-16-rokov"
          },
        ],
    })