include ../booksCarouselBookOfTheYear

mixin categoryCarousel
  section.swiper-table
    .wrapper-main
      .row.mb-large.swiper-table__wrapper
        .col--m-4
          h2 Beletria
          p Beletria je umelecká próza, alebo trocha nepresne, krásna literatúra, je spoločný názov prozaických umeleckých diel. Sú to najmä román, novela, črta, poviedka a umelecká reportáž. Výrazom beletria sa v minulosti označovala celá umelecká literatúra.
        .col--m-8.swiper-table__table
          +booksCarouselBookOfTheYear