include ./categoriesLinks

mixin categoriesLinksAdult
  section.section#dospely
    .wrapper-main
      h2 Kategórie
      +categoriesLinks({
        links: [
          {
            title: "Beletria",
            id: "beletria",
          },
          {
            title: "Reportáž a literatúra faktu",
            id: "reportaz-a-literatura-faktu",
          },
          {
            title: "Populárno - náučná literatúra",
            id: "popularno-naucna-literatura",
          },
          {
            title: "Dizajn",
            id: "dizajn",
          },
          {
            title: "Tipy vydavateľov",
            id: "tipy-vydavatelov",
          },
        ],
    })