include ./booksCarousel

mixin categoryCarousel(props = {})
  -
    const { title, description, category, className } = props;

  section(class=className).swiper-table
    .wrapper-main
      .row.mb-large.swiper-table__wrapper
        .col--l-4
          h2.h1 #{title}
          p #{description}
        .col--l-8.swiper-table__table
          +booksCarousel({category})