include ./booksCarousel

mixin categoryCarousel(props = {})
  -
    const {
      title = "Beletria",
      description = "Beletria je umelecká próza, alebo trocha nepresne, krásna literatúra, je spoločný názov prozaických umeleckých diel. Sú to najmä román, novela, črta, poviedka a umelecká reportáž. Výrazom beletria sa v minulosti označovala celá umelecká literatúra.",
      category = beletria,
      className = 'beletria'
    } = props;

  section(class=className).swiper-table
    .wrapper-main
      .row.mb-large.swiper-table__wrapper
        .col--l-4
          h2.h1 #{title}
          p #{description}
        .col--l-8.swiper-table__table
          +booksCarousel({category})