mixin checkoutModal(props = {})
  -
    const {
      id = '',
      title = 'Title',
    } = props;

  .modal-overlay(data-modal, id=`modal-${id}`)
    article.modal.modal--full
      .modal__wrap
        header.modal__header
          h3.modal__header__headline #{title}
          .modal__header__action
            button.btn.btn--link(data-toggle='#modal-full', type="button")
              +icon-sg('sg-close', 'icon--medium', 'Close')

        section.modal__content