mixin checkoutModal(props = {})
  -
    const {
      cover = "https://mrtns.eu/tovar/_l/658/l658361.jpg",
      coverSize = "xlarge",
      title = "Normálni ľudia",
      author = "Sally Rooney",
      authorUrl = null,
      publisher = "Lindeni",
      description = "Tento román sprevádzajú zmiešané reakcie, pretože niečím vyrušuje... V mnohých ohľadoch je ako mozaika. Počas čítania sa vám môže zdať, že sa tam vlastne veľa nedeje, po poslednej bodke sa však pred vami zjaví celý obraz. Je to romanca, spoločenský román aj dráma z prostredia rodiny. Ale predovšetkým je to skvelá knižka o dvoch dušiach, ktoré k sebe patria.",
      id = 658361,
      recommender = "Ivana Hrenáková",
      recommenderUrl = null,
    } = props;

  .modal-overlay(data-modal, id=`u${id}`)
    article.modal.modal--full
      .modal__wrap
        header.modal__header
          h3.modal__header__headline #{title}
          .modal__header__action
            button.btn.btn--link(data-toggle=`#u${id}`, type="button")
              +icon-sg('sg-close', 'icon--medium', 'Close')

        section.modal__content