include ./annotation
include ./annotationAuthor

mixin checkoutModal(props = {})
  -
    const {
      cover,
      coverSize,
      title,
      authors,
      publisher,
      description,
      review,
      showReview,
      id,
      recommender,
    } = props;

    const annotation = review || description;


  .modal-overlay(data-modal, id=`u${id}`)
    article.modal.modal--full
      .modal__wrap
        header.modal__header
          h3.modal__header__headline #{title}
          .modal__header__action
            button.btn.btn--link(data-toggle=`#u${id}`, type="button")
              +icon-sg('sg-close', 'icon--medium', 'Close')

        section.modal__content
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nostrum velit quae earum eum atque ipsa maxime, molestiae modi maiores voluptates, consectetur reprehenderit a libero fugit nobis nesciunt sit ducimus!
          if recommender || annotation
            hr
            .row
              if annotation
                .col.col--m-6
                  +annotation({ annotation })
              if recommender
                .col.col--m-6
                  +annotationAuthor(recommender)
