mixin heroBanner(type)
  if type === 'children'
    section.section.hero-banner.hero-banner--children
      .wrapper-main
        h1
          | Detské knihy
          br
          | roka 
          span.year 2020
        h3 Zoznam najlepších detských kníh, vybraných odborníkmi
  else
    section.section.hero-banner
      .wrapper-main.text-color-white
        h1
          | Knihy roka
          .year 2020
        h3 Výber tých najkvalitnejších kníh za tento rok