mixin heroBanner(type)
  if type === 'children'
    section.section.hero-banner.hero-banner--children
      .wrapper-main
        h1.show-m
          | Detské knihy
          br
          | roka
          span.year 2020
        h1.hide-m Detské knihy roka
          .year 2020
        h3 Aké knihy vybrali odborníčky?
  else
    section.section.hero-banner
      .wrapper-main.text-color-white
        h1
          | Knihy roka
          .year 2020
        h3 Aké knižky odporúčajú Martinusáci?
