mixin introduction(props = {})
  section.section.section--secondary.mb-large
    .wrapper-main
      .row.mb-large
        .col--m-6
          p Len raz ročne nastane chvíľa, keď Martinus vydáva magazín! #[strong Sú to Knihy roka, kde vám chceme predstaviť tie najlepšie prírastky do knižného sveta.] Hľadáte skvelý román, napínavú detektívku, dychberúci triler, náučné čítanie alebo niečo milé pre deti? Inšpirujte sa výberom Knihy roka, pre niekoho pod stromček alebo len tak pre svoju radosť :-)
          p Detské knihy roka pripravili #[strong odborníčky na čítanie detí a mládeže] a Knihy roka pre dospelých sú výberom titulov, ktoré v roku 2020 #[strong najviac zaujali našich kníhkupcov].
          p #[strong Poprosili sme aj vydavateľov,] aby nám prezradili svoje tipy na pripravované tituly. Nenechajte si ich pred Vianocami ujsť ;-)
        .col--m-6.col--l-4.ofst--l-2.text-center
          img(src='https://i1.martinus.sk/assets/martinus/lb/images/knihy-roka/introduction.png')

