mixin introduction(props = {})
  section.section.section--secondary.mb-large
    .wrapper-main
      .row.mb-large
        .col--m-6
          p Prinášame vám výber Knihy roka, ktorý predstavuje odporúčania najzaujímavejších kníh #[strong podľa kníhkupcov a kníhkupkýň z Martinusu.] Výber toho najlepšieho sme pre vás rozdelili do prehľadných #[a(href="#dospely", style=`${sLink}`).link kategórií] podľa žánrov. Našťastie, aj tento rok sa žiada dodať, že kvalitných kníh vyšlo u nás oveľa viac, než koľko sa ich zmestilo na túto stránku. 
          p Popritom sme nezabudli ani na #[strong mladších a najmladších] čitateľov. Detskému čítaniu je venovaný celý výber #[a(href="#deti", style=`${sLink}`).link Detské knihy roka 2020], ktoré poctivo zostavili naše odborníčky.
        .col--m-6.col--l-4.ofst--l-2.text-center
          img(src='/images/knihy-roka/introduction.png')