include ./annotation
include ./annotationAuthor

mixin modalContent(props = {})
  -
    const {
      cover,
      coverSize,
      title,
      authors,
      publisher,
      description,
      review,
      showReview,
      id,
      recommender,
    } = props;

    const annotation = review || description;

  .mj-boty2020-modal-review(id=`u${id}`)
    if  recommender || annotation
      hr
      .row
        if annotation
          .col.col--m-6
            +annotation({ annotation })
        if recommender
          .col.col--m-6
            +annotationAuthor(recommender)
