include ./annotation
include ./annotationAuthor

mixin modalContent(props = {})
  -
    const {
      cover,
      coverSize,
      title,
      authors,
      publisher,
      description,
      review,
      showReview,
      id,
      recommender,
    } = props;

  .modal-overlay(id=`u${id}`)
    div.row.mj-product-data
    if review || recommender
      hr
      .row
        if review
          .col.col--m-6
            +annotation({ annotation: review })
        if recommender
          .col.col--m-6
            +annotationAuthor(recommender)
