include categoryCarousel
include stlpec
include riadok

mixin partialDeti5Page
  block opts
    - var pageTitle = 'Knihy pre deti vo veku 14-16 rokov';

  +categoryCarousel({
    category: deti5,
    className: "deti5",
    description:
            "Literatúra pre mladých dospelých, alebo aj „young adult“ sa v posledných rokoch teší veľkej obľube. Pútavo spracované náročné témy, ale aj oddychové texty. Čo osloví vás?",
    title: pageTitle,
  })
  +stlpec({
    books: [deti5.u758243, deti5.u600731],
    imageUrl: "https://i1.martinus.sk/assets/martinus/lb/images/knihy-roka/mood/12.jpg",
  })
  +riadok({
    books: [deti5.u742153, deti5.u721085, deti5.u657817],
  })
