include categoryCarousel
include stlpec
include riadok

mixin partialDeti3Page
  block opts
    - var pageTitle = 'Knihy pre deti vo veku 7-10 rokov';

  +categoryCarousel({
    category: deti3,
    className: "deti3",
    description:
            "Dobrá detská knižka otvára bránu k zvedavosti, fantázii a múdrosti. Nepoteší len dieťa, ale zaujme aj dospelého.",
    title: pageTitle,
  })
  +stlpec({
    books: [deti3.u766237, deti3.u774571],
    imageUrl: "https://i1.martinus.sk/assets/martinus/lb/images/knihy-roka/mood/10.jpg",
  })
  +riadok({
    books: [deti3.u724025, deti3.u755623, deti3.u752309],
  })
