include categoryCarousel
include riadok
include highlight
include stlpec

mixin partialReportazPage
  block opts
    - var pageTitle = 'Reportáž a literatúra faktu';

  +categoryCarousel({
    category: literaturaFaktu,
    className: "literaturaFaktu",
    description:
            "Svet je stvorený zo štyroch živlov, na jeho pochopenie však potrebujeme aj piaty - tlačiarenský atrament.",
    title: pageTitle,
  })
  +stlpec({
    books: [literaturaFaktu.u707869, literaturaFaktu.u718621, literaturaFaktu.u707863],
    imageUrl: "https://i1.martinus.sk/assets/martinus/lb/images/knihy-roka/mood/04.jpg",
  })
  +highlight({book: literaturaFaktu.u683245})
  +riadok({
    books: [literaturaFaktu.u712231, literaturaFaktu.u707877, literaturaFaktu.u737843],
  })
