mixin partialDizajnPage
  block opts
    - var pageTitle = 'Dizajn';

  +categoryCarousel({
    category: dizajn,
    className: "dizajn",
    description:
            "Krása knihy nespočíva len v texte. Dizajn, spôsob tlače, papier, ilustrácie - to všetko vytvára nádherný celok. Krásu je ťažko odmerať, a predsa sa jasne odráža v pohľade knihomoľa, keď vezme knihu do rúk prvý raz.",
    title: pageTitle,
  })
  +bigHighlight({
    imageUrl: "https://i1.martinus.sk/assets/martinus/lb/images/knihy-roka/mood/05.jpg",
    book: dizajn.u709457,
  })
  +riadok({
    books: [dizajn.u756133, dizajn.u713533, dizajn.u772075],
  })
  +highlight({ book: dizajn.u801185 })

  each val, key in dizajn
    +modalContent(dizajn[key])
