include categoriesLinksAdult
include categoryCarousel
include bigHighlight
include riadok
include highlight
include modalContent
include stlpec

mixin partialBeletriaPage
  +categoryCarousel({
    category: beletria,
    className: "beletria",
    description:
      "Dobrý príbeh unesie našu myseľ a výkupné si pýta stránku po stránke.",
    title: "Beletria",
  })

  +bigHighlight({
    imageUrl: "https://i1.martinus.sk/assets/martinus/lb/images/knihy-roka/mood/03.jpg",
    book: beletria.u721103,
  })

  +riadok({
    books: [beletria.u707887, beletria.u711363, beletria.u698619],
  })

  +highlight({book: beletria.u705403})

  +stlpec({
    books: [beletria.u721777, beletria.u668745, beletria.u658361],
    imageUrl: "https://i1.martinus.sk/assets/martinus/lb/images/knihy-roka/mood/02.jpg",
  })

  +highlight({book: beletria.u698929})

  +riadok({
    books: [beletria.u725927, beletria.u716559, beletria.u721773],
  })

  each val, key in beletria
    +modalContent(beletria[key])
