include ./prispievatelkyCarousel
include ./previousYears

mixin prefooter
  section.section
    .wrapper-main
      h2.h1 Kto vyberal knihy pre deti a mládež?
      p Čítanie je jedným z najužitočnejších spôsobov, ako s deťmi tráviť čas. Len máločo im dá viac ako návyk čítať si. Svet kníh je nekonečným zdrojom informácií, inšpirácie a fantázie. Ak dieťa naučíte pravidelne navštevovať ho, získa výhodu, ktorá mu bude neustále pomáhať. Výber Detské knihy roka 2020 zostavili odborníčky, aby čo najlepšie zodpovedal potrebám budúcich knihomoľov a čítanie si zamilovali :-)
      +prispievatelkyCarousel

  section.section.section--secondary
    .wrapper-main
      h2.h1 Pozrite si aj predošlé ročníky
      +previousYears