include ./introduction
include ./bookVertical

mixin riadok(props ={})
  -
    const { books } = props;

  section.section
    .wrapper-main
      .row.mb-large
        each book in books
          .col--m-4.align-self-bottom
            +bookVertical(book)