// ---------------------------------------------
// GLOBALS
// ---------------------------------------------

html,
body {
  padding: 0;
  // height: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  background: $default-bg-color;
  font-family: $fallback-font-family;
  color: $default-text-color;
}

.fonts-loaded {
  body {
    font-family: $default-font-family;
  }
}

* { box-sizing: border-box; }
*::after { box-sizing: border-box; }
*::before { box-sizing: border-box; }

::selection {
  background-color: fade-out($selection-bg-color, 0.1);
  color: $selection-text-color;
}

::-moz-selection { // stylelint-disable-line
  background-color: fade-out($selection-bg-color, 0.1);
  color: $selection-text-color;
}

a[href],
area[href],
input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
button:not([disabled]),
iframe,
[tabindex],
[contentEditable=true] {
  &:not([tabindex='-1']) {
    &:focus {
      outline: $default-outline;
    }
  }
}

button {
  border-width: 0;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

// add z-index to fixed sticky elements
[data-sticky] {
  z-index: 100;
}

.wf-notloaded body {
  font-family: Helvetica, Arial, sans-serif;
}

.wf-notloaded .h1,
.wf-notloaded .h2,
.wf-notloaded .h3,
.wf-notloaded .h4,
.wf-notloaded .h5,
.wf-notloaded h1,
.wf-notloaded h2,
.wf-notloaded h3,
.wf-notloaded h4,
.wf-notloaded h5 {
  font-family: Helvetica, Arial, sans-serif;
}
