// ---------------------------------------------
// TYPOGRAPHY
// ---------------------------------------------

// Sizes
// Headings
// Text
// Lists

/// Typographt generator based on modular scale, rounded to whole pixels.
/// Online calculator http://www.modularscale.com/
@mixin typography-sizes() {
  body { font-size: 100%; }

  @each $breakpoint, $values in $typography-settings {
    @include breakpoint($breakpoint) {

      $base-font-size: map-get($values, base-font-size);

      html {
        font-size: _get-rem($base-font-size, 16px);
        line-height: map-get($values, base-line-height);
      }

      p {
        margin-top: 0;
        margin-bottom: _get-space('v');
        line-height: map-get($values, base-line-height);
      }

      @each $heading in $heading-tags {
        // stylelint-disable-next-line
        #{$heading},
        .#{$heading} {
          margin-top: 0;
        }
      }
    }
  }
}

@include typography-sizes();

// ---------------------------------------------
// HEADINGS

%headline {
  @include css-map($heading);
}

@mixin heading-styles() {
  @each $heading in $heading-tags {
    #{$heading},
    .#{$heading} {
      @extend %headline;
    }
  }
}

@include heading-styles();

// ---------------------------------------------
// TEXT

@mixin typography-classes() {
  .text-medium {
    @include css-map($text-medium);
  }

  small,
  .text-small {
    @include css-map($text-small);
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;

    &[disabled],
    &.is-disabled {
      pointer-events: none;
    }
  }

  b,
  strong {
    font-weight: $font-weight-semibold;
  }

  %link {
    cursor: pointer;
  }

  .link {
    @extend %link;

    @each $variant, $link in $links {
      &#{_get-variant-name($variant)} {
        @include css-map($link, 'default');

        &:focus,
        &:hover,
        &.is-active {
          @include css-map($link, 'focus');
        }
      }
    }

    &--show {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        right: -30px;
        bottom: -4px;
        height: 24px;
        width: 24px;

        background: svg-load('./../icons_/app/arrow-right.svg', fill=_color(link, 400));

        opacity: 0;
        transform: translateX(-100%);
        transition: transform $ease-100, opacity $ease-100;
      }

      &.is-active,
      &:hover,
      &:focus {
        &::after { // stylelint-disable-line
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  address { font-style: normal; }

  abbr { cursor: help; }

  em {
    @include css-map($em);
  }
}

@include typography-classes();

hr {
  width: 100%;
  height: 1px;
  display: block;
  border: 0;

  @include css-map($hr);
}

// override typography settings
@include r-map-to-classes($typography-overrides);

// ---------------------------------------------
// LISTS

@mixin list-unstyled() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin list-classes() {
  ul,
  ol,
  dl {
    margin: 0 0 $default-space;

    &:not(.list--default) {
      list-style: none;
    }

    ul,
    ol,
    dl {
      margin-bottom: 0;
    }
  }

  .list {
    li {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);

        width: 10px;
        height: 2px;

        background: _color(primary);
        opacity: 0;
        transition: opacity $ease-300;
      }

      @include breakpoint(l) {
        &::before {
          width: 20px;
          left: -40px;
        }
      };
    }

    &--line-visible li::before {
      opacity: 1;
      background: _color(grey);
    }

    &--with-hover li:hover,
    &--with-hover li:focus,
    li.is-active {
      &::before {
        opacity: 1;
        background: _color(primary);
      }
    }

    li.is-active {
      font-weight: $font-weight-semibold;
    }
  }

  .list--unstyled {
    @include list-unstyled;
  }

  .list--no-offset {
    padding-left: _get-space('h');
    list-style-position: outside;
  }

  .list--expanded {
    li {
      margin-bottom: _get-space('v', 'small');
      &:last-child { margin-bottom: 0; }

      > ul,
      > ol {
        margin-top: _get-space('v', 'small');
      }
    }
  }

  .list-inline {
    @include list-unstyled;
    @include css-map($inline-list, 'default');

    > li {
      @include css-map($inline-list-item, 'default');
      display: inline-block;
      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }
  }

  .list-inline--offset {
    > li {
      &:last-child { margin-right: _get-space('h'); }
    }
  }

  .list-inline--line {
    margin: 0;
    display: inline-block;

    > li {
      @include css-map($inline-list, 'line');
      vertical-align: middle;
    }
  }

  .list-inline--expanded {
    > li {
      @include css-map($inline-list-item, 'expanded');
    }
  }

  .list-inline--delimited {
    > li {
      @include css-map($inline-list-item, 'delimited');

      &:not(:last-child)::after {
        content: ',';
      }

      &:nth-last-child(2)::after {
        content: ' a';
      }
    }
  }

  .list-inline--condensed {
    > li {
      @include css-map($inline-list-item, 'condensed');
    }
  }

  dl {
    @include css-map($description-list, 'dl');

    dt {
      @include css-map($description-list, 'dt');
    }

    dd {
      margin-left: 0;
      margin-bottom: $default-space;

      @include css-map($description-list, 'dd');

      &:last-child { margin-bottom: 0; }
    }
  } // definition list

  .dl-inline {
    @include clearfix;

    dt,
    dd {
      float: left;
      margin: 0;
    }

    dt {
      clear: both;
      margin-right: _get-space('v', 'small');
    }
  }

  .list--comma li {
    display: inline;

    &:not(:last-child) *::after {
      content: ', ';
      display: inline;
    }
  }

  .list--dot li {
    display: inline;

    &:not(:last-child)::after {
      content: ' • ';
      display: inline;
      color: _color(gray, 300);
    }
  }
}

@include list-classes;
