// ---------------------------------------------
// TYPOGRAPHY
// ---------------------------------------------

// Sizes
// Headings
// Text
// Lists

/// Typographt generator based on modular scale, rounded to whole pixels.
/// Online calculator http://www.modularscale.com/
@mixin typography-sizes() {
  body { font-size: 100%; }

  @each $breakpoint, $values in $typography-settings {
    @include breakpoint($breakpoint) {

      $base-font-size: map-get($values, base-font-size);

      html {
        font-size: _get-rem($base-font-size, 16px);
        line-height: map-get($values, base-line-height);
      }

      p {
        margin-top: 0;
        margin-bottom: _get-space('v');
        line-height: map-get($values, base-line-height);
      }

      @each $heading in $heading-tags {
        // stylelint-disable-next-line
        #{$heading},
        .#{$heading} {
          margin-top: 0;
        }
      }
    }
  }
}

@include typography-sizes();

// ---------------------------------------------
// HEADINGS

%headline {
  @include css-map($heading);
}

@mixin heading-styles() {
  @each $heading in $heading-tags {
    #{$heading},
    .#{$heading} {
      @extend %headline;
    }
  }
}

@include heading-styles();

// ---------------------------------------------
// TEXT

@mixin typography-classes() {
  .text-medium {
    @include css-map($text-medium);
  }

  small,
  .text-small {
    @include css-map($text-small);
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: $default-text-color;

    &[disabled],
    &.is-disabled {
      pointer-events: none;
    }
  }

  .link {
    @include css-map($link, 'default');
    cursor: pointer;

    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-word;

    hyphens: auto;

    &:focus,
    &:hover,
    &.is-active {
      @include css-map($link, 'focus');
    }
  }

  address { font-style: normal; }

  abbr { cursor: help; }

  em {
    @include css-map($em);
  }
}

@include typography-classes();

hr {
  height: 1px;
  display: block;
  border: 0;

  @include css-map($hr);
}

// override typography settings
@include r-map-to-classes($typography-overrides);

// ---------------------------------------------
// LISTS

@mixin list-unstyled() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin list-classes() {
  ul,
  ol,
  dl {
    margin: 0 0 $default-space;
    list-style: none;

    ul,
    ol,
    dl {
      margin-bottom: 0;
    }
  }

  .list {
    li.is-active {
      position: relative;
      font-weight: $font-weight-semibold;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -40px;
        transform: translateY(-50%);

        width: 20px;
        height: 5px;

        background: linear-gradient(to left, _color(primary, 500) 0, _color(primary, 500) 5px, _color(primary, 600) 5px, _color(primary, 600) 20px);
      }
    }
  }

  .list--unstyled {
    @include list-unstyled;
  }

  .list--no-offset {
    padding-left: _get-space('h');
    list-style-position: outside;
  }

  .list--expanded {
    li {
      margin-bottom: _get-space('v', 'small');
      &:last-child { margin-bottom: 0; }
    }
  }

  .list-inline {
    @include list-unstyled;
    @include css-map($inline-list, 'default');

    > li {
      @include css-map($inline-list-item, 'default');
      display: inline-block;
      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }
  }

  .list-inline--line {
    margin: 0;
    display: inline-block;

    > li {
      @include css-map($inline-list, 'line');
      vertical-align: middle;
    }
  }

  .list-inline--expanded {
    > li {
      @include css-map($inline-list-item, 'expanded');
    }
  }

  dl {
    @include css-map($description-list, 'dl');

    dt {
      @include css-map($description-list, 'dt');
    }

    dd {
      margin-left: 0;
      margin-bottom: $default-space;

      @include css-map($description-list, 'dd');

      &:last-child { margin-bottom: 0; }
    }
  } // definition list

  .dl-inline {
    @include clearfix;

    dt,
    dd {
      float: left;
      margin: 0;
    }

    dt {
      clear: both;
      margin-right: _get-space('v', 'small');
    }
  }
}

@include list-classes;
