.card.card--info
  .card__content
    .row.mb-none
      .col--m-3
        | Lorem ipsum
      .col--m-3
        canvas#chart-1
      .col--m-3
        canvas#chart-2
      .col--m-3
        | Lorem ipsum
