// ----------------------------
// Breadcrumbs
// ----------------------------

.breadcrumbs {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;

  &__item {
    .icon-martinus {
      vertical-align: -0.25em;
    }
  }
}
