// ----------------------------
// Breadcrumbs
// ----------------------------

.breadcrumbs {
  background-color: _color('bg');
  padding: _get-space('v', 'small') 0;

  .breadcrumb {
    .icon-martinus {
      vertical-align: -0.25em;
    }
  }

  .btn-layout {
    margin-top: _get-space('v', 'small');
  }
}
