// ----------------------------
// Breadcrumbs
// ----------------------------

.breadcrumbs {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  @include breakpoint('m') {
    white-space: normal;
    overflow: auto;
  }

  &__item {
    .icon-martinus {
      vertical-align: -0.25em;
    }
  }
}
