// ----------------------------
// Cart-item
// ----------------------------

.cart-item {
  align-items: center;
  display: flex;
  width: 100%;

  &__thumbnail {
    flex-basis: _get-rem(50px);
    flex-shrink: 0;
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    .cart-item--summary & { //stylelint-disable-line
      justify-content: flex-end;
    }

    @include breakpoint(m) {
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
    }
  }

  &__price {
    flex-basis: _get-rem(80px);
    flex-shrink: 0;
    text-align: right;
  }

  &__actions {
    display: flex;
    align-items: center;
  }
}

.cart-item__column {
  flex: 0 0 auto;
  min-width: 0;
  margin-right: _get-space('h', 'small');

  &:last-child {
    margin-right: 0;
  }

  &--product-name {
    flex: 1 1 auto;
    order: 1;

    .cart-item--has-tags & {
      flex-grow: 0;
    }

    @include breakpoint(s, down) {
      width: calc(100% - 3em);
      align-self: flex-start;

      .cart-item--summary & { //stylelint-disable-line
        width: 100%;
      }
    }
  }

  &--wishlist {
    order: 2;
  }

  &--tags {
    order: 3;
    flex-basis: _get-rem(80px);

    .cart-item--summary & {
      flex-grow: 1;
    }
  }

  &--qty {
    order: 4;
  }

  &--price {
    order: 5;
    text-align: right;

    @include breakpoint(m) {
      flex-basis: _get-rem(75px);
    }

    @include breakpoint(s, down) {
      margin-right: 0;
    }
  }

  &--remove {
    order: 6;

    @include breakpoint(s, down) {
      order: 1;
      margin-top: -#{_get-rem(8px) };
      align-self: flex-start;
    }
  }
}
