.filter__cat {
  margin-bottom: 0;
  border-bottom: 1px solid $text-color-grey-light;

  padding-bottom: _get-rem(20px);

  &:first-child .btn {
    margin-top: -0.84rem;
  }
}

.filter__cat-name {
  @include breakpoint('l', 'downfrom') {
    padding: 0 0 0 _get-rem(20px);
  }

  .btn {
    font-size: $font-size-regular;
    padding-top: _get-rem(20px);
    padding-bottom: 0;
  }

  .icon {
    top: _get-rem(10px);
  }
}

.filter__cat-items {
  margin-top: _get-space('small');

  @include breakpoint('l', 'downfrom') {
    padding-left: _get-rem(20px);
    padding-right: _get-rem(20px);
  }

  .checkbox {
    flex-wrap: wrap;
    padding: _get-rem(5px) 0;
  }

  .form-control--checkbox {
    margin-bottom: 0;
  }
}

.filter__search {
  margin-top: _get-space('small');
}

.filter-small__cat {
  margin-bottom: 0;
  border-bottom: 1px solid $text-color-grey-light;
}

.filter-small__cat-name {
  @include breakpoint('l', 'downfrom') {
    padding: 0 0 0 _get-rem(10px);
  }

  .btn {
    padding: _get-rem(10px);
  }
}

.filter-small__cat-items {
  padding-bottom: _get-rem(5px);
  font-size: $font-size-small;

  @include breakpoint('l', 'downfrom') {
    padding-left: _get-rem(5px);
    padding-right: _get-rem(5px);
  }

  .checkbox {
    flex-wrap: wrap;
    padding: _get-rem(3px) 0;
  }

  .form-control {
    margin-bottom: _get-space('small');
  }
}

.filter-small__search {
  margin-top: _get-space('tiny');
}
