.filter {
  dd {
    // border-bottom: 1px solid $text-color-grey-light;
  }

  dl {
    border-bottom: 1px solid $text-color-grey-light;
    padding-bottom: _get-rem(15px);
  }

  dt button {
    font-size: $font-size-medium;
  }

  .checkbox {
    flex-wrap: wrap;
    padding: _get-rem(5px) 0;
  }

  .nested-select {
    width: 100%;
    margin-top: _get-rem(10px);
    margin-left: _get-rem(24px);
  }
}

.filter__search {
  margin-top: _get-space('v', 'small');
}
