.filter__cat {
  margin-bottom: 0;
  border-bottom: 1px solid var(--#{$prefix}border-grey);

  padding-bottom: _get-rem(20px);

  &:first-child .btn {
    margin-top: -0.84rem;
  }
}

.filter__cat-name {
  @include breakpoint('l', 'downfrom') {
    padding: 0 0 0 _get-rem(20px);
  }

  .btn {
    font-size: $font-size-regular;
    padding-top: _get-rem(20px);
    padding-bottom: 0;
  }

  .icon {
    top: _get-rem(10px);
  }
}

.filter__cat-items {
  margin-top: _get-space('small');

  @include breakpoint('l', 'downfrom') {
    padding-left: _get-rem(20px);
    padding-right: _get-rem(20px);
  }

  .checkbox {
    flex-wrap: wrap;
    padding: _get-rem(5px) 0;
  }

  .form-control--checkbox {
    margin-bottom: 0;
  }
}

.filter__search {
  margin-top: _get-space('small');
}
