.column-label {
  position: relative;
  margin-top: 3em;

  &__content {
    position: absolute;
    top: -3em;
    left: 0;
    right: 0;
    height: 0.8em;
    border-bottom: 1px solid _color(grey, 400);

    h3 {
      padding: 0 0.5em;
      display: inline-block;
      background: $color-white;
      color: _color(grey, 400);
    }
  }
}
