.store__photo-box {
  height: _get-rem(240px);
  background-position: center;
  background-size: cover;
  border-radius: $border-radius;

  @include breakpoint('m', 'downfrom') {
    height: _get-rem(160px);
  }
}
