.store__photo-box {
  height: _get-rem(300px);
  padding: _get-rem(20px);
  background-position: center;
  background-size: cover;

  @include breakpoint('m', 'downfrom') {
    width: 100vw;
    margin-left: _get-space() * (-1);
  }
}
