.inline-nav {
  .inline-nav__item {
    @include breakpoint('xl', 'downfrom') {
      font-size: $font-size-small;
    }

    @include breakpoint('xl') {
      margin-right: _get-rem(30px);
    }
  }
}

.inline-nav__link {
  position: relative;

  &.active {
    font-weight: 600;

    &::after {
      content: '';
      position: absolute;
      bottom: _get-rem(-10px);
      left: 50%;
      transform: translateX(_get-rem(-15px));
      width: _get-rem(30px);
      height: 2px;
      background: rgb(217, 67, 52);
      background: linear-gradient(to right, rgba(217, 67, 52, 1) 0%, rgba(195, 54, 45, 1) 24%, rgba(217, 67, 52, 1) 24%, rgba(217, 67, 52, 1) 25%, rgba(217, 67, 52, 1) 43%, rgba(195, 54, 45, 1) 44%, rgba(195, 54, 45, 1) 44%, rgba(171, 40, 37, 1) 65%, rgba(217, 67, 52, 1) 66%, rgba(217, 67, 52, 1) 100%);
    }
  }
}
