.inline-nav {
  &__item {
    font-size: $font-size-medium;
  }

  &__link {
    position: relative;

    &::after { // stylelint-disable-line
      content: '';
      position: absolute;
      bottom: _get-rem(-10px);
      left: 50%;
      transform: translateX(_get-rem(-15px));
      width: _get-rem(30px);
      height: 2px;
      background: _color(primary);
      opacity: 0;
      transition: opacity $ease-300;
    }

    &.is-active,
    &:hover,
    &:focus {
      &::after { // stylelint-disable-line
        opacity: 1;
      }
    }

    &.is-active {
      font-weight: 600;
    }
  }
}
