.map {
  height: 100%;
}

.martinus-map {
  &__container {
    height: 100%;
    max-height: 100%;
  }

  &--modal {
    @include breakpoint(m, downfrom) {
      height: 35vh;
    }
  }
}

// stylelint-disable selector-max-compound-selectors
.martinus-map .smap {
  img {
    max-width: initial;
    vertical-align: auto;
  }

  img[src*='//mapserver.mapy.cz/'],
  img[src*='//api.mapy.cz/'] {
    filter: grayscale(50%) saturate(20%) brightness(110%);
  }
}

.col-select-place {
  max-height: 90vh;
}

@include breakpoint(m, downfrom) {
  .col-select-place {
    max-height: 60vh;
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scaleX(1);
  }
}

.map-marker {
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.5));
}

.map-marker-link--martinus {
  z-index: 49;
}

.map-marker-active {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  z-index: 50;
}

.map-marker-active,
.map-marker-active img {
  width: _get-rem(40px) !important;
}

.delivery-place__icon {
  width: _get-rem(30px);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.marker-cluster div {
  background-color: rgba(0, 0, 0, 0.8);
  color: _color(white);
  font-family: "Tabac Sans", sans-serif;
  font-weight: 600;
  font-size: _get-rem(14px);

  width: _get-rem(30px);
  height: _get-rem(30px);
  margin-left: _get-space('tiny');
  margin-top: _get-space('tiny');

  text-align: center;
  border-radius: 15px;
}

.marker-cluster span {
  line-height: _get-rem(30px);
}

.map-marker, .map-marker a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

// stylelint-disable selector-max-id
#mj-delivery-picker-modal {
  .modal-xl {
    --ms-modal-width: 95%;
  }

  .modal-content {
    overflow: hidden;
  }
}
// stylelint-enable selector-max-id

@media (min-width: 768px) {
  .col-select-place {
    min-width: 410px;
  }
}
