.map {
  height: 100%;
}

.martinus-map {
  &__container {
    height: 100%;
    max-height: 100%;
  }

  &--modal {
    @include breakpoint(m, downfrom) {
      height: 35vh;
    }
  }
}

// stylelint-disable selector-max-compound-selectors
.martinus-map .smap {
  img {
    max-width: initial;
    vertical-align: auto;
  }

  img[src*='//mapserver.mapy.cz/'] {
    filter: grayscale(50%) saturate(20%) brightness(110%);
  }

  .zoom {
    top: auto;
    position: absolute;
    bottom: 70px;
    right: 10px;
    width: 66px;
    text-align: right;

    .button-group {
      box-shadow: none;
      border-radius: 0;

      button {
        width: 30px !important;
        height: 30px !important;
        border-radius: 3px;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
      }

      button.minus {
        margin-right: 6px;
      }

      button:hover {
        color: _color(primary);
      }
    }
  }
}

.col-select-place {
  max-height: 90vh;
}

@include breakpoint(m, downfrom) {
  .col-select-place {
    max-height: 60vh;
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scaleX(1);
  }
}

.map-marker-active {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.map-marker-active,
.map-marker-active img {
  width: 40px !important;
}
