@use 'sass:map';

.mega-menu {
  display: none;
  position: fixed;
  top: map.get($header-height, default);
  left: 50%;
  right: 0;
  width: 100%;
  max-width: 1180px;
  background-color: $color-white;
  transform: translateX(-50%);

  @include breakpoint(m) {
    top: map.get($header-height, 'm');
  }

  &.is-active {
    display: flex;

    max-height: calc(100vh - 60px);
    overflow: auto;
    z-index: $z-index-topbar + 1;
    -webkit-overflow-scrolling: touch;

    @include breakpoint(m) {
      max-height: calc(100vh - 80px);
    }
  }

  &__contents {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    @include breakpoint(l) {
      &:not(.is-active) {
        display: none;
      }
    }
  }

  &__content-wrap {
    display: none;
    flex: 1 0 auto;
    max-width: 100%;

    .is-active > & {
      display: flex;
    }
  }

  &__sidebar {
    flex: 0 0 auto;
    background-color: _color(bg);

    @include breakpoint(l) {
      flex: 0 0 _get-rem(280px);
    }
  }

  &__categories {
    flex: 1 1 auto;
    padding: 0;
    order: -1;

    @include breakpoint(l) {
      order: 1;
    }

    &__subcategories {
      padding-left: 2.5em;
    }
  }

  &__banner {
    text-align: center;

    @include breakpoint(l) {
      position: absolute;
      max-width: _get-rem(280px);
      left: 0;
      bottom: 0;
    }

    @include breakpoint(l, downfrom) {
      img {
        max-width: _get-rem(300px);
      }
    }
  }

  &__mobile-navigation {
    flex-wrap: nowrap !important;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: _color(black);
    display: flex;
    flex-direction: column;

    .btn {
      width: 100%;
      border-radius: 0;
      text-transform: none;
      font-size: _get-rem(14px);
      background-color: _color(black);
      letter-spacing: normal;
      text-align: left;

      &:active {
        background-color: _color(grey, 700);
      }
    }

    .btn.is-active {
      background: #fff;
      color: #000;
    }
  }

  &__categories__icon {
    font-size: _get-rem(24px);
    display: flex;

    .icon {
      width: 1.25em;
      height: 1em;
    }
  }

  @include breakpoint('s', 'downfrom') {
    .btn-dropdown {
      min-width: 20%;

      &:nth-child(-n+3) {
        min-width: 30%;
      }
    }
  }

  @include breakpoint('m', 'downfrom') {
    &__categories__category {
      align-items: center;
    }
  }

  @include breakpoint(m, 'down') {
    &__contents {
      width: 100%;
      height: 100%;
    }

    &__content {
      flex-direction: column;
    }

    &__content-wrap {
      flex-direction: column;
    }

    &__contents.is-active {
      .mega-menu__content:not(.is-active) { // stylelint-disable-line
        display: none;
      }
    }
  };
}

.mega-menu__categories {
  @include breakpoint('m', 'down') {
    &__title {
      display: block;
      margin-bottom: _get-space('small');
    }

    &__subcategories {
      li.mb-none:nth-child(n+6) {
        display: none;
      }
    }
  }
}

.mega-menu__sidebar__links {
  [data-icon] {
    color: _color(grey, 500);
  }

  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: _get-space('small');

  @include breakpoint('m', 'only') {
    flex-direction: row;
  }
}

.is-mega-menu-active {
  main {
    position: relative;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $z-index-topbar - 1;

      background-color: rgba($color-black, 0.5);
    }
  }
}
