.order-list {
  position: relative;

  @include breakpoint(l) {
    height: calc(100vh - 115px);
  }
}

.order-list__container {
  @include breakpoint('l') {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}

.order-list__item {
  &:last-child {
    margin-bottom: 0;
  }
}
