.order-list {
  position: relative;

  @include breakpoint(l) {
    height: calc(100vh - 115px);
  }
}

.order-list__container {
  @include breakpoint('l') {
    position: absolute;
    top: _get-rem(60px);
    bottom: 0;
    width: 100%;
  }
}

.order-list__item {
  // &.is-active::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   height: _get-rem(30px);

  //   Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e2e0+0,fbf7f5+100
  //   background: #e5e2e0;
  //   background: linear-gradient(to bottom, #e5e2e0 0%, #fbf7f5 100%);
  // }

  &:last-child {
    margin-bottom: 0;
  }
}
