.price-box {
  &__price {
    @include breakpoint('s', 'down') {
      font-size: _get-rem(32px);
      line-height: 1.5em;
    }
  }
}

.social-buttons {
  .fb-like {
    position: relative;
    top: -6px;
  }
}
