.product-grid {
  display: grid;
  column-gap: _get-rem(8px);
  grid-template-columns: repeat(auto-fit, 120px);
  justify-content: space-around;
  align-content: flex-start;
}

@include breakpoint('m') {
  .product-grid {
    column-gap: _get-rem(34px);
    justify-content: flex-start;
  }
}
