// ----------------------------
// Progress-bar
// ----------------------------

$progress-bar: (
  height: 5px,
);

.progress-bar {
  position: relative;
  width: 100%;
  background: _color(grey, 200);

  @include css-map($progress-bar);
  background-color: _color(grey, 200);

  &__value {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    &--blue { background-color: _color(blue); }
    &--green { background-color: _color(green); }
  }

  &--round {
    border-radius: 5px;
  }
}
