.product-item {
  margin-bottom: _get-space('v');

  &--border-bottom {
    border-bottom: 1px solid $default-border-color;
  }

  &__price-box {
    @include breakpoint('m', 'downfrom') {
      flex-direction: column;

      .bar__item { // stylelint-disable-line
        margin-right: 0;
      }
    }

    @include breakpoint('m') {
      width: 245px;
      max-width: 100%;
    }
  }
}
