.product-preview {
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 1.25rem 1.25rem 0;
  text-align: left;

  @include breakpoint(s, 'down') {
    padding: 0;
  }

  &__header {
    flex: 1 0 auto;
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    height: 100%;

    flex-wrap: wrap;
    overflow: hidden;

    @include breakpoint(s, 'down') {
      height: calc(100% - 52px);
    }
  }

  &__control {
    flex: 0 0 _get-rem(50px);
    max-width: none;
  }

  &__slider {
    height: 100%;
    overflow: auto;
    flex: 1 0;

    -webkit-overflow-scrolling: touch;

    margin-left: auto;
    margin-right: auto;
    padding-left: _get-space();
    padding-right: _get-space();
    padding-bottom: 1px;
    max-width: _get-rem(600px);

    &.is-active {
      max-width: 60%;
    }

    @include breakpoint(s, 'down') {
      flex-basis: 100%;
      height: 100%;
      margin-bottom: _get-space();
      max-width: none;
    }
  }

  &__info {
    flex: 0 0 _get-rem(374px);

    @include breakpoint(s, 'down') {
      flex-basis: 100%;

      // stylelint-disable-next-line
      .card,
      .card__content {
        margin-bottom: 0;
        border-radius: 0;
      }
    }
  }

  &__page {
    display: block;
    margin-bottom: 1.25rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
