// ----------------------------
// Product
// ----------------------------
@use 'sass:math';

.product {
  $this: &;
  margin: 0 0 _get-space('large');
  text-align: center;

  .icon-xmas-small {
    position: relative;
    top: -0.1em;
  }

  &__status {
    margin-bottom: _get-space('small');
  }

  &__cover {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: _get-space('small');

    &.collection .thumbnail--book {
      padding-bottom: _get-rem(4px);
    }

    &.collection .thumbnail--book::before {
      display: none;
    }

    &.collection .thumbnail__img-wrap {
      position: relative;
      width: 75%;
      bottom: 0;
      z-index: 3;
    }

    &.collection .thumbnail__img-wrap:nth-child(2) {
      position: absolute;
      top: 10px;
      left: 12.5%;
      z-index: 2;
      // transform: translate(12.5%, calc(-100% - 30px));
    }

    &.collection .thumbnail__img-wrap:nth-child(3) {
      position: absolute;
      top: 20px;
      left: 25%;
      z-index: 1;
    }

    &.collection .thumbnail__img-wrap:nth-child(n + 4) {
      display: none;
    }

    &.collection .thumbnail__info {
      opacity: 1;
      z-index: 5;
    }
  }

  &__img {
    flex-shrink: 0;
  }

  &__title {
    transition: color $ease-300;
    margin-bottom: _get-space('small');

    min-height: 39px;
  }

  &__meta {
    min-height: 40px;
  }

  &__action {
    min-height: 40px;
  }

  &__caption {
    margin-top: _get-space('small');
  }

  &__gift {
    padding-top: _get-space('small');
    border: 1px dotted _color(grey);
    border-width: 0 1px 1px;

    border-radius: $default-border-radius;
  }

  @each $name, $size in $thumbnail-sizes {
    &#{_get-variant-name($name)} {
      max-width: $size;
    }
  }

  &--align-left {
    text-align: left;
    #{$this}__cover { margin-left: 0; }
  }

  &--horizontal {
    display: flex;
    align-items: flex-start;
    text-align: left;

    #{$this}__caption {
      flex: 1 1 auto;
      min-width: 0;
      margin-top: 0;
      margin-left: _get-space('small') + math.div(_get-space('tiny'), 2);
    }
  }

  &:hover {
    #{$this}__title {
      color: _color('primary');
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
