// ----------------------------
// Product
// ----------------------------

.product {
  $this: &;
  margin: 0 0 _get-space('v', 'large');
  text-align: center;

  &__status {
    margin-bottom: _get-space('h', 'small');
  }

  &__cover {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: _get-space('h', 'small');

    &.collection .thumbnail--book {
      padding-bottom: _get-rem(4px);
    }

    &.collection .thumbnail__img-wrap {
      position: absolute;
      bottom: 0;
      width: 75%;
      z-index: 3;
    }

    &.collection .thumbnail__img-wrap:nth-child(2) {
      bottom: 10px;
      left: 12.5%;
      z-index: 2;
    }

    &.collection .thumbnail__img-wrap:nth-child(3) {
      bottom: 20px;
      left: 25%;
      z-index: 1;
    }

    &.collection .thumbnail__img-wrap:nth-child(n + 4) {
      display: none;
    }
  }

  &__img {
    flex-shrink: 0;
  }

  &__title {
    transition: color $ease-300;
    margin-bottom: _get-space('h', 'small');

    min-height: 39px;
  }

  &__meta {
    display: flex;
    align-items: center;
    min-height: 40px;
  }

  &__action {
    min-height: 40px;
  }

  &__caption {
    margin-top: _get-space('h', 'small');
  }

  &__gift {
    padding-top: _get-space('v', 'small');
    border: 1px dotted _color(grey);
    border-width: 0 1px 1px;

    border-radius: $default-border-radius;
  }

  @each $name, $size in $thumbnail-sizes {
    &#{_get-variant-name($name)} {
      max-width: $size;
    }
  }

  &--align-left {
    text-align: left;
    #{$this}__cover { margin-left: 0; }
  }

  &--horizontal {
    display: flex;
    align-items: flex-start;
    text-align: left;

    #{$this}__caption {
      flex: 1 1 auto;
      min-width: 0;
      margin-top: 0;
      margin-left: _get-space('h', 'small');
    }
  }

  &:hover {
    #{$this}__title {
      color: _color('primary');
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
