.quote {
  text-align: center;
  position: relative;

  &__send {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }

  &__delimiter {
    margin-bottom: _get-space();
    width: _get-rem(100px);
    height: 2px;
    background: _color(primary);
    content: ' ';
    display: inline-block;
  }

  &__text {
    color: var(--#{$prefix}text-color-grey);
    font-size: _get-rem(18px);
    line-height: 24/18;
    margin-bottom: _get-space();
  }

  &__author {
    font-weight: var(--fw-semibold);
    font-size: $font-size-medium;
    color: $color-black;
  }
}

.quote:hover {
  .quote__send {
    display: inline-block;
  }
}
