.section-title-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: _get-space('small');
  padding-bottom: _get-space('small');

  @include breakpoint('m') {
    padding-top: _get-space('large');
    padding-bottom: _get-space('large');
  }
}

.section-title-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;

  &--primary,
  &--red {
    .section-title__item:first-child,
    .section-title__item:nth-child(3) {
      background: _color(primary, 500);
    }

    .section-title__item:nth-child(2) {
      background: _color(primary, 600);
    }
  }

  &--blue {
    .section-title__item:first-child,
    .section-title__item:nth-child(3) {
      background: _color(blue, 600);
    }

    .section-title__item:nth-child(2) {
      background: _color(blue, 700);
    }
  }

  &--brown {
    .section-title__item:first-child,
    .section-title__item:nth-child(3) {
      background: _color(brown, 600);
    }

    .section-title__item:nth-child(2) {
      background: _color(brown, 700);
    }
  }

  &--orange {
    .section-title__item:first-child,
    .section-title__item:nth-child(3) {
      background: _color(orange, 600);
    }

    .section-title__item:nth-child(2) {
      background: _color(orange, 700);
    }
  }

  &--yellow {
    .section-title__item:first-child,
    .section-title__item:nth-child(3) {
      background: _color(yellow, 600);
    }

    .section-title__item:nth-child(2) {
      background: _color(yellow, 700);
    }
  }

  &--green {
    .section-title__item:first-child,
    .section-title__item:nth-child(3) {
      background: _color(success, 200);
    }

    .section-title__item:nth-child(2) {
      background: _color(success, 600);
    }
  }

  &--violet,
  &--purple {
    .section-title__item:first-child,
    .section-title__item:nth-child(3) {
      background: _color(violet, 600);
    }

    .section-title__item:nth-child(2) {
      background: _color(violet, 700);
    }
  }

  &__item {
    color: $color-white;
  }

  &__item:first-child,
  &__item:nth-child(3) {
    background: _color(primary, 500);
    padding: 12px 24px 12px 18px;
    font-weight: var(--fw-semibold);
    font-size: 16px;
    line-height: 20px;

    img {
      max-width: none;
    }

    @include breakpoint('m') {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__item--static:first-child,
  &__item--static:nth-child(3) {
    height: 44px;
    line-height: 44px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__item:nth-child(2) {
    background: _color(primary, 600);
    padding: 14px 28px 14px 21px;
    font-size: 28px;
    line-height: 34px;
    font-weight: var(--fw-bold);
    margin-left: 28px;

    @include breakpoint('m') {
      font-size: 36px;
      line-height: 40px;
    }
  }
}
