.shell-detail {
  &__cover {
    width: 35%;
    flex-shrink: 0;

    @include breakpoint(m) {
      width: 22.5%;
      float: initial;
    }
  }

  &__formats {
    max-width: _get-rem(620px);
  }

  &__info {
    min-width: 0;
  }
}
