$alerts: (
  default: (
    default: (
      margin-bottom: _get-space(),
      padding: _get-space('small') _get-space('small'),
      background-color: _color(info),
      color: $color-white,
      font-size: $font-size-medium,
      border-radius: $default-border-radius,
    ),
    icon: (
      color: $color-white,
    ),
    link: (
      color: _color(grey, 100),
    ),
  ),
  success: (
    default: ( background-color: _color('success') ),
  ),
  warning: (
    default: ( background-color: _color('warning') ),
  ),
  error: (
    default: ( background-color: _color('error') ),
  ),
  light: (
    default: (
      background-color: _color('info', 100),
      color: $color-black,
    ),
    icon: (
      color: _color('info'),
    ),
    link: (
      color: $color-black,
    )
  ),
  success-light: (
    default: (
      background-color: _color('success', 100),
      color: $color-black,
    ),
    icon: (
      color: _color('success'),
    ),
    link: (
      color: $color-black,
    )
  ),
  warning-light: (
    default: (
      background-color: _color('warning', 100),
      color: $color-black,
    ),
    icon: (
      color: _color('warning'),
    ),
    link: (
      color: $color-black,
    )
  ),
  error-light: (
    default: (
      background-color: _color('error', 100),
      color: $color-black,
    ),
    icon: (
      color: _color('error'),
    ),
    link: (
      color: $color-black,
    )
  )
);

.alert {
  display: flex;
  align-items: center;

  transition: all $ease-200;

  &__icon {
    flex: 0 0 auto;
    margin-right: _get-space('small');
  }

  &__loader {
    flex: 0 0 auto;
    margin-right: _get-space('small');
  }

  &__content {
    flex: 1 1 auto;
  }

  &__action {
    flex: 0 0 auto;
    align-self: flex-start;
    margin-left: _get-space('small');

    .btn {
      color: $color-white;
      margin-bottom: 0;

      // stylelint-disable-next-line
      &:focus,
      &:hover {
        color: _color(grey, 200);
      }
    }

    > * { margin-bottom: 0; }
  }

  &[class*='-light'] {
    .alert__action .btn {
      color: var(--#{$prefix}alert-light-btn);

      &:hover {
        color: var(--#{$prefix}alert-light-btn-hover);
      }
    }
  }

  &--fixed {
    opacity: 0;
    transform: translateY(-100px);
  }

  &--fixed-active {
    opacity: 1;
    transform: translateY(0);
  }

  &--destroy {
    opacity: 0;
  }

  .link {
    color: $color-white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @each $variant, $props in $alerts {
    &#{_get-variant-name($variant)} {
      @include css-map($props, 'default');

      .link {
        @include css-map($props, 'link');
      }

      .alert__icon {
        @include css-map($props, 'icon');
      }

      &:focus,
      &:hover {
        @include css-map($props, 'focus');
      }
    }
  }

  // dark mode overrides for light alert variants
  &.alert--light {
    [data-theme='dark'] & {
      background-color: var(--#{$prefix}bg-blue);
      color: var(--#{$prefix}text-primary);

      .alert__icon {
        color: _color('info');
      }
    }
  }

  &.alert--success-light {
    [data-theme='dark'] & {
      background-color: var(--#{$prefix}bg-green);
      color: var(--#{$prefix}text-primary);

      .alert__icon {
        color: _color('success');
      }
    }
  }

  &.alert--warning-light {
    [data-theme='dark'] & {
      background-color: var(--#{$prefix}bg-warning);
      color: var(--#{$prefix}text-primary);

      .alert__icon {
        color: _color('warning');
      }
    }
  }

  &.alert--error-light {
    [data-theme='dark'] & {
      background-color: var(--#{$prefix}bg-error);
      color: var(--#{$prefix}text-primary);

      .alert__icon {
        color: _color('error');
      }
    }
  }
}

.alert-container {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: $z-index-alert;

  max-width: 640px;

  padding: 0 _get-space();

  @include breakpoint('m') {
    left: 50%;
    transform: translateX(-50%);
  }

  .alert {
    box-shadow: $shadow-md;
  }
}
