// ---------------------------------------------
// BADGES & PILLS
// ---------------------------------------------

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-bottom: _get-space('v');

  &--inline {
    display: inline-flex;
  }

  .badge {
    margin-right: _get-space('h', 'small');
    margin-bottom: 1px;
    margin-top: 1px;
    &:last-child { margin-right: 0; }
  }
}

.badge {
  display: inline-flex;
  align-items: center;
}

// ----------------------------
// PILLS

.pills {
  display: inline-flex;
  justify-content: center;
  padding: _get-rem(3px) _get-rem(8px);
}

@include css-variants('.badge', $badge);
@include css-variants('.pills', $pills);
