// ---------------------------------------------
// BADGES & PILLS
// ---------------------------------------------

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-bottom: _get-space();

  &--inline {
    display: inline-flex;
  }

  .badge {
    margin-right: _get-space('small');
    &:last-child { margin-right: 0; }
  }

  &--column {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    .badge {
      margin-right: 0;
      margin-bottom: _get-space(tiny);

      &:last-child { margin-bottom: 0; }
    }
  }
}

.badge {
  display: inline-flex;
  align-items: center;

  &--block {
    width: 100%;
  }

  @each $size, $props in $badge-sizes {
    &#{_get-variant-name($size)} {
      @include css-map($props);
    }
  }
}

// ----------------------------
// PILLS

.pill {
  display: inline-flex;
  justify-content: center;
  padding: _get-rem(4px) _get-rem(12px);
}

a.pill:hover {
  text-decoration: underline;
}

@include css-variants('.badge', $badge);
@include css-variants('.pill', $pills);

// Dark mode adjustments
html[data-theme='dark'] {
  .badge {
    background-color: _color(grey, 800);
    color: $color-white;
    border-color: _color(grey, 700);
  }

  .badge--primary {
    background-color: _color(primary, 800);
    color: $color-white;
    border-color: _color(primary, 800);
  }

  .badge--yellow {
    background-color: _color(yellow, 800);
    color: $color-white;
    border-color: _color(yellow, 800);
  }

  .badge--transparent {
    // Keep transparent - inherit color from parent, no background
    color: inherit;
    background-color: transparent;
    border-color: transparent;
  }
}
