@mixin bar {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
}

@mixin bar-item(
  $width: 0
) {
  flex: 0 0 if($width == 0, auto, $width);
  align-items: center;

  > * {
    margin-bottom: 0;
  }
}

@mixin bar-content() {
  @include bar-item;
  flex: 1 0 1px;
}

@mixin bar-border (
  $spacing: $bar-spacing
) {
  border-left: 1px solid $default-border-color;
  align-self: stretch;
}

@mixin bar-break(
  $height: $bar-break-height
) {
  flex: 1 0 100%;
  height: $height;
}

@mixin bar-classes {
  .bar {
    @include bar;

    &__item {
      @include bar-item;

      &--shrinkable {
        flex-shrink: 1;
      }

      &--fill {
        flex: 1 0 auto;
      }

      &--border {
        @include bar-border;
      }
    }

    &__break {
      @include bar-break;
    }
  }

  // responsive bar spacing
  @each $size, $props in $bar-spacing {
    &#{_get-variant-name($size, '.bar--')} {
      .bar__item {
        @each $breakpoint, $space in _get-breakpoint-map($props) {
          @include breakpoint($breakpoint) { // stylelint-disable
            margin-right: $space;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

@include bar-classes;
