.box {
  padding: _get-space('v', 'small') _get-space('h', 'small');
  margin-bottom: _get-space('v');

  &--enlarged {
    padding: _get-space('v') _get-space('h');
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

@include css-variants('.box', $boxes);
