.box {
  padding: _get-space('v', 'small') _get-space('h', 'small');
  margin-bottom: _get-space('v');

  &--hover {
    transition: background $ease-out-200;
  }

  &--hover:hover {
    background-color: _color(grey, 50);
  }

  &--success {
    background-color: _color(success, 100);
  }
}
