// ---------------------------------------------
// Carousel
// ---------------------------------------------

@mixin carousel-fade($mode) {
  position: relative;
  overflow: visible;

  margin-left: -(_map-deep-get($carousel, $mode, size));
  margin-right: -(_map-deep-get($carousel, $mode, size));
  padding: 0 _map-deep-get($carousel, $mode, size);

  .swiper-container { overflow: visible; }

  .swiper-container {
    margin: 0;

    // stylelint-disable-next-line
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;

      width: _map-deep-get($carousel, $mode, size);
      z-index: 2;
      pointer-events: none;
    }

    &::after { // stylelint-disable-line
      right: -(_map-deep-get($carousel, $mode, size));
      left: auto;

      background: linear-gradient(to right, (_map-deep-get($carousel, $mode, gradient)));
    }

    &::before { // stylelint-disable-line
      left: -(_map-deep-get($carousel, $mode, size));
      right: auto;

      background: linear-gradient(to left, (_map-deep-get($carousel, $mode, gradient)));
    }
  }

  &-white {
    .swiper-container { // stylelint-disable-line
      &::before { // stylelint-disable-line
        background: linear-gradient(to left, (_map-deep-get($carousel, $mode, gradient-white)));
      }
      &::after { // stylelint-disable-line
        background: linear-gradient(to right, (_map-deep-get($carousel, $mode, gradient-white)));
      }
    }
  }

  .carousel__btn--prev {
    left: _map-deep-get($carousel, btns, offsetH, default);
  }

  .carousel__btn--next {
    right: _map-deep-get($carousel, btns, offsetH, default);
  }

  @include breakpoint(l) {
    .carousel__btn--prev {
      left: _map-deep-get($carousel, btns, offsetH, l);
    }

    .carousel__btn--next {
      right: _map-deep-get($carousel, btns, offsetH, l);
    }
  };
}

.carousel {
  margin-bottom: _get-space('large');

  .swiper-container-initialized .swiper-slide:not(.swiper-slide-visible) {
    pointer-events: none;
  }

  .swiper-wrapper { align-items: flex-end; }

  &__btn {
    position: absolute;
    z-index: 3 !important;
    top: _map-deep-get($carousel, btns, offsetV);
    transform: translateY(-(_map-deep-get($carousel, btns, offsetV)));
    margin: 0;

    &--next { right: 40px; }
    &--prev { left: 40px; }

    .swiper-container:not(.swiper-container-initialized) & {
      opacity: 0;
    }

    @include breakpoint(s, 'down') {
      display: none;
    }
  }

  &__link {
    display: block;
  }

  &--fade-outside {
    @include carousel-fade(fade);
  }

  &--fade-inside {
    @include carousel-fade(fade-inside);
    overflow: hidden;
  }

  &--fade-inactive {
    .swiper-slide { opacity: 0.5; }
    .swiper-slide-active { opacity: 1; }
  }

  &--disable-inactive {
    .swiper-slide:not(.swiper-slide-active) .carousel__link { // stylelint-disable
      pointer-events: none;
    }
  }

  &__product-detail {
    width: 120px;

    .swiper-container:not(.swiper-container-initialized) & {
      margin-right: 20px;
    }

    .swpier-container--fullwidth:not(.swiper-container-initialized) & {
      @include breakpoint(l) {
        margin-right: 40px;
      }
    }

    .product__cover.collection .thumbnail__img-wrap {
      bottom: 0;
      top: auto;
    }

    .product__cover.collection .thumbnail__img-wrap:nth-child(2) {
      bottom: 10px;
    }

    .product__cover.collection .thumbnail__img-wrap:nth-child(3) {
      bottom: 20px;
    }
  }

  &__recently-viewed {
    width: 50px;
    .swiper-container:not(.swiper-container-initialized) & {
      margin-right: 10px;
    }
  }

  &__banner {
    width: 300px;

    .swiper-container:not(.swiper-container-initialized) & {
      margin-right: 20px;
    }

    @include breakpoint(m) {
      width: 600px;
    }
  }

  &__tile {
    width: 290px;
    height: 290px;
  }

  // stylelint-disable max-nesting-depth
  &--fan {
    .swiper-container { overflow: visible; }

    .swiper-slide {
      opacity: 0;
      width: 100px;

      .thumbnail__info,
      &:not([data-carousel-fan-index]) {
        opacity: 0;
      }
    }

    .swiper-slide-visible {
      opacity: 0.2;
      transform: rotate(-20deg) scale(0.6) translate3d(150px, 60px, 0);
      z-index: 2;

      &.swiper-slide-prev,
      &.swiper-slide-next {
        opacity: 0.5;
        transform: rotate(-10deg) scale(0.8) translate3d(50px, 0, 0);
        z-index: 3;
      }

      &.swiper-slide-active {
        opacity: 1;
        transform: rotate(0deg) scale(1) translate3d(0, 0, 0);
        z-index: 4;

        .thumbnail__info {
          opacity: 1;
          z-index: 5;
        }

        ~ .swiper-slide-visible {
          transform: rotate(20deg) scale(0.6) translate3d(-150px, 60px, 0);
        }

        + .swiper-slide-next {
          transform: rotate(10deg) scale(0.8) translate3d(-50px, 0, 0);
        }
      }
    }

    .carousel__btn {
      @include breakpoint(s, 'down') {
        display: flex;
      }
    }
  }
  // stylelint-enable max-nesting-depth

  &--lazy {
    min-height: 18rem;
  }

  &--shelf {
    border-bottom: 20px solid rgba(255, 255, 255, 0.4);
    position: relative;

    .swiper-container {
      @include breakpoint('m') {
        padding-left: 20px;
      }
    }

    &::after {
      content: " ";
      display: block;
      position: absolute;
      top: 110%;
      width: 100%;
      height: 20px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, transparent 75%);
    }
  }
}

.carousel-tiles {
  @include breakpoint(s, 'down') {
    .swiper-wrapper {
      display: block;
      width: auto;
      margin-left: _get-space();
      margin-right: _get-space();
      transform: none !important;
    }

    .swiper-slide-duplicate { display: none; }

    .carousel__btn { display: none; }

    .carousel__link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .carousel-tile {
      width: 100%;
    }

    .carousel-tile__bg {
      margin-bottom: _get-space();
      width: 100%;
      height: 100px;
      background-image: none !important;

      &--red {
        background-color: _color(primary);
      }

      &--orange {
        background-color: _color(orange);
      }

      &--yellow {
        background-color: _color(yellow);
      }

      &--blue {
        background-color: _color(blue);
      }

      &--green {
        background-color: _color(green);
      }

      &--violet {
        background-color: _color(violet);
      }

      &--brown {
        background-color: _color(brown);
      }
    }

    .carousel-tile__header {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      text-align: center;
    }
  }
}

.carousel-tile {
  position: relative;

  border-radius: $default-border-radius;

  .swiper-container:not(.swiper-container-initialized) & {
    margin-right: 20px;
  }

  &__header {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.carousel-cards {
  &__item {
    width: 250px;

    .card {
      min-height: 90px;
    }

    .icon {
      width: 4rem;
      height: 4rem;
    }
  }
}

.carousel__banner {
  a {
    display: block;
  }
}

.carousel-lite {
  position: relative;
  overflow: hidden;
  height: 19rem;

  &__container {
    height: 20rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    }
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__slide {
    flex-shrink: 0;
  }

  .product {
    margin-right: 40px;
    width: 120px;
  }
}

.carousel-lite--fade-inside {
  .carousel-lite__container {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;

      width: _map-deep-get($carousel, fade-inside, size);
      z-index: 2;
      pointer-events: none;
    }

    &::after {
      //right: -(_map-deep-get($carousel, fade-inside, size));
      right: 0;
      left: auto;

      background: linear-gradient(to right, (_map-deep-get($carousel, fade-inside, gradient-white)));
    }

    &::before {
      //left: -(_map-deep-get($carousel, fade-inside, size));
      left: 0;
      right: auto;

      background: linear-gradient(to left, (_map-deep-get($carousel, fade-inside, gradient-white)));
    }
  }
}
