// ---------------------------------------------
// CARDS
// ---------------------------------------------

// CONTENTS
// Card
// Card header
// Card footer

// ----------------------------
// CARD

@mixin card($_card: $card) {
  $border-radius: _map-deep-get($card, 'default', 'border-radius');
  $after: map-get($_card, after);
  $_card: map_remove($_card, after);

  display: flex;
  flex-flow: column;
  margin-bottom: $default-space;

  @include css-map($_card);

  @if $after {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      @include css-map($after);
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  > * + * {
    border-top: _map-deep-get($card, 'default', 'border');
  }

  > * {
    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

@mixin card-section(
  $card-section: $card-section,
  $grow: 0,
  $shrink: 0
) {
  flex: $grow $shrink auto;

  @each $breakpoint, $props in _get-breakpoint-map($card-section) {
    @include breakpoint($breakpoint) {
      @include css-map($props, default);
    }
  }

  &--overflow {
    overflow: hidden;
  }
}

@mixin card-classes {
  .card {
    position: relative;
    padding: 0;

    @each $variant, $map in $card {
      &#{_get-variant-name( $variant)} {
        @include card($map);
      }
    }

    &__header {
      @include card-section;
      @include bar;
      @include css-map($card-header);
    }

    &-header__title {
      @include bar-content;
      margin-bottom: 0;
    }

    &-header__action {
      @include bar-item;
      min-width: 80px;
    }

    &__content {
      @include card-section($grow: 1);

      @each $breakpoint, $props in _get-breakpoint-map($card-section) {
        @include breakpoint($breakpoint) {
          &--large {
            @include css-map($props, large);
          }
        }
      }

      &:first-child {
        padding-top: _get-space('v');
      }

      &:last-child {
        padding-bottom: _get-space('v');
      }

      > *:last-child {
        margin-bottom: _get-space('v', 'small');
      }
    }

    &__footer {
      @include card-section;
    }

    &__status {
      position: absolute;

      top: 10px;
      right: 10px;
    }

    .carousel {
      &.carousel--fade-outside .swiper-container {
        margin-right: 40px;
      }

      // stylelint-disable max-nesting-depth
      &--fade-outside {
        .carousel__btn--prev { left: -5px; }
        .carousel__btn--next { right: -45px; }
      }
      // stylelint-enable max-nesting-depth

      // stylelint-disable max-nesting-depth
      &--fan {
        .carousel__btn--prev { left: -5px; }
        .carousel__btn--next { right: -5px; }
      }
      // stylelint-enable max-nesting-depth
    }
  }
}

@include card-classes;
