// ---------------------------------------------
// CARDS
// ---------------------------------------------

// CONTENTS
// Card
// Card header
// Card footer

// ----------------------------
// CARD

@mixin card($_card: $card) {
  $border-radius: _map-deep-get($card, 'default', 'border-radius');
  $after: map-get($_card, after);
  $_card: map_remove($_card, after);

  display: flex;
  flex-flow: column;
  margin-bottom: $default-space;

  @include css-map($_card);

  @if $after {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      @include css-map($after);
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  > * + * {
    border-top: _map-deep-get($card, 'default', 'border');
  }

  > * {
    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}

@mixin card-section(
  $card-section: $card-section,
  $grow: 0,
  $shrink: 0
) {
  flex: $grow $shrink auto;

  @each $breakpoint, $props in _get-breakpoint-map($card-section) {
    @include breakpoint($breakpoint) {
      @include css-map($props);
    }
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

@mixin card-classes {
  .card {
    position: relative;

    @each $variant, $map in $card {
      &#{_get-variant-name( $variant)} {
        @include card($map);
      }
    }

    &__header {
      @include card-section;
      @include css-map($card-header);
      @include bar;
    }

    &__header__title {
      @include bar-content;
    }

    &__header__action {
      @include bar-item;
    }

    &__content {
      @include card-section($grow: 1);
    }

    &__footer {
      @include card-section;
    }
  }
}

@include card-classes;
