// ---------------------------------------------
// COMPONENTS
// ---------------------------------------------

// ---------------------------------------------
// BOOK DETIAL

.book-detail {
  &__image {
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(m) {
      max-width: none;
    };
  }
}

// ---------------------------------------------
// Collapse

[data-collapse]:not(.collapsed) ~ [data-collapse-trigger] { display: none; }

// ---------------------------------------------
// Book badge

$book-badge: (
  font-size: _get-rem(10px),
  font-weight: $font-weight-semibold,
  color: _color(primary),
);

.book-badge {
  display: inline-flex;
  position: relative;

  &__value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 4px;

    text-align: center;

    @include css-map($book-badge);
  }
}

// ----------------------------
// Notifications

[data-notification] {
  overflow: visible;

  &::after {
    content: attr(data-notification);

    position: absolute;

    top: -10px;
    right: -10px;
    bottom: auto;
    left: auto;

    width: auto;
    min-width: 20px;
    height: 20px;
    line-height: 20px;

    border-radius: 999em;

    background-color: _color(primary);
    color: $color-white;

    font-size: _get-rem($font-size-small);
  }
}

// ----------------------------
// Cart-item

.cart-item {
  display: flex;
  width: 100%;

  &__thumbnail {
    flex: 0 0 _get-rem(40px);
    margin-right: _get-space('h', 'small');

    @include breakpoint(m) {
      flex-basis: auto;
      margin-right: _get-space('h');
    }
  }

  &__content {
    flex: 1 1 auto;
    min-width: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include breakpoint(m) {
      flex-wrap: nowrap;
    }
  }
}

.cart-item__column {
  flex: 0 0 auto;
  min-width: 0;
  margin-right: _get-space('h', 'small');

  &:last-child {
    margin-right: 0;
  }

  &--product-name {
    flex: 1 1 auto;
    order: 1;

    @include breakpoint(s, down) {
      width: calc(100% - 3em);
      align-self: flex-start;
    }
  }

  &--wishlist {
    order: 2;
  }

  &--tags {
    order: 3;
    flex-basis: _get-rem(80px);
  }

  &--qty {
    order: 4;

    @include breakpoint(s, only) {
      flex-grow: 1;
    }
  }

  &--price {
    order: 5;
    flex-basis: _get-rem(75px);
    text-align: right;

    @include breakpoint(s, down) {
      margin-right: 0;
    }
  }

  &--remove {
    order: 6;

    @include breakpoint(s, down) {
      order: 1;
      margin-top: -#{_get-space('v', 'small') };
      align-self: flex-start;
    }
  }
}

// ----------------------------
// Product

.product {
  $this: &;
  margin: 0 0 _get-space('v', 'large');
  text-align: center;

  .img,
  .icon {
    margin-bottom: 0;
  }

  &__img {
    flex-shrink: 0;
  }

  &__caption {
    margin-top: _get-space('h', 'small');
  }

  &--horizontal {
    display: flex;
    align-items: flex-start;
    text-align: left;

    #{$this}__caption {
      flex: 1 1 auto;
      min-width: 0;
      margin-top: 0;
      margin-left: _get-space('h', 'small');
    }
  }
}
