// ---------------------------------------------
// COMPONENTS
// ---------------------------------------------

// ---------------------------------------------
// BOOK DETIAL

.book-detail {
  &__image {
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(m) {
      max-width: none;
    };
  }
}

// ---------------------------------------------
// Collapse

[data-collapse]:not(.collapsed) ~ [data-collapse-trigger] { display: none; }

// ---------------------------------------------
// Book badge

$book-badge: (
  font-size: _get-rem(10px),
  font-weight: $font-weight-semibold,
  color: _color(primary),
);

.book-badge {
  display: inline-flex;
  position: relative;

  &__value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 4px;

    text-align: center;

    @include css-map($book-badge);
  }
}

// ----------------------------
// Notifications

[data-notification] {
  overflow: visible;

  &::after {
    content: attr(data-notification);

    position: absolute;

    top: -5px;
    right: -5px;
    bottom: auto;
    left: auto;

    width: auto;
    min-width: 20px;
    height: 20px;
    line-height: 20px;

    border-radius: 999em;

    background-color: _color(primary);
    color: $color-white;
  }
}
