// ---------------------------------------------
// COMPONENTS
// ---------------------------------------------

// ---------------------------------------------
// BOOK DETIAL

.book-detail {
  &__image {
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(m) {
      max-width: none;
    };
  }
}

// ---------------------------------------------
// Collapse

[data-collapse]:not(.collapsed) ~ [data-collapse-trigger] { display: none; }

// ---------------------------------------------
// Hompage grid

.homepage-grid {
  // display: grid;
  // grid-auto-flow: column;
  // grid-column-gap: 40px;

  &__item {
    // background-color: _color(grey);
    margin-bottom: _get-space('v', 'large');
  }
}
