// ---------------------------------------------
// DROPDOWN
// ---------------------------------------------

@mixin dropdown-visible-arrowhead () {
  transform: scale(1, 1) translateX(-50%);
}

@mixin dropdown-visible () {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  transform: scale(1, 1);
}

@mixin dropdown-menu (
  $dropdown-menu: $dropdown-menu
) {
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 100%;

  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  @include css-map($dropdown-menu, 'default');

  &--space {
    @include css-map($dropdown-menu, 'space');
  }

  &[aria-expanded='true'] {
    @include dropdown-visible;

    &.dropdown--arrowhead {
      @include dropdown-visible-arrowhead;
    }
  }

  &--nowrap,
  &--nowrap &__wrap {
    overflow: visible;
    max-height: none;
  }

  &--align-right {
    left: auto;
    right: 0;
  }
}

@mixin dropdown-size () {
  max-height: $dropdown-menu-max-h;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

@mixin dropdown-item-focus (
  $dropdown-menu-item: $dropdown-menu-item
) {
  @each $prop, $value in map-get($dropdown-menu-item, 'focus') {
    #{$prop}: #{$value};
  }
}

@mixin dropdown-item (
  $dropdown-menu-item: $dropdown-menu-item
) {
  display: flex;
  flex-wrap: nowrap;
  white-space: normal;

  @each $prop, $value in map-get($dropdown-menu-item, 'default') {
    #{$prop}: #{$value};
  }

  &:focus,
  &:hover,
  &.is-active {
    @include dropdown-item-focus();
  }

  &--small {
    @each $prop, $value in map-get($dropdown-menu-item, 'small') {
      #{$prop}: #{$value};
    }
  }

  &--more {
    position: relative;
    padding-right: 30px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      left: auto;
      transform: translateY(-50%);

      height: 16px;
      width: 16px;

      background-image: svg-load('./../../node_modules/@fortawesome/fontawesome-pro/svgs/regular/chevron-right.svg', fill=_color(grey, 200));
      background-size: 8px;
      background-repeat: no-repeat;
    }
  }

  &--checked {
    position: relative;
    padding-left: _get-space('large');

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);

      height: 16px;
      width: 16px;

      background-image: svg-load('./../../node_modules/@fortawesome/fontawesome-pro/svgs/regular/circle-check.svg', fill=_color(success));
      background-size: 8px;
      background-repeat: no-repeat;
    }

    &:focus::before,
    &:hover::before {
      background-image: svg-load('./../../node_modules/@fortawesome/fontawesome-pro/svgs/regular/xmark.svg', fill=_color(grey, 200));
    }
  }
}

@mixin dropdown-group (
  $dropdown-menu-group: $dropdown-menu-group
) {
  display: block;
  white-space: nowrap;

  @include css-map($dropdown-menu-group);
}

@mixin dropdown-wrapper() {
  overflow: auto;
  max-height: $dropdown-menu-max-h;
}

@mixin dropdown-menu-arrowhead() {
  margin-top: 10px;
  border-radius: 3px;
  overflow: visible;

  transform: scale(1, 0.1) translateX(-50%);
  left: 50%;

  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: -9px;
    left: 50%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    transform: translateX(-50%);
  }

  .dropdown__item {
    text-align: left;
  }
}

@mixin dropdown() {
  .dropdown {
    @include dropdown-menu;
    @include dropdown-size;

    &__wrap {
      @include dropdown-wrapper;
    }

    &__item { @include dropdown-item; }
    &__group { @include dropdown-group; }

    &--arrowhead {
      @include dropdown-menu-arrowhead;
    }
  }
}

@include dropdown;
