// ---------------------------------------------
// DROPDOWN
// ---------------------------------------------

@mixin dropdown-menu (
  $dropdown-menu: $dropdown-menu
) {
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 100%;

  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  word-break: break-all;

  @include css-map($dropdown-menu, 'default');

  &--space {
    @include css-map($dropdown-menu, 'space');
  }

  &[aria-expanded='true'] {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    transform: scale(1, 1);

    &.dropdown--arrowhead {
      transform: scale(1, 1) translateX(-50%);
    }
  }

  &--nowrap {
    overflow: visible;
    max-height: none;
  }

  &--align-right {
    left: auto;
    right: 0;
  }
}

@mixin dropdown-size () {
  max-height: $dropdown-menu-max-h;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

@mixin dropdown-item (
  $dropdown-menu-item: $dropdown-menu-item
) {
  display: block;
  white-space: nowrap;

  @each $prop, $value in map-get($dropdown-menu-item, 'default') {
    #{$prop}: #{$value};
  }

  &:focus,
  &:hover,
  &.is-active {
    @each $prop, $value in map-get($dropdown-menu-item, 'focus') {
      #{$prop}: #{$value};
    }
  }
}

@mixin dropdown() {
  .dropdown {
    @include dropdown-menu;
    @include dropdown-size;

    &__item { @include dropdown-item; }

    &--arrowhead {
      margin-top: 10px;
      border-radius: 3px;
      overflow: visible;

      transform: scale(1, 0.1) translateX(-50%);
      left: 50%;

      &::before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        top: -9px;
        left: 50%;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        transform: translateX(-50%);
      }

      .dropdown__item {
        text-align: left;
      }
    }
  }
}

@include dropdown;
