// ---------------------------------------------
// Figures
// ---------------------------------------------

.figure {
  $this: &;
  margin: 0 0 _get-space('v', 'large');
  text-align: center;

  .img,
  .icon {
    margin-bottom: 0;
  }

  &__caption {
    margin-top: _get-space('h', 'small');
  }

  &--horizontal {
    display: flex;
    align-items: flex-start;
    text-align: left;

    #{$this}__caption {
      margin-top: 0;
      margin-left: _get-space('h', 'small');
    }
  }
}

.figure-status {
  display: inline-flex;
  align-items: center;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 999em;

    margin-right: 5px;
  }

  @each $name, $props in $figure-status {
    &#{_get-variant-name($name)}::before {
      @include css-map($props);
    }
  }
}
