// ---------------------------------------------
// ICONS AND IMAGES
// ---------------------------------------------

// CONTENTS
// Icons
// Images
// Book thumbnail

// ----------------------------
// ICONS

.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;

  vertical-align: middle;
}

@each $variant, $size in $icon-sizes {
  .icon--#{$variant} {
    width: $size;
    height: $size;
  }
}

// ----------------------------
// IMAGES

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.img {
  margin-bottom: $default-space;

  &--fluid {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &--rounded {
    @include border-radius($image-border-radius);
  }

  &--circle {
    @include border-radius(50%);
  }
}

// override fills
#icon-star-half { // stylelint-disable
  path:first-child { fill: currentColor; }
  path:last-child { fill: _color(grey, 100); }
}

// ----------------------------
// BOOK THUMBNAIL

.book-thumbnail {
  box-shadow: -20px 10px 14px 0 rgba(0, 0, 0, 0.2), -10px 0 5px 0 rgba(0, 0, 0, 0.1); // todo generalize shadows
}
