// ---------------------------------------------
// ICONS AND IMAGES
// ---------------------------------------------

// CONTENTS
// Icons
// Images
// Book thumbnail

// ----------------------------
// ICONS

.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;

  vertical-align: middle;
}

@each $variant, $size in $icon-sizes {
  .icon--#{$variant} {
    width: $size;
    height: $size;
  }
}

// ----------------------------
// IMAGES

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

%img {
  margin-bottom: $default-space;
}

.img {
  @extend %img;
}

@include css-variants('.img', $image);

// override fills
#icon-star-half { // stylelint-disable
  path:first-child { fill: currentColor; }
  path:last-child { fill: _color(grey, 100); }
}

// ----------------------------
// THUMBNAILS

.thumbnail {
  $this: #{&};
  display: block;
  position: relative;

  @each $name, $size in $thumbnail-sizes {
    &#{_get-variant-name($name)} {
      max-width: $size;
    }
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
  }

  &--clickable {
    #{$this}__img-wrap {
      transition: box-shadow $ease-200;
    }

    &:hover,
    &:active {
      #{$this}__img-wrap {
        box-shadow: 0 10px 20px 0 rgba(#000, 0.3);
      }
    }
  }

  &--book {
    position: relative;
    border-radius: $default-border-radius;
    user-select: none;

    #{$this}__img-wrap {
      box-shadow: 0 10px 14px 0 rgba(#000, 0.2);
    }

    .img {
      border-radius: $default-border-radius;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;

      width: 12px;
      border-radius: $default-border-radius;

      background: linear-gradient(to right, rgba(#000, 0.1) 0, rgba(#000, 0.1) 5px, rgba(#fff, 0.1) 5px, rgba(#fff, 0.1) 10px, rgba(#000, 0.1) 11px, rgba(#000, 0.1) 12px);
    }
  }

  &--large-shadow &__img-wrap {
    box-shadow: -20px 10px 14px 0 rgba(#000, 0.2), -10px 0 5px 0 rgba(#000, 0.1); // todo generalize shadows
  }

  &__img-wrap {
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    @include border-radius($image-border-radius);

    @each $name, $size in $thumbnail-sizes {
      .thumbnail#{_get-variant-name($name)} & {
        max-height: _get-rem($size * (19/12));
      }
    }

    img { width: 100%; }
  }

  &__status {
    position: absolute;
    top: -10px;
    left: -10px;
  }

  &__info {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }

  .img { margin-bottom: 0; }
}

// ---------------------------------------------
// Thumbnail badge
// ---------------------------------------------

$thumbnail-badge: (
  font-size: _get-rem(10px),
  font-weight: $font-weight-semibold,
  color: _color(primary),
);

.thumbnail-badge {
  display: inline-flex;
  position: relative;

  &__value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 4px;

    text-align: center;

    @include css-map($thumbnail-badge);
  }

  &--simple::before {
    @extend %list-counter;

    content: attr(data-thumbnail-badge) !important;
  }
}


// ----------------------------
// PORTRAITS

.portrait {
  background: _color('primary');
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;

  @each $name, $size in $thumbnail-sizes {
    &#{_get-variant-name($name)} {
      width: $size;
    }
  }
}

.portrait::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 100%;
}

.portrait::after {
  content: "";
  display: table;
  clear: both;
}

// ----------------------------
// BOOKS HEADER

.books-header {
  z-index: -1;
  position: absolute;
  right: 40%;
  top: -430px;
  transform: rotate(45deg) scale(1);

  @include breakpoint('xl') {
    right: 30%;
  }

  .thumbnail--book {
    width: map_get($thumbnail-sizes, xlarge);
    height: map_get($thumbnail-sizes, xlarge) * 1.4;
    position: absolute;
  }

  img {
    width: map_get($thumbnail-sizes, xlarge);
    height: map_get($thumbnail-sizes, xlarge) * 1.4;
  }
}

// ----------------------------
// PARALLAX

.parallax-image {
  height: 500px;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}