// ---------------------------------------------
// ICONS AND IMAGES
// ---------------------------------------------

// CONTENTS
// Icons
// Images
// Book thumbnail

// ----------------------------
// ICONS

.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;

  vertical-align: middle;
}

@each $variant, $size in $icon-sizes {
  .icon--#{$variant} {
    width: $size;
    height: $size;
  }
}

// ----------------------------
// IMAGES

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.img {
  margin-bottom: $default-space;

  &--fluid {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &--rounded {
    @include border-radius($image-border-radius);
  }

  &--circle {
    @include border-radius(50%);
  }
}

// override fills
#icon-star-half { // stylelint-disable
  path:first-child { fill: currentColor; }
  path:last-child { fill: _color(grey, 100); }
}

// ----------------------------
// THUMBNAILS

@each $name, $size in $thumbnail-sizes {
  .thumbnail#{_get-variant-name($name)} {
    width: $size;
    height: $size;
  }
}

// ----------------------------
// BOOK THUMBNAIL

.book-thumbnail {
  position: relative;
  border-radius: $default-border-radius;
  box-shadow: 0 10px 14px 0 rgba(#000, 0.2);
  transition: box-shadow $ease-100;

  user-select: none;

  &--medium {
    width: 120px;
  }

  &--small {
    width: 65px;
  }

  &--clickable {
    &:hover,
    &:active {
      box-shadow: 0 10px 20px 0 rgba(#000, 0.3);
    }
  }

  &--large-shadow {
    box-shadow: -20px 10px 14px 0 rgba(#000, 0.2), -10px 0 5px 0 rgba(#000, 0.1); // todo generalize shadows
  }

  .img { border-radius: $default-border-radius; }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: 12px;
    border-radius: $default-border-radius;

    background: linear-gradient(to right, rgba(#000, 0.1) 0, rgba(#000, 0.1) 5px, rgba(#fff, 0.1) 5px, rgba(#fff, 0.1) 10px, rgba(#000, 0.1) 11px, rgba(#000, 0.1) 12px);
  }

  &__status {
    position: absolute;
    top: -10px;
    left: -10px;
  }
}
