.modal-header {
  background-color: var(--#{$prefix}modal-header-bg);
  border-color: var(--#{$prefix}modal-border);
}

.modal-content {
  background-color: var(--#{$prefix}modal-body-bg);
  border-color: var(--#{$prefix}modal-border);
}

.modal-body {
  color: var(--#{$prefix}text-primary);
}

.modal-footer {
  border-color: var(--#{$prefix}modal-border);
}

.modal-title {
  color: var(--#{$prefix}text-primary);
}

