$pagetip-sizes: (
  small: 250px,
  medium: 400px,
  large: 600px
);

.pagetip {
  position: relative;

  @include breakpoint('m') {
    position: absolute;
    z-index: $z-index-alert;

    &--top {
      top: 10px !important;
    }

    &--bottom {
      bottom: 10px !important;
    }

    &--left {
      left: 10px !important;
    }

    &--right {
      right: 10px !important;
    }
  }

  @each $variant, $size in $pagetip-sizes {
    &--#{$variant} {
      @include breakpoint('m') {
        max-width: $size;
      }
    }
  }
}
