// ---------------------------------------------
// RATINGS
// ---------------------------------------------

// ---------------------------------------------
// STAR RATING

.star-rating {
  display: flex;
  align-items: center;

  &__item { color: _color(yellow); }

  &__value {
    margin-left: _get-space('h', 'small');
  }
}
