// ---------------------------------------------
// RATINGS
// ---------------------------------------------

// ---------------------------------------------
// RATING STAR

.rating-star {
  display: flex;
  align-items: center;

  flex: 1 0 auto;

  &__item {
    color: _color(grey, 200);

    &.is-active { color: _color(yellow); }
  }

  &__value {
    margin-left: _get-space('small');
  }

  &--highlight-on-hover {
    label {
      color: _color(yellow);
    }

    //stylelint-disable
    &:not(:hover) input:indeterminate + label,
    &:not(:hover) input:checked ~ input + label,
    input:hover ~ input + label {
      color: _color(grey, 200);
    }
    //stylelint-enable
  }
}

// ---------------------------------------------
// RATING TEXT

.rating-text {
  &__value {
    font-size: _get-rem(42px);
  }
}

// ---------------------------------------------
// RATING BAR

.rating-bar {
  height: 10px;
  border-radius: $default-border-radius;

  &--5 { background-color: #ffb804; }
  &--4 { background-color: #f19f00; }
  &--3 { background-color: #dd8000; }
  &--2 { background-color: #ff7100; }
  &--1 { background-color: #ec5e00; }
}
