// ---------------------------------------------
// RATINGS
// ---------------------------------------------

// ---------------------------------------------
// RATING STAR

.rating-star {
  display: flex;
  align-items: center;

  &__item {
    color: _color(grey, 200);

    &.is-active { color: _color(yellow); }
  }

  &__value {
    margin-left: _get-space('h', 'small');
  }

  &--highlight-on-hover {
    &:hover .rating-star__item {
      color: _color(yellow);
    }

    .rating-star__item:hover {
      ~ * { // stylelint-disable
        color: _color(grey, 200);
      }
    }
  }

  &__icon {
    width: _get-rem(22px);
    height: _get-rem(22px);
    background: svg-load('./../images/content/rating/star.svg');
    background-size: auto _get-rem(22px);

    &--half {
      background: svg-load('./../images/content/rating/star-half.svg');
    }

    &--empty {
      background: svg-load('./../images/content/rating/star-empty.svg');
    }
  }
}

// ---------------------------------------------
// RATING TEXT

.rating-text {
  &__value {
    font-size: _get-rem(42px);
  }
}

// ---------------------------------------------
// RATING BAR

.rating-bar {
  height: 10px;
  border-radius: $default-border-radius;

  &--5 { background-color: #ffb804; }
  &--4 { background-color: #f19f00; }
  &--3 { background-color: #dd8000; }
  &--2 { background-color: #ff7100; }
  &--1 { background-color: #ec5e00; }
}
