// ---------------------------------------------
// REVIEWS
// ---------------------------------------------

.review {
  margin-bottom: _get-space();

  @include breakpoint(m) {
    margin-bottom: _get-space('large');
  }

  &--reply {
    margin-left: _get-space();

    @include breakpoint(m) {
      margin-left: _get-space('large');
    }
  }
}
