// ---------------------------------------------
// TABLES
// ---------------------------------------------

// CONTENTS
// Table
// Bordered
// Striped
// Clean

// ----------------------------
// TABLE

// stylelint-disable max-nesting-depth, selector-max-compound-selectors

%table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $default-space;
  border-collapse: collapse;
  border-spacing: 0;
}

%default-table {
  @extend %table;

  @include css-map($table, 'default');
  border: $table-border-w $table-border-s $table-border-c;

  th,
  td {
    @include css-map($table-cell, 'default');
  }

  th {
    text-align: left;
  }

  th {
    @include css-map($table-cell, 'head');
  }

  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }

  > tbody + tbody {
    border-top: _map-deep-get($table-cell, 'head', 'border-bottom');
  }
}

.table {
  @extend %default-table;
}

// ----------------------------
// BORDERED

.table--simple {
  border: 0;

  th {
    @include css-map($table-cell, 'head-highlight');
  }

  th,
  td {
    background-color: initial;
    border-bottom: 0;
  }
}

// ----------------------------
// STRIPED

.table--striped {
  border: 0;

  th {
    @include css-map($table-cell, 'head-highlight');
  }

  > tbody > tr:nth-of-type(even) {
    @include css-map($table-cell, 'even');
  }

  th,
  td {
    border-bottom: 0;
  }
}

// ----------------------------
// CLEAN

.table--clean {
  border: 0;

  th,
  td {
    border: 0;
    background-color: initial;

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }
}
