// ---------------------------------------------
// TABS
// ---------------------------------------------

// CONTENTS
// Tabs

// ----------------------------
// TABS

.tab-nav {
  $this: &;

  @include clearfix;
  @include list-unstyled;
  position: relative;

  &__item {
    float: left;

    display: flex;

    #{$this}__content { flex: 1 1 auto; }
  }

  &--block {
    display: flex;

    #{$this}__item {
      float: none;
      flex: 1 1 auto;
      min-width: 0;
      margin-right: _get-space('h', 'small');

      &:last-child { // stylelint-disable
        margin-right: 0;
      }
    }
  }
}

.tab-nav__content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;

  &--link {
    @include css-map($tabs-link, 'default');

    &:focus,
    &:hover {
      @include css-map($tabs-link, 'focus');
    }

    .is-active > & {
      @include css-map($tabs-link, 'active');
    }

    &[disabled],
    &.is-disabled {
      @include css-map($tabs-link, 'disabled');
    }
  }

  &--card {
    position: relative;

    @include css-map($tabs-card, 'default');

    &:focus,
    &:hover {
      @include css-map($tabs-card, 'focus');
    }

    .is-active > & {
      @include css-map($tabs-card, 'active');

      &:after {
        content: '';
        position: absolute;
        bottom: -(_map-deep-get($tabs-card, 'default', margin-bottom) + (_get-rem(1px)));
        left: -1px;
        right: -1px;

        height: _map-deep-get($tabs-card, 'default', margin-bottom);
        background-color: _map-deep-get($tabs-card, 'active', background-color);
        border: _map-deep-get($tabs-card, 'default', border);
        border-color: _map-deep-get($tabs-card, 'active', border-color);
      }
    }

    &[disabled],
    &.is-disabled {
      @include css-map($tabs-card, 'disabled');
    }
  }
}

.tab-nav--rounded {
  .tab-nav__content--first {
    border-top-left-radius: $default-border-radius;
  }

  .tab-nav__content--last {
    border-top-right-radius: $default-border-radius;
  }
}

.tab-nav__content-wrap {
  max-width: 100%;

  > * {
    max-width: 100%;
  }
}

.tab {
  display: none;

  &.is-active {
    display: block;
  }
}
