@import './../../../node_modules/tippy.js/dist/tippy';

.tippy-box:not([data-theme~='light']) {
  background-color: _color(grey, 900);
  padding: _get-space('tiny');

  color: $text-color-white;

  font-size: _get-rem($font-size-small);
  line-height: 1.35;

  border-radius: $default-border-radius;

  &[data-placement^=top] > .tippy-arrow::before {
    border-top-color: _color(grey, 900);
  }

  &[data-placement^=right] > .tippy-arrow::before {
    border-right-color: _color(grey, 900);
  }

  &[data-placement^=bottom] > .tippy-arrow::before {
    border-bottom-color: _color(grey, 900);
  }

  &[data-placement^=left] > .tippy-arrow::before {
    border-left-color: _color(grey, 900);
  }

  .link {
    color: $color-white;
    text-decoration: underline;
    border-bottom: 0;
  }
}

@import './../../../node_modules/tippy.js/themes/light';

.tippy-tooltip {
  max-width: _get-rem(500px) !important;
}
