.buybacks-header {
  @include breakpoint('l') {
    background-image: url('../images/content/buybacks/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
  }
}
