.buybacks-header {
  @include breakpoint('l') {
    background-image: url('../images/content/buybacks/sova.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
  }
}

h3 {
  .counter {
    width: 24px;
  }
}

.buybacks-logo {
  width: 250px;

  @include breakpoint('m', downfrom) {
    width: 150px;
  }
}

.buybacks-icon-circle {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.counter {
  color: _color(white);
  border-radius: 50%;
  text-align: center;
  display: inline-block;

  &--primary {
    background: _color(primary);
  }
}

.carousel--buybacks {

  @include breakpoint('m', downfrom) {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
  }

  .swiper-slide {
    max-width: 80%;
  }
}

.faq {
  &__answer {
    display: none;
    margin-bottom: 0;

    &.is-active {
      display: block;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    span {
      max-width: 90%;
    }
  }

  hr {
    margin-top: _get-space('v');
    margin-bottom: _get-space('v');

  }
}
