.category-nav {
  .category-nav__item {
    @include breakpoint('xl', 'downfrom') {
      font-size: $font-size-small;
    }

    @include breakpoint('xl') {
      margin-right: _get-rem(30px);
    }
  }
}

.category-nav__link {
  position: relative;

  &.active {
    font-weight: 600;

    &::after {
      content: '';
      position: absolute;
      bottom: _get-rem(-10px);
      left: 50%;
      transform: translateX(_get-rem(-15px));
      width: _get-rem(30px);
      height: 2px;
      background: rgb(217, 67, 52);
      background: linear-gradient(to right, rgba(217, 67, 52, 1) 0%, rgba(195, 54, 45, 1) 24%, rgba(217, 67, 52, 1) 24%, rgba(217, 67, 52, 1) 25%, rgba(217, 67, 52, 1) 43%, rgba(195, 54, 45, 1) 44%, rgba(195, 54, 45, 1) 44%, rgba(171, 40, 37, 1) 65%, rgba(217, 67, 52, 1) 66%, rgba(217, 67, 52, 1) 100%);
    }
  }
}

.product-item {
  padding-top: _get-space('v');
}

.cat-border-bottom {
  border-bottom: 1px solid $text-color-grey-light;
}

.cat-border-right {
  border-right: 1px solid $text-color-grey-light;
}

.cat-no-border-bottom {
  border-bottom: 0;
}

.category {
  .pagination {
    justify-content: center;
    padding: _get-space('v', 'large') 0;
  }
}

.product-item__description {
  max-height: 60px;
  overflow: hidden;
}

.mobile-wrapper {
  &.is-active {
    @include breakpoint('l', 'downfrom') {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 0;
      z-index: $z-index-overlay;
      background-color: $default-bg-color;
      display: flex;
      flex-direction: column;
    }
  }

  &:not(.is-active) {
    @include breakpoint('l', 'downfrom') {
      display: none;
    }
  }
}

.mobile-wrapper__header {
  display: flex;
  padding: _get-rem(20px);
  border-bottom: 1px solid $text-color-grey-light;

  .mobile-wrapper__header-title {
    font-size: _get-rem(21px);
    font-weight: 600;
  }

  .mobile-wrapper__close {
    position: absolute;
    top: _get-rem(15px);
    right: _get-rem(15px);
  }

  @include breakpoint('l') {
    display: none;
  }
}

.mobile-wrapper__content {
  @include breakpoint('l', 'downfrom') {
    padding: _get-rem(20px);
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
  }

  .bar__item--fill-l {
    @include breakpoint('l') {
      flex: 1 0 1px;
    }
  }
}
