.add-new-address {
  border: 1px dotted $text-color-grey-dark;

  .btn {
    width: 100%;
    height: 100%;

    @include breakpoint('m', 'downfrom') {
      padding-top: _get-rem(15px);
      padding-bottom: _get-rem(15px);
    }
  }
}

.my-account-address {
  height: 100%;
}

.my-account-imageupload {
  padding: _get-space('v');
}
