// ---------------------------------------------
// PRODUCT DETIAL
// ---------------------------------------------

.product-detail {
  &__image {
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(m) {
      max-width: none;
    };
  }
}

.product-read-more {
  position: relative;

  a {
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 200%;
      width: 100%;
    }
  }
}
