// ---------------------------------------------
// PRODUCT DETIAL
// ---------------------------------------------

.product-detail {
  $this: &;

  &__image {
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    @include breakpoint(m) {
      max-width: none;
    };

    #{$this}__preview-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: rgba($color-black, 0.5);
    }

    #{$this}__preview-link .btn {
      color: _color(grey, 400);
    }

    #{$this}__preview-link .btn:hover {
      color: $color-white;
    }
  }

  &__author {
    @include breakpoint('m', 'down') {
      font-size: $font-size-medium;
      line-height: 1.25em;
    }
  }
}

.product-read-more {
  position: relative;

  a {
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 200%;
      width: 100%;
    }
  }
}

.review__header-avatar {
  position: relative;

  .icon-useful {
    position: absolute;
    left: _get-rem(-6px);
    top: _get-rem(-6px);
    border-radius: 50%;
  }
}
