// stylelint-disable

// ---------------------------------------------
// WELCOME - PAGE
// ---------------------------------------------
  //---------------
  // style guide
    $style-guide-bg-color:    $color-white !default;
    $style-guide-text-color:  _color(primary, 500)!default;
    $style-guide-font-family: $font-family-opensans !default;

  //---------------
  // style guide header
    $style-guide-header-bg-color:   _color(primary, 600) !default;
    $style-guide-header-text-color: $color-white !default;

  //---------------
  // style guide section header
    $style-guide-section_header-bg-color:   _color(primary, 500)!default;
    $style-guide-section_header-text-color: $color-white !default;

  .welcome {
    width: 100%;
    height: 100%;
    background-color: $style-guide-bg-color;
    color: $style-guide-text-color;
    text-align: center;
    @include center-unknown('.style-guide-welcome_headline');
  }

  .welcome_headline {
    display: inline-block;
    font-family: $style-guide-font-family;
    @include font-size(64px);
    vertical-align: middle;
    a {
      color: $style-guide-text-color;
      @include font-size(16px);
    }
    .light-logo {
      display: block;
      width: 175px;
      height: 175px;
      line-height: 1;
      vertical-align: middle;
    }
  }
