extends templates/layout

include ./../mixins/icon

//- Options
block prepend opts
  - var page = helpers.getPageIds('components.cards', l_sitemap);
  - var categoryID = page.category;
  - var pageID = page.page;

//- Content
block prepend content

  +main-info(['app/styles/modules/_cards.scss'], contents)

    +p-big Documentation for basic card components, card headers and footers.

  //- end: main info

//- Content
block append content

  //- CARDS
  +content-section(contents[0])

    +p A card serves as an entry point to more detailed information. Cards may contain a photo, text, link, list, tables and any other conten. The most basic card can be created by using class <code class='l-code-inline'>.card</code> on element that wraps our content. Content should be then wrapped in element with class <code class='l-code-inline'>.card__content</code>. One card can contain more <code class='l-code-inline'>.card__content</code> elements.

    +note
      +p More complex cards can contain also headers and footers.

    +demo
      +demo-example
        .row
          .col--m-6
            article.card
              section.card__content
                h3 Basic card
                p Lorem ipsum Ullamco ut dolore laborum deserunt Excepteur veniam et Duis nostrud cupidatat dolore qui voluptate et non ex laboris ullamco consequat culpa consequat qui magna qui labore dolore do velit sint.

          .col--m-6
            article.card
              section.card__content
                h3 Card with two contents.
                p Lorem ipsum Ullamco ut dolore laborum deserunt Excepteur veniam et.
              section.card__content
                p Duis nostrud cupidatat dolore qui voluptate et non ex laboris ullamco consequat culpa consequat qui magna qui labore dolore do velit sint.
      +demo-code
        :code
          <!-- basic card -->
          <article class="card">
            <section class="card__content">
              ...
            </section>
          </article>

          <!-- card with two contents-->
          <article class="card">
            <section class="card__content">
              ...
            </section>
            <section class="card__content">
              ...
            </section>
          </article>
    //- end: demo
    
    +content-sub-section('Variants')
      +p Standard cards support modifiers for background colors and section padding sizes.
      
      +demo
        +demo-example
          .row
            .col--m-6
              article.card.card--success
                section.card__content
                  h3 Success card
                  p Lorem ipsum Ullamco ut dolore laborum deserunt Excepteur veniam et Duis nostrud cupidatat dolore qui voluptate et non ex laboris ullamco consequat culpa consequat qui magna qui labore dolore do velit sint.

            .col--m-6
              article.card.card--info
                section.card__content.card__content--large
                  h3 Info card with padded content.
                  p Lorem ipsum Ullamco ut dolore laborum deserunt Excepteur veniam et.
        +demo-code
          :code
            <!-- success card -->
            <article class="card card--success">
              <section class="card__content">
                ...
              </section>
            </article>

            <!-- info card with padded content-->
            <article class="card card--info">
              <section class="card__content card__content--large">
                ...
              </section>
            </article>
    
    +content-sub-section('Material card')

      +p Material cards have shadows and top colored border with optional uppercase label. Can be used with color classes: <b>primary, green, orange, violet, blue, yellow, brown, darkblue</b>

      +demo
        +demo-example
          .row
            each item in ['', 'primary', 'green', 'orange', 'violet', 'blue', 'yellow', 'brown', 'darkblue',]
              .col--m-6.col--l-3
                .card.card--material(class='card--material-' + item)
                  .card__label Label
                  .card__content
                    p Lorem ipsum Ea cillum deserunt do ut eiusmod reprehenderit minim et reprehenderit ea in dolor veniam dolor incididunt dolore dolor fugiat consequat ea qui exercitation proident amet aute id aute culpa esse elit dolor labore voluptate in cillum Ut dolor mollit ad.
        +demo-code
          :code
            <article class="card card--material">
              <div class="card__label">...</div>
              <div class="card__content">...</div>
            </article>

            <article class="card card--material card--material-green">
              <div class="card__label">...</div>
              <div class="card__content">...</div>
            </article>

    +content-sub-section('Card well')

      +demo
        +demo-example
          .row
            .col--m-6.col--l-4
              article.card.card--well.text-center.text-size-medium
                .card__content
                  p.text-color-grey-dark Knihu máme na <em class="">sklade</em>

                .card__content
                  .h1.no-mrg 12,99 €
                  p.mb-small.text-color-grey-dark Bežná cena#{' '}
                    span.text-strikethrough 15,42 €
                  .badges.badges--inline.align-items-center
                    .badge.badge--primary Ušetríte 3,50 €

                .card__content
                  p.mb-small.text-color-grey-dark Posielame <em>ihneď</em>.
                  .btn-layout--vertical
                    button.btn.btn--primary.btn--large.mb-small
                      +icon('cart').icon--left.icon--medium
                      | Vložiť do košíka

                    button.btn.btn--clean.no-mrg
                      +icon('heart').icon--left.icon--medium
                      | Pridať do
            +demo-code
              :code
                <article class="card card--well">
                  ...
                </article>

    +content-sub-section('Card status')

      +p Card status is item in top right corner of card. Content of the status needs to be wrapped in <code class='l-code-inline'>.card__status</code> element.

      +demo
        +demo-example
          .row
            .col--m-6.col--l-4
              article.card
                .card__status
                  .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                .card__content.card__content--overflow
                  h2.text-center Biografie slávnych
                  include ./../modules/collection-carousel
        +demo-code
          :code
            <article class="card">
              <div class="card__status">
                ...
              </div>
              ...
            </article>
            
    +content-sub-section('Arrowhead card')

      +p Arrowhead card has a small nub pointing outside the card. It's only shown on screens larger than <code class="l-code-inline">m</code> and the position must be always specified.
      
      +note 
        +p Currently the only card with non-white bg that properly supports arrowhead is Well, and only on the left side

      +demo
        +demo-example
          .row(style='background: #666; padding-top: 1em')
            .col--m-6
              article.card.card--arrowhead.card--arrowhead-top
                .card__content
                  p arrowhead top
            .col--m-6
              article.card.card--arrowhead.card--arrowhead-right
                .card__content
                  p arrowhead right
            .col--m-6
              article.card.card--arrowhead.card--arrowhead-bottom
                .card__content
                  p arrowhead bottom
            .col--m-6
              article.card.card--well.card--arrowhead.card--arrowhead-left
                .card__content
                  p arrowhead left
        +demo-code
          :code
            <!-- arrowhead top -->
            <article class="card card--arrowhead card--arrowhead-top">
              ...
            </article>
            
            <!-- arrowhead right -->
            <article class="card card--arrowhead card--arrowhead-right">
              ...
            </article>
            
            <!-- arrowhead bottom -->
            <article class="card card--arrowhead card--arrowhead-bottom">
              ...
            </article>
            
            <!-- arrowhead left -->
            <article class="card card--well card--arrowhead card--arrowhead-left">
              ...
            </article>
    
    +content-sub-section('Speechbubble card')

      +p Speechbubble card has a small nub on the bottom left, mimicking a comic style callout.
      
      +note 
        +p Speechbubbles are supported on cards with standard white and <code class="l-code-inline">.bg-secondary</code> backgrounds.

      +demo
        +demo-example
          .row(style='background: #666; padding-top: 1em')
            .col--m-6
              article.card.card--speech-bubble
                .card__content Hey, what can i say?
        +demo-code
          :code
            <!-- Speechbubble card -->
            <article class="card card--speech-bubble">
              ...
            </article>
            
    +content-sub-section('Done card')

      +p Done card has a check symbol as a sign of completed step/action.
      
      +demo
        +demo-example
          .row(style='background: #666; padding-top: 1em')
            .col--m-6
              article.card.card--done
                .card__content We're all done here.
        +demo-code
          :code
            <!-- Speechbubble card -->
            <article class="card card--done">
              ...
            </article>

  //- end: section

  //- HEADER
  +content-section(contents[1])

    +p Card header is part of the card component. It can be created by using class <code class='l-code-inline'>.card__header.card-header</code> on header element. Title can be added via <code class='l-code-inline'>.card-header__title</code>

    +demo
      +demo-example
        .row
          .col--m-6
            article.card
              header.card__header.card-header
                h2.card-header__title Card with header
              section.card__content
                p Lorem ipsum Ea cillum deserunt do ut eiusmod reprehenderit minim et reprehenderit ea in dolor veniam dolor incididunt dolore dolor fugiat consequat ea qui exercitation proident amet aute id aute culpa esse elit dolor labore voluptate in cillum Ut dolor mollit ad.
      +demo-code
        :code
          <article class="card">
            <header class="card__header card-header">
              <h2 class="card-header__title">Title</h2>
            </header>
            <section class="card__content">
              ...
            </section>
          </article>
    //- end: demo

    +content-sub-section('Header actions')

      +p Card header can also contain actions. In that case use <code class='l-code-inline'>.card__header__action</code> and <code class='l-code-inline'>.card__header__title</code>. Actions can contain icons, buttons, dropdowns... You name it!

      +note
        .l-p This is actually a <a href="bar#{htmlPostfix}" class="link">bar component</a>, but it's baked right into card header for the sake of semantic markup and convenience.

      +demo
        +demo-example
          .row
            .col--m-6
              article.card
                header.card__header.card-header
                  .card-header__action
                    +icon('user').icon--medium
                  h2.card-header__title Headline
                  .card-header__action
                    .btn.btn--equal.btn--round
                      +icon('arrow-right').icon--medium
                section.card__content
                  p Lorem ipsum Ea cillum deserunt do ut eiusmod reprehenderit minim et reprehenderit ea in dolor veniam dolor incididunt dolore dolor fugiat consequat ea qui exercitation proident amet aute id aute culpa esse elit dolor labore voluptate in cillum Ut dolor mollit ad.
        +demo-code
          :code
            <article class="card">
              <header class="card__header card-header">
                <div class="card-header__action">
                  ...
                </div>
                <div class="card-header__title">
                  ...
                </div>
                <div class="card-header__action">
                  ...
                </div>
              </header>
              <section class="card__content">
                ...
              </section>
            </article>
      //- end: demo

    //- end: subsection

  //- end: section

  //- FOOTER
  +content-section(contents[2], true)

    +p Card footer is part of the card component. It can be created by using class <code class='l-code-inline'>.card__footer</code> on footer element.

    +demo
      +demo-example
        .row
          .col--m-6
            article.card
              section.card__content
                h3 Card with footer
                p Lorem ipsum Ullamco ut dolore laborum deserunt Excepteur veniam et Duis nostrud cupidatat dolore qui voluptate et non ex laboris ullamco consequat culpa consequat qui magna qui labore dolore do velit sint.
              footer.card__footer
                .btn-layout--horizontal.align-items-right
                  button.btn.btn--link(type='button') Cancel
                  button.btn.btn--link(type='button') Save

      +demo-code
        :code
          <article class="card">
            <section class="card__content">
              ...
            </section>
            <footer class="card__footer">
              ...
            </footer>
          </article>
    //- end: demo

  //- end: section
