extends templates/layout

include ./../mixins/booksCarouselRecommended

//- Options
block prepend opts
  - var page = helpers.getPageIds('components.carousels', l_sitemap);
  - var categoryID = page.category;
  - var pageID = page.page;

//- Content
block prepend content

  +main-info(['app/scripts/modules/Carousel.js', 'app/styles/modules/_carousel.scss'], contents)

    +p-big Documentation for carousels.

    +dependency('Javascript')
      +p Carousel uses swiper plugin <br /> Documentation for swiper: <a href='http://idangero.us/swiper/api/', target='_blank'>http://idangero.us/swiper/api/</a>

  //- end: main info

//- Content
block append content

  //- CARDS
  +content-section(contents[0])

    +content-sub-section('Basic carousel')

    +p Carousels are configurable via <code class='l-code-inline'>data-swiper-options</code> which takes <a href='http://idangero.us/swiper/api/', target='_blank'>Swiper</a> config.

    +demo
      +demo-example
        +booksCarouselRecommended.carousel--fade-outside.carousel--fade-outside-white
      +demo-code
        :code
          <div class="carousel carousel--fade-outside">
            <div data-swiper-options="{'slidesPerView':7,'slidesPerGroup':6}" class="swiper-container">
              <div class="swiper-wrapper">
                <a href="#" class="swiper-slide"></a>
              </div>
            </div>
          </div>
