extends templates/layout

include ./../mixins/icon
include ./../mixins/addTo

//- Options
block prepend opts
  - var page = helpers.getPageIds('components.cart', l_sitemap);
  - var categoryID = page.category;
  - var pageID = page.page;

//- Content
block prepend content

  +main-info(['app/styles/modules/_cart-item.scss'], contents)

    +p-big Documentation of Cart component.

  //- end: main info

//- Content
block append content

  //- MEDIA QUERIES
  +content-section(contents[0])

    +demo
      +demo-example
        .row
          .col--m-12
            ul.list.list--unstyled.list--cart
              li.list__item
                .cart-item
                  .cart-item__thumbnail
                    img(src="/images/content/books/sample-15.jpg").thumbnail.thumbnail--book.thumbnail--medium-large.thumbnail--clickable
                  .cart-item__content
                    .cart-item__column.cart-item__column--product-name
                      .text-semibold.no-mrg.text-ellipsis Základy rybolovu pro kluky a holky
                      .text-color-grey.text-size-small.no-mrg.text-ellipsis Frank Weissert, Jack Thorne a John Tiffany
                      .bar.bar--small.text-size-small.no-mrg.show-m
                        .bar__item
                          img.img.img--circle.thumbnail.thumbnail--small(src="http://placehold.it/100x100")
                        .bar__item
                          span.text-transform-upper.text-color-grey Tento titul číta aj
                          |
                          |
                          a.link(href="#") Jana Šlinská

                    .cart-item__column.cart-item__column--wishlist
                      +addTo({ text: '' }).no-mrg-bottom
                    .cart-item__column.cart-item__column--tags.show-m
                      .badge.text-nowrap E-kniha
                    .cart-item__column.cart-item__column--qty
                      .form-control.form-control--input.no-mrg
                        .input-addons.input-addons--small.align-items-right
                          .input-addons__item.no-pad
                            button(type="button" data-number-spinner="decrease" data-controls=`#product-${i}-qty`).btn.btn--small.btn--clean.btn--equal
                              +icon('minus', 'icon--medium', 'mínus')
                          input(type="number" id=`product-${i}-qty` min="0" max="100" step="1" value="1").input.input--small.input--short.no-pad-horizontal.text-center
                          .input-addons__item.no-pad
                            button(type="button" data-number-spinner="increase" data-controls=`#product-${i}-qty`).btn.btn--small.btn--clean.btn--equal
                              +icon('plus', 'icon--medium', 'plus')
                    .cart-item__column.cart-item__column--price
                      .text-semibold.text-size-medium.text-nowrap 12,99 €
                    .cart-item__column.cart-item__column--remove
                      button.btn.btn--clean.no-mrg(type="button")
                        +icon('trash', 'icon--medium')


      +demo-code
        :code
          <ul class="list list--cart">
            <li class="list__item">
              <div class="cart-item">
                <div class="cart-item__thumbnail">
                  ...
                </div>
                <div class="cart-item__content">
                  <div class="cart-item__column">
                    ...
                  </div>
                  <div class="cart-item__column">
                    ...
                  </div>
                  <div class="cart-item__column">
                    ...
                  </div>
                </div>
              </div>
            </li>
          </ul>
    //- end: demo
