extends templates/layout

include ./../mixins/faIcon

//- Options
block prepend opts
  - var page = helpers.getPageIds('components.formComponents.formAdvanced', l_sitemap);
  - var categoryID = page.category;
  - var pageID = page.page;
  - var subPageID = page.subPage;

//- Content
block prepend content

  +main-info([
    'app/styles/modules/_forms.scss',
  ], contents)

    +p-big Documentation of advanced ipnuts with extended functionality, such is inputs with icons.
  //- end: main info

//- Content
block append content

  //- INNER ADDON
  +content-section(contents[0])

    +p Text input with inner addon is just extended basic input. To create input with inner (text) addon you need to wrap <code class='l-code-inline'>&lt;input&gt;</code> and addon element <code class='l-code-inline'>.input-addons__item</code> into element with class <code class='l-code-inline'>.input-addons</code> as shown in example below.

    +demo
      +demo-example
        .row
          .col--l-6
            .form-control.form-control--input.mb-medium
              .input-addons
                .input-addons__item
                  +faIcon('magnifying-glass')
                input.input(type='text')
            .form-control.form-control--input.mb-medium
              .input-addons
                .input-addons__item.p-none
                  button.btn.btn--link Action
                .input-addons__item Mr.
                input.input(type='text')
          .col--l-6
            .form-control.form-control--input.mb-medium
              .input-addons
                input.input(type='text')
                .input-addons__item.p-none
                  button.btn.btn--link
                    +faIcon('xmark')
            .form-control.form-control--input
              .input-addons
                input.input(type='text')
                .input-addons__item .00
                .input-addons__item €
        .row
          .col--l-6
            h4 Complex example
            .form-control.form-control--input.mb-medium
              .form-label.is-error
                label(for="input-addon-left-5") Form label:
              .input-addons
                .input-addons__item
                  +faIcon('magnifying-glass')
                input.input.is-error(type="text", id="input-addon-left-5")
                .input-addons__item.p-none
                  button.btn.btn--link
                    +faIcon('xmark')
              p.form-text Help message
              p.form-text.is-error Error message
          .col--l-6
            h4 Many buttons
            .form-control.form-control--input.mb-medium
              .input-addons
                .input-addons__item.p-none
                  button.btn Action
                .input-addons__item.p-none
                  button.btn Action 2
                input.input(type='text')
                .input-addons__item.p-none
                  button.btn Action 3
                .input-addons__item.p-none
                  button.btn Action 4
            .form-control.form-control--input.mb-medium
              .input-addons
                .input-addons__item.p-none
                  button.btn.btn--primary Action
                .input-addons__item.p-none
                  button.btn.btn--primary Action 2
                input.input(type='text')
                .input-addons__item.p-none
                  button.btn.btn--primary Action 3
                .input-addons__item.p-none
                  button.btn.btn--primary Action 4
            .form-control.form-control--input.mb-medium
              .input-addons
                .input-addons__item.p-none
                  button.btn.btn--ghost Action
                .input-addons__item.p-none
                  button.btn.btn--ghost Action 2
                input.input(type='text')
                .input-addons__item.p-none
                  button.btn.btn--ghost Action 3
                .input-addons__item.p-none
                  button.btn.btn--ghost Action 4
            .form-control.form-control--input.mb-medium
              .input-addons
                .input-addons__item.p-none
                  button.btn.btn--clean Action
                .input-addons__item.p-none
                  button.btn.btn--clean Action 2
                input.input(type='text')
                .input-addons__item.p-none
                  button.btn.btn--clean Action 3
                .input-addons__item.p-none
                  button.btn.btn--clean Action 4

      +demo-code
        :code
          <div class="form-control form-control--input">
            <div class="input-addons">
              <!-- icon -->
              <div class="input-addons__item">
                <svg aria-label="Search" class="icon icon-search" role="presentation">
                  <use xlink:href="#icon-search"></use>
                </svg>
              </div>

              <!-- button -->
              <div class="input-addons__item p-none">
                <button class="btn btn--link">Action</button>
              </div>

              <!-- text -->
              <div class="input-addons__item">Mr.</div>

              <input class="input" type="text">

              <!-- after input -->
              <div class="input-addons__item">.00</div>
            </div>
          </div>


    //- end: demo

    +content-sub-section('Sizes')

      +p You can combine inner addon with different input sizes.

      +demo
        +demo-example
          .row
            .col--l-6
              .form-control.form-control--input.mb-medium
                .input-addons.input-addons--small
                  .input-addons__item
                    +faIcon('magnifying-glass')
                  input.input.input--small(type='text')
              .form-control.form-control--input.mb-medium
                .input-addons.input-addons--small
                  .input-addons__item Mr.
                  input.input.input--small(type='text')
            .col--l-6
              .form-control.form-control--input.mb-medium
                .input-addons.input-addons--large
                  .input-addons__item
                    +faIcon('magnifying-glass')
                  input.input.input--large(type='text')
              .form-control.form-control--input.mb-medium
                .input-addons.input-addons--large
                  .input-addons__item Mr.
                  input.input.input--large(type='text')
        +demo-code
          :code
            <div class="form-control form-control--input">
              <div class="input-addons input-addons--small">
                <div class="input-addons__item ">...</div>
                <input class="input input--small" type="text">
              </div>
            </div>

            <div class="form-control form-control--input">
              <div class="input-addons input-addons--large">
                <div class="input-addons__item ">...</div>
                <input class="input input--large" type="text">
              </div>
            </div>
      //- end: demo

  //- end: section

  +content-sub-section('Dark Mode')

    .l-wrap-main(style='background-color: var(--ms-surface-primary); color: var(--ms-text-primary); padding: 2rem; border-radius: 8px;' data-theme='dark')

      +content-sub-section('Advanced Form Inputs in Dark Mode')

        +demo&attributes({['data-theme']: 'dark'})
          +demo-example
            .row
              .col--l-6
                .form-control.form-control--input.mb-medium
                  .input-addons
                    .input-addons__item
                      +faIcon('magnifying-glass')
                    input.input(type='text', placeholder='Search...')
                .form-control.form-control--input.mb-medium
                  .input-addons
                    .input-addons__item.p-none
                      button.btn.btn--link Action
                    .input-addons__item Mr.
                    input.input(type='text', placeholder='Input')
              .col--l-6
                .form-control.form-control--input.mb-medium
                  .input-addons
                    input.input(type='text', placeholder='Input')
                    .input-addons__item.p-none
                      button.btn.btn--link
                        +faIcon('xmark')
                .form-control.form-control--input
                  .input-addons
                    input.input(type='text', placeholder='Input')
                    .input-addons__item .00
                    .input-addons__item €

            .row.mt-medium
              .col--l-6
                h4.mb-medium Complex example
                .form-control.form-control--input.mb-medium
                  .form-label.is-error
                    label(for="input-addon-dark-5") Form label:
                  .input-addons
                    .input-addons__item
                      +faIcon('magnifying-glass')
                    input.input.is-error(type="text", id="input-addon-dark-5")
                    .input-addons__item.p-none
                      button.btn.btn--link
                        +faIcon('xmark')
                  p.form-text Help message
                  p.form-text.is-error Error message

          +demo-code
            :code
              <div class="input-addons">
                <div class="input-addons__item">
                  <!-- icon -->
                </div>
                <input class="input" type="text">
              </div>
