extends templates/layout

include ./../mixins/icon

//- Options
block prepend opts
  - var page = helpers.getPageIds('components.modals', l_sitemap);
  - var categoryID = page.category;
  - var pageID = page.page;

//- Content
block append content

  +content-section(contents[0])

    +p Modals are taken from Bootstrap - <a href='https://getbootstrap.com/docs/5.2/components/modal' target='_blank'>Documentation here</a>

    +demo
      +demo-example
        button.btn(data-bs-toggle='modal' data-bs-target='#bs-modal-demo' type="button") Default modal

        button.btn(data-bs-toggle='modal' data-bs-target='#bs-modal-demo-large' type="button") Large modal

        button.btn(data-bs-toggle='modal' data-bs-target='#bs-modal-demo-static' type="button") Static backdrop

        .modal.fade#bs-modal-demo
          .modal-dialog
            .modal-content
              .modal-header
                h3.mb-none This is a default BS modal
              .modal-body
                p Modal content
              .modal-footer
                | Modal footer
                button.btn.btn--secondary.mb-none(data-bs-dismiss="modal") Close

        .modal.fade#bs-modal-demo-large
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h3.mb-none This is a large BS modal
              .modal-body
                p Modal content
              .modal-footer
                | Modal footer
                button.btn.btn--secondary.mb-none(data-bs-dismiss="modal") Close

        .modal.fade#bs-modal-demo-static(data-bs-backdrop='static')
          .modal-dialog
            .modal-content
              .modal-header
                h3.mb-none This is a BS modal with static backdrop
              .modal-body
                p Modal content
              .modal-footer
                | Modal footer
                button.btn.btn--secondary.mb-none(data-bs-dismiss="modal") Close
