extends templates/layout

include ./../mixins/icon

//- Options
block prepend opts
  - var page = helpers.getPageIds('components.modals', l_sitemap);
  - var categoryID = page.category;
  - var pageID = page.page;

//- Content
block append content

  +content-section(contents[0])

    +p Modals are taken from Bootstrap - <a href='https://getbootstrap.com/docs/5.2/components/modal' target='_blank'>Documentation here</a>

    +demo
      +demo-example
        button.btn(data-bs-toggle='modal' data-bs-target='#bs-modal-demo' type="button") Default modal

        button.btn(data-bs-toggle='modal' data-bs-target='#bs-modal-demo-large' type="button") Large modal

        button.btn(data-bs-toggle='modal' data-bs-target='#bs-modal-demo-static' type="button") Static backdrop

        .modal.fade#bs-modal-demo
          .modal-dialog
            .modal-content
              .modal-header
                h3.mb-none This is a default BS modal
              .modal-body
                p Modal content
              .modal-footer
                | Modal footer
                button.btn.btn--secondary.mb-none(data-bs-dismiss="modal") Close

        .modal.fade#bs-modal-demo-large
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h3.mb-none This is a large BS modal
              .modal-body
                p Modal content
              .modal-footer
                | Modal footer
                button.btn.btn--secondary.mb-none(data-bs-dismiss="modal") Close

        .modal.fade#bs-modal-demo-static(data-bs-backdrop='static')
          .modal-dialog
            .modal-content
              .modal-header
                h3.mb-none This is a BS modal with static backdrop
              .modal-body
                p Modal content
              .modal-footer
                | Modal footer
                button.btn.btn--secondary.mb-none(data-bs-dismiss="modal") Close

    +content-sub-section('Dark Mode')

      .l-wrap-main(style='background-color: var(--ms-surface-primary); color: var(--ms-text-primary); padding: 2rem; border-radius: 8px;' data-theme='dark')

        +demo&attributes({['data-theme']: 'dark'})
          +demo-example
            button.btn(data-bs-toggle='modal' data-bs-target='#bs-modal-demo-dark' type="button") Modal in Dark Mode

            .modal.fade#bs-modal-demo-dark
              .modal-dialog
                .modal-content
                  .modal-header
                    h3.modal-title.mb-none Modal Header
                    button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                  .modal-body
                    p This is the modal content in dark mode. The background, text, and borders automatically adapt to the dark theme.
                  .modal-footer
                    button.btn.btn--secondary(type="button" data-bs-dismiss="modal") Close
                    button.btn.btn--primary(type="button") Save changes

          +demo-code
            :code
              <div class="modal fade" id="bs-modal-demo-dark">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title">Modal Header</h3>
                      <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                      <p>Modal content in dark mode...</p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn--secondary" type="button" data-bs-dismiss="modal">Close</button>
                      <button class="btn btn--primary" type="button">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
