extends templates/layout

include ./../mixins/icon

//- Options
block prepend opts
  - var page = helpers.getPageIds('modules.section-title', l_sitemap);
  - var categoryID = page.category;
  - var pageID = page.page;

//- Content
block prepend content

  +main-info(['app/styles/pages/_section-title.scss'], contents)

    +p-big Documentation for cms section titles.

  //- end: main info

//- Content
block append content

  +content-section(contents[0])
    +content-sub-section('Section title - static logo')

      +demo
        +demo-example

          section(style="background-color: #274c4b;")
            .wrapper-main.section-title-wrapper(style="background-image: url('../images/content/campaign/textbooks/header-bg.jpg');")
              .section-title
                .section-title__item.section-title__item--static(style="background: #fff")
                  img(src=`${assetsPrefix}images/content/logo-black.svg`, alt="Martinus", style="height: 28px;")
                .section-title__item
                  | Lorem ipsum
                .section-title__item
                  | Lorem ipsum dolor sit amet

        +demo-code
          :code
            <section style="background-color: #274c4b;">
              <div class="wrapper-main section-title-wrapper" style="background-image: url('../images/content/campaign/textbooks/header-bg.jpg');">
                <div class="section-title">
                  <div class="section-title__item section-title__item--static" style="background: #fff;"><img src="../images/content/logo-black.svg" alt="Martinus" style="height: 28px;"></div>
                  <div class="section-title__item">Lorem ipsum</div>
                  <div class="section-title__item">Lorem ipsum dolor sit amet</div>
                </div>
              </div>
            </section>

    +content-sub-section('Section title - dynamic type')

      +demo
        +demo-example

          section(style="background-color: #009dd0;")
            .wrapper-main.section-title-wrapper
              .section-title
                .section-title__item
                  | Lorem ipsum dolor sit amet
                .section-title__item
                  | Lorem ipsum
                .section-title__item
                  | Lorem ipsum dolor sit amet

        +demo-code
          :code
            <section style="background-color: #009dd0;">
              <div class="wrapper-main section-title-wrapper">
                <div class="section-title">
                  <div class="section-title__item">Lorem ipsum dolor sit amet</div>
                  <div class="section-title__item">Lorem ipsum</div>
                  <div class="section-title__item">Lorem ipsum dolor sit amet</div>
                </div>
              </div>
            </section>

    for theme in ['primary', 'blue', 'green', 'yellow', 'orange', 'brown', 'violet']

      +content-sub-section('Section title - ' + theme)

        +demo
          +demo-example

            section
              .wrapper-main.section-title-wrapper.section-title-background(style="background-image: url('../images/content/campaign/xmas2017/bg-cz.jpg');")
                .section-title(class=`section-title--${theme}`)
                  .section-title__item
                    | Lorem ipsum dolor sit amet
                  .section-title__item
                    | Lorem ipsum
                  .section-title__item
                    | Lorem ipsum dolor sit amet

          +demo-code
            :code
              <section>
                <div class="wrapper-main section-title-wrapper section-title-background" style="background-image: url('../images/content/campaign/xmas2017/bg-cz.jpg')">
                  <div class="section-title section-title--{theme-name}">
                    <div class="section-title__item">Lorem ipsum dolor sit amet</div>
                    <div class="section-title__item">Lorem ipsum</div>
                    <div class="section-title__item">Lorem ipsum dolor sit amet</div>
                  </div>
                </div>
              </section>

    +content-sub-section('Section title - full screen photo')

      +demo
        +demo-example

          section(style="background: url('../images/content/campaign/xmas2017/bg-cz.jpg') no-repeat center center; background-size: cover;")
            .wrapper-main.section-title-wrapper
              .section-title
                .section-title__item
                  | Lorem ipsum dolor sit amet
                .section-title__item
                  | Lorem ipsum
                .section-title__item
                  | Lorem ipsum dolor sit amet

        +demo-code
          :code
            <section style="background: url('../images/content/campaign/xmas2017/bg-cz.jpg') no-repeat center center; background-size: cover;">
              <div class="wrapper-main section-title-wrapper">
                <div class="section-title">
                  <div class="section-title__item">Lorem ipsum dolor sit amet</div>
                  <div class="section-title__item">Lorem ipsum</div>
                  <div class="section-title__item">Lorem ipsum dolor sit amet</div>
                </div>
              </div>
            </section>
