extends templates/layout

//- Options
block prepend opts
  - var page = helpers.getPageIds('components.tables', l_sitemap);
  - var categoryID = page.category;
  - var pageID = page.page;

//- Content
block prepend content

  +main-info(['app/styles/modules/_tables.scss'], contents)

    +p-big Documentation for tables and table components.

  //- end: main info

//- Content
block append content

  //- INPUT
  +content-section(contents[0], true)

    +p Basic table can be created by using class <code class='l-code-inline'>.table</code> on standard HTML table.

    +demo
      +demo-example
        table.table
          thead
            tr
              th No.
              th Lorem
              th Ipsum
              th Dolor
          tbody
            tr
              td 1
              td Et fugiat
              td Voluptate dolore
              td 979
            tr
              td 2
              td Quis deserunt
              td Aliqua sint laboris ut
              td 814
            tr
              td 3
              td Voluptate dolore
              td Aliqua sint laboris ut
              td 436
      +demo-code
        :code
          <table class="table">
            ...
          </table>
    //- end: demo

    +content-sub-section('Simple')

      +p To create simplier version of table add additional class <code class='l-code-inline'>.table--simple</code>.

      +demo
        +demo-example
          table.table.table--simple
            thead
              tr
                th No.
                th Lorem
                th Ipsum
                th Dolor
            tbody
              tr
                td 1
                td Et fugiat
                td Voluptate dolore
                td 979
              tr
                td 2
                td Quis deserunt
                td Aliqua sint laboris ut
                td 814
              tr
                td 3
                td Voluptate dolore
                td Aliqua sint laboris ut
                td 436
        +demo-code
          :code
            <table class="table table--simple">
              ...
            </table>
      //- end: demo

    +content-sub-section('Striped')

      +p To create striped version of table simple ad additional class <code class='l-code-inline'>.table--striped</code>.

      +demo
        +demo-example
          table.table.table--striped
            thead
              tr
                th No.
                th Lorem
                th Ipsum
                th Dolor
            tbody
              tr
                td 1
                td Et fugiat
                td Voluptate dolore
                td 979
              tr
                td 2
                td Quis deserunt
                td Aliqua sint laboris ut
                td 814
              tr
                td 3
                td Voluptate dolore
                td Aliqua sint laboris ut
                td 436
        +demo-code
          :code
            <table class="table table--striped">
              ...
            </table>
      //- end: demo


    +content-sub-section('Clean')

      +p To create clean no bordered version of table simple ad additional class <code class='l-code-inline'>.table--clean</code>.

      +demo
        +demo-example
          table.table.table--clean
            tbody
              tr
                td 1
                td Et fugiat
                td Voluptate dolore
                td 979
              tr
                td 2
                td Quis deserunt
                td Aliqua sint laboris ut
                td 814
              tr
                td 3
                td Voluptate dolore
                td Aliqua sint laboris ut
                td 436
        +demo-code
          :code
            <table class="table table--clean">
              ...
            </table>
      //- end: demo

    +content-sub-section('Adaptive Table')
      +p To create adaptive table add additional class <code class='l-code-inline'>.table--adaptive</code>. Adaptive table will be displayed as block on mobile devices. Use <code class='l-code-inline'>data-label</code> attribute on td to define label for each column for mobile devices.

      +demo
        +demo-example
          table.table.table--adaptive.table--clean
            thead
              tr
                th First column
                th Second column
                th Third column
                th Fourth column
            tbody
              tr
                td(data-label="First column") 1
                td(data-label="Second column") Et fugiat
                td(data-label="Third column") Voluptate dolore
                td(data-label="Fourth column") 979
              tr
                td(data-label="First column") 2
                td(data-label="Second column") Quis deserunt
                td(data-label="Third column") Aliqua sint laboris ut
                td(data-label="Fourth column") 814

        +demo-code
          :code
            <table class="table table--adaptive table--clean">
              <tr>
                <th>First column</th>
                <th>Second column</th>
                <th>Third column</th>
                <th>Fourth column</th>
              </tr>
              <tbody>
                <tr>
                  <td data-label="First column">1</td>
                  <td data-label="Second column">Et fugiat</td>
                  <td data-label="Third column">Voluptate dolore</td>
                  <td data-label="Fourth column">979</td>
                </tr>
                <tr>
                  <td data-label="First column">2</td>
                  <td data-label="Second column">Quis deserunt</td>
                  <td data-label="Third column">Aliqua sint laboris ut</td>
                  <td data-label="Fourth column">814</td>
                </tr>
              </tbody>
            </table>
    //- end: section

    +content-sub-section('Dark Mode')

      .l-wrap-main(style='background-color: var(--ms-surface-primary); color: var(--ms-text-primary); padding: 2rem; border-radius: 8px;' data-theme='dark')

        +content-sub-section('Basic Table in Dark Mode')

          +demo&attributes({['data-theme']: 'dark'})
            +demo-example
              table.table
                thead
                  tr
                    th No.
                    th Lorem
                    th Ipsum
                    th Dolor
                tbody
                  tr
                    td 1
                    td Et fugiat
                    td Voluptate dolore
                    td 979
                  tr
                    td 2
                    td Quis deserunt
                    td Aliqua sint laboris ut
                    td 814
                  tr
                    td 3
                    td Voluptate dolore
                    td Aliqua sint laboris ut
                    td 436

            +demo-code
              :code
                <table class="table">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Lorem</th>
                      <th>Ipsum</th>
                      <th>Dolor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Et fugiat</td>
                      <td>Voluptate dolore</td>
                      <td>979</td>
                    </tr>
                  </tbody>
                </table>

        +content-sub-section('Striped Table in Dark Mode')

          +demo&attributes({['data-theme']: 'dark'})
            +demo-example
              table.table.table--striped
                thead
                  tr
                    th No.
                    th Lorem
                    th Ipsum
                    th Dolor
                tbody
                  tr
                    td 1
                    td Et fugiat
                    td Voluptate dolore
                    td 979
                  tr
                    td 2
                    td Quis deserunt
                    td Aliqua sint laboris ut
                    td 814
                  tr
                    td 3
                    td Voluptate dolore
                    td Aliqua sint laboris ut
                    td 436

            +demo-code
              :code
                <table class="table table--striped">
                  ...
                </table>

        +content-sub-section('Condensed Table in Dark Mode')

          +demo&attributes({['data-theme']: 'dark'})
            +demo-example
              table.table.table--condensed
                thead
                  tr
                    th No.
                    th Lorem
                    th Ipsum
                    th Dolor
                tbody
                  tr
                    td 1
                    td Et fugiat
                    td Voluptate dolore
                    td 979
                  tr
                    td 2
                    td Quis deserunt
                    td Aliqua sint laboris ut
                    td 814

            +demo-code
              :code
                <table class="table table--condensed">
                  ...
                </table>

        +content-sub-section('Clean Table in Dark Mode')

          +demo&attributes({['data-theme']: 'dark'})
            +demo-example
              table.table.table--clean
                thead
                  tr
                    th No.
                    th Lorem
                    th Ipsum
                    th Dolor
                tbody
                  tr
                    td 1
                    td Et fugiat
                    td Voluptate dolore
                    td 979
                  tr
                    td 2
                    td Quis deserunt
                    td Aliqua sint laboris ut
                    td 814

            +demo-code
              :code
                <table class="table table--clean">
                  ...
                </table>

        +content-sub-section('Adaptive Table in Dark Mode')

          +demo&attributes({['data-theme']: 'dark'})
            +demo-example
              table.table.table--adaptive.table--clean
                thead
                  tr
                    th First column
                    th Second column
                    th Third column
                    th Fourth column
                tbody
                  tr
                    td(data-label="First column") 1
                    td(data-label="Second column") Et fugiat
                    td(data-label="Third column") Voluptate dolore
                    td(data-label="Fourth column") 979
                  tr
                    td(data-label="First column") 2
                    td(data-label="Second column") Quis deserunt
                    td(data-label="Third column") Aliqua sint laboris ut
                    td(data-label="Fourth column") 814

            +demo-code
              :code
                <table class="table table--adaptive table--clean">
                  ...
                </table>
