extends templates/layout

//- Options
block prepend opts
  - var page = helpers.getPageIds('foundations.typography', l_sitemap);
  - var categoryID = page.category;
  - var pageID = page.page;

//- Content
block prepend content

  +main-info(['app/styles/base/_typography.scss', 'app/styles/tools/_utilities.scss'], contents)

    +p-big Documentation of headings, texts, list and all elements related to typography, including utility classes for text.

  //- end: main info

//- Content
block append content

  //- HEADINGS
  +content-section(contents[0])

    +p There are four main headlines: h1-h5.

    +note
      +p In case that html tag mismatch style of headline, you can use classes <code class='l-code-inline'>.h1</code> - <code class='l-code-inline'>.h5</code>.

    +demo
      +demo-example
        h1 Nadpis knihy 42 /49
        h2 Nadpis sekcie 25 /31
        h3 Podnadpis knihy 18 / 24
        h4 Nadpis knihy v zozname 18/ 24 SemiBold
        h5 Material design nadpis 12 / 20

        hr

        h1 Základy rybolovu pro kluky a holky
        h3 Praktický návod ako stretnúť, spoznať a získať ženu svojich snov

      +demo-code
        :code
          <h1>Headline 1...</h1>
          <h2>Headline 2...</h2>
          <h3>Headline 3...</h3>
          <h4>Headline 4...</h4>
          <h5>Headline 5...</h5>

    //- end: demo
  //- end: section

  //- TEXT
  +content-section(contents[1])

    +p There are styles for default text, hero-text, description text and small text.

    +demo
      +demo-example
        p <strong>Body text:</strong> Lorem ipsum <a class='link'>Ullamco voluptate</a> veniam consectetur mollit adipisicing labore cupidatat ad in dolore   consectetur culpa sit Duis cupidatat Duis laboris <a class='link'>voluptate</a> est nulla  enim laboris sit sint deserunt ullamco in fugiat dolor ullamco esse id ut <em>aliqua labore</em> pariatur lcommodo consectetur reprehenderit minim <strong>consectetur incididunt</strong> adipisicing deserunt pariatur non eiusmod velit ut quis aliquip qui occaecat in ex in adipisicing sunt.

        p Lorem ipsum dolor sit amet, <span class="text-italic">consectetur adipisicing elit</span>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        p.text-medium <strong>Medium text:</strong> Lorem ipsum Dolore veniam in ex ut culpa sunt incididunt aliquip et eu consectetur culpa quis elit anim magna enim dolor dolor officia occaecat sed tempor irure fugiat ullamco et laboris reprehenderit amet tempor sit nulla ut proident ex exercitation veniam.

        p.text-small <strong>Small text:</strong> Lorem ipsum Dolore veniam in ex ut culpa sunt incididunt aliquip et eu consectetur culpa quis elit anim magna enim dolor dolor officia occaecat sed tempor irure fugiat ullamco et laboris reprehenderit amet tempor sit nulla ut proident ex exercitation veniam.

        hr

      +demo-code
        :code
          <p>
            <strong>Body text:</strong> Lorem ipsum <a class="link">Ullamco voluptate</a> ...
            <em>aliqua labore</em> pariatur ...
          </p>
          <p class="text-desc">
            <strong>Description text:</strong> Lorem ipsum ...
          </p>
          <p class="text-small">
            <strong>Small text:</strong> Lorem ipsum ...
          </p>

          <hr />
    //- end: demo
  //- end: section

  //- LISTS
  +content-section(contents[2])

    +p There styles for unordered, ordered and description lists and their inline variations.

    +content-sub-section('Unordered list')

      +demo
        +demo-example
          ul.list--default
            li Est dolor incididunt eiusmod.
            li Ad dolor ea aliquip officia.
              ul
                li Est dolor incididunt eiusmod.
                li Ad dolor ea aliquip officia.
            li Aliqua anim esse eu ex.
            li.is-active Est sit enim est.
            li Labore deserunt elit dolor commodo mollit.

        +demo-code
          :code
            <ul class="list--default">
              <li>Est dolor incididunt eiusmod.</li>
              <li>Ad dolor ea aliquip officia.
                <ul>
                  <li>...</li>
                </ul>
              </li>
              <li class="is-active">...</li>
            </ul>
      //- end: demo

    +content-sub-section('Ordered list')

      +demo
        +demo-example
          ol.list--default
            li Est dolor incididunt eiusmod.
            li Ad dolor ea aliquip officia.
              ol
                li Est dolor incididunt eiusmod.
                li Ad dolor ea aliquip officia.
            li Aliqua anim esse eu ex.
            li Est sit enim est.
            li Labore deserunt elit dolor commodo mollit.

        +demo-code
          :code
            <ol class="list--default">
              <li>Est dolor incididunt eiusmod.</li>
              <li>Ad dolor ea aliquip officia.
                <ol>
                  <li>...</li>
                </ol>
              </li>
              <li>...</li>
            </ol>
      //- end: demo

    +content-sub-section('Custom lists')

      +demo
        +demo-example
          ul.list--no-offset
            li
              strong List no offset
            li Ad dolor
            li Aliqua anim
            li Est sit

          hr

          ul.list--expanded
            li
              strong List expanded
            li Ad dolor
            li Aliqua anim
            li Est sit

          hr
          ul.list--unstyled
            li
              strong List unstyled
            li Ad dolor
            li Aliqua anim
            li Est sit
        +demo-code
          :code
            <!-- list no offset -->
            <ul class="list--no-offset">
              <li><strong>List no offset</strong></li>
              <li>Ad dolor</li>
              <li>Aliqua anim</li>
              <li>Est sit</li>
            </ul>

            <!-- list expanded -->
            <ul class="list--expanded">
              <li><strong>List expanded</strong></li>
              <li>Ad dolor</li>
              <li>Aliqua anim</li>
              <li>Est sit</li>
            </ul>

            <!-- list unstyled -->
            <ul class="list--unstyled">
              <li><strong>List unstyled</strong></li>
              <li>Ad dolor</li>
              <li>Aliqua anim</li>
              <li>Est sit</li>
            </ul>
      //- end: demo

    +content-sub-section('Inline list')

      +demo
        +demo-example
          ul.list-inline
            li <strong>List inline</strong>
            li Ad dolor
            li Aliqua anim
            li Est sit
            li Labore deserunt

          ul.list-inline.list-inline--expanded
            li <strong>List inline expanded</strong>
            li Ad dolor
            li Aliqua anim
            li Est sit
            li Labore deserunt

          ul.list-inline.list-inline--line
            li <strong>List inline line</strong>
            li Ad dolor
            li Aliqua anim
            li Est sit
            li Labore deserunt

          ul.list-inline.list-inline--delimited
            li <strong>List inline delimited</strong>
            li Ad dolor
            li Aliqua anim
            li Est sit
            li Labore deserunt

        +demo-code
          :code
            <ul class="list-inline">
              <li><strong>List inline</strong></li>
              <li>...</li>
            </ul>

            <ul class="list-inline list-inline--expanded">
              <li><strong>List inline expanded</strong></li>
              <li>...</li>
            </ul>

            <ul class="list-inline list-inline--line">
              <li><strong>List inline line</strong></li>
              <li>...r</li>
            </ul>
      //- end: demo

    +content-sub-section('Description list')

      +demo
        +demo-example
          dl
            dt Description list
            dd Do dolor anim sit dolore ex.
            dt Veniam ut amet
            dd Non dolore in sed.
            dt Eiusmod aute
            dd Eu sed sint irure.
          hr.l-hr
          dl.dl-inline
            dt Description list inline
            dd Do dolor anim sit dolore ex.
            dt Veniam ut amet
            dd Non dolore in sed.
            dt Eiusmod aute
            dd Eu sed sint irure.

        +demo-code
          :code
            <dl>
              <dt>Description list</dt>
              <dd>...</dd>
            </dl>
            <dl class="dl-inline">
              <dt>Description list inline</dt>
              <dd>...</dd>
            </dl>
      //- end: demo
  //- end: section

  //- UTILITIES
  +content-section(contents[3], true)

    +p Text utilities are covered in <a href="utilities#{assetsPrefix}#typography-utilities">Utilites</a> section.
