.modal-overlay#account-address(data-modal)
  article.modal.modal--medium
    .modal__wrap
      section.modal__content
        .bar
          .bar__item.bar__item--fill
            h2 Upravte adresu
          .bar__item
            button.btn.btn--clean.no-mrg-bottom(data-toggle="#account-address")
              +icon('close').icon--medium.icon--right
        .row
          .col--m-6
            .form-control.form-control--input.mb-small
              .form-label.form-label--required
                label.text-transform-upper(for="checkout_surname")
                  | meno
              input.input(type="text", name="checkout_surname", id="checkout_surname", placeholder="Zadajte meno")

            .form-control.form-control--input.mb-small
              .form-label.form-label--required
                label.text-transform-upper(for="checkout_lastname")
                  | priezvisko
              input.input(type="text", name="checkout_lastname", id="checkout_lastname", placeholder="Zadajte priezvisko")

            .form-control.form-control--input.mb-small
              .form-label.form-label--required
                label.text-transform-upper(for="checkout_address_option1")
                  | adresa
              input.input(type="text", name="checkout_address", id="checkout_address_option1", placeholder="Napr. ulica, číslo...")

            .form-control.form-control--input.mb-small
              input.input(type="text", name="checkout_address", id="checkout_address_option2", placeholder="Napr. poschodie, zvonček...")

            .form-control.form-control--input.mb-small
              .form-label.form-label--required
                label.text-transform-upper(for="checkout_zip")
                  | psč
              input.input(type="text", name="checkout_zip", id="checkout_zip", placeholder="Zadajte PSČ")

            .form-control.form-control--input.mb-small
              .form-label.form-label--required
                label.text-transform-upper(for="checkout_city")
                  | mesto
              input.input(type="text", name="checkout_city", id="checkout_city", placeholder="Zadajte mesto")

            .form-control.form-control--select.mb-small
              .form-label.form-label--required
                label.text-transform-upper
                  | štát
              select.js-select
                  option(selected disabled placeholder) Slovensko
                  option Slovensko

            .form-control.form-control--input.mb-medium
              .form-label.form-label--required
                label.text-transform-upper(for="checkout_tel")
                  | mobil
              .input-addons
                .input-addons__item.no-pad
                  select.js-select.select--ghost
                    option(selected disabled placeholder) +421
                    option +421
                input.input(type="number", name="checkout_tel", id="checkout_tel", placeholder="902 000 000")

          .col--m-6
            .form-control.form-control--input.mb-small
              .form-label
                label.text-transform-upper(for="checkout_company_name")
                  | Názov firmy
              input.input(type="text", name="checkout_company_name", id="checkout_company_name", placeholder="Zadajte názov firmy")

            .form-control.form-control--input.mb-small
              .form-label
                label.text-transform-upper(for="checkout_cid")
                  | IČO
              input.input(type="text", name="checkout_cid", id="checkout_cid", placeholder="Zadajte IČO firmy")

            .form-control.form-control--input.mb-small
              .form-label
                label.text-transform-upper(for="checkout_cid")
                  | DIČ
              input.input(type="text", name="checkout_cid", id="checkout_cid", placeholder="Zadajte DIČ firmy")

            .form-control.form-control--input
              .form-label
                label.text-transform-upper(for="checkout_vat")
                  | IČ DPH
              input.input(type="text", name="checkout_vat", id="checkout_vat", placeholder="Zadajte IČ DPH firmy")

        .text-right
          button.btn.btn--ghost.no-mrg-bottom(data-toggle="#account-address") Zrušiť
          button.btn.no-mrg-bottom(data-toggle="#account-address") Uložiť adresu
