include ./../mixins/icon

article.card.card--well.text-center
  .card__content
    .h2 Kúpite výhodne spolu
  .card__content
    .d-flex.align-items-end
      .thumbnail.thumbnail--book.thumbnail--large.inline-block.mr-medium
        .thumbnail__img-wrap
          img.img.img--fluid(src=`${assetsPrefix}images/content/books/sample-5.jpg`, alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
      .thumbnail.thumbnail--book.thumbnail--large
        .thumbnail__img-wrap
          img.img.img--fluid(src=`${assetsPrefix}images/content/books/sample-8.jpg`, alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")

  .card__content
    .row
      .col--6.col--m-12.text-right.text-center-m
        .h2.text-bold.mb-tiny 12,99 €
      .col--6.col--m-12.text-left.text-center-m
        .badges.badges--inline.justify-content-center.mb-none
          .badge.badge--primary Ušetríte 3,50 €

  .card__content
    .btn-layout--vertical
      button.btn.btn--primary.btn--large.mb-small
        +icon('cart').icon--left.icon--medium
        | Kúpiť spolu
