include ./../mixins/faIcon

.carousel-banner
  -
    var swiperConfig = {
      slidesPerView: 'auto',
      slidesPerGroup: 1,
      spaceBetween: 20,
      centeredSlides: true,
      loop: true,
      slideToClickedSlide: true,
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel.carousel--fade-inactive.carousel--disable-inactive
    .swiper(data-swiper-options=swiperConfig)
      .swiper-wrapper
        each item, i in Array(3)
          .swiper-slide.carousel__banner
            a(href="/detail-knihy.html").carousel__link
              img(src=`${assetsPrefix}images/content/banners/main.jpg`)

      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +faIcon('arrow-left').fa-2x
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +faIcon('arrow-right').fa-2x
