include ./../mixins/addTo
include ./../mixins/booksCarouselRecommended
include ./../mixins/pagination
include ./../mixins/icon

section.section
  .wrapper-main
    .row
      .col--12
        if description
          p.mb-large Vydavateľstvo Ikar je najväčší vydavateľský dom na Slovensku s produkciou cca 230 titulov ročne. Vydávame široké spektrum kníh pre všetky vekové kategórie od domácich aj zahraničných autorov. Medzi autormi, ktorých diela vydávame patria aj svetoví velikáni William Shakespeare, Gabriel García Márquez, či Fiodor Michajlovič Dostojevskij, ale aj autori slovenskej klasiky - Dobroslav Chrobák, Margita Figuli, František Švantner a ďalší. V našom vydaveteľskom dome našli svoje trvalé miesto viacerí úspešní súčasní slovenskí autori – Táňa Keleová-Vasilková, Andrea Coddington, Jozef Banáš, Jozef Karika...
        if carousel
          h2.mb-large Najobľúbenejšie tituly a kolekcie
          +booksCarouselRecommended()
        - for (var i = 0; i<8; i++)
          if (i===1)
            - var collection = true;
          else
            - var collection = false;
          .product-item.product-item--border-bottom.bg-default
            .row
              .col--m-fill.product-item__content
                .row.mb-medium
                  .col--s-shrink.col--3.pr-none
                    +product
                      +productCover({
                        href: 'detail-knihy.html',
                        badge: categoryListBadge ? i+1 : false,
                        cover: 'images/content/books/sample-15.jpg',
                        collection: collection,
                      })
                      if categoryListBadge
                        p.text-size-small
                          if (i % 3 === 0)
                            +icon('arrow-up-right').text-color-success.icon--small.text-vat
                          if (i % 3 === 1)
                            +icon('arrow-down-right').text-color-error.icon--small.text-vat
                          if (i % 3 === 2)
                            +icon('arrow-right').text-color-grey.icon--small.text-vat
                          | #{' '}
                          span.text-semibold 120
                          |  dní#{' '}
                          span.text-color-grey.show-m v TOP 100

                  .col--s-fill.col--9
                    .mb-m-small
                      .badge.badge--primary.mb-tiny -20%
                      h2.h3.mb-tiny
                        a.link.link--product(href="detail-knihy.html") Posledná šanca na končiace e-knihy!
                          //- span.text-color-grey.ml-small.text-normal Podnapdis na viac slov alebo aj riadkov
                      .text-color-grey.mb-small.text-semibold.text-medium platí do 30.9

                    div(data-collapse="60")
                      p.text-small.mb-none.show-s Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy dozvíte, jak na to, aby dobrodružství jménem rybolov vám od začátku dělalo opravdovou radost. Vysvětlíme vám, jaké vybavení je nezbytné, jaké u nás žijí ryby a jak je lze ulovit. K tomu slouží také vhodné místo k lovu a správná nástraha. Po takové přípravě docela určitě brzy chytíte svou první rybu - nebo mnohem víc ryb než dřív.
                    .mb-medium.show-s
                      a(href="detail-knihy.html").link.text-small Zobraziť tituly
                        +icon('arrow-right', 'icon--small')

                    .bar.bar--tiny.mb-none.hide-s
                      .bar__item
                        .badge.badge--primary -20%
                      .bar__item.bar__item--fill
                        .text-medium.text-semibold.ml-small 201,99 €
                      .bar__item
                        button.btn.btn--clean.m-none
                          +icon('heart').icon--medium

        +pagination.align-items-center.mb-large
