include ./../mixins/productHorizontal
include ./../mixins/product
include ./../mixins/icon

.modal-overlay#checkout-notice(data-modal)
  article.modal.modal--full
    .row.mx-none.modal__wrap
      section.modal__content.col--l-8.col--m-6.show-m.bg-secondary

        .bar
          .bar__item.bar__item--fill.text-left
            a.link(href="#").text-size-medium
              +icon('arrow-left', 'icon--medium')
              span.ml-small Chcem pokračovať v nákupe

        h5 Posledné z vášho wishlistu
        .row
          .col--l-6
            +productHorizontal({
              truncnateTitle: true,
              showCartButton: true,
              titleClass: 'text-size-regular',
              breakBeforePrice: false
            }).mb-medium
          .col--l-6
            +productHorizontal({
              truncnateTitle: true,
              showCartButton: true,
              titleClass: 'text-size-regular',
              breakBeforePrice: false
            }).mb-medium

        h5 Zákazníci si kúpili aj...
        .row
          .col--l-6
            +productHorizontal({
              truncnateTitle: true,
              showCartButton: true,
              titleClass: 'text-size-regular',
              breakBeforePrice: false
            }).mb-medium
          .col--l-6
            +productHorizontal({
              truncnateTitle: true,
              showCartButton: true,
              titleClass: 'text-size-regular',
              breakBeforePrice: false
            }).mb-medium
        .row
          .col--l-6
            +productHorizontal({
              truncnateTitle: true,
              showCartButton: true,
              titleClass: 'text-size-regular',
              breakBeforePrice: false
            }).mb-medium
          .col--l-6
            +productHorizontal({
              truncnateTitle: true,
              showCartButton: true,
              titleClass: 'text-size-regular',
              breakBeforePrice: false
            }).mb-medium
        .row.show-l
          .col--l-6
            +productHorizontal({
              truncnateTitle: true,
              showCartButton: true,
              titleClass: 'text-size-regular',
              breakBeforePrice: false
            }).mb-medium
          .col--l-6
            +productHorizontal({
              truncnateTitle: true,
              showCartButton: true,
              titleClass: 'text-size-regular',
              breakBeforePrice: false
            }).mb-medium

      section.modal__content.col--l-4.col--m-6.p-none
        .bar.bar--vertical
          .bar__item.bar__item--fill.m-none

            article.card.card--success.mb-small.mb-m-medium
              .card__content
                .d-flex.align-items-center.justify-content-between.mb-tiny.mb-m-small
                  h3.text-color-success.text-semibold.mb-none Do košíka ste práve pridali:
                  button.btn.btn--clean.mb-none(data-toggle="#checkout-notice")
                    +icon('close').icon--medium.icon--right

                .mb-small.mb-m-none
                +productHorizontal({
                  trash: true,
                  rating: false,
                  titleClass: 'text-color-grey-dark',
                  coverSize: 'medium-large',
                  trash: false,
                }).mb-none.show-m
                +productHorizontal({
                  trash: true,
                  rating: false,
                  titleClass: 'text-color-grey-dark text-medium',
                  coverSize: 'medium',
                  trash: false,
                }).mb-none.hide-m
            .text-center
              a.link(href="#").text-size-medium.mr-small Zobraziť všetky (+3)#{' '}
              button.btn.btn--primary.btn--small.mb-none objednať

            .card.hide
              .card__content.pb-none
                h5 Zákazníci si kúpili aj...
                +productHorizontal({
                  trash: true,
                  rating: false,
                  titleClass: 'text-medium',
                  coverSize: 'medium',
                  trash: false,
                  showCartButton: true,
                }).mb-none
                +productHorizontal({
                  trash: true,
                  rating: false,
                  titleClass: 'text-medium',
                  coverSize: 'medium',
                  trash: false,
                  showCartButton: true,
                }).mb-none.hide-m
                a.link(href="#").text-size-medium.mr-small Zobraziť viac odporúčaní

            .card.hide
              .card__content.pb-none
                h5 Zákazníci si kúpili aj...
                .bar.bar--small.mb-small.align-items-end
                  each item, index in books
                    if index < 3
                      .bar__item.bar__item--fill
                        +product().mb-small
                          +productCover({cover: item.cover, size: 'medium', href: '#'}).d-inline-block
                          +productTitle({title: item.title, author: item.author, href: '#', small: true}).mb-none
                          .bar.mb-none.justify-content-center
                            .bar__item
                              .text-medium.text-semibold 149,50&nbsp;€
                            .bar__item
                              a.btn.btn--small.btn--clean.btn--equal.text-color-primary(href="#")
                                +icon('cart').icon--medium
                a.link(href="#").text-size-medium.mr-small Zobraziť viac odporúčaní

            .card.hide-m
              .card__content.pb-none
                h5 Zákazníci si kúpili aj...
                -
                  var swiperReccoConfig = {
                    slidesPerView: 3,
                    slidesPerGroup: 1,
                    spaceBetween: 20,
                    loop: true,
                  };
                  swiperReccoConfig = JSON.stringify(swiperReccoConfig);
                .carousel.carousel--fade-outside.carousel--fade-outside-white
                  .swiper(data-swiper-options=swiperReccoConfig)
                    .swiper-wrapper
                      each item, index in books
                        .swiper-slide
                          +product().mb-small
                            +productCover({cover: item.cover, size: 'medium', href: '#'}).d-inline-block
                            +productTitle({title: item.title, author: item.author, href: '#', small: true}).mb-none
                            .bar.mb-none.justify-content-center.bar--no-wrap
                              .bar__item.mr-small
                                .text-medium.text-semibold 19,50&nbsp;€
                              .bar__item.mr-none
                                a.btn.btn--small.btn--clean.text-color-primary(href="#").p-none
                                  +icon('cart').icon--medium

          .bar__item
            article.card
              .card__content
                p.text-medium.mb-small.mb-m-medium Nakúpte ešte za <span class="text-bold">8,23 €</span> a doručenie Slovenskou poštou máte <span class="text-bold">zadarmo</span>.

                .bar.mb-small.mb-m-medium.show-m
                  .bar__item
                    +icon('transit', '', 'Doprava').text-color-blue.icon--medium
                  .bar__item.bar__item--fill
                    .progress-bar
                      .progress-bar__value.progress-bar--round.progress-bar__value--blue(style="width: 80%")
                  .bar__item
                    span.text-size-medium 30 €

                .bar.align-items-end.mb-none
                  .bar__item Spolu
                  .bar__item.bar__item--fill.text-right
                    h1 21,77 €

                .bar.align-items-end.text-color-grey.text-size-medium
                  .bar__item.bar__item--fill.text-right U nás ušetríte 2,00 €

                .btn-layout.btn-layout--horizontal.btn-layout--fill.mb-small
                  a(href="#").btn.btn--ghost Ísť do košíka
                  a(href="#").btn.btn--primary Objednať teraz

                .d-flex.align-items-center.mb-none
                  button.btn.btn--success.btn--medium.mb-none.is-consent-show-m.flex-fill.mr-tiny(data-toggle='#quick-checkout')
                    +icon('fwd').icon--left.icon--medium
                    | Zrýchlený nákup
                  +icon('info').icon--medium.text-color-grey(data-tooltip, title="S tymto butonom nakupite strasne rychlo, ze si ani nevsimnete")
