include ./../mixins/productHorizontal
include ./../mixins/icon

.modal-overlay#checkout-notice(data-modal)
  article.modal.modal--full
    .row.no-mrg-horizontal.modal__wrap
      section.modal__content.col--l-8.col--m-6.show-m.bg-secondary

        .bar
          .bar__item.bar__item--fill.text-left
            a.link(href="#").text-size-medium
              +icon('arrow-left', 'icon--medium')
              span.text-space-left Chcem pokračovať v nákupe

        h5 Posledné z vášho wishlistu
        .row
          .col--l-6
            +productHorizontal({ truncnateTitle: true, showCartButton: true, titleClass: 'text-color-grey-dark', breakBeforePrice: false }).mb-medium
          .col--l-6
            +productHorizontal({ truncnateTitle: true, showCartButton: true, titleClass: 'text-color-grey-dark', breakBeforePrice: false }).mb-medium

        h5 Zákazníci si kúpili aj...
        .row
          .col--l-6
            +productHorizontal({ truncnateTitle: true, showCartButton: true, titleClass: 'text-color-grey-dark', breakBeforePrice: false }).mb-medium
          .col--l-6
            +productHorizontal({ truncnateTitle: true, showCartButton: true, titleClass: 'text-color-grey-dark', breakBeforePrice: false }).mb-medium
        .row
          .col--l-6
            +productHorizontal({ truncnateTitle: true, showCartButton: true, titleClass: 'text-color-grey-dark', breakBeforePrice: false }).mb-medium
          .col--l-6
            +productHorizontal({ truncnateTitle: true, showCartButton: true, titleClass: 'text-color-grey-dark', breakBeforePrice: false }).mb-medium
        .row.show-l
          .col--l-6
            +productHorizontal({ truncnateTitle: true, showCartButton: true, titleClass: 'text-color-grey-dark', breakBeforePrice: false }).mb-medium
          .col--l-6
            +productHorizontal({ truncnateTitle: true, showCartButton: true, titleClass: 'text-color-grey-dark', breakBeforePrice: false }).mb-medium

      section.modal__content.col--l-4.col--m-6.no-pad
        .bar.bar--vertical
          .bar__item.bar__item--fill

            article.card.card--success.mb-medium
              .card__content
                .bar.border-bottom-grey
                  .bar__item.bar__item--fill
                    h3.text-color-success.mb-medium.text-semibold.mb-small Do košíka ste práve pridali:
                  .bar__item
                    button.btn.btn--clean.mb-small(data-toggle="#checkout-notice")
                      +icon('close').icon--medium.icon--right
                +productHorizontal({
                  trash: true,
                  rating: false,
                  titleClass: 'text-color-grey-dark',
              }).no-mrg-bottom
            p.text-center
              a.link(href="#").text-size-medium Zobraziť všetky (+3)#{' '}
                +icon('arrow-right')

          .bar__item
            article.card
              .card__content
                p.text-medium Nakúpte ešte za <span class="text-bold">8,23 €</span> a doručenie Slovenskou poštou máte <span class="text-bold">zadarmo</span>.

                .bar.bar--small
                  .bar__item
                    +icon('transit', '', 'Doprava').text-color-blue.icon--medium
                  .bar__item.bar__item--fill
                    .progress-bar
                      .progress-bar__value.progress-bar--round.progress-bar__value--blue(style="width: 80%")
                  .bar__item
                    span.text-size-medium 30 €

                .bar.align-items-bottom
                  .bar__item Spolu
                  .bar__item.bar__item--fill.text-right
                    h1 21,77 €

                .bar.align-items-bottom.text-color-grey.text-size-medium
                  .bar__item Inde by ste zaplatili:
                  .bar__item.bar__item--fill.text-right 21,77 € (ušetríte 2,00 €)

                .btn-layout.btn-layout--horizontal.btn-layout--fill.mb-small
                  a(href="#").btn.btn--ghost Ísť do košíka
                  a(href="#").btn.btn--primary Objednať teraz
