.modal-overlay.active#flag-review(data-modal)
  article.modal
    .modal__wrap
      section.modal__content
        h1.h2 Chcete nahlásiť recenziu?
        p Pozrieme sa na to, či recenzia porušuje pravidlá alebo prezrádza dej.
      footer.modal__footer
        .btn-layout--horizontal.align-items-center
          button.btn.btn--ghost(type="button" data-toggle="#flag-review") Zrušiť
          button.btn(type="button" data-toggle="#flag-review") Nahlásiť