.pagination.btn-layout.btn-layout--horizontal.align-items-middle
  button.btn.btn--ghost.btn--equal.is-active 1
  button.btn.btn--ghost.btn--equal 2
  button.btn.btn--ghost.btn--equal.show-s 3
  div ...
  button.btn.btn--ghost.btn--equal.show-s 20
  button.btn.btn--ghost
    | Ďalšie
    +icon('arrow-right').icon--right.icon--medium