.form-control.form-control--input
  .form-label
    label.text-transform-upper.text-small.text-color-grey Názov recenzie
  input.input(type="text", placeholder="Napíšte názov recenzie")
.form-control.form-control--textarea
  .form-label
    label.text-transform-upper.text-small.text-color-grey Text recenzie
  textarea.input(rows="5", placeholder="Napíšte svoju recenziu. Recenzia musí mať aspoň 150 znakov.")
.form-control.form-control--checkbox
  .checkbox
    input.radiocheck__input(type="checkbox", id="review-spoiler")
    label.radiocheck__control(for="review-spoiler")
    label.radiocheck__label(for="review-spoiler") Môj príspevok prezrádza momenty z deja.
.mb-large
  p.text-medium
    span(data-toggle-text="Recenzia bude uverejnená anonymne. ") Recenzia bude uverejnená pod menom#{' '}
      span.text-semibold Bartolomej.#{' '}
    a.link(href="javascript:void(0)", data-toggle="self, #anonymous, previous", data-toggle-text="Uverejniť pod menom Bartolomej.") Uverejniť anonymne.
  .row#anonymous.hide(data-toggle-class="hide")
    .col--m-6
      .form-control.form-control--input
        .form-label
          label.text-transform-upper.text-small.text-color-grey.form-label--required Meno
        input.input(type="text", placeholder="Vaše meno")
    .col--m-6
      .form-control.form-control--input
        .form-label
          label.text-transform-upper.text-small.text-color-grey.form-label--required E-mail
        input.input(type="email", placeholder="Váš email")
.text-center
  button.btn Odoslať recenziu
  .text-small Odoslaním príspevku súhlasíte s našimi#{' '}
    a.link(href="#") podmienkami používania služby recenzií
    | .
