section.section.section--white#seen-items-delete.hide(data-toggle-class="hide")
  .wrapper-main
    .bar.mb-large
      .bar__item
        h2.no-mrg-bottom Pozreli ste si:
      .bar__break.hide-l
      .bar__item.bar__item--fill.overflow-hidden
        .bar.bar--vertical.text-center.no-mrg
          .bar__item.no-mrg.h4
            +icon('check-circle').icon--medium.text-space-right
            | Históriu sme zmazali
          .bar__item
            | Pri ďalšom prezeraní kníh sa bude história opäť zobrazovať.
      .bar__break.hide-m
      .bar__item
        .btn-layout--vertical.no-mrg
          button.btn.btn--clean
            +icon('eye-off').icon--left.icon--medium
            | Nezobrazovať vôbec
