include ./../mixins/icon

.modal-overlay#share-list-modal(data-modal)
  article.modal.modal--medium
    .modal__wrap
      section.modal__content
        .bar
          .bar__item.bar__item--fill
            h2 Nastavenie zoznamu
          .bar__item
            button.btn.btn--clean.mb-none(data-toggle="#share-list-modal")
              +icon('close').icon--medium.icon--right

        .bar
          .bar__item
            .form-control.form-control--radio
              .radio
                input.radiocheck__input#wishlist-private(type="radio", checked, name="wishlist-setting", data-radiocheck-toggle="#wishlist-share")
                label.radiocheck__control(for="wishlist-private")
                label.radiocheck__label(for="wishlist-private") Súkromný
          .bar__item
            .form-control.form-control--radio
              .radio
                input.radiocheck__input#wishlist-link(type="radio", name="wishlist-setting", data-radiocheck-toggle="#wishlist-share")
                label.radiocheck__control(for="wishlist-link")
                label.radiocheck__label(for="wishlist-link") Dostupný cez odkaz
          .bar__item
            .form-control.form-control--radio
              .radio
                input.radiocheck__input#wishlist-public(type="radio", name="wishlist-setting")
                label.radiocheck__control(for="wishlist-public")
                label.radiocheck__label(for="wishlist-public") Verejný

        #wishlist-share.hide
          .row
            .col
              .form-control.form-control--input
                .input-addons
                  input.input(type='text', value="https://www.martinus.sk/")#clipboard
                  .input-addons__item.p-none
                    button.btn.btn--link(data-clipboard, data-clipboard-target="#clipboard") Koprírovať
          .bar
            .bar__item
              b Zdieľať:
            .bar__item.bar__item--fill
              .btn-layout.btn-layout--horizontal
                a.btn.btn--clean.btn--icon-left
                  +icon('fb').icon--medium
                  | Facebook
                a.btn.btn--clean.btn--icon-left
                  +icon('twitter').icon--medium.icon--left
                  | Twitter
            .bar__item.bar__item--shrinkable
              .btn-layout.btn-layout--s-horizontal.btn-layout--vertical.align-items-right
                button.btn(data-toggle="#share-list-modal") Zavrieť
