include ./../mixins/icon

#author-tooltip.hide.card
  .card__content.card__content--condensed
    .bar.mb-small.mb-m-medium
      .bar__item
        span.h3 J. K. Rowling
      .bar__item.bar__item--fill
        .bar.mb-none.align-items-right
          .bar__item.flex.align-items-middle
            +icon('star', 'icon--medium').text-color-yellow
            span.h3.text-bold.text-space-left 4,5
          .bar__item
            button.btn.btn--clean
              +icon('eye', 'icon--medium').icon--left.text-color-grey
              span.show-m sledovať
    .row.align-items-top
      .col--2.col--m-3
        .portrait(style="background-image: url('images/content/avatars/f.jpg');")
      .col--10.col--m-9.no-pad-left
        .badges.mb-small
          .badge.badge--orange.mb-tiny Sci-fi, fantasy, horrory
          .badge.badge--green.mb-tiny Detektívky
          .badge.badge--blue.mb-tiny Young adult
        p.text-left.mb-none Commodo fugiat officia esse ipsum ut ad irure officia mollit in sit Lorem sunt. In veniam Lorem est culpa ad. Voluptate elit et sint sit ullamco consectetur magna excepteur. Occaecat dolore quis nostrud quis cillum enim officia magna. Laborum pariatur occaecat ad ullamco dolor nostrud Lorem adipisicing.
  .card__footer
    button.btn.btn--clean.mb-none
      +icon('collection')
      span.text-space-left Všetky knihy autora
