// ---------------------------------------------
// SHAME CSS
// space for hacks and fixes
// ---------------------------------------------

// ---------------------------------------------
// Fix flex items text wrapping in ie10

.list__item > * {
  flex-shrink: 1;
}

.sticky {
  position: sticky;
  top: map-get($header-height, m);
  z-index: $z-index-sticky;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

.table-swiper {
  padding: _get-rem(88px) 0 _get-rem(176px);
  background-image: url('/images/knihy-roka/table.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom 110px right 0;

  .swiper-container {
    max-width: 630px;
  }
}
