// ---------------------------------------------
// FORMS GLOBALS
// ---------------------------------------------

// -----------------
// form globals

@use 'sass:math';

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type=number] {
  -moz-appearance:textfield; //stylelint-disable-line
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none; //stylelint-disable-line
    margin: 0;
  }
}

// -----------------
// form fieldset

fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  @include clearfix;

  &.bottom-sep {
    margin-bottom: 15px;
    border-bottom: 1px solid #c2c8cd;
  }
}

// -----------------
// form controls

.form-control {
  margin: 0 0 $form-m;

  @each $breakpoint, $w in $grid-breakpoints {
    @include breakpoint($breakpoint) {
      &-#{_get-variant-name($breakpoint, '-')}-inline {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .form-label {
          flex: 0 0 auto;
          label { margin: 0 _get-space('h', small) 0 0; } // stylelint-disable

          + * {
            flex: 1 0;
            &.select--inline {
              flex: 0 0 auto;
            }
          }
        }
      }
    }
  }
}

.form-control > .form-control,
.checkbox > .form-control,
.radio > .form-control {
  width: 100%;
  margin: math.div($form-m, 2) 0 0 _get-rem(30px);
}

.form--block {
  .form-control:not(:last-child),
  hr {
    margin-bottom: $form-control-block-m;
  }
}

[type="search"] {
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;

  /* Now your own custom styles */
  height: 14px;
  width: 14px;
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  /* setup all the background tweaks for our custom icon */
  background-repeat: no-repeat;

  /* icon size */
  background-size: 14px;
  cursor: pointer;
}
