// ---------------------------------------------
// INPUT ADDONS
// ---------------------------------------------

.input-addons {
  display: flex;
  width: 100%;

  &__item {
    display: flex;
    align-items: center;
    flex: 0 0 auto;

    @each $variant, $values in $input-addon {
      &#{_get-variant-name($variant)} {
        @each $prop, $value in $values {
          @if ($prop != 'border-radius') { // stylelint-disable-line
            #{$prop}: #{$value};
          }
        }
      }
    }

    &:first-child,
    &:first-child > .btn,
    &:first-child > .select .choices__inner {
      border-bottom-left-radius: _map-deep-get($input-addon, 'default', 'border-radius');
      border-top-left-radius: _map-deep-get($input-addon, 'default', 'border-radius');
    }

    &:first-child > .btn {
      margin-left: -1px;
    }

    &:last-of-type,
    &:last-of-type > .btn,
    &:last-of-type > .select .choices__inner {
      border-bottom-right-radius: _map-deep-get($input-addon, 'default', 'border-radius');
      border-top-right-radius: _map-deep-get($input-addon, 'default', 'border-radius');
    }

    &:last-of-type > .btn {
      margin-right: -1px;
    }

    &:not(:last-of-type) {
      border-right: 0;
    }

    &--no-border {
      border-width: 0;
    }

    + .input {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .input + & {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .btn {
      margin-bottom: 0;
      border-radius: 0;
    }

    .btn--ghost {
      margin: -1px;
    }

    .select .choices__inner {
      border-radius: 0;
      border-left-width: 0;
      border-right-width: 0;
    }
  }

  // input addon sizes
  @each $size, $props in $input-addon-sizes {
    &#{_get-variant-name($size)} .input-addons__item {
      @include css-map($props);
    }
  }

  .input {
    flex: 0 1 auto;

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    + .input-addons__item { border-left: 0; }
  }
}
