// ---------------------------------------------
// RADIO/CHECKBOX
// ---------------------------------------------

@use 'sass:map';

// include checkboxes from bootstrap
@import './../../../../node_modules/bootstrap/scss/forms/form-check';

.form-check-input {
  &.is-invalid {
    border-color: _color(error, 600);
    --ms-form-check-bg: #{$color-white};

    &:checked {
      background-color: _color(error, 600);
    }

    ~ .form-check-label {
      color: _color(error, 600);
    }
  }
}

