// ---------------------------------------------
// RADIO/CHECKBOX
// ---------------------------------------------

@use 'sass:map';

// include checkboxes from bootstrap
@import './../../../../node_modules/bootstrap/scss/forms/form-check';

.form-check-input {
  &.is-invalid,
  &.is-error {
    border-color: var(--#{$prefix}form-error-border);
    --ms-form-check-bg: var(--#{$prefix}form-bg);

    &:checked {
      background-color: var(--#{$prefix}form-error-border);
    }

    ~ .form-check-label {
      color: var(--#{$prefix}form-error-text);
    }
  }
}

