// ---------------------------------------------
// SELECT
// ---------------------------------------------

@import './../../vendors/Choices/choices';

.select {
  .icon {
    position: relative;
    vertical-align: -0.25em;
  }
}

.select--inline {
  display: inline-flex;

  .choices__inner { padding-right: 30px; }
}

.choices.is-error .choices__inner {
  background-color: $form-error-bgc;
  color: $form-error-c;
  border-color: $form-error-b-c;
}

.choices__heading {
  text-align: left;
  font-weight: $font-weight-semibold;
  padding-left: _get-space('h', 'tiny');
  padding-top: _get-space('v', 'tiny');
  border-top: 1px solid _color(grey, 200);
}
