// ---------------------------------------------
// SELECT
// ---------------------------------------------

@import './../../vendors/Choices/choices';

.select--inline {
  display: inline-flex;

  .choices__inner { padding-right: 30px; }
}

.choices.is-error .choices__inner {
  background-color: $form-error-bgc;
  color: $form-error-c;
  border-color: $form-error-b-c;
}
