// ---------------------------------------------
// TEXTAREA
// ---------------------------------------------

textarea.input {
  @include css-map($textarea, 'default');
  height: auto;
  vertical-align: top;
  resize: none;
} // /textarea
