// ---------------------------------------------
// PAGE CONTAINER
// ---------------------------------------------

#page-container { // stylelint-disable-line
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > main { // stylelint-disable-line
    flex: 1 0 auto;
  }
}
