// ---------------------------------------------
// SECTIONS
// ---------------------------------------------

.section {
  padding-top: _get-space();

  @include breakpoint(m) {
    padding-top: _get-space('large');
  }

  @include clearfix;

  &--overflow {
    overflow: hidden;
  }

  &--toolbar {
    padding-top: _get-space('small');
    background-color: $color-white;

    border-bottom: 1px solid $default-border-color;

    z-index: $z-index-sticky;
  }

  &--small {
    padding-top: _get-space();
  }

  &--breadcrumbs {
    background-color: _color('bg');
    padding: _get-space('tiny') 0;

    @include breakpoint(m) {
      padding: _get-space('small') 0;
    }
  }

  &--l-background {
    background-size: 0;
    background-position: top center;

    @include breakpoint(l) {
      background-size: cover;
    }
  }

  &--books-header {
    overflow: hidden;
    position: relative;
  }
}

.section--m-full {
  @include breakpoint(m, 'down') {
    padding-top: 0;
  }
}

.section-progress {
  padding-top: 0;
  background-color: $color-white;
  border-bottom: 1px solid $default-border-color;
}

@include css-variants('.section', $section);

.collapsed {
  position: relative;
  overflow: hidden;
  max-height: 350px;
  display: inherit;

  &.is-active {
    max-height: none !important;
  }

  &:not(.is-active)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 35px;
    width: 100%;

    background: linear-gradient(to top, rgba(#fff, 1), rgba(#fff, 0));
  }

  &.bg-secondary:not(.is-active)::after {
    background: linear-gradient(to top, rgba($secondary-bg-color, 1), rgba($secondary-bg-color, 0));
  }

  &.bg-teal:not(.is-active)::after {
    background: linear-gradient(to top, rgba($teal-bg-color, 1), rgba($teal-bg-color, 0));
  }

  &.bg-blue:not(.is-active)::after {
    background: linear-gradient(to top, rgba($blue-bg-color, 1), rgba($blue-bg-color, 0));
  }

  &.bg-green:not(.is-active)::after {
    background: linear-gradient(to top, rgba($green-bg-color, 1), rgba($green-bg-color, 0));
  }
}

.section-products {
  margin-left: -1 * _get-space();
  margin-right: -1 * _get-space();
  margin-bottom: 0;
  padding: _get-space('small') 0;

  .carousel__btn {
    &--next { right: -10px; }
    &--prev { left: -10px; }
  }

  .card, .list {
    background: inherit;
  }

  .card__content--products {
    background: inherit;

    margin-left: -1 * _get-space();
    margin-right: -1 * _get-space();
  }

  .swiper {
    padding-right: 2 * _get-space();
  }

  .link {
    color: _color(black);

    &:hover {
      text-decoration: underline;

      small {
        text-decoration: none !important;
      }
    }
  }

  &--dark {
    color: #fff;

    .link {
      color: #fff !important;
    }

    .text-color-grey {
      color: rgba(255, 255, 255, 0.8) !important;
    }
  }

  @include breakpoint(m) {
    margin-bottom: _get-space('medium');
  }

  @include breakpoint(l) {
    margin-left: 0;
    margin-right: 0;
    border-radius: $default-border-radius;
    margin-bottom: _get-rem(30px);

    padding: _get-space('small');

    .swiper {
      padding-right: 0;
      overflow: visible;
    }

    .card__content--products {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &--compact {
    @include breakpoint(l) {
      padding: 0;
    }
  }
}

.section-sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(#fff, 1), rgba(#fff, 0));
  z-index: $z-index-sticky;
}
