include product
include icon
include booksCarouselRecommended

mixin booksCarouselBookOfTheYear(props = {})
  -
    const {
      collections = true,
      ads = true,
      counter = false,
      cartButton = false,
      productInfo = true,
    } = props;

    var swiperConfig = {
      slidesPerView: 'auto',
      slidesPerGroup: 7,
      nextButton: '.carousel__btn--next',
      prevButton: '.carousel__btn--prev',
      breakpoints: {
        1024: {
          slidesPerGroup: 5,
        },
        768: {
          spaceBetween: 20,
          slidesPerGroup: 3,
        },
        640: {
          spaceBetween: 20,
          slidesPerGroup: 2,
        },
        480: {
          spaceBetween: 20,
          slidesPerGroup: 1,
        }
      },
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel&attributes(attributes)
    .swiper-container.swiper-container--fullwidth(data-swiper-options=swiperConfig)
      +booksCarouselSwiperWrapper({counter: counter})(data-equal-columns)
        each id in ['u658361', 'u721103', 'u707887', 'u721773', 'u725927', 'u711363', 'u698619', 'u721777', 'u698929', 'u716559', 'u668745', 'u705403']
          +booksCarouselSwiperSlide({counter: counter})(data-equal-column)
            +productCover({cover: beletria[id].cover})

      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +icon('arrow-left').icon--medium
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +icon('arrow-right').icon--medium
