include product
include icon

mixin booksCarouselRecommended()
  -
    var swiperConfig = {
      slidesPerView: 'auto',
      slidesPerGroup: 7,
      nextButton: '.carousel__btn--next',
      prevButton: '.carousel__btn--prev',
      breakpoints: {
        1024: {
          slidesPerGroup: 5,
        },
        768: {
          spaceBetween: 20,
          slidesPerGroup: 3,
        },
        640: {
          spaceBetween: 20,
          slidesPerGroup: 2,
        },
        480: {
          spaceBetween: 20,
          slidesPerGroup: 1,
        }
      },
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel&attributes(attributes)
    .swiper-container.swpier-container--fullwidth(data-swiper-options=swiperConfig)
      .swiper-wrapper
        each item, i in [...books, ...books, ...books, ...books]
          a.swiper-slide(href=`${assetsPrefix}detail-knihy${htmlPostfix}`).carousel__product-detail
            +product().mb-small.text-left
              +productCover({ cover: item.cover })
              +productTitle({ title: item.title, author: item.author })
              +productMeta({
                discount: item.discount,
                rating: item.rating,
                price: item.price
              })


      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +icon('arrow-left').icon--medium
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +icon('arrow-right').icon--medium
