include product
include faIcon

mixin booksCarouselHorizontal(props = {})
  -
    const {
      duration,
    } = props;
    var swiperConfig = {
      slidesPerView: 'auto',
      slidesPerGroup: 1,
      spaceBetween: 20,
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel.carousel--fade-outside.carousel--fade-outside-white&attributes(attributes)
    .swiper(data-swiper-options=swiperConfig, id='slider-' + Math.random())
      .swiper-wrapper
        each item, i in [...books, ...books, ...books, ...books]
          a.swiper-slide(href=`${assetsPrefix}detail-knihy${htmlPostfix}`).carousel__product-detail
            +product().mb-small.text-left
              +productCover({ cover: item.cover, collection: i === 3 })
              +productTitle({ title: item.title, author: item.author })
              +productMeta({
                discount: item.discount,
                rating: item.rating,
                price: item.price,
                soldOut: item.soldOut,
                upcoming: item.upcoming
              })

      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +faIcon('arrow-left').fa-2x
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +faIcon('arrow-right').fa-2x
