include icon

mixin breadcrumbs(props = {})
  -
    const {
      breadcrumbs = ['Martinus Help Page', 'Všetko o nákupe', 'Poštovné'],
      last = false,
    } = props;

  .breadcrumbs
    a.breadcrumbs__item.text-medium.link(href="#")
      +icon('breadcrumbs', 'icon--small').text-color-grey
    +icon('chevron-right', 'icon--small').text-color-grey
    each breadcrumb, i in breadcrumbs
      a.breadcrumbs__item.text-medium.link(href="#")
        span !{breadcrumb}
      if (i < breadcrumbs.length - 1 || last)
        +icon('chevron-right', 'icon--small').text-color-grey
    if last
      span.breadcrumbs__item.text-medium !{last}
