mixin breadcrumbs(props = {})
  -
    const {
      breadcrumbs = ['Martinus Help Page', 'Všetko o nákupe', 'Poštovné'],
    } = props;

  section.breadcrumbs
    .wrapper-main
      .bar.no-mrg
        .bar__item.no-mrg.bar__item--shrinkable
          a.breadcrumb.text-medium.link(href="#")
            +icon('martinus', 'icon--small').text-color-grey
          +icon('chevron-right', 'icon--small').text-color-grey
          each breadcrumb, i in breadcrumbs
            a.breadcrumb.text-medium.link(href="#")
              span !{breadcrumb}
            if (i < breadcrumbs.length - 1)
              +icon('chevron-right', 'icon--small').text-color-grey
