include faIcon

mixin hpCardHeader(props)
  -
    const {
      header,
      subheader = false,
      moreHref = '#',
    } = props;

  h2.mb-small
    if subheader
      small.w-100.d-block.h5.mb-none.text-color-grey= subheader
    a(href=moreHref).link
      | #{header}
      +faIcon('chevron-right').ml-small.fa-xs
