mixin inlineNav(props = {})
  -
    const {
      items,
      active = 0,
      max = 99
    } = props;

  nav
    ul.list-inline.inline-nav&attributes(attributes)
      each item, index in items
        -
          const title = typeof item === 'string' ? item : item.title;
          const href = typeof item === 'string' ? '#' : (item.href || '#');
        if (index < max)
          li.inline-nav__item.text-size-regular
            a.inline-nav__link(href=href, class= active === index ? 'is-active' : '')= title
