mixin loader(props = {})
  -
    const {
      size = 'medium',
      color,
    } = props;

  .loader(class= size ? `loader--${size}` : '', class= color ? `loader--${color}` : '', aria-hidden="true")
    .loader__page
    .loader__page
    .loader__page
