mixin userMenu(props = {})
  -
    const {
      userName = 'Bartolomej'
    } = props;

  .btn-dropdown.btn-dropdown--no-icon
    a.btn.btn--clean.header__btn(data-toggle-expand data-toggle="self, next")
      .bar.no-mrg
        .bar__item
          +icon('user').icon--medium.text-space-right
        .bar__item.bar__item--fill
          | #{userName}
    .dropdown.dropdown--arrowhead(data-dropdown data-toggle-expand aria-expanded="false")
      a(href="#").dropdown__item Môj MARTINUS
      a(href="#").dropdown__item Knižnica
      a(href="#").dropdown__item Objednávky
      a(href="#").dropdown__item Účet
