include icon

mixin userMenu(props = {})
  -
    const {
      userName = 'Bartolomej'
    } = props;

  .btn-dropdown.btn-dropdown--no-icon.header-user
    button.btn.btn--clean.btn--lowercase.header-btn.header-btn--no-arrow(data-toggle-expand data-toggle="self, next")
      +icon('user').icon--medium.icon--left.header-user__icon
      span.header-user__name #{userName}

    .dropdown.dropdown--arrowhead(data-dropdown data-toggle-expand aria-expanded="false", style="min-width: 150px; max-height: 400px;")
      .dropdown__wrap(style="max-height: 400px;")
        .dropdown__group.bg-secondary
          h5.mb-none Môj MARTINUS
          span.text-medium.text-color-grey.text-semibold Janko Martinusák
        a(href="#").dropdown__item Na stiahnutie
        a(href="#").dropdown__item Moje objednávky
        a(href="#").dropdown__item Môj wishlist
        a(href="#").dropdown__item Moja knižnica
        a(href="#").dropdown__item Môj účet
        a(href="#").dropdown__item
          | Založiť profil
          +icon('plus').text-color-success.icon--medium(style="position: relative; top: -0.15em;")
        a(href="#").dropdown__item Odhlásiť
