include icon

mixin userMenu(props = {})
  -
    const {
      userName = 'Janko'
    } = props;

  .btn-dropdown.btn-dropdown--no-icon.header-user
    button.btn.btn--clean.btn--lowercase.header-btn.header-btn--no-arrow(data-toggle-expand data-toggle="self, next")
      +icon('user').icon--medium.icon--left.header-user__icon
      span.header-user__name #{userName}

    .dropdown.dropdown--arrowhead(data-dropdown data-toggle-expand aria-expanded="false", style="min-width: 150px; max-height: 400px;")
      .dropdown__wrap(style="max-height: 400px;")
        .dropdown__group.bg-secondary
          h5.mb-none Môj MARTINUS
          span.text-medium.text-color-grey.text-semibold Janko Martinusák
        a(href="to-download.html").dropdown__item Na stiahnutie
        a(href="my-library.html").dropdown__item Wishlist
        a(href="orders.html").dropdown__item Moje objednávky
        a(href="my-account.html").dropdown__item Môj účet
        .dropdown__group
          hr.no-mrg
        a(href="my-library.html").dropdown__item Moja knižnica
        a(href="club-profile-private.html").dropdown__item
          | Založiť profil
          +icon('plus').text-color-success.icon--medium(style="position: relative; top: -0.15em;")
        .dropdown__group
          hr.no-mrg
        a(href="#").dropdown__item.text-color-error Odhlásiť
