include icon
include faIcon

mixin userMenu(props = {})
  -
    const {
      userName = 'Janko'
    } = props;

  .btn-dropdown.btn-dropdown--no-icon.header-user.mb-none
    button.d-flex.align-items-center.btn.btn--clean.btn--lowercase.header-btn.header-btn--no-arrow(data-toggle-expand data-toggle="self, next")
      +faIcon('circle-user').fa-xl
      span.header-user__name.ml-tiny #{userName}

    .dropdown.dropdown--account.dropdown--arrowhead(data-dropdown data-toggle-expand aria-expanded="false")
      .dropdown__wrap
        .dropdown__group.bg-secondary
          h5.mb-none Môj MARTINUS
          span.text-medium.text-color-grey.text-semibold Janko Martinusák
        a(href="to-download.html").dropdown__item Na stiahnutie
        a(href="my-library.html").dropdown__item Wishlist
        a(href="orders.html").dropdown__item Moje objednávky
        a(href="buybacks-lp.html").dropdown__item Môj Knihovrátok
        a(href="my-account.html").dropdown__item Môj účet
        .dropdown__group
          hr.m-none
        a(href="my-library.html").dropdown__item Moja knižnica
        a(href="club-profile-private.html").dropdown__item
          | Založiť profil
          +icon('plus').text-color-success.icon--medium(style="position: relative; top: -0.15em;")
        .dropdown__group
          hr.m-none
        a(href="#").dropdown__item.text-color-error Odhlásiť
