// ---------------------------------------------
// CONFIGURATION
// ---------------------------------------------

// CONTENTS
// Breakpoints
// Colors
// Genreal
// Typography
// Icons
// Grid
// Bar
// Buttons
// Form components
// Tables
// Cards
// Lists
// Tabs
// Modals
// Other modules and components
// Pages

@use 'sass:math';

// ----------------------------
// BREAKPOINTS

$grid-breakpoints: (
  xs: 0,
  s: 480px,
  m: 768px,
  l: 1024px,
  xl: 1280px,
);

// ----------------------------
// COLORS

$color-palette: (
  primary: (
    400: #eb2525,
    500: #d22121,
    600: #b81d1d,
  ),
  secondary: (
    500: #fef7f1,
    600: #fdefe3,
  ),
  link: (
    500: #0069ba,
    400: #0078d4,
    600: #005ba1,
  ),
  bg: (
    200: #f2f8fb,
    500: #fbf7f5,
    600: #f7efeb,
    650: #f6f6f6,
  ),
  borders: (
    200: #4267b2,
    500: #fbf7f5,
    600: #f7efeb,
  ),
  grey: (
    50: #fafafa,
    100: #f2f2f2,
    200: #e5e5e5,
    400: #bcbcba,
    500: #8f8d8a,
    600: #7a746e,
    700: #625d58,
    800: #595959,
    900: #474440,
  ),
  // colors
  yellow: (
    100: #fef0d2,
    500: #fcc34c,
    600: #eead25,
    700: #d88f00,
  ),
  orange: (
    500: #f28629,
    600: #e27317,
    700: #d16200,
  ),
  brown: (
    500: #945131,
    600: #75432c,
    700: #583527,
  ),
  violet: (
    500: #9967a7,
    600: #875797,
    700: #774788,
  ),
  blue: (
    500: #00b6eb,
    600: #009ace,
    700: #007fb1,
  ),
  green: #33ab4e,
  teal: #00c399,
  // states
  error: (
    100: #fae8e8,
    500: #e93227,
    600: #d22121,
  ),
  success: (
    100: #eaf6ed,
    200: #37b855,
    500: #33ab4e,
    600: #2f9e49,
  ),
  warning: (
    100: #fcf1d5,
    500: #f28629,
  ),
  info: (
    50: #f1f7fc,
    100: #d5ecfb,
    500: #007fb1,
  )
);

$default-color-weights: (
  50,
  100,
  200,
  300,
  400,
  500,
  600,
  650,
  700,
  800,
  900,
);

$color-presets: (
  white: $color-white,
  black: $color-black,
  grey: _color(grey),
  primary: _color(primary),
  primary-light: _color(primary, 400),
  primary-dark: _color(primary, 600),
  secondary: _color(secondary),
  green: _color(green),
  orange: _color(orange),
  violet: _color(violet),
  blue: _color(blue),
  teal: _color(teal),
  yellow: _color(yellow),
  brown: _color(brown),
  blue-ci: _color(blue),
  green-ci: _color(green),
);

// ----------------------------
// GENERAL

$default-bg-color: $color-white !default;
$secondary-bg-color: _color(bg) !default;
$blue-bg-color: _color(bg, 200) !default;
$teal-bg-color: _color(teal) !default;
$green-bg-color: _color(success, 500) !default;
$default-text-color: $color-black !default;
$default-font-family: $font-family-tabac !default;

$default-border-color: _color(grey, 200);
$default-border-radius: $border-radius !default;
$default-border-radius-circle: $border-radius-circle !default;

$default-font-size: $font-size-regular !default;

$default-outline: 2px solid rgba(_color(primary, 200), 0.8);

// ----------------------------
// SPACERS

$spaces: (
  tiny: 5px,
  small: 10px,
  medium: 20px,
  large: 40px,
) !default;

$spacers: (
  none: 0
);

@each $name, $value in $spaces {
  $spacers: map-merge($spacers, ($name: _get-space($name)));
}

//$spacers: map-loop($spaces);

$default-space: _get-space() !default;

//---------------
// selection

$selection-bg-color: _color(primary, 500);
$selection-text-color: $color-white;

// ----------------------------
// TYPOGRAPHY

//---------------
// headings

$heading-tags: (h1, h2, h3, h4, h5, h6);

$heading: (
  font-family: $font-family-tabac,
  font-weight: $font-weight-default,
);

$typography-settings: (
  default : (
    base-font-size: $default-font-size,
    base-line-height: 1.5,
    typographic-ratio: 1.33,
  ),
  // mobile first breakpoints
  //'m' : (
  //  base-font-size: $default-font-size,
  //  base-line-height: 1.5,
  //  typographic-ratio: 1.3,
  //) // from 'm' up
);

// Typography is typically calculated from $typography-settings in styles/utils/_variables,
// but you can override ANYTHING here
$typography-overrides: (
  null: (
    '.h0' : (
      font-size: _get-rem(40px),
      line-height: math.div(49, 42),
      margin-bottom: _get-space('large'),
      font-weight: $font-weight-bold,
    ),
    'h1, .h1' : (
      font-size: _get-rem(22px),
      line-height: math.div(49, 42),
      margin-bottom: _get-space('large'),
      font-weight: $font-weight-bold,
    ),
    'h2, .h2' : (
      font-size: _get-rem(18px),
      line-height: math.div(31, 25),
      margin-bottom: _get-space(),
      font-weight: $font-weight-semibold,
    ),
    'h3, .h3' : (
      font-size: _get-rem(16px),
      line-height: math.div(24, 18),
      margin-bottom: _get-space(),
      font-weight: $font-weight-semibold,
    ),
    'h4, .h4' : (
      font-size: _get-rem(14px),
      line-height: math.div(24, 18),
      margin-bottom: _get-space(),
      color: _color(grey, 700)
    ),
    'h5, .h5' : (
      font-size: _get-rem(12px),
      line-height: math.div(20, 12),
      margin-bottom: _get-space('small'),
      color: _color(grey, 700),
      text-transform: uppercase,
      letter-spacing: 1px,
    ),
    'h6, .h6': (
      font-size: _get-rem(14px),
      margin-bottom: _get-space('tiny'),
      font-weight: $font-weight-semibold,
    )
  ),
  m: (
    '.h0' : (
      font-size: _get-rem(60px),
    ),
    'h1, .h1' : (
      font-size: _get-rem(42px),
    ),
    'h2, .h2' : (
      font-size: _get-rem(25px),
    ),
    'h3, .h3' : (
      font-size: _get-rem(18px),
    ),
    'h4, .h4' : (
      font-size: _get-rem(18px),
    ),
    'h6, .h6' : (
      font-size: _get-rem(16px),
    )
  ),
);

//---------------
// text

$text-medium: (
  font-size: $font-size-medium,
  line-height: math.div(20, _strip-units($font-size-medium)),
);

$text-small: (
  font-size: $font-size-small,
  line-height: math.div(20, _strip-units($font-size-small)),
);

$links: (
  default: (
    default: (
      text-decoration: none,
      color: _color(link),
      font-weight: $font-weight-semibold,
      transition: #{color $ease-100, border $ease-100},
    ),
    focus: (
      color: _color(link, 400),
      border-bottom-color: _color(link, 400),
      text-decoration: underline,
    )
  ),
  grey: (
    default: (
      color: _color(grey),
      font-weight: $font-weight-default,
    ),
    focus: (
      text-decoration: none,
    )
  ),
  black: (
    default: (
      color: $color-black,
      font-weight: $font-weight-default,
    ),
    focus: (
      text-decoration: none,
    )
  ),
  white: (
    default: (
      color: _color(grey, 100),
      font-weight: $font-weight-default,
    ),
    focus: (
      text-decoration: underline,
      color: $color-white,
    )
  ),
  product: (
    default: (
      color: _color('primary', 600),
    ),
    focus: (
      color: _color('primary', 400),
      text-decoration: none,
    )
  )
);

$hr: (
  margin-bottom: _get-space('large'),
  border-top: 1px solid $color-semiblack,
);

$em: (
  font-style: normal,
  font-weight: $font-weight-semibold,
  color: $color-black,
  border-bottom: 1px dotted $color-black,
);

//---------------
// lists

$inline-list: (
  default: (
    margin: -(math.div(_get-space('small'), 2)) 0 _get-space(),
  ),
  line: (
    margin: 0 0.5em 0 0,
  ),
);

$inline-list-item: (
  default: (
    margin: (_get-space('tiny') _get-space('small') 0 0),
  ),
  expanded: (
    margin: (_get-space('tiny') _get-space() 0 0),
  ),
  delimited: (
    margin: (_get-space('tiny') 0 0 0),
  ),
  bulleted: (
    margin: (_get-space('tiny') _get-space('tiny') 0 0),
  ),
  condensed: (
    margin: (_get-space('tiny') 0 0 0),
  ),
);

$description-list: (
  dt: map-merge(_map-deep-get($typography-overrides, null, 'h5, .h5'), ( margin-bottom: 0)),
  dd: (
    font-size: _get-rem($font-size-medium),
  )
);

//---------------
// utility

$text-color-theme-500: _color(primary, 500);
$text-color-theme-400: _color(primary, 400);
$text-color-theme-100: _color(primary, 100);

$text-color-black: $color-black;
$text-color-grey: _color(grey, 500);
$text-color-grey-light: _color(grey, 200);
$text-color-grey-dark: _color(grey, 700);
$text-color-semiblack: $color-semiblack;

$text-color-white: $color-white;
$text-color-semiwhite: $color-semiwhite;

$text-color-yellow: _color(yellow);
$text-color-blue: _color(blue);

$text-color-error: _color(error, 600);
$text-color-success: _color(success, 500);

$utilities-text-colors: map-merge($color-presets,
(
  primary-200: _color(primary, 200),
  semiblack: $text-color-semiblack,
  grey-light: $text-color-grey-light,
  grey-dark: $text-color-grey-dark,
  semiwhite: $text-color-semiwhite,
  success: $text-color-success,
  error: $text-color-error
));

$utilities-bg-colors: map-merge($color-presets,
(
  default: $default-bg-color,
  secondary: $secondary-bg-color,
  teal: $teal-bg-color,
  green: $green-bg-color,
  blue: $blue-bg-color,
  grey-dark: _color(grey, 900),
));

// ----------------------------
// ICONS

$icon-sizes: (
  small: _get-rem(16px),
  medium: _get-rem(24px),
  large: _get-rem(32px),
  xlarge: _get-rem(48px),
  xxlarge: _get-rem(64px)
);

// ----------------------------
// IMAGES

$image-border-radius: $default-border-radius !default;

$image: (
  fluid: (
    width: 100%,
    height: auto,
    margin-left: auto,
    margin-right: auto,
    display: block,
  ),
  rounded: (
    border-radius: $image-border-radius,
  ),
  circle: (
    border-radius: 50%,
  )
);

// ----------------------------
// THUMBNAILS

$thumbnail-sizes: (
  small: 25px,
  medium: 50px,
  medium-large: 65px,
  large: 120px,
  xlarge: 170px,
  huge: 270px,
);

// ----------------------------
// GRID

//---------------
// wrappers

$wrapper-widths: (
  default: 1280px,
); // You only need to set those breakpoints, where a change should occur.

$wrapper-paddings: (
  default: _get-space(),
  l: _get-space('large'),
); // You only need to set those breakpoints, where a change should occur.

//---------------
// grid

$grid-base: 12 !default;

$gutters: (
  default: _get-space('small'),
  m: _get-space(),
);

$gutters-form: (
  default: math.div(_get-space('small'), 2),
);

// ----------------------------
// BAR

$bar-spacing: (
  default: (
    default: _get-space(),
  ),
  small: (
    default: _get-space('small'),
  ),
  tiny: (
    default: _get-space('tiny'),
  )
);

$bar--vertical-spacing: (
  default: (
    default: _get-space('small'),
  ),
  small: (
    default: _get-space('tiny'),
  )
);

$bar-break-height: 0;

// ----------------------------
// BUTTONS

// Global button settings

$button-margin-bottom: $default-space;
$button-layout-margin: _get-space('small');

$button: (
  default: (
    border: 1px solid transparent,
    font-weight: $font-weight-semibold,
    text-transform: uppercase,
    letter-spacing: 1px,
    line-height: 1.5,
    transition: 200ms all ease-out,
    outline: none !important,
  ),
  disabled: (
    opacity: 0.25,
  )
);

/// Generates button sizes. Each key is a suffix added to btn- (except default), and each value is the button font size.
/// @type Map
/// @prop {Length} button-size.font-size
$button-sizes: (
  default: (
    padding: _get-rem(11.5px) _get-rem(10px),
    font-size: _get_rem($default-font-size - 4px),
  ),
  large: (
    padding: _get-rem(16.5px) _get-rem(25px),
    font-size: _get_rem($default-font-size - 4px),
  ),
  small: (
    padding: _get-rem(3.5px) _get-rem(10px),
    font-size: _get_rem($default-font-size - 4px),
  ),
);

/// Generates button radii. Each key is a suffix added to btn- (except default), and each value is the button border radius.
/// @type Map
/// @prop {Length} button.radius
/// @example
///   $button-radii: (
///     default: 0,
///     radius: $default-border-radius,
///     round: 999em,
///   );
$button-radii: (
  default: $default-border-radius,
  sharp: 0,
  round: 999em,
);

/// Generates button color/style variants.
/// @type Map
/// @prop {Map} variant - Button variant name (".btn-primary"). "default" is applied to generic ".btn" class
/// all props in button-styles.variant are settings of the button style mixin. @mixin button-style
/// @example
///   $button-styles:
///     primary: (
///       default: (
///         text-color: white
///         background: primary
///       ),
///       focus: (...),
///       ...
///     ), // primary color bg and border, white text and default shadow
///   );
$button-styles: (
  default: (
    default: (
      color: $color-white,
      background-color: _color(grey, 700),
    ),
    focus: (
      background-color: _color(grey, 600),
    ),
    active: (
      color: $color-white,
      background-color: _color(grey, 900),
    ),
    group: (
      border-color: _color(grey, 900),
    ),
  ),
  primary: (
    default: (
      position: relative,
      color: $color-white,
      background-color: _color(primary, 500),
      box-shadow: #{$shadow-direct-2, $shadow-ambient-1},
    ),
    active: (
      color: $color-white,
      background-color: _color(primary, 600),
      box-shadow: none,
    ),
    after: (
      position: absolute,
      bottom: 0,
      left: 0,
      right: 0,
      width: 100%,
      background-color: _color(primary, 600),
      height: 4px,
    ),
    group: (
      border-color: _color(primary, 600),
    ),
  ),
  secondary: (
    default: (
      position: relative,
      color: $color-white,
      background-color: _color(grey, 800),
      box-shadow: #{$shadow-direct-2, $shadow-ambient-1},
    ),
    focus: (
      background-color: _color(grey, 700),
    ),
    after: (
      position: absolute,
      bottom: 0,
      left: 0,
      right: 0,
      width: 100%,
      background-color: _color(grey, 900),
      height: 4px,
    ),
    active: (
      color: $color-white,
      background-color: _color(grey, 900),
      box-shadow: none,
    ),
    group: (
      border-color: _color(grey, 900),
    ),
  ),
  ghost: (
    default: (
      color: _color(grey, 700),
      border-color: _color(grey, 400),
      background-color: transparent,
    ),
    focus: (
      background-color: _color(secondary, 400),
      color: _color(grey, 700),
    ),
    active: (
      background-color: _color(secondary, 500),
      border-color: _color(gray, 200),
    ),
    group: (
      border-color: _color(gray, 400),
    ),
  ),
  ghost-inverse: (
    default: (
      color: _color(grey, 200),
      border-color: _color(grey, 600),
      background-color: transparent,
    ),
    focus: (
      background-color: _color(grey, 800),
      color: $color-white,
    ),
    active: (
      background-color: _color(grey, 900),
      border-color: _color(grey, 600),
    ),
    group: (
      border-color: _color(grey, 600),
    ),
  ),
  clean: (
    default: (
      color: _color(grey, 700),
      border-color: transparent,
      background-color: transparent,
      box-shadow: none,
    ),
    focus: (
      color: _color(primary, 500),
      border-color: transparent,
      background-color: transparent,
    ),
    active: (
      color: _color(primary, 600),
      border-color: transparent,
      background-color: transparent,
    ),
  ),
  facebook: (
    default: (
      color: _color(link, 500),
      border-color: _color(borders, 200),
      background-color: transparent,
    ),
    focus: (
      color: _color(link, 500),
      border-color: _color(borders, 200),
      background-color: transparent,
      box-shadow: #{$shadow-direct-2, $shadow-ambient-1},
    ),
    active: (
      color: _color(link, 500),
      border-color: _color(borders, 200),
      background-color: transparent,
    ),
  ),
  carousel: (
    default: (
      color: $color-black,
      border-color: transparent,
      background-color: $color-white,
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1),
    ),
    focus: (
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),
    ),
    active: (
      box-shadow: none,
    ),
    disabled: (
      pointer-events: all,
      box-shadow: none,
    )
  ),
  lowercase: (
    default: (
      text-transform: none,
      letter-spacing: normal
    )
  ),
  success: (
    default: (
      position: relative,
      color: $color-white,
      background-color: _color(success, 500),
      box-shadow: #{$shadow-direct-2, $shadow-ambient-1},
    ),
    active: (
      color: $color-white,
      background-color: _color(success, 600),
      box-shadow: none,
    ),
    after: (
      position: absolute,
      bottom: 0,
      left: 0,
      right: 0,
      width: 100%,
      background-color: _color(success, 600),
      height: 4px,
    ),
    group: (
      border-color: _color(success, 600),
    ),
  ),
);

/// Default button color weights used for calculation button states. Used when hover/active/ colors are not defined.
/// @type {Map}
/// @prop {Number} button-color-weight.weight - Color weight to calculate from $button-color or $button-background
$button-color-weights: (
  default: 500,
  focus: 400,
  active: 600,
  disabled: 500,
  button-group-border: 600,
);

/// Overrides icon sizes (icon-s, etc.) in buttons
/// @type {Map}
/// @prop {Number} button-icon-scale.scale - Scale factor applied to css transform
$button-icon-scaling: (
  default: 1,
  s: 0.8,
  m: 1.2,
  l: 2,
);

// ----------------------------
// FORM COMPONENTS

$form-m: _get-space();
$form-control-block-m: 5px !default;

$form-bgc: _color(grey, 50);
$form-b-w: 1px;
$form-b-s: solid;
$form-b-c: _color(grey, 400);
$form-b-r: $default-border-radius;
$form-c: $color-black;
$form-bs: inset 0 3px 2px 0 rgba(#000, 0.05);
$form-t: border, box-shadow, background-color $ease-300;

$form-focus-bs: #{$form-bs, 0 4px 4px 0 rgba(#000, 0.1) };
$form-focus-b-c: _color(grey, 500);

$form-disabled-c: _color(grey, 500);
$form-disabled-b-c: _color(grey, 200);

$form-readonly-c: _color(grey, 600);
$form-readonly-b-c: _color(grey, 300);

$form-error-c: $color-black;
$form-error-b-c: _color(error, 600);
$form-error-bgc: _color(error, 100);

//---------------
// input styles

$input: (
  default: (
    default: (
      background-color: $form-bgc,
      border-width: $form-b-w,
      border-style: $form-b-s,
      border-color: $form-b-c,
      border-radius: $form-b-r,
      color: $form-c,
      box-shadow: $form-bs,
      transition: $form-t,
    ),
    focus: (
      box-shadow: $form-focus-bs,
      border-color: $form-focus-b-c,
      outline: none !important,
    ),
    disabled: (
      color: $form-disabled-c,
      border-color: $form-disabled-b-c,
    ),
    readonly: (
      color: $form-readonly-c,
      border-color: $form-readonly-b-c,
    ),
    error: (
      background-color: $form-error-bgc,
      color: $form-error-c,
      border-color: $form-error-b-c,
      background-image: svg-load('./../icons_/css/cross.svg', fill=_color(error, 600)),
      background-repeat: no-repeat,
      background-position: center right 0.5em,
    ),
    error--no-cross: (
      background-image: none,
    ),
    success: (
      background-image: svg-load('./../icons_/css/check.svg', fill=_color(success, 500)),
      background-repeat: no-repeat,
      background-position: center right 0.5em,
    ),
    search: (
      background-image: svg-load('./../icons_/app/search.svg', fill=_color(grey, 500)),
      background-repeat: no-repeat,
      background-size: 18px 18px,
      background-position: center right 0.5em,
    )
  ),
  dark: (
    default: (
      background-color: _color(grey, 900),
      border-color: _color(grey, 900),
    ),
    hover: (
      background-color: _color(grey, 800),
      border-color: _color(grey, 800),
    ),
    focus: (
      background-color: $color-white,
      border-color: $color-white,
    ),
    value: (
      background-color: $color-white,
      border-color: $color-white,
    )
  )
);

$input-placeholder: (
  default: (
    default: (
      color: _color(grey),
    )
  ),
  dark: (
    default: (
      color: _color(grey, 200),
    ),
    focus: (
      color: _color(grey, 700),
    )
  )
);

$input-sizes: (
  default: (
    font-size: _get-rem($default-font-size),
    min-height: _get-em(43px, $default-font-size),
    padding: _get-em(7px, $default-font-size) _get-em(8px, $default-font-size),
  ),
  small: (
    font-size: _get-rem($font-size-medium),
    min-height: _get-em(24px, $font-size-medium),
    padding: 0 _get-em(5px, $font-size-medium),
  ),
  large: (
    font-size: _get-rem($default-font-size),
    min-height: _get-em(48px, $default-font-size),
    padding: _get-em(7.5px, $default-font-size) _get-em(8px, $default-font-size),
  ),
  short: (
    width: 2.5em,
  )
);

//---------------
// textarea

$textarea: (
  default: (
    padding: 0.5em,
  ),
);

//---------------
// checkbox / radio styles

$radio-check-margin: $form-m !default;
$radio-check-size: _get-rem(20px);

$radio-check: (
  default: (
    height: $radio-check-size,
    width: $radio-check-size,
    margin-top: _get-rem(2px),
    border-width: 2px,
    border-style: $form-b-s,
    border-color: $form-b-c,
    color: $form-c,
    transition: $form-t,
  ),
  focus: (
    box-shadow: $form-focus-bs,
  ),
  disabled: (
    color: $form-disabled-c,
    border-color: $form-disabled-b-c,
  ),
  readonly: (
    color: $form-readonly-c,
    border-color: $form-readonly-b-c,
  ),
  error: (
    background-color: $form-error-bgc,
    color: $form-error-c,
    border-color: $form-error-b-c,
  ),
);

$radio-check-checked: (
  default: (
    border-color: _color(link, 500),
    background-color: _color(link, 500),
  ),
  focus: (
    border-color: _color(link, 500),
    background-color: _color(link, 500),
  ),
  disabled: (
    border-color: _color(grey, 300),
    background-color: _color(grey, 300),
  ),
  readonly: (
    border-color: _color(grey, 400),
    background-color: _color(grey, 400),
  ),
  error: (
    border-color: _color(error, 500),
    background-color: _color(error, 500),
  ),
);

$radio-check-color: (
  default: _color(grey, 700),
  disabled: _color(grey, 300),
  readonly: _color(grey, 400),
  error: _color(error, 500),
);

$radio-check-label: (
  margin-left: _get-space('small'),
);

// $radio-check-sizes: (
//   default: (
//     size: $radio-check-size,
//     font-size: _get-rem($default-font-size),
//   ),
//   small: (
//     size: _get-em($font-size-small),
//     font-size: _get-rem($font-size-small),
//   ),
//   large: (
//     size: _get-em($radio-check-sizes-large),
//     font-size: _get-rem($default-font-size),
//   ),
// );

//---------------
// select

$select-b-r: $form-b-r !default;
$select-arrow-c: _color(grey, 700);

$select-bg-color-dropdown: $color-white !default;

$select-button-icon-path: '../../icons' !default;
$select-button-dimension: 12px !default;
$select-button-offset: 8px !default;

$select: (
  default: (
    default: (
      background-color: $form-bgc,
      border-width: $form-b-w,
      border-style: $form-b-s,
      border-color: $form-b-c,
      border-radius: $form-b-r,
      color: $form-c,
      box-shadow: $form-bs,
      after: (
        display: none,
      )
    ),
    focus: (
      box-shadow: $form-focus-bs,
      border-color: $form-focus-b-c,
      outline: none !important,
    ),
    disabled: (
      color: $form-disabled-c,
      border-color: $form-disabled-b-c,
    ),
    error: (
      background-color: $form-error-bgc,
      color: $form-error-c,
      border-color: $form-error-b-c,
    ),
  ),
  clean: (
    default: (
      background-color: transparent,
      border-width: $form-b-w,
      border-style: $form-b-s,
      border-color: transparent,
      border-radius: $select-b-r,
      box-shadow: none,
      after: (
        display: none,
      )
    )
  ),
  ghost : (
    default: (
      color: _color(grey, 700),
      background-color: transparent,
      border-width: $form-b-w,
      border-style: $form-b-s,
      border-color: _color(grey, 400),
      border-radius: $select-b-r,
      box-shadow: none,
      text-transform: uppercase,
      font-weight: 600,
      letter-spacing: 1px,
      after: (
        display: none,
      )
    ),
    focus: (
      background-color: _color(secondary, 400),
      color: _color(grey, 700),
    ),
    active: (
      background-color: _color(secondary, 500),
      border-color: _color(gray, 200),
    ),
    group: (
      border-color: _color(gray, 400),
    ),
  ),
  lowercase: (
    default: (
      text-transform: none,
      letter-spacing: normal,
    )
  ),
  brown : (
    default: (
      background-color: _color(bg),
      border-width: $form-b-w,
      border-style: $form-b-s,
      border-color: transparent,
      border-radius: $select-b-r,
      box-shadow: none,
      color: _color(gray, 600),
      after: (
        display: block,
        height: 4px,
        background-color: _color(bg, 600),
      )
    ),
    focus: (
      box-shadow: none,
      border-color: $form-focus-b-c,
    ),
    disabled: (
      color: $form-disabled-c,
      border-color: $form-disabled-b-c,
    ),
    error: (
      background-color: $form-error-bgc,
      color: $form-disabled-c,
      border-color: $form-disabled-b-c,
    ),
  )
);

$select-ghost-sizes: (
  ghost: (
    font-size: _get-rem($font-size-small),
    min-height: _get-em(40px, $font-size-small),
    padding: _get-em(7px, $font-size-small) _get-em(8px, $font-size-small),
  ),
);

$select-sizes: map-merge($input-sizes, $select-ghost-sizes);

$select-item: (
  default: (
    border-radius: _get-em(20px),
    background-color: _color(primary, 500),
    color: $color-white,
    padding: _get-em(2px) _get-em(10px),
    margin-right: 5px,
    margin-top: 2px,
    margin-bottom: 2px,
  ),
  highlighted: (
    background-color: _color(primary, 600),
  ),
  disabled: (
    background-color: _color(primary, 200),
  )
);

$select-multiple-sizes: $input-sizes;

$select-search: (
  background-color: $form-bgc,
  padding: 8px 0 7px 2px,
);

//---------------
// input with inner addon

$input-addon: (
  default: (
    background: $form-bgc,
    color: _color(grey, 500),
    border-width: 1px,
    border-style: solid,
    border-color: _color(grey, 300),
    border-radius: $default-border-radius,
  ),
  dark: (
    background-color: _color(grey, 900),
    border-color: _color(grey, 900),
  )
);

$input-addon-sizes: (
  default: (
    height: 43px,
    padding: _get-em(7px, $default-font-size) _get-em(10px, $default-font-size),
    font-size: _get-rem($default-font-size),
  ),
  small: (
    height: 24px,
    padding: _get-em(5px, $font-size-small) _get-em(10px, $font-size-small),
    font-size: _get-rem($font-size-small),
  ),
  large: (
    height: 50px,
    padding: _get-em(9px, $default-font-size) _get-em(10px, $default-font-size),
    font-size: _get-rem($default-font-size),
  ),
);

//---------------
// form labels

$form-label: (
  default: (
    font-size: _get-rem(12px),
    margin-bottom: _get_em(3px),
    color: _color(grey, 700),
  ),
  error: (
    color: _color(error, 500),
  ),
);

$form-label-sizes: (
  default: (
    font-size: _get-rem($font-size-medium),
  ),
  small: (
    font-size: _get-rem($font-size-small),
  ),
  large: (
    font-size: _get-rem($default-font-size),
  ),
);

//---------------
// form helps errors

$form-text: (
  default: (
    margin: _get-em(5px) 0,
    color: _color(grey, 600),
  ),
  radio-check: (
    margin: 0 0 0 _get-em(25px),
  ),
  error: (
    color: _color(error, 600),
  ),
  success: (
    color: _color(success, 600),
  ),
);

//---------------
// DROPDOWN MENU

$dropdown-menu-b-r: select-b-r;
$dropdown-menu-max-h: 600px;

$dropdown-menu: (
  default: (
    background-color: $color-white,
    border-width: 1px,
    border-style: solid,
    border-color: transparent,
    border-radius: 0 0 $dropdown-menu-b-r,
    box-shadow: $shadow-md,
    z-index: $z-index-dropdown,
    transition: #{visibility $ease-100-delayed, opacity $ease-out-100, transform $ease-out-100},
    transform-origin: top center,
    transform: scale(1, 0.1),
  ),
  space: (
    padding: _get-space() _get-space(),
  )
);

$dropdown-menu-group: (
  padding: _get-rem(10px),
  margin-bottom: 0,
);

$dropdown-menu-item: (
  default: (
    font-size: _get-rem($font-size-medium),
    padding: _get-rem(10px),
    color: $color-black,
    transition: #{color $ease-out-200},
  ),
  small: (
    font-size: _get-rem($font-size-medium),
    padding: _get-rem(5px),
    color: $color-black,
    transition: #{color $ease-out-200},
  ),
  focus: (
    background-color: _color(bg, 500),
    color: _color(primary),
  ),
  highlighted: (
    background-color: _color(bg, 500),
    color: _color('primary'),
  )
);

// ----------------------------
// TABLES

$table-border-w: 1px;
$table-border-s: solid;
$table-border-c: _color(grey, 200);

$table: (
  background-color: $color-white,
);

$table-cell: (
  default: (
    padding: math.div(_get-space('small'), 2) _get-space(),
    vertical-align: middle,
    border-bottom: $table-border-w $table-border-s $table-border-c,
  ),
  even: (
    background-color: _color(bg, 650),
  ),
  head: (
    vertical-align: bottom,
    font-weight: $font-weight-semibold,
  ),
  head-highlight: (
    background-color: _color(bg, 500),
  ),
);

// ----------------------------
// CARDS

$card: (
  default: (
    background-color: $color-white,
    border-radius: $default-border-radius,
    after: (),
    clickable: (
      hover: (
        background-color: _color(grey, 50),
      ),
      focus: (
        background-color: _color(grey, 100),
      ),
    ),
  ),
  well: (
    background-color: _color(bg, 500),
    after: (
      height: 4px,
      background-color: _color(bg, 600),
    ),
    clickable: (
      hover: (
        background-color: _color(bg, 600),
      ),
      focus: (
        background-color: _color(bg, 650),
      ),
    ),
  ),
  material: (
    box-shadow: $shadow-md,
    padding-top: _get-space('small'),
    before: (
      height: 4px,
      background-color: _color(bg, 600),
    ),
    clickable: (
      hover: (
        box-shadow: 0 10px 18px 0 rgba(#000, 0.3),
        background-color: inherit,
      ),
      focus: (
        box-shadow: 0 10px 8px 0 rgba(#000, 0.2),
        background-color: inherit,
      ),
    ),
  ),
  success: (
    background-color: _color(success, 100),
  ),
  info: (
    background-color: _color(info, 50),
  ),
  notice: (
    background-color: _color(yellow, 100),
  )
);

$card-section: (
  default: (
    default: (
      padding: _get-space('small') _get-space() 0,
    ),
    large: (
      padding: _get-space() _get-space('large') 0,
    ),
    condensed: (
      padding: _get-space('tiny') _get-space('small'),
    )
  ),
);

$card-header: (
  padding: _get-space() _get-space(),
  border-bottom: 1px solid $default-border-color,
  text-align: center,
);

// ----------------------------
// LISTS

$list-margin-bottom: _get-space();

$list-variants: (default, bordered, clean, padded, cart);

$list: (
  default: (
    background: $color-white,
    border: none,
  ),
  bordered: (
    border: 1px solid _color(grey, 200),
  ),
  clean: (
    border: none,
  ),
  cart: (
    border: none,
    background: none,
  )
);

$list-item: (
  default: (
    padding: _get-space('small') 0,
    border-bottom: 1px solid _color(grey, 200),
  ),
  clean: (
    border-bottom: 1px solid transparent,
  ),
  padded: (
    padding: _get-space('small') _get-space('small'),
  ),
  bordered: (
    padding: _get-space('small') _get-space('small'),
  ),
  cart: (
    padding: _get-space('medium') 0,
  )
);

// LIST ITEM CLICKABLE
$list-item-clickable: (
  default: (
    transition: $ease-200,
    padding-left: _get-space('small'),
    padding-right: _get-space('small'),
  ),
  focus: (
    background-color: $secondary-bg-color,
  ),
  selected: (
    background-color: _color(grey, 100),
    border-color: _color(grey, 300)
  ),
  selected-focus: (
    background-color: _color(grey, 200),
    border-color: _color(grey, 300),
  ),
  disabled: (
    opacity: 0.4
  )
);

$list-counter: (
  size: 36px,
  style: (
    background-color: $color-white,
    border-radius: 999em,
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1),
    color: _color(grey, 700),
    text-align: center,
    font-weight: $font-weight-semibold,
  )
);

// ITEM SECTION

$list-item-section-image-size: 3rem !default;

// ----------------------------
// TABS

$tabs-link: (
  default: (
    padding: _get-em(8px) _get-em(20px) _get-em(6px),
    transition: #{border $ease-400, color $ease-400, opacity $ease-400},
    border-bottom-width: 2px,
    border-bottom-style: solid,
    border-bottom-color: transparent,
    text-transform: uppercase,
    font-weight: 600,
  ),
  compact: (
    padding: _get-em(10px) _get-em(15px),
    text-transform: none,
    line-height: 1,
    display: flex,
    text-align: center,
    align-items: center,
  ),
  active: (
    color: _color(primary, 500),
    border-color:_color(primary, 500),
  ),
  focus: (
    color: _color(primary, 500),
  ),
  disabled: (
    opacity: 0.5,
    color: _color(grey, 500),
  )
);

$tabs-card: (
  default: (
    transition: #{border $ease-200},
    border: 1px solid _color(grey, 400),
    padding: _get-space('small') _get-space('small'),
    font-size: _get-rem($font-size-medium),
    text-align: center,
    margin-bottom: _get-space('small') + _get-rem(3px),
  ),
  active: (
    border-color: _color(bg, 500),
    background-color: _color(bg, 500),
    font-weight: $font-weight-semibold,
    position: relative,
  ),
  focus: (
    border-color: _color(grey, 500),
    outline: none !important,
  ),
  disabled: (
  )
);

// ----------------------------
// MODALS

$modal-overlay-bg-color: $color-semiblack !default;
$modal-overlay-z-index: $z-index-overlay !default;
$modal-overlay-e: $ease-400 !default;

$modal-overlay: (
  default: (
    background-color: rgba($color-black, 0.5),
    box-shadow: #{$shadow-ambient-1, $shadow-direct-1},
  ),
  dark: (
    background-color: rgba($color-black, 0.9),
  )
);

$modal-dialog: (
  default: (
    width: 100%,
    background-color: $color-white,
    border: 1px solid $default-border-color,
    box-shadow: ($shadow-ambient-3, $shadow-direct-2),
    max-height: 95vh,
  ),
  'm': (
    height: auto,
    width: _get-rem(480px),
    border-radius: $default-border-radius,
  ),
  'l': (
    max-height: calc(100vh - (#{_get-space()} * 2)),
  )
);

$modal-dialog-variants: (
  'full': (
    default: (
      width: calc(100vw - (#{_get-space()} * 2)),
      max-width: _get-rem(1200px),
    ),
    'l': (
      width: calc(100vw - (#{_get-space('large')} * 2)),
    )
  ),
  'medium': (
    default: (
      width: _get-rem(700px),
      max-width: 90%,
    )
  ),
  'large': (
    default: (
      width: calc(100vw - (#{_get-space('small')} * 2)),
      max-width: _get-rem(1000px),
    )
  )
);

$modal-section-spacing: (
  default: (
    vertical: _get-space('small'),
    horizontal: _get-space('small'),
  ),
  'm': (
    vertical: _get-space(),
    horizontal: _get-space(),
  ),
);

$modal-header: (
  background-color: _color(grey, 50),
);

$modal-content: ();

$modal-footer: (
  background: $color-white,
);

$badge: (
  default: (
    padding: 0 _get-space('tiny'),
    color: _color(grey, 700),
    background-color: $color-white,
    border: 1px solid $default-border-color,
    border-radius: $default-border-radius,
    font-size: _get-rem($font-size-medium),
    font-weight: $font-weight-semibold,
  ),
  primary: (
    color: _color(primary),
    border-color: _color(primary),
  ),
  green: (
    color: _color(green),
    border-color: _color(green),
  ),
  teal: (
    color: _color(teal),
    border-color: _color(teal),
  ),
  orange: (
    color: _color(orange),
    border-color: _color(orange),
  ),
  violet: (
    color: _color(violet),
    border-color: _color(violet),
  ),
  blue: (
    color: _color(blue),
    border-color: _color(blue),
  ),
  yellow: (
    color: _color(yellow),
    border-color: _color(yellow),
  ),
  brown: (
    color: _color(brown),
    border-color: _color(brown),
  ),
  error: (
    color: _color(error),
    border-color: _color(error),
  ),
  darkblue: (
    color: _color(darkblue),
    border-color: _color(darkblue),
  ),
);

$badge-sizes: (
  default: (
    min-height: 24px,
  ),
  large: (
    min-height: 40px,
  ),
);

$pills: (
  default: (
    color: $color-white,
    background-color: _color(grey),
    border: 1px solid transparent,
    border-radius: $default-border-radius-circle,
    font-size: _get-rem($font-size-small),
    font-weight: $font-weight-semibold,
    min-width: _get-rem(24px),
  ),
  blue: (
    color: $color-white,
    background-color: _color(link, 500),
  ),
  blue-alt: (
    color: $color-white,
    background-color: _color(blue, 500),
  ),
  blue-light: (
    color: _color(link, 500),
    background-color: _color(info, 100),
  ),
  orange: (
    color: $color-white,
    background-color: _color(orange, 500)
  ),
  orange-light: (
    color: _color(orange, 500),
    background-color: _color(warning, 100)
  ),
  red: (
    color: $color-white,
    background-color: _color(primary, 500)
  ),
  red-light: (
    color: _color(primary, 500),
    background-color: _color(error, 100)
  ),
  green: (
    color: $color-white,
    background-color: _color(success, 500)
  ),
  green-light: (
    color: _color(success, 500),
    background-color: _color(success, 100)
  ),
  white: (
    color: _color(grey),
    background-color: $color-white,
    border-color: _color(grey, 200),
  ),
);

$status: (
  default: (
    background-color: _color(grey),
  ),
  success: (
    background-color: _color(green),
  ),
  error: (
    background-color: _color(error, 500),
  ),
  grey: (
    background-color: _color(grey, 500),
  ),
  orange: (
    background-color: _color(orange, 500),
  ),
  blue: (
    background-color: _color(blue),
  ),
);

$carousel: (
  btns: (
    offsetH: (
      default: -10px,
      l: -20px,
    ),
    offsetV: 50%,
  ),
  fade: (
    size: 800px,
    gradient: (rgba(_color('bg'), 0), rgba(_color('bg'), 0.7) 40px, rgba(_color('bg'), 1) 300px),
    gradient-white: (rgba($color-white, 0), rgba($color-white, 0.7) 40px, rgba($color-white, 1) 300px),
  ),
  fade-inside: (
    size: 20px,
    gradient: (rgba(_color('bg'), 0), rgba(_color('bg'), 0.7) 20px, rgba(_color('bg'), 1) 20px),
    gradient-white: (rgba($color-white, 0), rgba($color-white, 0.7) 20px, rgba($color-white, 1) 20px),
  )
);

$section: (
  secondary: (
    background-color: _color('bg'),
  ),
  white: (
    background-color: $color-white,
  ),
);

// ----------------------------
// OTHER MODULES AND COMPONENTS

$header-height: (
  default: 65px,
  m: 75px,
);

// ----------------------------
// PAGES
