// ---------------------------------------------
// CONFIGURATION
// ---------------------------------------------

// CONTENTS
// Breakpoints
// Colors
// Genreal
// Typography
// Icons
// Grid
// Bar
// Buttons
// Form components
// Tables
// Cards
// Lists
// Tabs
// Modals
// Other modules and components
// Pages

// ----------------------------
// BREAKPOINTS

$breakpoints: (
  xs: 0,
  s: 480px,
  m: 768px,
  l: 1024px,
  xl: 1280px,
);

// ----------------------------
// COLORS

$color-palette: (
  primary: (
    400: #eb2525,
    500: #d22121,
    600: #b81d1d,
  ),
  secondary: (
    500: #fef7f1,
    600: #fdefe3,
  ),
  link: (
    500: #0069ba,
    400: #0078d4,
    600: #005ba1,
  ),
  bg: (
    200: #f2f8fb,
    500: #fbf7f5,
    600: #f7efeb,
  ),
  borders: (
    200: #4267b2,
    500: #fbf7f5,
    600: #f7efeb,
  ),
  grey: (
    50: #fafafa,
    100: #f2f2f2,
    200: #e5e5e5,
    400: #bcbcba,
    500: #8f8d8a,
    600: #7a746e,
    700: #625d58,
    800: #595959,
    900: #474440,
  ),
  // colors
  yellow: #fcc34c,
  orange: #f28629,
  brown: #945131,
  violet: #9967a7,
  blue: #00b6eb,
  green: #33ab4e,
  // states
  error: (
    500: #e93227,
    100: #fae8e8,
  ),
  success: #33ab4e,
);

$default-color-weights: (
  50,
  100,
  200,
  300,
  400,
  500,
  600,
  700,
  800,
  900,
);

// ----------------------------
// GENERAL

$default-bg-color: $color-white !default;
$secondary-bg-color: _color(bg) !default;
$blue-bg-color: _color(bg, 200) !default;
$default-text-color: $color-black !default;
$default-font-family: $font-family-tabac !default;

$default-border-color: _color(grey, 200);
$default-border-radius: $border-radius !default;

$default-font-size: $font-size-regular !default;

$default-outline: 2px solid rgba(_color(primary, 200), 0.8);

$default-space: _get-space('v') !default;

//---------------
// selection

$selection-bg-color: _color(primary, 500);
$selection-text-color: $color-white;

// ----------------------------
// TYPOGRAPHY

//---------------
// headings

$heading-tags: (h1, h2, h3, h4, h5);

$heading: (
  font-family: $font-family-tabac,
  font-weight: $font-weight-default,
);

$typography-settings: (
  default : (
    base-font-size: $default-font-size,
    base-line-height: 1.5,
    typographic-ratio: 1.33,
  ),
  // mobile first breakpoints
  // 'm' : (
  //   base-font-size: $default-font-size,
  //   base-line-height: 1.5,
  //   typographic-ratio: 1.3,
  // ) // from 'm' up
);

// Typography is typically calculated from $typography-settings in styles/utils/_variables,
// but you can override ANYTHING here
$typography-overrides: (
  null: (
    'h1, .h1' : (
      font-size: _get-rem(42px),
      line-height: 49/42,
      margin-bottom: _get-space('v', 'large'),
      font-weight: $font-weight-bold,
    ),
    'h2, .h2' : (
      font-size: _get-rem(25px),
      line-height: 31/25,
      margin-bottom: _get-space('v'),
      font-weight: $font-weight-semibold,
    ),
    'h3, .h3' : (
      font-size: _get-rem(18px),
      line-height: 24/18,
      margin-bottom: _get-space('v', 'large'),
      color: _color(grey, 700)
    ),
    'h4, .h4' : (
      font-size: _get-rem(18px),
      line-height: 24/18,
      margin-bottom: _get-space('v', 'large'),
      font-weight: $font-weight-semibold,
    ),
    'h5, .h5' : (
      font-size: _get-rem(12px),
      line-height: 20/12,
      margin-bottom: _get-space('v', 'small'),
      color: _color(grey, 700),
      text-transform: uppercase,
      letter-spacing: 1px,
    ),
    'h1 + h3, .h1 + h3, h1 + .h3, .h1 + .h3': (
      margin-top: _get-space('v', 'small') - _get-space('v', 'large'),
    )
  ),
);

//---------------
// text

$text-medium: (
  font-size: $font-size-medium,
  line-height: 20/_strip-units($font-size-medium),
);

$text-small: (
  font-size: $font-size-small,
  line-height: 20/_strip-units($font-size-small),
);

$link: (
  default: (
    text-decoration: none,
    border-bottom: 1px solid transparent,
    color: _color(link),
    font-weight: $font-weight-semibold,
    transition: #{color $ease-400, border $ease-400},
  ),
  focus: (
    color: _color(link, 400),
    border-bottom-color: _color(link, 400),
  )
);

$hr: (
  margin-bottom: _get-space('v', 'large'),
  border-top: 1px solid $color-semiblack,
);

$em: (
  font-style: normal,
  font-weight: $font-weight-semibold,
  color: $color-black,
  border-bottom: 1px dashed $color-black,
);

//---------------
// lists

$inline-list: (
  default: (
    margin: -(_get-space('v', 'small') / 2) 0 _get-space('v'),
  ),
  line: (
    margin: 0 0.5em 0 0,
  )
);

$inline-list-item: (
  default: (
    margin: (_get-space('v', 'small') / 2) _get-space('h', 'small') 0 0,
  ),
  expanded: (
    margin: (_get-space('v', 'small') / 2)  _get-space('h') 0 0,
  )
);

$description-list: (
  dt: map-merge(_map-deep-get($typography-overrides, null, 'h5, .h5'), ( margin-bottom: 0)),
  dd: (
    font-size: _get-rem($font-size-medium),
  )
);

//---------------
// utility

$text-color-theme-500: _color(primary, 500);
$text-color-theme-400: _color(primary, 400);
$text-color-theme-100: _color(primary, 100);

$text-color-black: $color-black;
$text-color-grey: _color(grey, 500);
$text-color-grey-light: _color(grey, 200);
$text-color-grey-dark: _color(grey, 700);
$text-color-semiblack: $color-semiblack;

$text-color-white: $color-white;
$text-color-semiwhite: $color-semiwhite;

$text-color-yellow: _color(yellow);

$text-color-error: _color(error, 500);
$text-color-success: _color(success, 500);

// ----------------------------
// ICONS

$icon-sizes: (
  small: _get-rem(16px),
  medium: _get-rem(24px),
  large: _get-rem(32px),
  xlarge: _get-rem(48px)
);

// ----------------------------
// IMAGES

$image-border-radius: $default-border-radius !default;

// ----------------------------
// THUMBNAILS

$thumbnail-sizes: (
  small: 25px,
  medium: 50px,
  big: 100px,
);

// ----------------------------
// GRID

//---------------
// wrappers

$wrapper-widths: (
  default: 1280px,
); // You only need to set those breakpoints, where a change should occur.

$wrapper-paddings: (
  default: _get-space('h'),
  l: _get-space('h', 'large'),
); // You only need to set those breakpoints, where a change should occur.

//---------------
// grid

$grid-base: 12 !default;

$gutters: (
  default: _get-space('h'),
);

$gutters-form: (
  default: _get-space('h', 'small') / 2,
);

// ----------------------------
// BAR

$bar-spacing: (
  default: (
    default: _get-space('h'),
  ),
  small: (
    default: _get-space('h', 'small'),
  )
);

$bar-break-height: 0;

// ----------------------------
// BUTTONS

// Global button settings

$button-margin-bottom: $default-space;
$button-layout-margin: _get-space('h', 'small');

$button: (
  default: (
    border: 1px solid transparent,
    font-weight: $font-weight-semibold,
    text-transform: uppercase,
    letter-spacing: 1px,
    line-height: 1.25,
    transition: 200ms all ease-out,
    outline: none !important,
  ),
  disabled: (
    opacity: 0.25,
  )
);

/// Generates button sizes. Each key is a suffix added to btn- (except default), and each value is the button font size.
/// @type Map
/// @prop {Length} button-size.font-size
$button-sizes: (
  default: (
    padding: _get-rem(11.5px) _get-rem(10px),
    font-size: _get_rem($default-font-size - 4px),
  ),
  large: (
    padding: _get-rem(16.5px) _get-rem(25px),
    font-size: _get_rem($default-font-size - 4px),
  ),
  small: (
    padding: _get-rem(3.5px) _get-rem(10px),
    font-size: _get_rem($default-font-size - 4px),
  ),
);

/// Generates button radii. Each key is a suffix added to btn- (except default), and each value is the button border radius.
/// @type Map
/// @prop {Length} button.radius
/// @example
///   $button-radii: (
///     default: 0,
///     radius: $default-border-radius,
///     round: 999em,
///   );
$button-radii: (
  default: $default-border-radius,
  sharp: 0,
  round: 999em,
);

/// Generates button color/style variants.
/// @type Map
/// @prop {Map} variant - Button variant name (".btn-primary"). "default" is applied to generic ".btn" class
/// all props in button-styles.variant are settings of the button style mixin. @mixin button-style
/// @example
///   $button-styles:
///     primary: (
///       default: (
///         text-color: white
///         background: primary
///       ),
///       focus: (...),
///       ...
///     ), // primary color bg and border, white text and default shadow
///   );
$button-styles: (
  default: (
    default: (
      color: $color-white,
      background-color: _color(grey, 700),
    ),
    focus: (
      background-color: _color(grey, 600),
    ),
    active: (
      color: $color-white,
      background-color: _color(grey, 900),
    ),
    group: (
      border-color: _color(grey, 900),
    ),
  ),
  primary: (
    default: (
      position: relative,
      color: $color-white,
      background-color: _color(primary, 500),
      box-shadow: #{$shadow-direct-2, $shadow-ambient-1},
    ),
    active: (
      color: $color-white,
      background-color: _color(primary, 600),
      box-shadow: none,
    ),
    after: (
      background-color: _color(primary, 600),
      height: 4px,
    ),
    group: (
      border-color: _color(primary, 600),
    ),
  ),
  ghost: (
    default: (
      color: _color(grey, 700),
      border-color: _color(grey, 400),
      background-color: transparent,
    ),
    focus: (
      background-color: _color(secondary, 400),
      color: _color(grey, 700),
    ),
    active: (
      background-color: _color(secondary, 500),
      border-color: _color(gray, 200),
    ),
    group: (
      border-color: _color(gray, 400),
    ),
  ),
  clean: (
    default: (
      color: _color(grey, 700),
      border-color: transparent,
      background-color: transparent,
      box-shadow: none,
    ),
    focus: (
      color: _color(primary, 500),
      border-color: transparent,
      background-color: transparent,
    ),
    active: (
      color: _color(primary, 600),
      border-color: transparent,
      background-color: transparent,
    ),
  ),
  facebook: (
    default: (
      color: _color(link, 500),
      border-color: _color(borders, 200),
      background-color: transparent,
    ),
    focus: (
      color: _color(link, 500),
      border-color: _color(borders, 200),
      background-color: transparent,
      box-shadow: #{$shadow-direct-2, $shadow-ambient-1},
    ),
    active: (
      color: _color(link, 500),
      border-color: _color(borders, 200),
      background-color: transparent,
    ),
  ),
  carousel: (
    default: (
      color: $color-black,
      border-color: transparent,
      background-color: $color-white,
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1),
    ),
    focus: (
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),
    ),
    active: (
      box-shadow: none,
    ),
  )
);

/// Default button color weights used for calculation button states. Used when hover/active/ colors are not defined.
/// @type {Map}
/// @prop {Number} button-color-weight.weight - Color weight to calculate from $button-color or $button-background
$button-color-weights: (
  default: 500,
  focus: 400,
  active: 600,
  disabled: 500,
  button-group-border: 600,
);

/// Overrides icon sizes (icon-s, etc.) in buttons
/// @type {Map}
/// @prop {Number} button-icon-scale.scale - Scale factor applied to css transform
$button-icon-scaling: (
  default: 1,
  s: 0.8,
  m: 1.2,
  l: 2,
);

// ----------------------------
// FORM COMPONENTS

$form-m: _get-space('v');
$form-control-block-m: 5px !default;

$form-bgc: _color(grey, 50);
$form-b-w: 1px;
$form-b-s: solid;
$form-b-c: _color(grey, 400);
$form-b-r: $default-border-radius;
$form-c: $color-black;
$form-bs: inset 0 3px 2px 0 rgba(#000, 0.05);
$form-t: border, box-shadow, background-color $ease-300;

$form-focus-bs: #{$form-bs, 0 4px 4px 0 rgba(#000, 0.1) };
$form-focus-b-c: _color(grey, 500);

$form-disabled-c: _color(grey, 500);
$form-disabled-b-c: _color(grey, 200);

$form-readonly-c: _color(grey, 600);
$form-readonly-b-c: _color(grey, 300);

$form-error-c: $color-black;
$form-error-b-c: _color(error, 500);
$form-error-bgc: _color(error, 100);

//---------------
// input styles

$input: (
  default: (
    default: (
      background-color: $form-bgc,
      border-width: $form-b-w,
      border-style: $form-b-s,
      border-color: $form-b-c,
      border-radius: $form-b-r,
      color: $form-c,
      box-shadow: $form-bs,
      transition: $form-t,
    ),
    focus: (
      box-shadow: $form-focus-bs,
      border-color: $form-focus-b-c,
      outline: none !important,
    ),
    disabled: (
      color: $form-disabled-c,
      border-color: $form-disabled-b-c,
    ),
    readonly: (
      color: $form-readonly-c,
      border-color: $form-readonly-b-c,
    ),
    error: (
      background-color: $form-error-bgc,
      color: $form-error-c,
      border-color: $form-error-b-c,
    ),
  ),
  dark: (
    default: (
      background-color: _color(grey, 900),
      border-color: _color(grey, 900),
    ),
    hover: (
      background-color: _color(grey, 800),
      border-color: _color(grey, 800),
    ),
    focus: (
      background-color: $color-white,
      border-color: $color-white,
    ),
    value: (
      background-color: $color-white,
      border-color: $color-white,
    )
  )
);

$input-placeholder: (
  default: (
    default: (
      color: _color(grey),
    )
  ),
  dark: (
    default: (
      color: _color(grey, 200),
    ),
    focus: (
      color: _color(grey, 700),
    )
  )
);

$input-sizes: (
  default: (
    font-size: _get-rem($default-font-size),
    min-height: _get-em(40px, $default-font-size),
    padding: _get-em(7px, $default-font-size) _get-em(8px, $default-font-size),
  ),
  small: (
    font-size: _get-rem($font-size-medium),
    min-height: _get-em(24px, $font-size-medium),
    padding: 0 _get-em(5px, $font-size-medium),
  ),
  large: (
    font-size: _get-rem($default-font-size),
    min-height: _get-em(48px, $default-font-size),
    padding: _get-em(7.5px, $default-font-size) _get-em(8px, $default-font-size),
  ),
);

//---------------
// textarea

$textarea: (
  default: (
    padding: 0.5em,
  ),
);

//---------------
// checkbox / radio styles

$radio-check-margin: $form-m !default;
$radio-check-size: _get-em(16px, 16px);

$radio-check: (
  default: (
    height: $radio-check-size,
    width: $radio-check-size,
    background-color: $form-bgc,
    border-width: $form-b-w,
    border-style: $form-b-s,
    border-color: $form-b-c,
    border-radius: $form-b-r,
    color: $form-c,
    transition: $form-t,
  ),
  focus: (
    box-shadow: $form-focus-bs,
    border-color: $form-focus-b-c,
  ),
  disabled: (
    color: $form-disabled-c,
    border-color: $form-disabled-b-c,
  ),
  readonly: (
    color: $form-readonly-c,
    border-color: $form-readonly-b-c,
  ),
  error: (
    background-color: $form-error-bgc,
    color: $form-error-c,
    border-color: $form-error-b-c,
  ),
);

$radio-check-color: (
  default: _color(grey, 700),
  disabled: _color(grey, 300),
  readonly: _color(grey, 400),
  error: _color(error, 500),
);

$radio-check-label: (
  margin-left: _get-space('h', 'small'),
);

$radio-check-sizes: (
  default: (
    size: _get-em($default-font-size),
    font-size: _get-rem($default-font-size),
  ),
  small: (
    size: _get-em($font-size-small),
    font-size: _get-rem($font-size-small),
  ),
  large: (
    size: _get-em($default-font-size),
    font-size: _get-rem($default-font-size),
  ),
);

//---------------
// select

$select-b-r: $form-b-r !default;
$select-arrow-c: _color(grey, 700);

$select-bg-color-dropdown: $color-white !default;

$select-button-icon-path: '../../icons' !default;
$select-button-dimension: 12px !default;
$select-button-offset: 8px !default;

$select: (
  default: (
    default: (
      background-color: _color(bg),
      border-width: $form-b-w,
      border-style: $form-b-s,
      border-color: transparent,
      border-radius: $select-b-r,
      after: (
        height: 4px,
        background-color: _color(bg, 600),
      )
    ),
    focus: (
      box-shadow: $form-focus-bs,
      border-color: $form-focus-b-c,
    ),
    disabled: (
      color: $form-disabled-c,
      border-color: $form-disabled-b-c,
    ),
    error: (
      background-color: $form-error-bgc,
      color: $form-disabled-c,
      border-color: $form-disabled-b-c,
    ),
  ),
  clean: (
    default: (
      background-color: transparent,
      border-width: $form-b-w,
      border-style: $form-b-s,
      border-color: transparent,
      border-radius: $select-b-r,
      after: (
        display: none,
      )
    )
  )
);

$select-sizes: $input-sizes;

$select-item: (
  default: (
    border-radius: _get-em(20px),
    background-color: _color(primary, 500),
    color: $color-white,
    padding: _get-em(2px) _get-em(10px),
    margin-right: 5px,
    margin-top: 2px,
    margin-bottom: 2px,
  ),
  highlighted: (
    background-color: _color(primary, 600),
  ),
  disabled: (
    background-color: _color(primary, 200),
  )
);

$select-multiple-sizes: $input-sizes;

$select-search: (
  background-color: $form-bgc,
  padding: 8px 0 7px 2px,
);

//---------------
// input with inner addon

$input-addon: (
  default: (
    background: $form-bgc,
    color: _color(grey, 500),
    border-width: 1px,
    border-style: solid,
    border-color: _color(grey, 300),
    border-radius: $default-border-radius,
  ),
  dark: (
    background-color: _color(grey, 900),
    border-color: _color(grey, 900),
  )
);

$input-addon-sizes: (
  default: (
    height: 40px,
    padding: _get-em(7px, $default-font-size) _get-em(10px, $default-font-size),
    font-size: _get-rem($default-font-size),
  ),
  small: (
    height: 24px,
    padding: _get-em(5px, $font-size-small) _get-em(10px, $font-size-small),
    font-size: _get-rem($font-size-small),
  ),
  large: (
    height: 50px,
    padding: _get-em(9px, $default-font-size) _get-em(10px, $default-font-size),
    font-size: _get-rem($default-font-size),
  ),
);

//---------------
// form labels

$form-label: (
  default: (
    margin-bottom: _get_em(3px),
    color: $default-text-color,
  ),
  error: (
    color: _color(error, 500),
  ),
);

$form-label-sizes: (
  default: (
    font-size: _get-rem($font-size-medium),
  ),
  small: (
    font-size: _get-rem($font-size-small),
  ),
  large: (
    font-size: _get-rem($default-font-size),
  ),
);

//---------------
// form helps errors

$form-text: (
  default: (
    margin: _get-em(5px) 0,
    color: _color(grey, 600),
  ),
  radio-check: (
    margin: 0 0 0 _get-em(25px),
  ),
  error: (
    color: _color(error, 500),
  ),
);

//---------------
// DROPDOWN MENU

$dropdown-menu-b-r: select-b-r;
$dropdown-menu-max-h: 300px;

$dropdown-menu: (
  default: (
    margin-top: -1px,
    background-color: $color-white,
    border-width: 1px,
    border-style: solid,
    border-color: transparent,
    border-radius: 0 0 $dropdown-menu-b-r,
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2),
    z-index: 100,
    transition: #{visibility $ease-100-delayed, opacity $ease-out-100, transform $ease-out-100},
    transform-origin: top center,
    transform: scale(1, 0.1),
  ),
  space: (
    padding: _get-space('v') _get-space('h'),
  )
);

$dropdown-menu-item: (
  default: (
    font-size: _get-rem($font-size-medium),
    padding: _get-rem(10px),
    color: $color-black,
    transition: #{color $ease-out-200},
  ),
  focus: (
    background-color: _color(bg, 500),
    color: _color(primary),
  ),
  highlighted: (
    background-color: _color(bg, 500),
    color: _color('primary'),
  )
);

// ----------------------------
// TABLES

$table-border-w: 1px;
$table-border-s: solid;
$table-border-c: _color(grey, 300);

$table: (
  background-color: $color-white,
);

$table-cell: (
  default: (
    padding: _get-space('v', 'small') / 2 _get-space('h', 'small'),
    border-top: 1px solid $table-border-c,
    vertical-align: middle,
  ),
  odd: (
    background-color: $table-border-c,
  ),
  head: (
    border-bottom: 2px solid $table-border-c,
    vertical-align: bottom,
  )
);

// ----------------------------
// CARDS

$card: (
  default: (
    background-color: $color-white,
    border-radius: $default-border-radius,
    after: ()
  ),
  well: (
    background-color: _color(bg, 500),
    after: (
      height: 4px,
      background-color: _color(bg, 600),
    )
  )
);

$card-section: (
  default: (
    padding: _get-space('v', 'small') _get-space('h') 0,
  )
);

$card-header: (
  padding: _get-space('v') _get-space('h'),
  border-bottom: 1px solid $default-border-color,
  text-align: center,
);

// ----------------------------
// LISTS

$list-margin-bottom: _get-space('v');

$list-variants: (default, bordered, clean, condensed);

$list: (
  default: (
    background: $color-white,
    border: none,
  ),
  bordered: (
    border: 1px solid _color(grey, 300),
  ),
  clean: (
    border: none,
  ),
);

$list-item: (
  default: (
    padding: _get-space('v') _get-space('h'),
    border-bottom: 1px solid _color(grey, 300),
  ),
  clean: (
    border-bottom: 1px solid transparent,
  ),
  condensed: (
    padding: _get-space('v', 'small') _get-space('h', 'small'),
  ),
);

// LIST ITEM CLICKABLE
$list-item-clickable: (
  default: (
    transition: $ease-200,
  ),
  focus: (
    background-color: _color(grey, 50),
    border-color: _color(grey, 300),
  ),
  selected: (
    background-color: _color(grey, 100),
    border-color: _color(grey, 300)
  ),
  selected-focus: (
    background-color: _color(grey, 200),
    border-color: _color(grey, 300),
  ),
  disabled: (
    opacity: 0.4
  )
);

$list-counter: (
  size: 36px,
  style: (
    background-color: $color-white,
    border: 1px solid $default-border-color,
    border-radius: 999em,
    color: _color(grey, 700),
    text-align: center,
    font-weight: $font-weight-semibold,
  )
);

// ITEM SECTION

$list-item-section-image-size: 3rem !default;

// ----------------------------
// TABS

$tabs-link: (
  default: (
    padding: _get-em(8px) _get-em(20px) _get-em(6px),
    transition: #{border $ease-400, color $ease-400, opacity $ease-400},
    border-bottom-width: 2px,
    border-bottom-style: solid,
    border-bottom-color: transparent,
    text-transform: uppercase,
    font-weight: 600,
  ),
  active: (
    color: _color(primary, 500),
    border-color:_color(primary, 500),
  ),
  focus: (
    color: _color(primary, 500),
  ),
  disabled: (
    opacity: 0.5,
    color: _color(grey, 500),
  )
);

$tabs-card: (
  default: (
    border: 1px solid $default-border-color,
    padding: _get-space('v', 'small') _get-space('h', 'small'),
    font-size: _get-rem($font-size-medium),
    text-align: center,
    margin-bottom: _get-space('v', 'small'),
  ),
  active: (
    border-color: _color(bg, 500),
    background-color: _color(bg, 500),
    font-weight: $font-weight-semibold,
  ),
  focus: (
  ),
  disabled: (
  )
);

// ----------------------------
// MODALS

$modal-overlay-bg-color: $color-semiblack !default;
$modal-overlay-z-index: $z-index-overlay !default;
$modal-overlay-e: $ease-400 !default;

$modal-overlay: (
  background-color: $color-semiblack,
  box-shadow: #{$shadow-ambient-1, $shadow-direct-1},
);

$modal-dialog: (
  default: (
    width: 100%,
    height: 100%,
    background-color: $color-white,
    border: 1px solid $default-border-color,
    box-shadow: ($shadow-ambient-3, $shadow-direct-2),
  ),
  'm': (
    height: auto,
    width: _get-rem(480px),
    max-height: 90%,
    border-radius: $default-border-radius,
  )
);

$modal-dialog-variants: (
  'large' : (
    width: _get-rem(640px),
  )
);

$modal-section-spacing: (
  default: (
    vertical: _get-space('v', 'small'),
    horizontal: _get-space('v', 'small'),
  ),
  'm': (
    vertical: _get-space('v'),
    horizontal: _get-space('v'),
  ),
);

$modal-header: (
  background-color: _color(grey, 50),
);

$modal-content: (
  background: $color-white,
);

$modal-footer: (
  background: $color-white,
);

$badge: (
  default: (
    padding: 0 _get-space('h', 'small'),
    color: _color(grey, 700),
    background-color: $color-white,
    border: 1px solid $default-border-color,
    border-radius: $default-border-radius,
    font-size: _get-rem($font-size-medium),
    font-weight: $font-weight-semibold,
    line-height: 22/_strip-units($font-size-medium),
  ),
  primary: (
    color: _color(primary),
    border-color: _color(primary),
  ),
  green: (
    color: _color(green),
    border-color: _color(green),
  ),
  orange: (
    color: _color(orange),
    border-color: _color(orange),
  ),
  violet: (
    color: _color(violet),
    border-color: _color(violet),
  ),
  blue: (
    color: _color(blue),
    border-color: _color(blue),
  ),
);

$figure-status: (
  default: (
    background-color: _color(grey),
  ),
  success: (
    background-color: _color(green),
  ),
);

$carousel: (
  btns: (
    offsetH: (
      default: -10px,
      l: -20px,
    ),
    offsetV: 50%,
  ),
  fade: (
    size: 800px,
    gradient: (rgba(_color('bg'), 0), rgba(_color('bg'), 0.7) 40px, rgba(_color('bg'), 1) 300px),
    gradient-white: (rgba($color-white, 0), rgba($color-white, 0.7) 40px, rgba($color-white, 1) 300px),
  )
);

$section: (
  secondary: (
    background-color: _color('bg'),
  ),
  white: (
    background-color: $color-white,
  ),
);

// ----------------------------
// OTHER MODULES AND COMPONENTS

// ----------------------------
// PAGES
