// ---------------------------------------------
// VARIABLES FOR ENVIRONTMENT
// ---------------------------------------------

// CONTENTS
// Colors
// Typography
// Icons and Images
// Shadows
// Various
// Z-index
// Easings

// ----------------------------
// COLORS

$color-white: #fff !default;
$color-black: #000 !default;

$color-semiwhite: rgba(255, 255, 255, 0.5) !default;
$color-semiblack: rgba(0, 0, 0, 0.1) !default;

$prefix: ms- !default;

// ----------------------------
// TYPOGRAPHY

$font-family-opensans: 'Open Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'Noto Sans', 'Liberation Sans', Arial, sans-serif;
$font-family-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'Noto Sans', 'Liberation Sans', Arial, sans-serif;
$font-family-tabac: 'Tabac-Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'Noto Sans', 'Liberation Sans', Arial, sans-serif;

$font-weight-default: normal;
$font-weight-base: $font-weight-default;
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-style-italic: italic;

$font-size-regular: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;

// ----------------------------
// SHADOWS

$shadow-ambient-0: 0 2px 4px 0 rgba(0, 0, 0, 0.02) !default;
$shadow-ambient-1: 0 2px 4px 0 rgba(0, 0, 0, 0.07) !default;
$shadow-ambient-2: 0 3px 8px 0 rgba(0, 0, 0, 0.11) !default;
$shadow-ambient-3: 0 4px 13px 0 rgba(0, 0, 0, 0.15) !default;
$shadow-ambient-4: 0 15px 36px 0 rgba(0, 0, 0, 0.15) !default;
$shadow-ambient-5: 0 20px 43px 0 rgba(0, 0, 0, 0.17) !default;
$shadow-ambient-6: 0 30px 53px 0 rgba(0, 0, 0, 0.18) !default;

$shadow-direct-0: 0 1px 2px 0 rgba(0, 0, 0, 0) !default;
$shadow-direct-1: 0 1px 2px 0 rgba(0, 0, 0, 0.14) !default;
$shadow-direct-2: 0 3px 7px 0 rgba(0, 0, 0, 0.16) !default;
$shadow-direct-3: 0 5px 1px 0 rgba(0, 0, 0, 0.18) !default;
$shadow-direct-4: 0 8px 11px 0 rgba(0, 0, 0, 0.22) !default;
$shadow-direct-5: 0 12px 22px 0 rgba(0, 0, 0, 0.2) !default;
$shadow-direct-6: 0 20px 18px 0 rgba(0, 0, 0, 0.18) !default;

$shadow-sm: $shadow-direct-2;
$shadow-md: $shadow-direct-4;
$shadow-lg: $shadow-direct-5;

// ----------------------------
// VARIOUS

$border-radius: 0.25rem !default;
$border-radius-sm: 0.2rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-pill: 50rem !default;
$border-radius-circle: 999rem !default;

// ---------------------------------------------
// Z-INDEX

$z-index-default: 100 !default;
$z-index-sticky: 1300 !default;
$z-index-topbar: 1400 !default;
$z-index-dropdown: 1450 !default;
$z-index-overlay: 1500 !default;
$z-index-alert: 1999 !default;

$zindex-modal-backdrop: 1500 !default;
$zindex-modal: 1550 !default;
$zindex-offcanvas-backdrop: 1440;
$zindex-offcanvas: 1445;

// ---------------------------------------------
// EASINGS

$ease-50: 0.05s ease 0s !default;
$ease-100: 0.1s ease 0s !default;
$ease-out-100: 0.1s ease-out 0s !default;
$ease-200: 0.2s ease 0s !default;
$ease-out-200: 0.2s ease-out 0s !default;
$ease-300: 0.3s ease 0s !default;
$ease-400: 0.4s ease 0s !default;
$ease-200-delayed: 0.2s ease-out 0.2s !default;
$ease-100-delayed: 0.1s ease-out 0.1s !default;
$ease-600: 0.6s ease 0s !default;

$slow-end-anim: cubic-bezier(0.25, 0.25, 0, 0.995) !default;

$enable-transitions: true !default;
$enable-reduced-motion: true !default;
$enable-shadows: true !default;

// BOOTSTRAP SETTINGS

$enable-rounded: true !default;
$enable-important-utilities: true !default;

$transition-base: all 0.2s ease-in-out !default;
$transition-fade: opacity 0.15s linear !default;
// scss-docs-start collapse-transition
$transition-collapse: height 0.35s ease !default;
$transition-collapse-width: width 0.35s ease !default;
// scss-docs-end collapse-transition
