include ../styles/style

//- -----------------------------------------------
//- VARIABLES AND DATA

- const assetsPrefix = '';
- const htmlPostfix = '.html';

//- -----------------------------------------------
//- OPTIONS

block opts

//- -----------------------------------------------
//- HTML

doctype html
html

  //- -----------------------------------------------
  //- HEAD

  head
    .
      <!--[if !mso]><!-- -->
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    .
      <!--<![endif]-->
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title= pageTitle

    +style(type="text/css")

    block head

  //- -----------------------------------------------
  //- BODY

  body(style=`${sFontFamily}` + 'padding: 0; margin: 0;')

      block content
