@each $variant, $color in $color-presets {
  .bg-#{$variant} {
    background-color: $color;
  }
}

.bg-default {
  background-color: $default-bg-color;
}

.bg-secondary {
  background-color: $secondary-bg-color;
}

.bg-teal {
  background-color: $teal-bg-color;
}

.bg-blue {
  background-color: $blue-bg-color;
}

.bg-green {
  background-color: $green-bg-color;
}

.bg-dark-grey {
  background-color: _color(grey, 900);
}

.bg-white {
  background-color: $color-white !important;
}

.bg-transparent {
  background-color: transparent !important;
}
