.border {
  &-top-grey { border-top: 1px solid $text-color-grey-light; }
  &-bottom-grey { border-bottom: 1px solid $text-color-grey-light; }
  &-left-grey { border-left: 1px solid $text-color-grey-light; }
  &-right-grey { border-right: 1px solid $text-color-grey-light; }

  &-bottom-grey-2 { border-bottom: 2px solid $text-color-grey-light; }
}
