.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }

@include breakpoint(m, down) {
  .overflow-scroll {
    &-x,
    &-y,
    &-xy {
      white-space: nowrap;
      -ms-overflow-style: none;  /* Internet Explorer 10+ */

      /* stylelint-disable */
      scrollbar-width: none;  /* Firefox */
      /* stylelint-enable */

      &::-webkit-scrollbar {
        display: none !important;
      }
    }

    &-x {
      overflow-x: scroll;
    }

    &-y {
      overflow-y: scroll;
    }

    &-xy {
      overflow: scroll;
    }
  }
}
