.line-large { line-height: 2; }
.line-default { line-height: _map-deep-get($typography-settings, 'default', 'base-line-height'); }
.line-medium { line-height: 1.333; }
.line-small { line-height: 1.2; }

.text-transform-upper {
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
}
.text-transform-capitalize { text-transform: capitalize !important; }
.text-transform-none { text-transform: none !important; }

.letter-spacing-none {
  letter-spacing: normal;

  * {
    letter-spacing: normal !important;
  }
}

.text-bold { font-weight: 700 !important; }
.text-semibold { font-weight: 600 !important; }
.text-light { font-weight: 300 !important; }
.text-normal { font-weight: normal !important; }

.text-size-regular { font-size: _get-rem($default-font-size) !important; }
.text-size-medium { font-size: _get-rem($font-size-medium) !important; }
.text-size-small { font-size: _get-rem($font-size-small) !important; }

.text-italic { font-style: italic !important; }
.text-strikethrough { text-decoration: line-through !important; }

.text-justify { text-align: justify !important; }

@each $breakpoint, $size in $grid-breakpoints {
  @include breakpoint( $breakpoint ) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text-center#{$infix} { text-align: center !important; }
    .text-left#{$infix} { text-align: left !important; }
    .text-right#{$infix} { text-align: right !important; }
  }
}

.text-vam { vertical-align: middle; }
.text-vat { vertical-align: top; }
.text-vab { vertical-align: bottom; }
.text-vabl { vertical-align: baseline; }
.text-vamd { vertical-align: -0.15em; }

// TODO: Clean up
.text-space-half { margin-bottom: _get-space('v', 'small'); }
.text-nospace { margin: 0; }
.text-space-left { margin-left: _get-space('h', 'small'); }
.text-space-right { margin-right: _get-space('h', 'small'); }
.text-space-left-tiny { margin-left: _get-space('h', 'tiny'); }
.text-space-right-tiny { margin-right: _get-space('h', 'tiny'); }

.text-wrap { white-space: normal; }
.text-nowrap { white-space: nowrap; }
.text-ellipsis { @include text-ellipsis; }

.text-color-theme { color: _color(primary, 500); }
.text-color-theme-400 { color: _color(primary, 400); }
.text-color-theme-200 { color: _color(primary, 200); }
.text-color-theme-100 { color: _color(primary, 100); }
.text-color-black { color: $text-color-black; }
.text-color-semiblack { color: $text-color-semiblack; }
.text-color-grey { color: $text-color-grey; }
.text-color-grey-light { color: $text-color-grey-light; }
.text-color-grey-dark { color: $text-color-grey-dark; }
.text-color-white { color: $text-color-white; }
.text-color-semiwhite { color: $text-color-semiwhite; }
.text-color-yellow { color: $text-color-yellow; }
.text-color-blue { color: $text-color-blue; }
.text-color-success { color: $text-color-success; }
.text-color-error { color: $text-color-error; }
.text-color-orange { color: _color(orange, 500); }
.text-color-beige { color: _color(brown, 300); }
