extends layouts/_affiliate

include ./mixins/breadcrumbs
include ./mixins/icon

block opts
    - var pageTitle = 'Partnerský systém'
    - var loggedIn = true

block head
  script(src=`https://cdn.jsdelivr.net/npm/pikaday/pikaday.js`)
  link(rel="stylesheet", href=`https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css`)
  style.
    .pika-button:hover { background: #d22121; }


block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Partnerský systém', 'Prehľady a štatisktiky']})

    section.section
      .wrapper-main

        .btn-group.btn-group--horizontal.btn-group--fill
          a.btn.btn--ghost(href="#")
            +icon('breadcrumbs').icon--medium.icon--left.show-m
            | Hlavná stránka
          a.btn.btn--ghost.is-active(href="#")
            +icon('invoice').icon--medium.icon--left.show-m
            | Prehľady a štatistiky
          a.btn.btn--ghost(href="#")
            +icon('card').icon--medium.icon--left.show-m
            | Vyplatiť provízie
          a.btn.btn--ghost(href="#")
            +icon('share').icon--medium.icon--left.show-m
            | Generátor odkazov
          a.btn.btn--ghost(href="#")
            +icon('file').icon--medium.icon--left.show-m
            | Všeobecné podmienky
          a.btn.btn--ghost(href="#")
            +icon('info').icon--medium.icon--left.show-m
            | FAQ - časté otázky

        p Prosím, zvoľte si obdobie, za ktoré chcete zobraziť štatistiky.
        .card.card--well.mb-large
          .card__content
            .bar
              .bar__item
                h1.h1 Obdobie:
              .bar__break.hide-m
              .bar__item
                .h1 od
              .bar__item
                input.input(type="text", name="date_from", id="date_from")
              .bar__break.hide-m
              .bar__item
                .h1 do
              .bar__item
                input.input(type="text", name="date_to", id="date_to")

            .bar
              .bar__item
                | Rýchla voľba
              .bar__item
                .btn-group.btn-group--horizontal
                  a.btn.btn--small dnes
                  a.btn.btn--small týždeň
                  a.btn.btn--small mesiac
                  a.btn.btn--small od založenia konta

        h2 Objednávky

        .mb-large(style="height: 300px;")
          canvas#chart

        h2 Zobrazenia stránok

        .mb-large(style="height: 300px;")
          canvas#chart2

block scripts
  script(src=`${assetsPrefix}scripts/charts.js`)
  script.
    //window.myApp.scrollOffset = {0: 85, 768: 95};

    var ctx = document.getElementById("chart").getContext('2d');
    var myChart = new window.myApp.chart(ctx, {
      type: 'line',
      data: {
        labels: ["január", "február", "marec", "apríl", "máj", "jún"],
        datasets: [{
          label: 'Priemerné hodntenia',
          data: [3.2, 4, 4.3, 5, 4.5, 2.6],
          backgroundColor: 'rgba(0, 0, 0, 0)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 3
        }],
      },
      options: {
        legend: {
          display: false
        }
      }
    });

    var ctx2 = document.getElementById("chart2").getContext('2d');
    var myChart2 = new window.myApp.chart(ctx2, {
      type: 'line',
      data: {
        labels: ["január", "február", "marec", "apríl", "máj", "jún"],
        datasets: [{
          label: 'Priemerné hodntenia',
          data: [3.2, 4, 4.3, 5, 4.5, 2.6],
          backgroundColor: 'rgba(0, 0, 0, 0)',
          borderColor: 'rgba(255,99,132,1)',
          borderWidth: 3
        }],
      },
      options: {
        legend: {
          display: false
        }
      }
    });

    var pickerStart = new Pikaday({field: document.getElementById('date_from')});
    var pickerEnd = new Pikaday({field: document.getElementById('date_to')});
