extends layouts/_affiliate

include ./mixins/breadcrumbs
include ./mixins/icon

block opts
    - var pageTitle = 'Partnerský systém'
    - var loggedIn = false

block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.mb-none
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Partnerský systém']})

    section.section
      .wrapper-main

        .row
          .col--m-6
            .btn-group.btn-group--horizontal.btn-group--fill
              a.btn.btn--ghost.is-active(href="#")
                +icon('breadcrumbs').icon--medium.icon--left.show-m
                | Hlavná stránka
              a.btn.btn--ghost(href="#")
                +icon('file').icon--medium.icon--left.show-m
                | Všeobecné podmienky
              a.btn.btn--ghost(href="#")
                +icon('info').icon--medium.icon--left.show-m
                | FAQ - časté otázky

        .card.card--well.mb-large
          .card__content
            .text-center
              h1.mb-medium Zarábajte vďaka partnerstvu
                br
                | s kníhkupectvom Martinus!
              a.btn.btn--large.btn--primary Registrovať sa
              .row
                .col--m-8.ofst--m-2
                  p.mb-medium.mb-m-none Ponúknite svojim fanúšikom alebo návštevníkom webstránky zaujímavé informácie o novinkách z knižného sveta. Zdieľajte odkazy (v súlade s pravidlami :-)) alebo bannery na webe a my Vás odmeníme províziami z nákupov realizovaných návštevníkmi, ktorých privediete do online kníhkupectva Martinus.

        h2.mb-large Prečo sa stať partnerom internetového kníhkupectva Martinus

        .row.mb-large
          .col--m-4.flex
            .card.card--material.card--material-primary
              .card__content.text-center
                img.img.w-25(src="https://partner.martinus.sk/images/reason-1.png")
                p.mb-none Martinus je dlhodobo najväčšie a najobľúbenejšie slovenské internetové kníhkupectvo.

          .col--m-4.flex
            .card.card--material.card--material-blue
              .card__content.text-center
                img.img.w-25(src="https://partner.martinus.sk/images/reason-2.png")
                p.mb-none Martinus má v ponuke viac ako 150 000 kníh a množstvo ďalších skvelých vecí.

          .col--m-4.flex
            .card.card--material.card--material-green
              .card__content.text-center
                img.img.w-25(src="https://partner.martinus.sk/images/reason-3.png")
                p.mb-none Ponúkame Vám provízie až do výšky 7 % z hodnoty nákupu uskutočneného do 7 dní od kliknutia na partnerský odkaz.

        h2.mb-large Ako funguje náš Partnerský systém?

        .card.card--well.mb-large
          .card__content
            .row
              .col--m-4
                h3 1. Zaregistrujte sa v našom Partnerskom systéme
                p Partnerom sa môže stať úplne každý, kto má webovú stránku a súhlasí so#{' '}
                  a.link Všeobecnými Obchodnými Podmienkami.

              .col--m-4
                h3 2. Umiestnite reklamu na svojej webovej stránke
                p Pripravili sme pre vás bannery, ktoré môžu odkazovať na konkrétnu knihu, alebo všeobecne na Martinus. Týmto spôsobom jednoducho a efektívne odporučíte svojim návštevníkom zaujímavé knihy či iné produkty z našej ponuky.

              .col--m-4
                h3 3. Získajte províziu za nákupy na Martinus
                p Províziu získate za každého zákazníka, ktorý klikne na reklamný odkaz či banner na Vašej stránke a nakúpi v našom online kníhkupectve.

block modals
  .modal-overlay.modal-overlay--dark#login-modal(data-modal)
    .modal.modal--small
      .modal__wrap
        .modal__header.mb-none
          .modal__header__headline.text-center
            .h2 Prihlásenie
          .modal__header__action
            .btn.btn--clean(data-toggle="#login-modal")
              +icon('close').icon--medium

        .modal__content
          p.text-center.text-size-large
            | Pre prihlásenie alebo registráciu vložte prosím váš e-email:

          .form-control.form-control--input
            .form-label
              label.text-transform-upper.text-size-small(for="reglog_email")
                | e-mail
            input.input(type="email", name="email", id="reglog_email", placeholder="Váš e-mail")

          div.btn-layout--vertical.mb-medium
            button.btn.btn--primary Pokračovať

          hr.mb-medium

          div.btn-layout--vertical.mb-medium
            button.btn.btn--facebook
              +icon('fb').icon--left.icon--medium
              | Prihlásenie cez facebook

block scripts
  script.
    window.myApp = window.myApp = {};
    //window.myApp.scrollOffset = {0: 85, 768: 95};

