extends layouts/_affiliate

include ./mixins/breadcrumbs
include ./mixins/icon

block opts
    - var pageTitle = 'Partnerský systém'
    - var loggedIn = true

block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Partnerský systém']})

    section.section
      .wrapper-main

        +affiliateNav(0)

        .card.card--well.mb-large
          .card__content
            .text-center
              h1.mb-medium Vítame Vás v Partnerskom systéme Martinusu
              .row
                .col--m-10.ofst--m-1
                  p Ako partner Martinusu môžete získať províziu až do výšky 7% z nákupu, ktorý u nás urobia Vaši návštevníci.

                  p.mb-medium.mb-m-none Províziu získavate, keď na svoju stránku umiestnite náš link alebo banner vytvorený pomocou partnerského systému – keď po kliknutí na takýto odkaz vykoná návštevník nákup v našom internetovom kníhkupectve, získa pre Vás províziu, ktorú si môžete nechať vyplatiť:

        .row.mb-large
          .col--m-3.flex
            .card.card--material.card--material-yellow
              .card__content.text-center
                h2.h3 Províziu vo výške 5 %
                p.mb-none z nákupu získate pri vyplácaní provízie na účet

          .col--m-3.flex
            .card.card--material.card--material-orange
              .card__content.text-center
                h2.h3 Províziu vo výške 5 %
                p.mb-none je možné vyplatiť od minimálnej sumy 33€.

          .col--m-3.flex
            .card.card--material.card--material-primary
              .card__content.text-center
                h2.h3 Províziu vo výške 7 %
                p.mb-none z nákupu získate, ak si zvolíte vyplácanie provízie v podobe elektronických nákupných poukážok na Martinuse
          .col--m-3.flex
            .card.card--material.card--material-violet
              .card__content.text-center
                h2.h3 Províziu vo výške 7 %
                p.mb-none si môžete nechať vyplatiť v minimálnej hodnote 10€. Elektronické poukážky z provízie vo výške 7% sú platné iba v internetovom kníhkupectve Martinus

        .bar
          .bar__item.bar__item--fill
            h2.mb-none Rýchle prehľady
            p Podrobnejšie údaje nájdete na podstránke#{' '}
              a.link Prehľady a štatistiky.
          .bar__break.hide-m
          .bar__item.bar__item--shrinkable
            a.btn
              +icon('invoice').icon--medium.icon--left
              | Zobraziť prehľady a štatistiky

        .mb-large
          | <table class="table table--striped">
          |         <tbody><tr>
          |             <th>&nbsp;</th>
          |             <th>Tento kalendárny mesiac</th>
          |             <th>Celkovo</th>
          |         </tr>
          |         <tr>
          |             <td class="grey">Suma objednávok</td>
          |             <td class="centered">17,18&nbsp;€</td>
          |             <td class="centered">3&nbsp;135,85&nbsp;€</td>
          |
          |         </tr>
          |         <tr>
          |             <td class="grey">Počet objednávok</td>
          |             <td class="centered">1</td>
          |             <td class="centered">152</td>
          |
          |         </tr>
          |         <tr>
          |             <td class="grey">Výška provízie (v základnej výške 5 %)</td>
          |             <td class="centered">0,86&nbsp;€</td>
          |             <td class="centered">156,88&nbsp;€</td>
          |
          |         </tr>
          |     </tbody></table>

        .bar
          .bar__item.bar__item--fill
            h2.mb-none Platby
          .bar__break.hide-m
          .bar__item.bar__item--shrinkable
            a.btn.btn--success
              +icon('card').icon--medium.icon--left
              | Vyplatiť provízie

        .mb-large
          | <table class="table table--striped">
          |         <tbody><tr>
          |             <th>Dátum</th>
          |             <th>Suma</th>
          |             <th>Typ</th>
          |         </tr>
          |                 <tr>
          |             <td>2014-12</td>
          |             <td class="centered">5,95&nbsp;€</td>
          |             <td class="centered">Darčeková poukážka</td>
          |         </tr>
          |                 <tr>
          |             <td>2014-11</td>
          |             <td class="centered">44,05&nbsp;€</td>
          |             <td class="centered">Darčeková poukážka</td>
          |         </tr>
          |                 <tr>
          |             <td>2014-03</td>
          |             <td class="centered">1,69&nbsp;€</td>
          |             <td class="centered">Darčeková poukážka</td>
          |         </tr>
          |                 <tr>
          |             <td>2015-01</td>
          |             <td class="centered">1,78&nbsp;€</td>
          |             <td class="centered">Darčeková poukážka</td>
          |         </tr>
          |                 <tr>
          |             <td>2014-12</td>
          |             <td class="centered">26,50&nbsp;€</td>
          |             <td class="centered">Darčeková poukážka</td>
          |         </tr>
          |                 <tr>
          |             <td>2015-04</td>
          |             <td class="centered">5,57&nbsp;€</td>
          |             <td class="centered">Darčeková poukážka</td>
          |         </tr>
          |                 <tr>
          |             <td>2015-03</td>
          |             <td class="centered">4,49&nbsp;€</td>
          |             <td class="centered">Darčeková poukážka</td>
          |         </tr>
          |                 <tr>
          |             <td>2015-02</td>
          |             <td class="centered">1,07&nbsp;€</td>
          |             <td class="centered">Darčeková poukážka</td>
          |         </tr>
          |                 <tr>
          |             <td>2015-12</td>
          |             <td class="centered">11,40&nbsp;€</td>
          |             <td class="centered">Darčeková poukážka</td>
          |         </tr>
          |                 <tr>
          |             <td>2015-11</td>
          |             <td class="centered">3,63&nbsp;€</td>
          |             <td class="centered">Darčeková poukážka</td>
          |         </tr>
          |             </tbody></table>

        .bar
          .bar__item.bar__item--fill
            h2.mb-none Najpredávanejšie tituly tohto partnerského konta od jeho založenia

        .mb-large
          | <table class="table table--striped">
          |                             <tbody><tr>
          |                     <td>1.</td>
          |                     <td width="80">
          |                                                     <img src="http://www.martinus.sk//data/tovar/_s/186/s186186.jpg" style="border-width: 1px" height="40" alt="pic">
          |                                             </td>
          |                     <td class="left">
          |                         <a class="link" target="_blank" href="http://www.martinus.sk/?uItem=186186">Bodaj bi!</a><br>
          |                         Callie Krueger  ·  Vydavateľstvo: Koloman Kertész Bagala, 2014                    </td>
          |                     <td>9,00&nbsp;€ *</td>
          |                     <td>(24x)</td>
          |                 </tr>
          |                             <tr>
          |                     <td>2.</td>
          |                     <td>
          |                                                     <img src="http://www.martinus.sk//data/tovar/_s/309/s309728.jpg" style="border-width: 1px" height="40" alt="pic">
          |                                             </td>
          |                     <td class="left">
          |                         <a class="link" target="_blank" href="http://www.martinus.sk/?uItem=309728">Žuvot</a><br>
          |                         Callie Krueger, Matúš Maťátko (ilustrátor)  ·  Vydavateľstvo: Koloman Kertész Bagala, 2018                    </td>
          |                     <td>10,00&nbsp;€ *</td>
          |                     <td>(17x)</td>
          |                 </tr>
          |                             <tr>
          |                     <td>3.</td>
          |                     <td>
          |                                                     <img src="http://www.martinus.sk//data/tovar/_s/229/s229862.jpg" style="border-width: 1px" height="40" alt="pic">
          |                                             </td>
          |                     <td class="left">
          |                         <a class="link" target="_blank" href="http://www.martinus.sk/?uItem=229862">Stručný etymologický slovník slovenčiny</a><br>
          |                         Ľubor Králik  ·  Vydavateľstvo: VEDA, 2016                    </td>
          |                     <td>24,94&nbsp;€ *</td>
          |                     <td>(9x)</td>
          |                 </tr>
          |                             <tr>
          |                     <td>4.</td>
          |                     <td>
          |                                                     <img src="http://www.martinus.sk//data/tovar/_s/130/s130557.jpg" style="border-width: 1px" height="40" alt="pic">
          |                                             </td>
          |                     <td class="left">
          |                         <a class="link" target="_blank" href="http://www.martinus.sk/?uItem=130557">Ale</a><br>
          |                         Callie Krueger  ·  Vydavateľstvo: Koloman Kertész Bagala, 2012                    </td>
          |                     <td>10,00&nbsp;€ *</td>
          |                     <td>(9x)</td>
          |                 </tr>
          |                             <tr>
          |                     <td>5.</td>
          |                     <td>
          |                                                     <img src="http://www.martinus.sk//data/tovar/_s/452/s452599.jpg" style="border-width: 1px" height="40" alt="pic">
          |                                             </td>
          |                     <td class="left">
          |                         <a class="link" target="_blank" href="http://www.martinus.sk/?uItem=452599">Milá zoo</a><br>
          |                         Rod Campbell  ·  Vydavateľstvo: Svojtka&amp;Co., 2018                    </td>
          |                     <td>7,47&nbsp;€ *</td>
          |                     <td>(6x)</td>
          |                 </tr>
          |                             <tr>
          |                     <td>6.</td>
          |                     <td>
          |                                                     <img src="http://www.martinus.sk//data/tovar/_s/583/s583467.jpg" style="border-width: 1px" height="40" alt="pic">
          |                                             </td>
          |                     <td class="left">
          |                         <a class="link" target="_blank" href="http://www.martinus.sk/?uItem=583467">Dobrú noc a sladké sny</a><br>
          |                         Amber Stewart, Layn Marlow  ·  Vydavateľstvo: Fortuna Libri, 2019                    </td>
          |                     <td>5,62&nbsp;€ *</td>
          |                     <td>(6x)</td>
          |                 </tr>
          |                     </tbody></table>

        p.text-size-small * Uvedené ceny vychádzajú z aktuálneho katalógu a nemusia sa zhodovať s cenami v minulých objednávkach.


block modals
  .modal-overlay.modal-overlay--dark#login-modal(data-modal)
    .modal.modal--small
      .modal__wrap
        .modal__header.mb-none
          .modal__header__headline.text-center
            .h2 Prihlásenie
          .modal__header__action
            .btn.btn--clean(data-toggle="#login-modal")
              +icon('close').icon--medium

        .modal__content
          p.text-center.text-size-large
            | Pre prihlásenie alebo registráciu vložte prosím váš e-email:

          .form-control.form-control--input
            .form-label
              label.text-transform-upper.text-size-small(for="reglog_email")
                | e-mail
            input.input(type="email", name="email", id="reglog_email", placeholder="Váš e-mail")

          div.btn-layout--vertical.mb-medium
            button.btn.btn--primary Pokračovať

          hr.mb-medium

          div.btn-layout--vertical.mb-medium
            button.btn.btn--facebook
              +icon('fb').icon--left.icon--medium
              | Prihlásenie cez facebook

block scripts
  script.
    window.myApp = window.myApp = {};
    //window.myApp.scrollOffset = {0: 85, 768: 95};

