extends layouts/_default

block opts
  - var pageTitle = 'Knihovrátok'

block content
  header.buybacks-header.bg-orange
    .wrapper-main.pt-large.pb-large
      .row.mt-medium-l.mb-medium-l
        .col--l-6.col--xl-8.text-color-white
          h3.mb-small Výkup kníh
          h1.mb-medium Vymeňte čítané knihy za nové príbehy
          p.h4.mb-medium.text-color-white Máte doma knižky, ktoré už nebudete čítať? <strong>Vymeníme vám ich za poukážku na nákup</strong> v Martinuse a ponúkneme ich ďalším čitateľom.
          a.btn.btn--primary.pl-medium.pr-medium.mb-none(href="buybacks.html") Predať knihy Martinusu
  main
    | Hello world.<br><br><br><br><br><br><br><br>
