extends campaign-pomocnik

block append head
  link(rel="stylesheet", href=`${assetsPrefix}styles/xmas.css`)

block opts
  - var pageTitle = 'Vianočný pomocník'

block logo
  img(src="images/content/pomocnik/kp-logo-xmas.svg", alt="Vianočný pomocník").kp-logo.mb-medium
