extends layouts/_default

block head
  link(rel="stylesheet", href=`${assetsPrefix}styles/campaigns.css`)

block opts
  - var pageClass = 'bg-secondary'
  -
    const categories = [
      {
        icon: 'avatar-parent',
        title: 'Pre rodiča',
      },
      {
        icon: 'avatar-sibling',
        title: 'Pre súrodenca',
      },
      {
        icon: 'avatar-child',
        title: 'Pre dieťa',
      },
      {
        icon: 'avatar-grandparent',
        title: 'Pre starého rodiča',
      },
      {
        icon: 'avatar-friend',
        title: 'Pre kamaráta/ku',
      },
      {
        icon: 'avatar-other',
        title: 'Pre niekoho iného',
      }
    ];

block content
  main
    section.section.bg-yellow.pt-medium.kp-process-background
      .wrapper-main
        .row.align-items-center.mb-medium
          .col--s-5.col--l-3
            block logo
              a(href="campaign-pomocnik.html")
                img(src="images/content/pomocnik/kp-logo.svg", alt="Knihomoľský pomocník").kp-logo
    section.section.mb-large
      .wrapper-main
        .row.kp-nav.mb-medium
          .col--4
            .kp-nav__item.pt-small.pb-small.pt-m-medium.pb-m-medium.is-active
              div
                .h3.text-color-primary-light.mb-none 01
                .h2.mb-none Pre koho?
          .col--4
            .kp-nav__item.pt-small.pb-small.pt-m-medium.pb-m-medium
              div
                .h3.text-color-primary.mb-none 02
                .h2.mb-none Akú knihu?
          .col--4
            .kp-nav__item.pt-small.pb-small.pt-m-medium.pb-m-medium
              div
                .h3.text-color-primary.mb-none 03
                .h2.mb-none Potvrdenie

        .row
          .col--m-7.ofst--center
            p.text-center.pt-medium.pb-medium Prezraďte nám, pre koho vyberáte novú knižku. Prosím, vyberte jednu možnosť. Nebojte sa, pokiaľ potrebujete poradiť s výberom pre viacero knihomoľov, nášho pomocníka môžete využiť koľkokrát len budete chcieť.

        .row
          -
            let i = 0;
          each category in categories
            - i++
            .col--s-6.col--l-4.mb-medium
              input(type="radio", id=`check-${i}`, name="for-whom").kp-checkbox.visually-hidden
              label(for=`check-${i}`).btn.btn--carousel.kp-label.pt-small.pb-small.d-flex.justify-content-center.align-items-center.mb-none
                +icon(category.icon).text-color-primary-light.icon--xlarge.mr-small
                span.h3.mb-none
                  =category.title

        .d-flex.justify-content-center.align-items-center.mt-large
          button.btn.btn-full.btn--icon-left.mb-none
            +icon('chevron-left').icon--medium
            | Naspäť
          div.ml-medium.mr-medium.text-semibold Krok 1/3
          a(href="campaign-pomocnik-step2.html").btn.btn-full.btn--icon-right.btn--primary.mb-none
            +icon('chevron-right').icon--medium
            | Odoslať

