extends campaign-hrdinska-patka-layout

block tab
  section.section.section--small.pt-none
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka-pravidla.html')
            .tab-nav__content-wrap Pravidlá
  section.h5-content
    .wrapper-main.position-relative
      img(src=`${assetsPrefix}images/content/campaign/hrdinska-patka/about-us/dracula.png`).h5-dracula.position-absolute
      .row
        .col--l-8.ofst--l-2.pt-large
          h2 Príbeh
          p V knižnom svete je Mesiac knihy dôležité obdobie, práve vtedy totiž prebieha údržba brán do príbehov. A tie príbehy, na ktoré ľudia zabudli, sa navždy uzavrú! Preto je každý rok úlohou jedného čitateľa dokázať, že spozná knižky už z náznakov.
          p Tentoraz pripadne táto zodpovednosť tebe. Stačí chvíľa nepozornosti v kníhkupectve, krok do dverí tam, kde ešte pred chvíľou istotne bola pevná stena... Zrazu stojíš na lúke v obkolesení stoviek knižných postáv, ktoré ťa vítajú a volajú ti na slávu.
          p Dokážeš rozlúsknuť hádanky len podľa indícií trojice hrdinov? To iste záleží aj od toho, ktoré postavy spolu s tebou vytvoria tím. „Vyberte tých najmocnejších!“ kričia podaktorí obyvatelia knižného sveta. „Nie, tých najmúdrejších!“ nechajú sa počuť zasa ďalší. „Sme stratení!“ kvíli už vopred akýsi pesimistický škriatok. Nakoniec Gandalf požiada Wonder Woman, aby priniesla Trojčarodejnícky pohár. V ňom sa nájdu mená hrdinov, ktorí sa s tebou pokúsia udržať brány do príbehov otvorené.
          img(src=`${assetsPrefix}images/content/campaign/hrdinska-patka/about-us/superman.jpg`).mb-small
          p Pátranie po pohári chvíľu trvá, keďže sa záhadne premiestnil z Rokfortu do špajze Lobélie Vreckárovej. Keď ho nadurdená hobitka prinesie, Gandalf z neho na prekvapenie všetkých vyloví až štyri lístky a zvučným hlasom prečíta mená: „Júlia Kapuletová. Zlý vlk. Forrest Gump. A pes menom Montmorency.“
          p Rady prítomných hrdinov sa rozostúpia a vyžrebované postavy sa zhŕknu okolo teba. Zhromaždenie postupne zahalí zarazené ticho... Preruší ho až škriatok svojím zhrnutím situácie: „Sme stratení.“ Hrdinovia v tvojom tíme nie sú ani tí najmocnejší, ani tí najmúdrejší. Ale v očiach sa im zračí odhodlanie – vôľa nielen uchrániť všetky príbehy od zabudnutia, ale aj každému dokázať, že o nich pochybujú neprávom. K prvej úlohe vás napokon vyprevadí váhavé povzbudzovanie ostatných hrdinov. Ich hlasy takmer prekryjú bedákanie: „Sme stratení!“
          p Zhlboka sa nadýchneš vzduchu s omamnou vôňou novej knihy a usmeješ sa na každého člena tímu. Odteraz ste známi ako Hrdinská päťka a keďže od vás nikto nečaká veľa, vašou superschopnosťou bude prekvapenie. V príbehoch na takých veciach naozaj záleží!
    .wrapper-main.h5-bg-heroes &nbsp;

