extends campaign-hrdinska-patka

block authSection
  .h5-user.d-flex.flex-column.flex-m-row.align-items-center
    .d-flex.align-items-center.justify-content-center.justify-content-m-start
      +icon('user').icon--medium.mr-small.mb-none
      .h5-user__email.text-ellipsis superdlhy.sherlock.holmes@martinus.sk
      +icon('logout').ml-small.icon--medium
    a.btn.btn--secondary.mb-none.mt-small.mt-m-none.ml-medium(data-toggle='#h5-modal-bonus')
      +faIcon('treasure-chest').fa-lg.mr-small
      | Tajný bonus

block gameStats
  .kd-progress.ml-m-auto(style='min-width:230px')
    .kd-progress__books.bg-primary-light
      +faIcon('book').fa-lg.mr-small
      | Hráš o&nbsp;<strong class="font-weight-bold">4</strong>&nbsp;z 20 kníh
    button(data-tooltip, data-html="#kd-double-price-tooltip", data-tippy-theme="light").kd-progress__info.text-size-small.bg-primary
      | Zdvojnásob svoju výhru
      +icon('info').ml-tiny
  #kd-double-price-tooltip.hide.card
    .card__content.text-center
      p.text-size-medium Stačí, ak do 1. apríla urobíš ľubovoľný nákup v kníhkupectve Martinus a tvoju prípadnú výhru zdvojnásobime.
      ul.list-inline
        li
          a(href="campaign-knizna-detektivka-pravidla.html").link Pravidlá súťaže
        li
          a(href="https://www.martinus.sk").link Na Martinus

append content
  .modal-overlay(data-modal, id=`h5-modal-bonus`)
    article.modal
      .modal__wrap
        .modal__header.mb-none
          .modal__header__headline
            h3 Tajný bonus č. 1 - <span class="text-transform-upper">meno autora</span>
          .modal__header__action
            .btn.btn--clean(data-toggle=`#h5-modal-bonus`)
              +icon('close').icon--medium
        .modal__content.bg-secondary
          .d-flex.mb-small
            img(
              src=`images/content/campaign/hrdinska-patka/heroes/forrest.png`,
              srcset=`images/content/campaign/hrdinska-patka/heroes/forrest@2x.png 2x`,
              style="width: 100px;",
            ).flex-shrink-0.align-self-start
            .card.card--arrowhead-left.card--arrowhead
              .card__content.text-italic „Bublifuky? Prepáčte, toho pána nepoznám. Ale poviem vám, to je teda poriadne čudné meno.“
          .form-control.form-control--input.mb-medium
            .input-addons
              input.input(type="text", placeholder="Sem napíš svoju odpoveď…")
              .input-addons__item.p-none
                a(href='campaign-hrdinska-patka-answer.html').btn.btn--primary.px-small Hádať
          p.text-center V pondelok vyžrebujeme 5 výhercov, ktorí od nás dostanú darčekovú poukážku v hodnote 25 eur.
