extends campaign-hrdinska-patka

include ./emails/mixins/elements

block gameAnswer
  .text-color-white
    h2 Kniha o knihe
    .d-flex.justify-content-center.align-items-center
      .product__img.product__cover.mr-medium.ml-none.mb-none
        .thumbnail.thumbnail--book.thumbnail--medium-large
          .thumbnail__img-wrap
            img(src=`https://mrtns.eu/tovar/_l/712/l712231.jpg?v=1607934338`).img
      .d-block.text-left
        h3.mb-tiny Kniha o knihe
        p.mb-small Artur Author
        a.btn.btn--primary.mb-none Pozrieť na Martinuse
