extends campaign-knizna-detektivka

block authSection
  .kd-user.flex.align-items-middle
    .text-ellipsis.kd-user__email
      +icon('user').icon--medium.mr-small.mb-none
      | superdlhy.sherlock.holmes@martinus.sk
    .ml-medium-m
      .kd-badge-progress.text-center
        i.fal.fa-book.fa-lg.mr-small
        | Hráš o
        | <strong class="font-weight-bold">4</strong> z 50 kníh
      div.text-size-small <strong>Vyhraj 2x toľko za nákup na Martinus.sk!</strong>
    //.kd-books-progress
    //  - let n = 0;
    //    while n < 20
    //      if n < 4
    //        - iconClass = 'fas text-color-theme-400';
    //      else
    //        - iconClass = 'fal';
    //
    //      i(class=iconClass).fa-book.fa-lg.kd-books-progress__icon
    //      if n === 9
    //        <br>
    //      - ++n

