extends layouts/_default

block content
  main
    section.section.bg-yellow.pt-medium
      .wrapper-main
        .row.align-items-middle.mb-medium
          .col--s-5.col--l-3
            a(href="campaign-pomocnik.html")
              img(src="images/content/pomocnik/kp-logo.svg", alt="Knihomoľský pomocník").kp-logo
