extends campaign-hrdinska-patka

block authSection
  .kd-user.d-flex.align-items-center
    .text-ellipsis.kd-user__email
      +icon('user').icon--medium.mr-small.mb-none
      | superdlhy.sherlock.holmes@martinus.sk
    +icon('logout').ml-small.icon--medium

block gameStats
  .kd-progress.ml-m-auto
    .kd-progress__books.bg-primary-light
      i.fal.fa-book.fa-lg.mr-small
      | Hráš o&nbsp;<strong class="font-weight-bold">4</strong>&nbsp;z 20 kníh
    button(data-tooltip, data-html="#kd-double-price-tooltip", data-tippy-theme="light").kd-progress__info.text-size-small.bg-primary
      | Zdvojnásob svoju výhru
      +icon('info').ml-tiny
  #kd-double-price-tooltip.hide.card
    .card__content.text-center
      p.text-size-medium Stačí, ak do 1. apríla urobíš ľubovoľný nákup v kníhkupectve Martinus a tvoju prípadnú výhru zdvojnásobime.
      ul.list-inline
        li
          a(href="campaign-knizna-detektivka-pravidla.html").link Pravidlá súťaže
        li
          a(href="https://www.martinus.sk").link Na Martinus
