extends campaign-knizna-detektivka

block authSection
  .kd-user-info.flex.align-items-middle
    a.mr-medium(href="campaign-knizna-detektivka.html") superdlhy.sherlock.holmes@martinus.sk
    .kd-badge-progress
      i.fal.fa-book.fa-lg.mr-small
      | <strong>4</strong> / 20
    //.kd-books-progress
    //  - let n = 0;
    //    while n < 20
    //      if n < 4
    //        - iconClass = 'fas text-color-theme-400';
    //      else
    //        - iconClass = 'fal';
    //
    //      i(class=iconClass).fa-book.fa-lg.kd-books-progress__icon
    //      if n === 9
    //        <br>
    //      - ++n

