extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon

block opts
    - var pageTitle = 'Knižná odysea'

block content
  main

    section.section.knizna-odysea-header
      .wrapper-main
        .text-center
          h1.text-color-white Knižná odysea

    #knihonaut

block scripts
  script(src=`${assetsPrefix}scripts/knizna-odysea.js`)
