extends layouts/_default

block opts
  - var pageClass = 'bg-yellow'

block content
  main
    section.section.pt-medium.kp-main-background
      .wrapper-main
        .row.mt-m-large.kp-thanks
          .col--s-3.kp-thanks__photo
            .pl-small.pr-small
              img(src="images/content/pomocnik/kp-sherlock.png").w-50.w-100-s
          .col--s-9.col--m-5.kp-thanks__text
            a(href="campaign-pomocnik.html")
              block logo
                img(src="images/content/pomocnik/kp-logo.svg", alt="Knihomoľský pomocník").kp-logo.mb-medium
            p.text-bold Ďakujeme!
            p Pustili sme sa do pátrania po tých najlepších knižných tipoch. Do 48 hodín by sme sa vám mali ozvať s výberom kníh, ktoré sa stanú ozdobou každej domácej knižnice. Zatiaľ sa môžete napríklad mrknúť na naše knihomoľské kolekcie pre ďalšiu inšpiráciu!

            .flex-column.d-flex.align-items-start
              a(href="campaign-pomocnik.html").btn Potrebujem znovu poradiť
              a.btn.btn--primary Hľadám ďalšiu inšpiráciu
