extends campaign-hrdinska-patka-layout

block tab
  section.section.section--small
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka-pravidla.html')
            .tab-nav__content-wrap Pravidlá
  section.h5-content.section
    .wrapper-main
      .row
        .col--l-8.ofst--l-2
          h2 Ako hrať

          p Každý pracovný deň ti naši hrdinovia pomôžu v hľadaní správnej odpovede. Môže to byť názov knižky, meno autora či autorky, ale aj knižná postava alebo vymyslené svety. Pozorne si prezri všetky pomôcky, ktoré ti hrdinovia poskytnú. Každý deň o polnoci pribudne prvá indícia, ku ktorej sa o 8:00, 12:00 a 16:00 pridajú ďalšie.
          p Preto ak sa ti hneď nepodarí uhádnuť správnu odpoveď, nezúfaj, ale nastav si budík a využi počas dňa ďalšie pomôcky :-) Svoju odpoveď napíš do políčka a hneď sa dozvieš, či sa ti podarilo uhádnuť hádanku. Máš toľko pokusov, koľko len chceš! A tešiť sa môžeš aj na bonusové úlohy, ale viac ti zatiaľ neprezradíme.
          p Počas 7.3. až 1.4. môžeš každý pracovný deň hľadať správnu odpoveď na naše hádanky. Dokopy čaká tvoju Hrdinskú päťku až 20 úloh. Pomôcky sú skutočne rôzne od básničiek, cez obrázky až po vetičky, ktoré na prvý pohľad nič neznamenajú. Sleduj však všetky indície pozorne, každá z nich je dôležitá.
          p Prihlás sa svojím e-mailom a vyrieš všetky naše hádanky.
          h3 Zdvojnásob svoju výhru!
          p Na konci súťaže žrebujeme až 5 šťastných výhercov, ktorí získajú knihy podľa vlastného výberu v podobe darčekovej poukážky. Každá správna odpoveď predstavuje jednu knižku a teda darčekovú poukážku v hodnote 10 eur.
          p.text-semibold Svoju výhru môžeš zdvojnásobiť, ak počas trvania súťaže urobíš ľubovoľný nákup v kamenných kníhkupectvách Martinus alebo na <a href="https://www.martinus.sk">www.martinus.sk</a>.

          article.card.card--arrowhead.card--arrowhead-top
            .card__content <strong>Príklad:</strong> Ak sa ti podarí uhádnuť všetkých 20 kníh a do 1. apríla si kúpiš aspoň jednu knihu v kamennom kníhkupectve Martinus (nezabudni si odložiť účtenku!) alebo na www.martinus.sk, tvoja prípadná výhra bude až 40 kníh.

          a.btn.btn--primary Pozrieť podrobné pravidlá súťaže

    .wrapper-main.h5-bg-heroes.h5-bg-heroes--rules &nbsp;

