extends campaign-2024-layout

block tab
  section.section.section--small.pt-none.bg-white
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024-pravidla.html')
            .tab-nav__content-wrap Pravidlá

  .wrapper-main.overflow-scroll-x.py-medium.mb-large
    .row
      .col--l-8.mx-auto.pt-large.text-color-white
        h2.text-color-beige Pravidlá

        p Každý pracovný deň o polnoci sa na hracom poli zobrazí knižná pohľadnica, ktorú Červenej Čiapočke poslal jeden z knižných hrdinov alebo hrdiniek. Tvojou úlohou je uhádnuť meno hrdinky alebo hrdinu, ktorý danú pohľadnicu odoslal. Pozorne si prezri všetky indície, ktoré sa na hracom poli postupne objavia.
        p O polnoci sa objaví pohľadnica plná vizuálnych náznakov a tipov, ktoré akokoľvek súvisia s danými hrdinkami, hrdinami a príbehmi, v ktorých vystupujú. Pohľadnica ti takisto naznačí, v ktorej krajine, skutočnej či vymyslenej, sa knižný príbeh odohráva. O 12:00 pribudne druhá indícia vo forme textu na zadnej strane pohľadnice, ktorý napísala daná knižná postava. Čítaj pozorne a možno sa dopátraš k správnej odpovedi. O 16:00 pribudne posledná indícia – rozhovor medzi Červenou Čiapočkou (ČČ) a neznámymi okoloidúcimi (O), ktorých požiada o pomoc pri hľadaní knižných postáv.
        p Nezúfaj, ak sa ti nepodarí uhádnuť správnu odpoveď na prvýkrát. Nastav si budík a využi všetky indície, ktoré sa objavia počas dňa :-) Svoju odpoveď napíš do políčka a hneď sa dozvieš, či sa ti podarilo odhaliť odosielateľa alebo odosielateľku záhadných pohľadníc. Máš toľko pokusov, koľko len chceš!
        p V dňoch od 4. marca až do 31. marca môžeš každý pracovný deň hádať a odhaľovať knižné hrdinky a hrdinov, ktorí posielajú Červenej Čiapočke záhadné knižné pohľadnice. Spolu na teba čaká až 20 úloh. Pri pátraní ti pomôžu tri indície, ktoré sa zobrazia postupne v priebehu celého hracieho dňa. Samozrejme, čím viac toho o knižnej hrdinke alebo hrdinovi sám/sama vieš, tým lepšie :-)
        p Prihlás sa svojím e-mailom a pridaj sa k Červenej Čiapočke na jej putovaní knižným svetom. Pusti sa do hádania a pamätaj, že každé dobrodružstvo začína vždy od prvej strany.

        h3.text-color-beige Zdvojnásob svoju výhru!
        p Na konci súťaže vyžrebujeme až 5 šťastných výhercov, ktorí získajú knihy podľa vlastného výberu v podobe darčekovej poukážky. Každá správna odpoveď predstavuje jednu knižku a teda darčekovú poukážku v hodnote 10 eur.
        p
          strong.text-color-beige Svoju výhru môžeš zdvojnásobiť, ak počas trvania súťaže urobíš ľubovoľný nákup v kamenných kníhkupectvách Martinus alebo na <a href="">www.martinus.sk</a>.
        article.card.card--arrowhead.card--arrowhead-top.text-color-black
          .card__content <strong>Príklad:</strong> Ak sa ti podarí uhádnuť všetkých 20 úloh a počas trvania súťaže (4.3. – 31.3.) si kúpiš aspoň jednu knihu v kamennom kníhkupectve Martinus (nezabudni si odložiť účtenku!) alebo na www.martinus.sk, tvoja prípadná výhra bude až 40 kníh.

        a.btn.btn--primary Pozrieť podrobné pravidlá súťaže

  .wrapper-main.mc24-story.text-center
