extends campaign-hrdinska-patka-layout

block tab
  section.section.section--small
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka-pravidla.html')
            .tab-nav__content-wrap Pravidlá
  section.kd-content.section.pb-large
    .wrapper-main
      .row
        .col--l-8
          p
            | Hello world.
