extends campaign-knizna-detektivka-layout

block tab
  section.section.section--small
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-detektivka.html')
            .tab-nav__content-wrap Pátranie
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-detektivka-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-detektivka-pravidla.html')
            .tab-nav__content-wrap Pravidlá
  section.kd-content.section.pb-large
    .wrapper-main
      .row
        .col--m-8
          .row
            each day in days
              - modalName = day.done ? 'done' : 'available'

              .col--6.col--s-4.col--l-3.mb-medium
                .kd-folder
                  if day.done
                    .kd-folder__complete
                      +icon('check-circle').fa-lg
                  .kd-folder__content
                    if day.available
                      a(href="#", data-toggle=`#kd-modal-play-${modalName}`, style=`background-image:url(images/content/campaign/knizna-detektivka/heroes/${day.hero}.png)`).kd-folder__hero
                    else
                      div.kd-folder__date
                        span(data-tooltip, title=`Pátranie začne ${day.date}`)= day.date
        .col--m-4
          .card
            h2.text-color-white.bg-primary-light.mb-none.p-small.text-center.pt-small.pb-small
              | Knižný zlodej
            img(src='images/content/campaign/knizna-detektivka/identikit.jpg').mb-small
            .card__content.text-center
              p Napíš meno neznámeho páchateľa,<br>ktoré sa ti podarilo vypátrať.
              .form-control.form-control--input
                input.input.input--large(type="text", placeholder="Napr. Kornélia Dlhoprstá")

              button(data-toggle="#kd-modal-search-done").btn.btn--primary.btn--large Hľadať

  .modal-overlay#kd-modal-search-done(data-modal)
    article.modal.modal--medium
      .modal__content
        .text-right
          .btn.btn--clean.mb-none(data-toggle="#kd-modal-search-done")
            +icon('close').icon--medium
        p.text-bold
          | Výborne
        p
          | Uhádol si.


  .modal-overlay#kd-modal-play-done(data-modal)
    article.modal.modal--medium
        .modal__content.bg-secondary
          .text-right
            .btn.btn--clean.mb-none(data-toggle="#kd-modal-play-done")
              +icon('close').icon--medium
          .flex.kd-dialogue
            .kd-dialogue__hero.ml-auto
              h5.text-center.text-color-beige
                strong Sherlock
              img(src="images/content/campaign/knizna-detektivka/heroes/sherlock.png")
            .kd-dialogue__text.text-center.pl-medium.pr-medium
              article.card.card--speech-bubble
                .card__content.text-color-beige
                  | Isabella, dobrý deň, dúfam, že vás neruším pri rodičovských povinnostiach.
              article.card.card--speech-bubble-end
                .card__content
                  | Prosím, volajte ma Bella. Nie, nie, Renesmee sa hrá v lese, tak sa môžeme v pokoji porozprávať.
              article.card.card--speech-bubble
                .card__content.text-color-beige
                  | Ďakujem. Predpokladám, že viete, pri akej príležitosti som vás prišiel navštíviť.
              article.card.card--speech-bubble-end
                .card__content
                  | Ide o moju ukradnutú knihu?
              article.card.card--speech-bubble
                .card__content.text-color-beige
                  | Správne. Viete mi povedať jej názov, meno hlavného hrdinu alebo aspoň priblížiť, o čom bola?
              article.card.card--speech-bubble-end
                .card__content
                  | Názov si nepamätám, ale bola o materstve. Viete, byť matkou je niekedy naozaj ťažké a rada si prečítam oddychovú knihu, kde je hlavnou hrdinkou matka, ktorá nechce byť ako ostatné mamy na detskom ihrisku. A táto kniha bola ešte aj vtipná, pretože deti hlavnej hrdinky sa chceli navzájom zabiť a&nbsp;nútili&nbsp;mamu&nbsp;piť.

              .alert.alert--success.mt-medium.align-items-center.block
                +icon('check-circle').mr-tiny
                | <strong>Výborne!</strong><br>
                | Podarilo sa ti vypátrať hľadanú knižku. Uhádneš aj ďalšie?

            .kd-dialogue__hero.mr-auto
              h5.text-center
                strong Isabella
              img(src="images/content/campaign/knizna-detektivka/heroes/swan.png")

  .modal-overlay#kd-modal-play-available(data-modal)
      article.modal.modal--medium.bg-secondary
        .modal__wrap
          .modal__content
            .text-right
              .btn.btn--clean.mb-none(data-toggle="#kd-modal-play-available")
                +icon('close').icon--medium
            .flex.kd-dialogue
              .kd-dialogue__hero.ml-auto
                h5.text-center.text-color-beige
                  strong Sherlock
                img(src="images/content/campaign/knizna-detektivka/heroes/sherlock.png")
              .kd-dialogue__text.text-center.pl-medium.pr-medium
                article.card.card--speech-bubble
                  .card__content.text-color-beige
                    | Pán Tarzan, prosím, môžete zísť z toho stromu, aby som nemusel tak kričať?
                article.card.card--speech-bubble-end
                  .card__content
                    | Už letíííííííím.
                article.card.card--speech-bubble
                  .card__content.text-color-beige
                    | Keby ste mohli ešte ustúpiť o pár krokov dozadu a povedať mi, aká kniha vám to zmizla, pretože z vášho hlásenia som sa toho veľa nedozvedel.
                article.card.card--speech-bubble-end
                  .card__content
                    | Dobre, dobre. Viete, ja čítať málo. Keď mi nejaká kniha zmizne, hneď si to všimnem. Táto byť neobyčajná. Pretože som si ju kúpil, aby som viac pochopiť jazyk lásky Jane. Jedine pamätať, že niekto je žblnkotajúci potôčik a niekto mŕtve more. Čo teraz? Potrebujem ju, aby ja mohol opäť ohúriť Jane.

                h3.font-weight-bold.mt-large Akú knihu zlodej ukradol?
                .form-control.form-control--input
                  input.input.input--large(type="text", placeholder="Napr. Malý princ")
                button.btn.btn--primary.btn--large Pátrať
              .kd-dialogue__hero.mr-auto
                h5.text-center
                  strong Tarzan
                img(src="images/content/campaign/knizna-detektivka/heroes/tarzan.png")
