extends layouts/_default

block head
  link(rel="stylesheet", href=`${assetsPrefix}styles/campaigns.css`)

block opts
  - var pageTitle = 'Hrdinská päťka'
  - var campaignHeader = true
  - var pageClass = 'ks-page'
  - var headerWarningActive = false

block campaignHeaderContent


block content
  main
    section.section.text-color-white.bg-orange.py-small
      .wrapper-main
        .d-flex.align-items-center.flex-column.flex-m-row
          a(href='campaign-hrdinska-patka.html')
            img(src='images/content/campaign/hrdinska-patka/logo-sk.png').mr-m-medium.h5-logo
          .d-flex.flex-column.align-items-center.align-items-m-start
            h1.mb-small Zachráň príbehy od zabudnutia!
            block authSection
              button.btn.btn--primary.mb-none(data-toggle="#h5-modal-login") Prihlásiť sa
          block gameStats
    block tab

  .modal-overlay#h5-modal-login(data-modal)
    article.modal
      .modal__wrap
        .modal__header.mb-none.py-small
          .modal__header__headline
            h3 Prihlásenie
          .modal__header__action
            .btn.btn--clean(data-toggle="#h5-modal-login")
              +icon('close').icon--medium
        .modal__content
          form
            .form-control.form-control--input
              .input-addons
                input.input(type="text", placeholder="Prosím, zadaj svoj e-mail…")
                .input-addons__item.p-none
                  a.btn.btn--primary(href="campaign-hrdinska-patka-auth.html")
                    | Prihlásiť

            .text-color-grey
              p Vyber si e-mail, ktorý bude tvojím prihlásením v Hrdinskej päťke. Okrem toho to bude náš kontakt v prípade výhry a budeme ti naň posielať aj informácie súvisiace so súťažou a jej priebehom. Z ich odberu sa môžeš kedykoľvek odhlásiť. Prečítaj si aj <a href="" class="link">podrobné pravidlá Hrdinskej päťky</a>.
              p Viac informácii o ochrane osobných údajov u nás <a href="" class="link">nájdeš tu</a>.
