extends campaign-knizna-detektivka

block authSection
  .kd-user.flex.align-items-middle
    .text-ellipsis.kd-user__email
      +icon('user').icon--medium.mr-small.mb-none
      | superdlhy.sherlock.holmes@martinus.sk
    .ml-medium-m
      .kd-progress
        .kd-progress__books.bg-primary-light
          i.fal.fa-book.fa-lg.mr-small
          | Hráš o&nbsp;<strong class="font-weight-bold">4</strong>&nbsp;z 50 kníh
        button(data-tooltip, data-html="#kd-double-price-tooltip", data-tippy-theme="light").kd-progress__info.text-size-small.bg-primary
          | Zdvojnásob svoju výhru
          +icon('info').ml-tiny
      //.kd-badge-progress.text-center
      //  i.fal.fa-book.fa-lg.mr-small
      //  | Hráš o
      //  | <strong class="font-weight-bold">4</strong> z 50 kníh
      //div.text-size-small <strong>Zdvojnásob svoju výhru</strong>
  #kd-double-price-tooltip.hide.card
    .card__content.text-center
      p.text-size-medium Stačí, ak do 31. marca urobíš ľubovoľný nákup v kníhkupectve Martinus a tvoju prípadnú výhru zdvojnásobime.
      ul.list-inline
        li
          a(href="campaign-knizna-detektivka-pravidla.html").link Pravidlá súťaže
        li
          a(href="https://www.martinus.sk").link Na Martinus
