extends campaign-knizna-detektivka-layout

block tab
  section.section.section--small
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-detektivka.html')
            .tab-nav__content-wrap Pátranie
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-detektivka-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-detektivka-pravidla.html')
            .tab-nav__content-wrap Pravidlá
  section.kd-content.section.pb-large
    .wrapper-main
      .row
        .col--l-8
          p Milí knihomoli, je to smutné, ale ani knižnému svetu sa zločin nevyhýba. A tak tu stojíme pred krádežou storočia, kedy neznámy páchateľ ukradol obľúbené knihy našich knižných hrdinov. Našťastie, prípadu sa ujal najlepší detektív všetkých čias Sherlock Holmes, ktorý stojí pred neľahkou úlohou. Musí navštíviť knižných hrdinov, zistiť, aká knižka im zmizla a vypátrať, kto je za tieto krádeže zodpovedný.
          p Nebude to však také jednoduché. Platí staré známe “zíde z očí, zíde z mysle” a knižní hrdinovia si pamätajú iba čriepky svojho obľúbeného príbehu. Tento kriminálny zločin obrátil všetky stránky hore nohami a nikto si nevie vysvetliť, kto môže byť za krádeže zodpovedný.
          p Nastal čas oprášiť svoje detektívne schopnosti, pretože táto neľahká úloha čaká aj teba. Prečítaj si rozhovory, v ktorých nájdeš opisy stratených knižiek, pomôž Sherlockovi vypátrať obľúbené knižky hrdinov a odhaliť, kto je tajomným knižným zlodejom :-)
