extends campaign-hrdinska-patka-layout

block tab
  section.section.section--small.pt-none
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka-pravidla.html')
            .tab-nav__content-wrap Pravidlá
  .bg-black
    .wrapper-main.overflow-scroll-x.py-small
      nav.h5-days
        a.is-done 7.3.
        a.is-done 8.3.
        a.is-active 9.3.
        a 10.3.
        a 11.3.
        a 14.3.
        a 15.3.
        a 16.3.
        a 17.3.
        a 18.3.
        a 21.3.
        a 22.3.
        a 23.3.
        a 24.3.
        a 25.3.
        a 28.3.
        a.is-inactive(data-tooltip, title="Túto úlohu odomkneme až 29.3.") 29.3.
        a.is-inactive(data-tooltip, title="Túto úlohu odomkneme až 30.3.") 30.3.
        a.is-inactive(data-tooltip, title="Túto úlohu odomkneme až 31.3.") 31.3.
        a.is-inactive(data-tooltip, title="Túto úlohu odomkneme až 1.4.") 1.4.
  .bg-violet
    .wrapper-main.text-center.py-large
      h2.text-color-white.mb-small Dnes hádaš NÁZOV DIELA
      .row
        .col--m-8.ofst--m-2
          .form-control.form-control--input.mb-none
            .input-addons
              input.input(type="text", placeholder="Sem napíš svoju odpoveď…")
              .input-addons__item.p-none
                button.btn.btn--primary.px-small Hádať
