extends layouts/index

include ./mixins/icon

block head
  link(rel="stylesheet", href=`${assetsPrefix}styles/campaigns.css`)

block opts
    - var pageTitle = 'Knižná šifra'
    - var campaignHeader = true
    - var pageClass = 'ks-page'

block content

  header.header
    .header__wrapper(data-sticky)
      .wrapper-main
        .bar.header__bar
          .bar__item.header__logo
            a(href="#")
              img(src=`${assetsPrefix}images/content/logo.svg`, alt="Martinus").show-l
              img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus").hide-l
          .bar__item.bar__item--fill.show-s
            .btn.btn--ghost-inverse
              | Do kníhkupectva
              +icon('arrow-right').icon--right
          .bar__item.bar__item--fill.text-right.show-m
            .text-color-white.text-medium Páči sa ti Knižná šifra?
          .bar__item.bar__item--shrinkable
            .btn.btn--medium.btn--ghost-inverse
              img(src=`${assetsPrefix}images/content/campaign/assets/instagram.png`, alt="Instagram", width="20").icon--left
              | Sleduj nás na Instagrame!

  main.ks-header

    section.section.text-color-white(style="min-height: 600px;")
      .wrapper-main
        .row.align-items-top.mb-none
          .col--m-6.ofst--m-3.text-center
            a(href="#").block.mb-large
              img(src="images/content/campaign/knizna-sifra4/logo/sk2.svg", width="100%")
            h1.text-color-white Nová Knižná šifra sa otvára v pondelok 29. októbra
