extends campaign-pomocnik-step1

block head
  link(rel="stylesheet", href=`${assetsPrefix}styles/xmas.css`)

block logo
  a(href="campaign-pomocnik-xmas.html")
    img(src="images/content/pomocnik/kp-logo-xmas.svg", alt="Vianočný pomocník").kp-logo
