extends campaign-hrdinska-patka-layout

block tab
  section.section.section--small
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-hrdinska-patka-pravidla.html')
            .tab-nav__content-wrap Pravidlá
  section.kd-content.section.pb-large
    .wrapper-main
      .row(style="align-items: flex-end;")
        .col--l-8
          h2 Ako hrať

          p Hello world.

          article.card.card--arrowhead.card--arrowhead-top
            .card__content <strong>Príklad:</strong> Ak sa ti podarí vypátrať všetkých 20 kníh a správne odhaliť páchateľa, na svojom konte máš dokopy 50 kníh. Ak si však do 31. marca kúpiš aspoň jednu knihu v kamennom kníhkupectve Martinus (nezabudni si odložiť účtenku!) alebo na <a href="https://www.martinus.sk" class="link">www.martinus.sk</a>, tvoja prípadná výhra bude až 100 kníh.

          a.btn.btn--primary Pozrieť podrobné pravidlá súťaže

