extends campaign-knizna-detektivka-layout

block tab
  section.section.section--small
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-detektivka.html')
            .tab-nav__content-wrap Pátranie
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-detektivka-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-detektivka-pravidla.html')
            .tab-nav__content-wrap Pravidlá
  section.kd-content.section.pb-large
    .wrapper-main
      .row
        .col--l-8
          h2 Ako hrať

          p Každý pracovný deň sa v hracom poli objaví jeden spis, v ktorom nájdeš rozhovor medzi knižným hrdinom a Sherlockom Holmesom. Prečítaj si ho pozorne, pretože aj malé detaily ti prezradia názov hľadaného knižného diela.

          p Názov knižky napíš do políčka a dozvieš sa, či si našiel správnu knihu. Počet pokusov nie je obmedzený a môžeš hádať dovtedy, kým neprídeš na správnu odpoveď. Po každej vypátranej knižke sa odhalí malý kúsok obrázka, na ktorom je ukrytý tajomný páchateľ.

          p Na to, aby si odhalil jeho identitu, potrebuješ uhádnuť čo najviac ukradnutých knižiek.
          p Páchateľa môžeš usvedčiť už 25. marca, kedy do políčka v obrázku napíšeš jeho meno. Podarí sa ti nájsť všetky ukradnuté knižky a odhaliť zlodeja?

          h2 Výhry a pravidlá

          p Pomôž Sherlockovi odhaliť tajomného zlodeja kníh a vyhraj knižky podľa vlastného výberu. Každý pracovný deň od 1. do 26. marca pribudne nový vyšetrovací spis, v ktorom bude tvojou úlohou uhádnuť na základe indície, aké knižné dielo bolo ukradnuté. Dokopy sa v knižnom svete stratilo 20 kníh z rôznych žánrov a páchateľa môžeš usvedčiť od 25. do 31. marca.

          p Pátrame presne po tých knihách, ktoré zmizli našim knižným hrdinom. Na Martinus.sk síce nájdeš takmer 300 000 kníh, ale zlodej ich ukradol len pár :-)  Aj keď sa to môže zdať niekedy ťažké, nevzdávaj sa!

          p Prihlás sa svojím e-mailom alebo cez Facebook, vypátraj všetky ukradnuté knihy a odhaľ tajomného zlodeja.

          h2 Zdvojnásob svoju výhru!

          p Ak budeš po skončení súťaže medzi tromi šťastnými výhercami, za každú jednu vypátranú knižku vyhráš jednu knihu podľa vlastného výberu v podobe darčekovej poukážky v hodnote 10 €. Okrem vypátraných knižiek môžeš získať aj bonusových 30 diel v prípade, že sa ti podarí uhádnuť knižného zlodeja.

          p.font-weight-bold Svoju výhru môžeš aj zdvojnásobiť. Stačí, ak do 31. marca urobíš ľubovoľný nákup v kníhkupectve Martinus a tvoju prípadnú výhru zdvojnásobime.

          article.card.card--arrowhead.card--arrowhead-top
            .card__content <strong>Príklad:</strong> Ak sa ti podarí vypátrať všetkých 20 kníh a správne odhaliť páchateľa, na svojom konte máš dokopy 50 kníh. Ak si však do 31. marca kúpiš aspoň jednu knihu v kamennom kníhkupectve Martinus (nezabudni si odložiť účtenku!) alebo na <a href="https://www.martinus.sk" class="link">www.martinus.sk</a>, tvoja prípadná výhra bude až 100 kníh.

          a.btn.btn--primary Pozrieť podrobné pravidlá súťaže
        .col--l-4
          img(src="images/content/campaign/knizna-detektivka/pribeh-knihy.png")
