extends campaign-tajomne-kniznice-layout

block tab
  section.section.section--small.pt-none.bg-white
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-tajomne-kniznice.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-tajomne-kniznice-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-tajomne-kniznice-pravidla.html')
            .tab-nav__content-wrap Pravidlá

  .wrapper-main.overflow-scroll-x.py-medium
    .row
      .col--l-8.ofst--l-2.pt-large.text-color-white
        h2.text-color-beige Príbeh

        p Knižnice sú fascinujúce miesta a keď človek chce, objaví v nich oveľa viac, ako len knihy…
        p Čítanie pod rúškom tmy je zábavné, dobrodružné a vyvoláva príjemné zimomriavky. Je to čas, keď jediné svetlo vydáva tvoja nočná lampa a jediný zvuk, ktorý sa šíri miestnosťou, je šuchot prevracajúcich sa stránok. Zároveň je to čas, kedy sa v knižniciach dejú zvláštne veci. Presne o polnoci sa na pár sekúnd otvára portál a nie len taký obyčajný…
        p
          strong.text-color-beige Je to čarovný portál.
        p Ak sa doň odvážiš vstúpiť, v okamihu ťa prenesie do akejkoľvek knižnice na svete. Pre knihomoľov a knihomoľky azda neexistuje lákavejšia ponuka, však?
        p Ale beda! Niečo sa pokazilo a portál sa náhle uzatvára. Zrazu sa ocitáš uväznený v prepletenom medzisvete tajuplných knižníc, ktoré mali pred očami bežného smrteľníka, akým si ty, zostať navždy skryté – patria totiž <strong class="text-color-beige">knižným hrdinom a hrdinkám</strong>!
        p Chceš sa z tohto medzisveta dostať späť do svojho pohodlného čitateľského kresla? Potom musíš napnúť všetky knihomoľské zmysly a každý deň <strong class="text-color-beige">od 6. do 31. marca uhádnuť, akej knižnej postave daná tajomná knižnica patrí</strong>. Tak čo, trúfaš si?

        <!--CTA: Hrať hru (preklik na hru)-->
        <!--CTA: Pozrieť pravidlá (preklik na pravidlá)-->

  .wrapper-main.tk23-story.text-center
