extends campaign-2024-layout

block tab
  section.section.section--small.pt-none.bg-white
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024-pravidla.html')
            .tab-nav__content-wrap Pravidlá

  .wrapper-main.overflow-scroll-x.py-medium
    .row
      .col--l-8.ofst--l-2.pt-large.text-color-white
        h2.text-color-beige Pravidlá

        p Každý pracovný deň o polnoci ťa portál prenesie k tajomným knižniciam knižných hrdiniek a hrdinov. Tvojou úlohou je uhádnuť meno hrdinky alebo hrdinu, ktorému daná knižnica patrí. Pozorne si prezri všetky indície, ktoré sa v tajomnej knižnici objavia. Môžu to byť knižky alebo predmety, ktoré akýmkoľvek spôsobom súvisia s danými postavami a príbehmi, v ktorých vystupujú. Každý deň o polnoci pribudne prvá indícia, ku ktorej sa o 12:00 a 16:00 pridajú ďalšie dve.
        p Preto nezúfaj, ak sa ti hneď nepodarí uhádnuť správnu odpoveď. Nastav si budík a využi všetky indície, ktoré sa objavia počas dňa :-) Svoju odpoveď napíš do políčka a hneď sa dozvieš, či sa ti podarilo odhaliť majiteľa tajomnej knižnice. Máš toľko pokusov, koľko len chceš!
        p V dňoch od 6. marca až do 31. marca môžeš každý pracovný deň hádať a odhaľovať knižné postavy, ktorým patria tajomné knižnice. Spolu na teba čaká až 20 úloh. Indíciami sú knihy, ktoré by podľa nás mohli postavy vlastniť a v niektorých prípadoch aj také knihy, ktoré skutočne považujú za svoje obľúbené. Preto čím viac toho o knižných hrdinoch vieš, tým lepšie :-)
        p Ďalšími indíciami sú predmety, ktoré súvisia s postavami alebo príbehmi, v ktorých vystupujú. Celkový vzhľad knižnice a pozadie hracej plochy možno na prvý pohľad nič neznamenajú, ale ktovie, možno ti pri odhaľovaní rovnako pomôžu :-)
        p Prihlás sa svojím e-mailom, pusti sa do hádania a pamätaj: Koľko knižníc odhalíš, toľkokrát si hrdinom!

        h3.text-color-beige Zdvojnásob svoju výhru!
        p Na konci súťaže vyžrebujeme až 5 šťastných výhercov, ktorí získajú knihy podľa vlastného výberu v podobe darčekovej poukážky. Každá správna odpoveď predstavuje jednu knižku a teda darčekovú poukážku v hodnote 10 eur.
        p
          strong.text-color-beige Svoju výhru môžeš zdvojnásobiť, ak počas trvania súťaže urobíš ľubovoľný nákup v kamenných kníhkupectvách Martinus alebo na <a href="https://www.martinus.sk">www.martinus.sk</a>.
        article.card.card--arrowhead.card--arrowhead-top.text-color-black
          .card__content <strong>Príklad:</strong> Ak sa ti podarí uhádnuť všetkých 20 úloh a počas trvania súťaže (6.3. – 31.3.) si kúpiš aspoň jednu knihu v kamennom kníhkupectve Martinus (nezabudni si odložiť účtenku!) alebo na www.martinus.sk, tvoja prípadná výhra bude až 40 kníh.

        a.btn.btn--primary Pozrieť podrobné pravidlá súťaže

  .wrapper-main.mc24-story.text-center
