extends layouts/_default

block head
  link(rel="stylesheet", href=`${assetsPrefix}styles/xmas.css`)

block opts
  - var pageTitle = 'Vianočný pomocník'

block content
  main
    section.section.kp-main-background
      .wrapper-main
        .row.mb-large.align-items-middle
          .col--s-6.text-color-white
            img(src="images/content/pomocnik/kp-logo-xmas.svg", alt="Vianočný pomocník").kp-logo.mb-medium
            h3.text-bold Hľadáte knižné inšpirácie pre seba alebo iných knihomoľov?
            p.mb-medium Naši knižní hrdinovia vám pomôžu vybrať knižky na mieru! Spýtame&nbsp;sa vás na pár indícií a vypátrame tie najlepšie knižné tipy s&nbsp;dôkladnosťou hodnou Sherlocka Holmesa. Poďme na to!
            a(href="campaign-pomocnik-step1-xmas.html").btn.btn--primary.btn--large.mb-none Potrebujem poradiť
