extends campaign-2024-layout

block tab
  section.section.section--small.pt-none.bg-white
    .wrapper-main.overflow-scroll-x.d-md-flex.justify-content-center
      ul.tab-nav
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024-pravidla.html')
            .tab-nav__content-wrap Pravidlá
  block gameContent
    .wrapper-main.mc24-teaser.text-center
      h2.text-color-white Všetky tajomstvá knižného denníka odhalíš už 3. marca!

      img(src='images/content/campaign/knizne-putovanie/teaser-2025.png').img--fluid.mt-medium.mb-large
