extends campaign-tajomne-kniznice

block authSection
  .d-flex.align-items-center.justify-content-center
    +faIcon('user-circle').fa-lg.mr-small.mb-none
    .h5-user__email.text-ellipsis superdlhy.sherlock.holmes@martinus.sk
    +faIcon('arrow-right-from-bracket').ml-small.fa-lg

block gameStats
  .campaign-progress.mt-medium
    .campaign-progress__books
      +faIcon('book').fa-lg.mr-small
      | Hráš o&nbsp;<strong class="font-weight-bold">4</strong>&nbsp;z 20 kníh
    .progress-bar.progress-bar--small.progress-bar--primary
      div.progress-bar__value(style="width: 20%")
    .campaign-progress__info.text-medium.bg-white(data-tooltip, data-html="#tk23-double-price-tooltip", data-tippy-theme="light")
      | Zdvojnásob svoju výhru
      +faIcon('info-circle').ml-tiny
  #tk23-double-price-tooltip.hide.card
    .card__content.text-center
      p.text-size-medium Stačí, ak do 1. apríla urobíš ľubovoľný nákup v kníhkupectve Martinus a tvoju prípadnú výhru zdvojnásobime.
      ul.list-inline
        li
          a(href="campaign-knizna-detektivka-pravidla.html").link Pravidlá súťaže
        li
          a(href="https://www.martinus.sk").link Na Martinus

block gameContent
  .wrapper-main.text-color-white
    .py-medium.text-center
      block gameAnswer
        h2 Ako sa volá knižná postava, ktorej patrí táto knižnica?

        .row.mb-medium
          .col--m-8.ofst--m-2
            .form-control.form-control--input.mb-none
              .input-addons
                input.input(type="text", placeholder="Sem napíš svoju odpoveď…")
                .input-addons__item.p-none
                  a(href='campaign-tajomne-kniznice-answer.html').btn.btn--primary.px-small Hádať
  .tk23-bg.tk23-bg--fantasy.py-large
    .wrapper-main
      .tk23-library.mx-auto.position-relative
        img(src=`${assetsPrefix}images/content/campaign/tajomne-kniznice/web/library-fantasy.png`, alt="Knižnica")

        .tk23-hero-guess.position-absolute.d-flex.flex-row.flex-m-column.align-items-center
          .card.card--arrowhead.card--arrowhead-bottom.d-none.d-m-block
            .card__content.text-center.p-medium Ďalšia indícia <strong>pribudne o 12:00</strong>
          .card.card--arrowhead.card--arrowhead-right.d-block.d-m-none
            .card__content.text-center.p-medium Ďalšia indícia <strong>pribudne o 12:00</strong>
          img(src=`${assetsPrefix}images/content/campaign/tajomne-kniznice/hero-guess.png`, alt="Knižnica")


  script.
    document.querySelectorAll('.tk23-nav-days a')
      .forEach(el => {
        el.addEventListener('click', function (/** Event **/ ev) {
          const day = ev.currentTarget.dataset.day ?? 1;
          changeDay(day)
        })
      })
    function changeDay(day) {
      const finalClass = `tk23-bg py-large tk23-bg--${day}`;
      const wrapper = document.querySelector('.tk23-bg');
      wrapper.className = finalClass;

      const library = document.querySelector('.tk23-library img');
      console.log(library);
      library.src = `images/content/campaign/tajomne-kniznice/web/library-${day}.png`;
    }
