extends campaign-2024-layout

block tab
  section.section.section--small.pt-none.bg-white
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-2024-pravidla.html')
            .tab-nav__content-wrap Pravidlá

  .wrapper-main.overflow-scroll-x.py-medium.mb-large
    .row
      .col--l-8.mx-auto.pt-large.text-color-white
        h2.text-color-beige Príbeh

        p
          strong.text-color-beige Červená Čiapočka sa nudí.
        p Nebaví ju dennodenne sa prechádzať hore-dolu stále tým istým lesom. Naspamäť už pozná každý strom, koreň či steblo trávy. Dokonca sa spriatelili aj so zlým vlkom a spoločný čas trávia vypekaním buchiet u babičky. Čiapočka v srdci túži po naozajstnom dobrodružstve, ale nie len tak hocijakom – zachvátila ju knižná cestovná horúčka!
        p Už niekoľko mesiacov totiž dostáva záhadné pohľadnice zo všetkých kútov knižného sveta. Sú na nich zobrazené skutočné i vymyslené miesta z knižných príbehov a spolu so sprievodným textom lákajú Červenú čiapočku na nevídané dobrodružstvo. Hoci je každá pohľadnica iná, majú jednu vec spoločnú – všetky sú nepodpísané.
        p Ktoré knižné postavy ich posielajú a prečo? Červená čiapočka sa to jedného dňa rozhodne zistiť! Tajne si naplánuje cestu skutočným, ale aj tým knižným svetom. Má všetko, čo potrebuje – starú mapu, kompas, záhadné pohľadnice, za košík pečených buchiet a za dva košíky odvahy.
        p Príležitosť vyraziť do sveta prichádza tento marec. Čiapočkina babička práve v tomto čase odchádza na mesačný kúpeľný pobyt do Piešťan. Červenej Čiapočke viac netreba, zbalí si svoje caky-paky a hor sa za dobrodružstvom!
        p Túžiš sa aj ty vydať na cestu knižným svetom? Potom každý pracovný deň od 4.3. do 31.3. pomôž Červenej Čiapočke vypátrať všetky knižné postavy, ktoré jej posielajú záhadné pohľadnice.
        p
          strong.text-color-beige Knižné putovanie sa môže začať!

        <!--CTA: Hrať hru (preklik na hru)-->
        <!--CTA: Pozrieť pravidlá (preklik na pravidlá)-->

  .wrapper-main.mc24-story.text-center
