extends layouts/_default

block opts
  - var pageTitle = 'Knihomoľský pomocník'


block content
  main
    section.section.bg-yellow
      .wrapper-main
        .row.mb-large.align-items-middle
          .col--s-6.col--l-5
            img(src="images/content/pomocnik/kp-logo.svg", alt="Knihomoľský pomocník").kp-logo.mb-medium
            h3.text-bold Hľadáte knižné inšpirácie pre seba alebo iných knihomoľov?
            p.mb-medium Naši knižní hrdinovia vám pomôžu vybrať knižky na mieru! Spýtame&nbsp;sa vás na pár indícií a vypátrame tie najlepšie knižné tipy s&nbsp;dôkladnosťou hodnou Sherlocka Holmesa. Poďme na to!
            a.btn.btn--primary.btn--large.mb-none Potrebujem poradiť
          .col--s-6.col--l-7
            img(src="images/content/pomocnik/kp-skrina.png")
