extends layouts/_default

block head
  link(rel="stylesheet", href=`${assetsPrefix}styles/campaigns.css`)

include ./mixins/breadcrumbs
include ./mixins/icon

block opts
    - var pageTitle = 'HTML 3d'

block content
  main

    div(style="position: relative; min-height: 600px;")
      canvas#container(style="position: absolute; left: 0; top: 0; width: 100%; height: 700px; pointer-events:none; z-index: 1;")

      section.show-m#map(style="width: 100%; height: 650px; overflow: hidden; position: absolute; top: 0; left: 0;")
        div#map-container(style="position: absolute; top: 0; left: 0; width: 2500px; height: 650px; background: url('images/content/campaign/knizna-odysea/textures/stars.jpg');")
          article.d-block.mb-medium#view-4(style="min-width: 400px; min-height: 300px; position: absolute; top: 50px; left: 100px;")
          article.d-block.mb-medium#view-5(style="min-width: 400px; min-height: 300px; position: absolute; top: 100px; left: 1200px;")
            h4.text-color-white.mb-none Lorem ipsum
            p.text-color-grey Lorem ipsum dolr sit amet
          article.d-block.mb-medium#view-6(style="min-width: 400px; min-height: 300px; position: absolute; top: 300px; left: 600px;")

      .hide-m
        .row
          .col--12.col--m-4
            article.d-block.mb-medium#view-1(style="min-height: 300px;")
          .col--12.col--m-4
            article.d-block.mb-medium#view-2(style="min-height: 300px;")
          .col--12.col--m-4
            article.d-block.mb-medium#view-3(style="min-height: 300px;")

block scripts
  script(src=`${assetsPrefix}scripts/html3d.js`)
