extends campaign-tajomne-kniznice-layout

block tab
  section.section.section--small.pt-none.bg-white
    .wrapper-main.overflow-scroll-x
      ul.tab-nav
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-tajomne-kniznice.html')
            .tab-nav__content-wrap Hra
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-tajomne-kniznice-pribeh.html')
            .tab-nav__content-wrap Príbeh
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-tajomne-kniznice-pravidla.html')
            .tab-nav__content-wrap Pravidlá
  .wrapper-main.overflow-scroll-x.py-medium.text-white
    nav.tk23-nav-days
      a(href='campaign-tajomne-kniznice-auth.html').is-done 6.3.
      a(data-day="art-deco").is-done 7.3.
      a(data-day="historical").is-done 8.3.
      a(data-day="wood").is-active 9.3.
      a(data-day="billy").is-active 10.3.
      a 11.3.
      a 14.3.
      a 15.3.
      a 16.3.
      a 17.3.
      a 18.3.
      a 21.3.
      a 22.3.
      a 23.3.
      a 24.3.
      a.is-inactive(data-tooltip, title="Túto úlohu odomkneme až 25.3.") 25.3.
      a.is-inactive(data-tooltip, title="Túto úlohu odomkneme až 28.3.") 28.3.
      a.is-inactive(data-tooltip, title="Túto úlohu odomkneme až 29.3.") 29.3.
      a.is-inactive(data-tooltip, title="Túto úlohu odomkneme až 30.3.") 30.3.
      a.is-inactive(data-tooltip, title="Túto úlohu odomkneme až 31.3.") 31.3.
  block gameContent
    .wrapper-main.tk23-teaser.text-center
      h2.text-color-white Svet knižných tajomstiev odhalíte už 6. marca&hellip;


