extends campaign-knizna-detektivka

block authSection
  .flex.align-items-middle
    a.mr-medium(href="campaign-knizna-detektivka.html") sherlock.holmes@martinus.sk
    .kd-badge-progress <strong>17</strong> / 20

