extends layouts/_default

block head
  link(rel="stylesheet", href=`${assetsPrefix}styles/campaigns.css`)

block opts
  - var pageTitle = 'Tajomné knižnice'
  - var campaignHeader = true
  - var pageClass = 'ks-page'
  - var headerWarningActive = false

block campaignHeaderContent


block content
  main
    section.section.text-color-white.tk23-header
      .wrapper-main
        .d-flex.align-items-center.flex-column.flex-m-row.justify-content-between
          a(href='campaign-tajomne-kniznice.html').flex-shrink-0.tk23-header__logo.mb-medium.mb-m-none
            img(src='images/content/campaign/tajomne-kniznice/logo-sk.svg').mr-m-medium.tk23-logo
          .d-flex.flex-column.align-items-center.justify-content-center.tk23-header__info
            block authSection
              h2.tk23-header__claim.text-center.mb-medium Uhádni, akým <span>knižným postavám</span> patria tajomné knižnice, a vyhraj kopu kníh.
              button.btn.btn--primary.mb-none(data-bs-toggle="modal" data-bs-target="#tk23-modal-login") Prihlásiť sa
            block gameStats
    block tab

  .modal.fade#tk23-modal-login(aria-labelledby="login-modal-title" aria-hidden="true" tabindex="-1" role="dialog")
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h3.modal-title#login-modal-title Prihlásenie
          a.p-tiny(data-bs-dismiss="modal")
            +faIcon('xmark').fa-lg
        .modal-body
          form
            .form-control.form-control--input
              .input-addons
                input.input(type="text", placeholder="Prosím, zadaj svoj e-mail…")
                .input-addons__item.p-none
                  a.btn.btn--primary(href="campaign-tajomne-kniznice-auth.html")
                    | Prihlásiť

            .text-color-grey.text-medium
              p Vyber si e-mail, ktorý bude tvojím prihlásením v súťaži Tajomné knižnice. Tento e-mail bude zároveň naším kontaktom v prípade výhry a budeme ti naň posielať aj informácie súvisiace so súťažou a jej priebehom. Z odberu informácií sa môžeš kedykoľvek odhlásiť. Podrobné pravidlá Tajomných knižníc <a href="" class="link">nájdeš tu</a>.
              p.mb-none Viac informácii o ochrane osobných údajov u nás <a href="" class="link">nájdeš tu</a>.
