extends layouts/_default

include ./mixins/checkoutCardDone

block opts
    - var pageTitle = 'Košík - Sumár'
    - var checkoutHeader = true;
    - const pageClass = 'bg-secondary';

block content
  main.bg-secondary
    section.section--toolbar(data-sticky, data-scroll-offset=`{"0": ${header.size.default}, "768": ${header.size.m}}`, data-sticky-class="is-stuck", data-sticky-wrap)
      .wrapper-main
        .row.justify-content-center
          .bar.bar--progress.col--l-8.ofst--center.mb-small
            .bar__item.bar__item--fill.text-center
              | Košík
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 100%")
            .bar__item.bar__item--fill.text-center
              | Doručenie
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 100%")
            .bar__item.bar__item--fill.text-center
              | Platba
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 100%")
            .bar__item.bar__item--fill.text-center
              | Sumár
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 25%")

    section.section
      .wrapper-main
        .row
          .col--l-8.ofst--center
            include modules/checkout/cart

            +checkoutCardDone({
              id: 'delivery',
              title: 'Zvoľte spôsob doručenia',
              summary: 'Balíkomat',
              price: '1,99 €',
            })

            +checkoutCardDone({
              id: 'delivery-balikomat',
              title: 'Odberné miesto',
              summary: 'Bratislava, Cubicon, Staré Grunty 24',
            })

            +checkoutCardDone({
              id: 'billing-address',
              title: 'Fakturačná adresa',
              summary: 'Lighting Beetle s.r.o. Budyšínska 8, 831 03 Bratislava',
            })

            +checkoutCardDone({
              id: 'gift',
              title: 'Darčekové balenie',
              summary: '2x červený papier <br>Neprikladať faktúru',
            })

            include modules/checkout/note

            include modules/checkout/confirm
