extends layouts/_default

block opts
    - var pageTitle = 'Košík - Doručenie'
    - var checkoutHeader = true;
    - const pageClass = 'bg-secondary';

block content
  main.bg-secondary
    section.section--toolbar(data-sticky, data-scroll-offset=`{"0": ${header.size.default}, "768": ${header.size.m}}`, data-sticky-class="is-stuck", data-sticky-wrap)
      .wrapper-main
        .row.align-items-center
          .bar.bar--small.mb-none.col--l-8.ofst--center.mb-small
            .bar__item.bar__item--fill.text-center
              .mb-small Košík
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 100%")
            .bar__item.bar__item--fill.text-center
              .mb-small Doručenie
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 25%")
            .bar__item.bar__item--fill.text-center
              .mb-small Platba
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 0")
            .bar__item.bar__item--fill.text-center
              .mb-small Sumár
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 0")

    section.section
      .wrapper-main
        .row
          .col--l-8.ofst--center

            include modules/checkout/cart

            include modules/checkout/delivery

            include modules/checkout/delivery-balikomat

            include modules/checkout/delivery-personal-pickup

            include modules/checkout/billing-address

            include modules/checkout/saved-address
