extends layouts/_default

block opts
    - var pageTitle = 'Košík - Doručenie'
    - var checkoutHeader = true;
    - const pageClass = 'bg-secondary';

block content
  main.bg-secondary
    section.section--toolbar(data-sticky, data-scroll-offset=`{"0": ${header.size.default}, "768": ${header.size.m}}`, data-sticky-class="is-stuck", data-sticky-wrap)
      .wrapper-main
        .row.align-items-center
          .bar.bar--small.mb-none.col--l-8.ofst--center.mb-small
            .bar__item.bar__item--fill.text-center
              .mb-small Košík
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 100%")
            .bar__item.bar__item--fill.text-center
              .mb-small Doručenie
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 25%")
            .bar__item.bar__item--fill.text-center
              .mb-small Platba
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 0")
            .bar__item.bar__item--fill.text-center
              .mb-small Sumár
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 0")

    section.section
      .wrapper-main
        .row
          .col--l-8.ofst--center

            include modules/checkout/cart

            include modules/checkout/delivery

            include modules/checkout/delivery-balikomat

            include modules/checkout/delivery-personal-pickup

            include modules/checkout/billing-address

            include modules/checkout/saved-address

  .modal-overlay.active#card-modal(data-modal)
    .modal.modal--medium
      .modal__wrap

        .modal__content

          .btn.btn--clean(data-toggle="#card-modal", style="position: absolute; right: 10px; top: 10px;")
            +icon('close').icon--medium

          .mb-medium

          .row.mb-large.align-items-middle
            .col--m-2.text-center
              +icon('card').icon--xxlarge.text-color-success
            .col--m-10.text-center.text-left-m
              p.mb-none Naozaj chcete za objednávku platiť až pri preberaní osobného odberu? Platbou vopred ušetríte#{' '}
                strong množstvo času pri preberaní objednávky

          div
            .bar.align-items-center.mb-medium.mb-m-none
              .bar__item.no-mrg--s-down
                a(href="#").btn.btn--ghost Zaplatím pri osobnom odbere (pomalšie)
              .bar__item
                a(href="#").btn.btn--success
                  +icon('card').icon--medium.icon--left
                  | Zaplatím kartou vopred (rýchle)
