extends layouts/_default

block opts
    - var pageTitle = 'Košík - Doručenie'

block content
  main.bg-secondary
    section.section--toolbar
      .wrapper-main
        .row.align-items-center
          .bar.bar--progress.col--l-8.ofst--center.mb-small
            .bar__item.bar__item--fill.text-center
              | Košík
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 100%")
            .bar__item.bar__item--fill.text-center
              | Doručenie
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 25%")
            .bar__item.bar__item--fill.text-center
              | Platba
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 0")
            .bar__item.bar__item--fill.text-center
              | Sumár
              .progress-bar
                  .progress-bar__value.progress-bar__value--green(style="width: 0")

    section.section
      .wrapper-main
        .row
          .col--l-8.ofst--center
            .card.card--done.mb-small
              .card__content
                .bar
                  .bar__item
                    h2 Váš košík
                  .bar__item.bar__item--fill
                    .pills.pills--blue 4
                  .bar__item
                    button.btn.btn--clean.no-mrg.no-pad
                      +icon('edit').icon--medium.icon--left
                      | Upraviť
                ul.list.list--cart
                  div(data-collapse="115")
                    each item, i in books
                      li.list__item(id=`cart-item${i}` data-toggle-class="is-active")
                        .cart-item
                          .cart-item__content
                            .cart-item__column.cart-item__column--product-name
                              .text-semibold.no-mrg.text-ellipsis= item.title
                            .cart-item__column.cart-item__column--qty
                              .text-semibold.no-mrg
                                | 1x
                            .cart-item__column.cart-item__column--price
                              .text-semibold.text-size-medium.text-nowrap= item.price
                  a.link.text-size-medium.col--4.ofst--center(href="javascript:void(0)", data-toggle="previous, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Zobraziť všetký(+3)", data-collapse-trigger) <span data-toggle-text-target>Zobraziť všetký(+3)</span>#{' '}
                    +icon('arrow-down')

              .card__footer
                .bar.align-items-right.align-items-bottom
                  .bar__item
                    h3
                      | Spolu
                  .bar__item
                    h2.text-bold
                      | 21.45€

            .card.card--done
              .card__content
                h2 Zvoľte spôsob doručenia

              .card__content
                .row
                  .col--l-6
                    .form-control.form-control--group
                      section.radiocheck-group.radiocheck-group--wider

                        .form-control.form-control--radio
                          .radio.radiocheck--large.align-items-top
                            input.radiocheck__input(type='radio', id='radio_group_shipping_01', name='radio_group_shipping')
                            label.radiocheck__control(for='radio_group_shipping_01')
                            label.radiocheck__label.mb-medium(for='radio_group_shipping_01')
                              .bar.no-mrg
                                .bar__item.bar__item--fill.no-mrg
                                  p.text-semibold.no-mrg
                                    | Kuriér GLS
                                .bar__item.no-mrg
                                  span.text-size-medium.text-semibold
                                    | 4.28€
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania

                        .form-control.form-control--radio
                          .radio.radiocheck--large.align-items-top
                            input.radiocheck__input(type='radio', id='radio_group_shipping_02', name='radio_group_shipping')
                            label.radiocheck__control(for='radio_group_shipping_02')
                            label.radiocheck__label.mb-medium(for='radio_group_shipping_02')
                              .bar.no-mrg
                                .bar__item.bar__item--fill.no-mrg
                                  p.text-semibold.no-mrg
                                    | Pošta (na adresu)
                                .bar__item.no-mrg
                                  span.text-size-medium.text-semibold
                                    | 1.99€
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania

                        .form-control.form-control--radio
                          .radio.radiocheck--large.align-items-top
                            input.radiocheck__input(type='radio', id='radio_group_shipping_03', name='radio_group_shipping')
                            label.radiocheck__control(for='radio_group_shipping_03')
                            label.radiocheck__label.mb-medium(for='radio_group_shipping_03')
                              .bar.no-mrg
                                .bar__item.bar__item--fill.no-mrg
                                  p.text-semibold.no-mrg
                                    | Osobný odber
                                .bar__item.no-mrg
                                  span.text-size-medium.text-semibold.text-transform-upper
                                    | zadarmo
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania
                  .col--l-6
                    .form-control.form-control--group
                      .radiocheck-group.radiocheck-group--wider
                        .form-control.form-control--radio
                          .radio.radiocheck--large.align-items-top
                            input.radiocheck__input(type='radio', id='radio_group_shipping_04', name='radio_group_shipping')
                            label.radiocheck__control(for='radio_group_shipping_04')
                            label.radiocheck__label.mb-medium(for='radio_group_shipping_04')
                              .bar.no-mrg
                                .bar__item.bar__item--fill.no-mrg
                                  p.text-semibold.no-mrg
                                    | Balíkomat
                                .bar__item.no-mrg
                                  span.text-size-medium.text-semibold
                                    | 1.99€
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania

                        .form-control.form-control--radio
                          .radio.radiocheck--large.align-items-top
                            input.radiocheck__input(type='radio', id='radio_group_shipping_05', name='radio_group_shipping')
                            label.radiocheck__control(for='radio_group_shipping_05')
                            label.radiocheck__label.mb-medium(for='radio_group_shipping_05')
                              .bar.no-mrg
                                .bar__item.bar__item--fill.no-mrg
                                  p.text-semibold.no-mrg
                                    | Pošta(na poštu)
                                .bar__item.no-mrg
                                  span.text-size-medium.text-semibold
                                    | 1.99€
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania

                        .form-control.form-control--radio
                          .radio.radiocheck--large.align-items-top
                            input.radiocheck__input(type='radio', id='radio_group_shipping_06', name='radio_group_shipping')
                            label.radiocheck__control(for='radio_group_shipping_06')
                            label.radiocheck__label.mb-medium(for='radio_group_shipping_06')
                              .bar.no-mrg
                                .bar__item.bar__item--fill.no-mrg
                                  p.text-semibold.no-mrg
                                    | Zasielkovňa
                                .bar__item.no-mrg
                                  span.text-size-medium.text-semibold.text-transform-upper
                                    | zadarmo
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania

              .card__content
                .row
                  .col--s-8.col--m-5.ofst--center
                    .btn-layout--vertical.mb-medium
                      button.btn.btn--primary.is-disabled(type="submit")
                        | Pokračovať v objednávke

            .card.mb-small
              .card__content
                .bar
                  .bar__item.bar__item--fill
                    h2 Zvoľte spôsob doručenia
                  .bar__item
                    button.btn.btn--clean.no-mrg.no-pad
                      +icon('edit').icon--medium.icon--left
                      | Upraviť

              .card__content.no-pad-top.mb-medium
                .bar.no-mrg
                  .bar__item.bar__item--fill.text-size-medium
                    | Balíkomat
                  .bar__item.text-size-medium
                    strong 1.99€

            .card.mb-small
              .row
                .col--s-11.col--m-6.ofst--center

                  .card__content
                    h2 Kde si prídete nákup vyzdvihnúť?
                    .btn-layout--vertical.mb-small
                      button.btn.btn--ghost
                        +icon('target').icon--left.icon--medium
                        | Zistiť podľa mojej polohy

                    .form-control.form-control--select.mb-small
                      .form-label
                        label.text-transform-upper
                          | Kraj
                      select.js-select
                          option(selected disabled placeholder) Zadajte kraj / vyberte zo zoznamu
                          option Bratislavský

                    .form-control.form-control--select.mb-small
                      .form-label
                        label.text-transform-upper
                          | Okres
                      select.js-select
                          option(selected disabled placeholder) Zadajte okres / vyberte zo zoznamu
                          option Bratislavský

                    .form-control.form-control--select.mb-small
                      .form-label
                        label.text-transform-upper
                          | Mesto
                      select.js-select
                          option(selected disabled placeholder) Zadajte mesto / vyberte zo zoznamu
                          option Bratislava
                .col--s-11.col--m-6.ofst--center
                  .card__content.no-pad
                  // map container

              .card__content
                .row
                  .col--s-11.col--m-6.ofst--center
                    .btn-layout--vertical.mb-small
                      button.btn.btn--primary.is-disabled(type="submit")
                        | Pozrieť ukážku

            .card
              .card__content
                .row.no-mrg-bottom
                  .col--s-11.col--m-7.ofst--left
                    h2 Kde si prídete nákup vyzdvihnúť?
                    .btn-layout--vertical.no-mrg
                      button.btn.btn--ghost
                        +icon('target').icon--left.icon--medium
                        | Zistiť podľa mojej polohy

              .card__content
                .row
                  .col--s-11.col--m-6
                    .form-control.form-control--radio.no-mrg
                      .radio.radiocheck--large.align-items-top
                        input.radiocheck__input(type='radio', id='location_option1', name='location_options')
                        label.radiocheck__control(for='location_option1')
                        label.radiocheck__label(for='location_option1')
                          .bar.bar--vertical.no-mrg
                            .bar__item.no-mrg
                              p.text-semibold.no-mrg
                                | Bratislava, Obchodná 42
                            .bar__item.no-mrg
                              p.text-size-small.no-mrg
                                | Po - Ne: 9:00 - 21:00

                    .form-control.form-control--radio.no-mrg
                      .radio.radiocheck--large.align-items-top
                        input.radiocheck__input(type='radio', id='location_option2', name='location_options')
                        label.radiocheck__control(for='location_option2')
                        label.radiocheck__label(for='location_option2')
                          .bar.bar--vertical.no-mrg
                            .bar__item.no-mrg
                              p.text-semibold.no-mrg
                                | Bratislava, Cubicon
                            .bar__item.no-mrg
                              p.text-size-small.no-mrg
                                | Po - Ne: 9:00 - 21:00

                    .form-control.form-control--radio.no-mrg
                      .radio.radiocheck--large.align-items-top
                        input.radiocheck__input(type='radio', id='location_option3', name='location_options')
                        label.radiocheck__control(for='location_option3')
                        label.radiocheck__label(for='location_option3')
                          .bar.bar--vertical.no-mrg
                            .bar__item.no-mrg
                              p.text-semibold.no-mrg
                                | Martin, Štefnáika 58
                            .bar__item.no-mrg
                              p.text-size-small.no-mrg
                                | Po - Ne: 9:00 - 21:00

                    .form-control.form-control--radio.no-mrg
                      .radio.radiocheck--large.align-items-top
                        input.radiocheck__input(type='radio', id='location_option4', name='location_options')
                        label.radiocheck__control(for='location_option4')
                        label.radiocheck__label(for='location_option4')
                          .bar.bar--vertical.no-mrg
                            .bar__item.no-mrg
                              p.text-semibold.no-mrg
                                | Žilina, SC Mirage
                            .bar__item.no-mrg
                              p.text-size-small.no-mrg
                                | Po - Ne: 9:00 - 21:00

                    .form-control.form-control--radio.mb-small
                      .radio.radiocheck--large.align-items-top
                        input.radiocheck__input(type='radio', id='location_option5', name='location_options')
                        label.radiocheck__control(for='location_option5')
                        label.radiocheck__label(for='location_option5')
                          .bar.bar--vertical.no-mrg
                            .bar__item.no-mrg
                              p.text-semibold.no-mrg
                                | Nitra, OC Centro
                            .bar__item.no-mrg
                              p.text-size-small.no-mrg
                                | Po - Ne: 9:00 - 21:00

                  .col--s-11.col--m-6
                    .form-control.form-control--radio.no-mrg
                      .radio.radiocheck--large.align-items-top
                        input.radiocheck__input(type='radio', id='location_option6', name='location_options')
                        label.radiocheck__control(for='location_option6')
                        label.radiocheck__label(for='location_option6')
                          .bar.bar--vertical.no-mrg
                            .bar__item.no-mrg
                              p.text-semibold.no-mrg
                                | Košice, OC Galéria
                            .bar__item.no-mrg
                              p.text-size-small.no-mrg
                                | Po - Ne: 9:00 - 21:00

                    .form-control.form-control--radio.no-mrg
                      .radio.radiocheck--large.align-items-top
                        input.radiocheck__input(type='radio', id='location_option7', name='location_options')
                        label.radiocheck__control(for='location_option7')
                        label.radiocheck__label(for='location_option7')
                          .bar.bar--vertical.no-mrg
                            .bar__item.no-mrg
                              p.text-semibold.no-mrg
                                | Považská Bystrica, M-park
                            .bar__item.no-mrg
                              p.text-size-small.no-mrg
                                | Po - Ne: 9:00 - 21:00

                    .form-control.form-control--radio.no-mrg
                      .radio.radiocheck--large.align-items-top
                        input.radiocheck__input(type='radio', id='location_option8', name='location_options')
                        label.radiocheck__control(for='location_option8')
                        label.radiocheck__label(for='location_option8')
                          .bar.bar--vertical.no-mrg
                            .bar__item.no-mrg
                              p.text-semibold.no-mrg
                                | Poprad. OC Fórum
                            .bar__item.no-mrg
                              p.text-size-small.no-mrg
                                | Po - Ne: 9:00 - 21:00

                    .form-control.form-control--radio.no-mrg
                      .radio.radiocheck--large.align-items-top
                        input.radiocheck__input(type='radio', id='location_option9', name='location_options')
                        label.radiocheck__control(for='location_option9')
                        label.radiocheck__label(for='location_option9')
                          .bar.bar--vertical.no-mrg
                            .bar__item.no-mrg
                              p.text-semibold.no-mrg
                                | Lučenec, OC Galéria
                            .bar__item.no-mrg
                              p.text-size-small.no-mrg
                                | Po - Ne: 9:00 - 21:00

              .card__content
                .row
                  .col--s-11.col--m-6.ofst--center
                    .btn-layout--vertical.mb-small
                      button.btn.btn--primary.is-disabled(type="submit")
                        | vyzdvyhnem si to tu!

            .card.mb-small
              .card__content
                h2.no-mrg Fakturačná adresa

              .card__content
                .row
                  .col--s-11.col--m-6.ofst--center
                    .form-control.form-control--input.mb-small
                      .form-label.form-label--required
                        label.text-transform-upper(for="checkout_surname")
                          | meno
                      input.input(type="text", name="checkout_surname", id="checkout_surname", placeholder="Zadajte meno")

                    .form-control.form-control--input.mb-small
                      .form-label.form-label--required
                        label.text-transform-upper(for="checkout_lastname")
                          | priezvisko
                      input.input(type="text", name="checkout_lastname", id="checkout_lastname", placeholder="Zadajte priezvisko")

                    .form-control.form-control--checkbox
                      .checkbox.radiocheck--large
                        input.radiocheck__input(type='checkbox', id='checkout_company_invoice', name='checkout_company_invoice')
                        label.radiocheck__control(for='checkout_company_invoice')
                        label.radiocheck__label(for='checkout_company_invoice')
                          | Chcem faktúrovať na firmu

                    .form-control.form-control--input.mb-small
                      .form-label.form-label--required
                        label.text-transform-upper(for="checkout_address_option1")
                          | adresa
                      input.input(type="text", name="checkout_address", id="checkout_address_option1", placeholder="Napr. ulica, číslo...")

                    .form-control.form-control--input.mb-small
                      input.input(type="text", name="checkout_address", id="checkout_address_option2", placeholder="Napr. poschodie, zvonček...")

                    .form-control.form-control--input.mb-small
                      .form-label.form-label--required
                        label.text-transform-upper(for="checkout_zip")
                          | psč
                      input.input(type="text", name="checkout_zip", id="checkout_zip", placeholder="Zadajte PSČ")

                    .form-control.form-control--input.mb-small
                      .form-label.form-label--required
                        label.text-transform-upper(for="checkout_city")
                          | mesto
                      input.input(type="text", name="checkout_city", id="checkout_city", placeholder="Zadajte mesto")

                    .form-control.form-control--select.mb-small
                      .form-label.form-label--required
                        label.text-transform-upper
                          | štát
                      select.js-select
                          option(selected disabled placeholder) Slovensko
                          option Slovensko

                    .form-control.form-control--input.mb-medium
                      .form-label.form-label--required
                        label.text-transform-upper(for="checkout_tel")
                          | mobil
                      .input-addons
                        .input-addons__item.no-pad
                          select.js-select
                            option(selected disabled placeholder) +421
                            option +421
                        input.input(type="number", name="checkout_tel", id="checkout_tel", placeholder="902 000 000")

                    .btn-layout--vertical.no-mrg
                      button.btn.btn--primary.is-disabled(type="submit")
                        | Potvrdiť fakturačnú adresu


