extends layouts/_default

block opts
    - var pageTitle = 'Kosik - Doručenie'

block content
  main.bg-secondary
    section.section-progress
      .wrapper-main
        .row
          .bar.bar__progress.col--l-8.ofst--center
            .bar__item.done.bar__item--fill.text-center
              | Košík
            .bar__item.in-progress.bar__item--fill.text-center
              | Doručenie
            .bar__item.bar__item--fill.text-center
              | Platba
            .bar__item.bar__item--fill.text-center
              | Sumár

    section.section
      .wrapper-main
        .row
          .col--l-8.ofst--center
            .card.mb-small
              .card__content
                .bar
                  .bar__item
                    h2 Váš košík
                  .bar__item.bar__item--fill
                    .badge--circle.badge--circle--blue 4
                  .bar__item
                    button.btn.btn--clean.no-mrg.no-pad
                      +icon('edit').icon--medium.icon--left
                      | Upraviť
                ul.list.list--cart
                  div(data-collapse="115")
                    each item, i in books
                      li.list__item(id=`cart-item${i}` data-toggle-class="is-active")
                        .cart-item
                          .cart-item__content
                            .cart-item__column.cart-item__column--product-name
                              .text-semibold.no-mrg.text-ellipsis= item.title
                            .cart-item__column.cart-item__column--qty
                              .text-semibold.no-mrg
                                | 1x
                            .cart-item__column.cart-item__column--price
                              .text-semibold.text-size-medium.text-nowrap= item.price
                  a.link.text-size-medium.col--4.ofst--center(href="javascript:void(0)", data-toggle="previous, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Zobraziť všetký(+3)", data-collapse-trigger) <span data-toggle-text-target>Zobraziť všetký(+3)</span>#{' '}
                    +icon('arrow-down')
              .card__footer
                .bar.align-items-right.align-items-bottom
                  .bar__item
                    h3
                      | Spolu
                  .bar__item
                    h2.text-bold
                      | 21.45€
              .card__done
                 +icon('check-circle').icon--medium.text-color-success

            .card
              .card__content
                h2 Zvoľte spôsob doručenia
              .card__content
                .row
                  .col--l-6
                    .form-control.form-control--group
                      section.radiocheck-group.radiocheck-group--wider
                        .form-control.form-control--radio
                          .radio.radiocheck--large.radiocheck--transparent.align-items-top
                            input.radiocheck__input(type='radio', id='radio-group-shipping-01', name='radio-group-shipping')
                            label.radiocheck__control(for='radio-group-shipping-01')
                            label.radiocheck__label.radiocheck__label--multiline.mb-medium(for='radio-group-shipping-01')
                              p.text-semibold.no-mrg
                                | Kuriér GLS
                                span.text-size-medium.text-semibold
                                  | 4.28€
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania
                        .form-control.form-control--radio
                          .radio.radiocheck--large.radiocheck--transparent.align-items-top
                            input.radiocheck__input(type='radio', id='radio-group-shipping-02', name='radio-group-shipping')
                            label.radiocheck__control(for='radio-group-shipping-02')
                            label.radiocheck__label.radiocheck__label--multiline.mb-medium(for='radio-group-shipping-02')
                              p.text-semibold.no-mrg
                                | Pošta (na adresu)
                                span.text-size-medium.text-semibold
                                  | 1.99€
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania
                        .form-control.form-control--radio
                          .radio.radiocheck--large.radiocheck--transparent.align-items-top
                            input.radiocheck__input(type='radio', id='radio-group-shipping-03', name='radio-group-shipping')
                            label.radiocheck__control(for='radio-group-shipping-03')
                            label.radiocheck__label.radiocheck__label--multiline.mb-medium(for='radio-group-shipping-03')
                              p.text-semibold.no-mrg
                                | Osobný odber
                                span.text-size-medium.text-semibold.text-transform-upper
                                  | zadarmo
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania
                  .col--l-6
                    .form-control.form-control--group
                      .radiocheck-group.radiocheck-group--wider
                        .form-control.form-control--radio
                          .radio.radiocheck--large.radiocheck--transparent.align-items-top
                            input.radiocheck__input(type='radio', id='radio-group-shipping-04', name='radio-group-shipping')
                            label.radiocheck__control(for='radio-group-shipping-04')
                            label.radiocheck__label.radiocheck__label--multiline.mb-medium(for='radio-group-shipping-04')
                              p.text-semibold.no-mrg
                                | Balíkomat
                                span.text-size-medium.text-semibold
                                  | 1.99€
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania
                        .form-control.form-control--radio
                          .radio.radiocheck--large.radiocheck--transparent.align-items-top
                            input.radiocheck__input(type='radio', id='radio-group-shipping-05', name='radio-group-shipping')
                            label.radiocheck__control(for='radio-group-shipping-05')
                            label.radiocheck__label.radiocheck__label--multiline.mb-medium(for='radio-group-shipping-05')
                              p.text-semibold.no-mrg
                                | Pošta(na poštu)
                                span.text-size-medium.text-semibold
                                  | 1.99€
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania
                        .form-control.form-control--radio
                          .radio.radiocheck--large.radiocheck--transparent.align-items-top
                            input.radiocheck__input(type='radio', id='radio-group-shipping-06', name='radio-group-shipping')
                            label.radiocheck__control(for='radio-group-shipping-06')
                            label.radiocheck__label.radiocheck__label--multiline.mb-medium(for='radio-group-shipping-06')
                              p.text-semibold.no-mrg
                                | Zasielkovňa
                                span.text-size-medium.text-semibold.text-transform-upper
                                  | zadarmo
                              p.text-size-small.no-mrg
                                | Doručenie na druhý deň od odoslania

              .card__content
                .row
                  .col--m-5.col--s-8.ofst--center
                    .btn-layout--vertical.mb-medium
                      button.btn.btn--primary.is-disabled(type="submit")
                        | Pokračovať v objednávke
