extends layouts/_default

block opts
    - var pageTitle = 'Kosik - Lokácia'

block content
  main.bg-secondary
    section.section-progress
      .wrapper-main
        .row
          .bar.bar__progress.col--l-8.ofst--center
            .bar__item.done.bar__item--fill.text-center
              | Košík
            .bar__item.in-progress.bar__item--fill.text-center
              | Doručenie
            .bar__item.bar__item--fill.text-center
              | Platba
            .bar__item.bar__item--fill.text-center
              | Sumár

    section.section
      .wrapper-main
        .row
          .col--l-8.ofst--center
            .card.mb-small
              .card__content
                .bar
                  .bar__item
                    h2 Váš košík
                  .bar__item.bar__item--fill
                    .badge--circle.badge--circle--blue 4
                  .bar__item
                    button.btn.btn--clean.no-mrg.no-pad
                      +icon('edit').icon--medium.icon--left
                      | Upraviť
                ul.list.list--cart
                  each item, i in books
                    li.list__item(id=`cart-item${i}` data-toggle-class="is-active")
                      .cart-item
                        .cart-item__content
                          .cart-item__column.cart-item__column--product-name
                            .no-mrg.text-ellipsis= item.title
                          .cart-item__column.cart-item__column--qty
                            .text-semibold.no-mrg
                              | 1x
                          .cart-item__column.cart-item__column--price
                            .text-semibold.text-size-medium.text-nowrap= item.price
              .card__footer
                .bar.align-items-right.align-items-bottom
                  .bar__item
                    h3
                      | Spolu
                  .bar__item
                    h2.text-bold
                      | 21.45€
              .card__done
                 +icon('check-circle').icon--medium.text-color-success

            .card.mb-small
              .card__content
                .bar
                  .bar__item.bar__item--fill
                    h2 Zvoľte spôsob doručenia
                  .bar__item
                    button.btn.btn--clean.no-mrg.no-pad
                      +icon('edit').icon--medium.icon--left
                      | Upraviť
              .card__content.no-pad-top.mb-medium
                .bar.no-mrg
                  .bar__item.bar__item--fill.text-size-medium
                    | Balíkomat
                  .bar__item.text-size-medium
                    strong 1.99€
              .card__done
                +icon('check-circle').icon--medium.text-color-success

            .card.mb-small
              .row
                .col--s-11.col--m-6.ofst--center
                  .card__content
                    h2 Kde si prídete nákup vyzdvihnúť?
                    .btn-layout--vertical.mb-small
                      button.btn.btn--ghost
                        +icon('target').icon--left.icon--medium
                        | Zistiť podľa mojej polohy
                    .form-control.form-control--select.mb-small
                      .form-label
                        label.text-transform-upper
                          | Kraj
                      select.js-select
                          option(selected disabled placeholder) Zadajte kraj / vyberte zo zoznamu
                          option Bratislavský
                    .form-control.form-control--select.mb-small
                      .form-label
                        label.text-transform-upper
                          | Okres
                      select.js-select
                          option(selected disabled placeholder) Zadajte okres / vyberte zo zoznamu
                          option Bratislavský
                    .form-control.form-control--select.mb-small
                      .form-label
                        label.text-transform-upper
                          | Mesto
                      select.js-select
                          option(selected disabled placeholder) Zadajte mesto / vyberte zo zoznamu
                          option Bratislava
                .col--s-11.col--m-6.ofst--center
                  .card__content.no-pad
                  // map container

              .card__content
                .row
                  .col--m-5.col--s-8.ofst--center
                    .btn-layout--vertical.mb-small
                      button.btn.btn--primary.is-disabled(type="submit")
                        | Pozrieť ukážku
