extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon

block opts
    - var pageTitle = 'Kategoria'
    - var filterStickyOffset = header.size.default
    - var subcategories = true
    - var carousel = false
    - var formats = false
    - var description = false
    - var hideFilterHeader = true
    - var sortLinks = [{icon: 'house', title: 'Odporúčame'}, 'Bestsellery', 'Top hodnotené', 'Najnovšie', 'Najlacnejšie', 'Najdrahšie', 'Najvyššia zľava']
    - const showActiveFilters = true
    -
      const categories = [{
        title: 'Beletria',
        icon: 'book',
      }, {
        title: 'Rozprávky',
        icon: 'swords',
      }, {
        title: 'Sci-fi, fantasy a komiksy',
        icon: 'stars',
      }, {
        title: 'Náučné knihy',
        icon: 'atlas',
      }, {
        title: 'Omaľovánky, vystrihovanie, papier',
        icon: 'pencil-paintbrush',
      }, {
        title: 'Hlavolamy, doplňovačky, úlohy a hry',
        icon: 'question',
      }, {
        title: 'Kuchárske knihy',
        icon: 'hat-chef',
      }, {
        title: 'Učebnice',
        icon: 'graduation-cap',
      }, {
        title: 'Hračky',
        icon: '',
      },]

block content
  main
    section.section--breadcrumbs
      .wrapper-main
        .bar.mb-none
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy'] })

    section.section--secondary.section.section--toolbar.cat-no-border-bottom.pt-none
      .wrapper-main
        h1.mb-medium
          | Najpredávanejšie knihy pre deti s veľmi dlhým názvom kategórie
          button.btn
            +icon('edit').icon--medium

        .row.mb-small.mt-small
          .col.bg-secondary#list-categories(data-collapse=150)
            .btn-layout--grid.letter-spacing-none
              each category, i in categories
                .btn-layout-item
                  a(href="#").btn.btn--carousel.text-transform-none.text-size-medium.d-flex.align-items-center.text-left.pt-small.pb-small
                    if category.icon
                      +faIcon(category.icon).text-color-primary.mr-tiny.fa-fw.fa-lg
                    | !{category.title}
          .col.text-center.mb-small
            a.hide.link.text-size-medium(data-toggle="#list-categories, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Zobraziť menej", data-collapse-trigger)
              +icon('plus')
              | <span data-toggle-text-target class="ml-tiny mr-small">Viac kategórií</span>
      .wrapper-main
        .row
          .col.text-size-small.text-transform-upper.text-color-grey.d-m-inline-block.d-block Populárne filtre
      .wrapper-main.overflow-scroll-x
        .row.mt-tiny
          .col
            ul.list-inline.list-inline--offset.text-size-medium.pr-medium
              li
                a.link
                  | Leporelá
                  span.ml-tiny.pill.pill--blue= 59
              li
                a.link
                  | Pre prváčikov
                  span.ml-tiny.pill.pill--blue= 293
              li
                a.link
                  | Pre začínajúcich čitateľov
                  span.ml-tiny.pill.pill--blue= 859
              li
                a.link
                  | Walt Disney
                  span.ml-tiny.pill.pill--blue= 115


    - let categoryListBadge = true;
    include modules/category-list-new
