extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/booksCarouselRecommended

block opts
    - var pageTitle = 'Kategoria'
    - var filterStickyOffset = header.size.default + 61
    - var subcategories = false
    - var carousel = false
    - var formats = false
    - var description = false

    -
      var menu = [
        {title: "Všetky", icon: "fal fa-books"},
        {title: "Beletria", icon: "fal fa-book"},
        {title: "Pre prvákov", icon: "fal fa-backpack"},
        {title: "Pre začínajúcich čitateľov", icon: "fad fa-baby"},
        {title: "Rozprávky", icon: "fal fa-stars"},
        {title: "Walt Disney", icon: "fab fa-fort-awesome"},
        {title: "Sci-fi, fantasy a komiksy", icon: "fal fa-robot"},
        {title: "Náučne knihy", icon: "fal fa-atlas"},
        {title: "Encyklopédie", icon: "books"},
        {title: "Leporelá", icon: "books"},
        {title: "Hry a hračky", icon: "fal fa-cubes"},
        {title: "Omaľovánky, vystrihovanie, papier", icon: "fal fa-palette"},
        {title: "Hlavolamy, doplňovačky, úlohy a hry", icon: "fal fa-question"},
        {title: "Kuchárky", icon: "fal fa-oven"},
        {title: "Rozprávky", icon: "fab fa-fort-awesome"},
        {title: "Sci-fi", icon: "fal fa-robot"},
        {title: "Fantasy", icon: "fal fa-dragon"},
        {title: "Komiksy", icon: "fal fa-comment-smile"},
        {title: "Básničky", icon: "books"},
        {title: "Hádanky", icon: "books"},
        {title: "Riekanky", icon: "books"},
        {title: "Mýty, povesti a legendy", icon: "books"},
        {title: "Detektívky", icon: "books"},
        {title: "Poviedky", icon: "books"},
        {title: "Sci-fi", icon: "books"},
        {title: "Fantasy", icon: "books"},
        {title: "Komiksy", icon: "books"},
        {title: "Encyklopédie", icon: "books"},
        {title: "Atlasy", icon: "books"},
        {title: "Príručky", icon: "books"},
        {title: "Cudzie jazyky", icon: "books"},
        {title: "Omaľovánky", icon: "books"},
        {title: "Vystrihovanie", icon: "books"},
        {title: "Výroba z papiera", icon: "books"},
        {title: "Krížovky", icon: "books"},
        {title: "Hlavolamy", icon: "books"},
        {title: "Hravé úlohy", icon: "books"},
        {title: "Hry", icon: "books"},
        {title: "Doplňovačky", icon: "books"},

      ];



block content
  main
    //section.section.section--secondary.no-pad-top(style="background-color: #133f7e;")
    //  .wrapper-main
    //    a(href='#')
    //      img.show-m.img.img--fluid(src="images/content/banners/banner.jpg").no-mrg
    //      img.hide-m.img.img--fluid(src="images/content/banners/banner-mobile.jpg").no-mrg

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy'] })

    section.section--secondary.section.no-pad-top
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item
            h1 Deti a mládež
          .bar__item.bar__item--fill
            button.btn.btn--clean
              +icon('eye', 'icon--large').icon--medium.icon--left
              span.show-m sledovať kategóriu
        .mb-medium.show-l

    section.section--secondary.section.section--toolbar
      .wrapper-main
        .carousel-lite.mj-carousel(style="height: 7rem;")
          .carousel-lite__container.mj-carousel__scroll
            .carousel-lite__wrapper.mj-carousel__content.align-items-top
              each item, i in menu
                .carousel-lite__slide.text-center(style="width: 6rem")
                  a.link
                    i.fa-3x(class=`${item.icon}`).text-color-grey.mb-small
                    .text-medium= item.title


    //section.section.section--overflow
    //  .wrapper-main
    //    h2 Najobľúbenejšie tituly a kolekcie
    //    +booksCarouselRecommended.carousel--fade-outside.carousel--fade-outside-white

          p.mb-large Vydavateľstvo Ikar je najväčší vydavateľský dom na Slovensku s produkciou cca 230 titulov ročne. Vydávame široké spektrum kníh pre všetky vekové kategórie od domácich aj zahraničných autorov. Medzi autormi, ktorých diela vydávame patria aj svetoví velikáni William Shakespeare, Gabriel García Márquez, či Fiodor Michajlovič Dostojevskij, ale aj autori slovenskej klasiky - Dobroslav Chrobák, Margita Figuli, František Švantner a ďalší. V našom vydaveteľskom dome našli svoje trvalé miesto viacerí úspešní súčasní slovenskí autori – Táňa Keleová-Vasilková, Andrea Coddington, Jozef Banáš, Jozef Karika...

    - let categoryListBadge = true;
    include modules/category-list
