extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/booksCarouselRecommended

block opts
    - var pageTitle = 'Kategoria'
    - var filterStickyOffset = header.size.default
    - var subcategories = false
    - var carousel = false
    - var formats = false
    - var description = false
    - var filterSmall = true
    - var filters = true

    -
      var menu = [
        {title: "Všetky", icon: "list-alt"},
        {title: "Sci-fi", icon: "rocket-launch"},
        {title: "Fantasy", icon: "dragon"},
        {title: "Mysteriózna, dobrodružná", icon: "flashlight"},
        {title: "Young adult", icon: "unicorn"},
        {title: "Rozprávky, básničky", icon: "atom"},
        {title: "Knižky pre najmenších", icon: "duck"},
        {title: "Walt Disney", icon: "book-spells"},
        {title: "Encyklopédie, náučné knihy", icon: "atlas"},
        {title: "Všetky", icon: "books"},
      ];

block content
  main
    section.section.section--secondary.no-pad-top(style="background-color: #133f7e;")
      .wrapper-main
        a(href='#')
          img.show-m.img.img--fluid(src="images/content/banners/banner.jpg").no-mrg
          img.hide-m.img.img--fluid(src="images/content/banners/banner-mobile.jpg").no-mrg

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy'] })

    section.section--secondary.section.no-pad-top
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item
            h1 Deti a mládež
          .bar__item.bar__item--fill
            button.btn.btn--clean
              +icon('eye', 'icon--large').icon--medium.icon--left
              span.show-m sledovať kategóriu
        .mb-medium.show-l

        .bg-secondary#category-description(data-collapse="100")
          .cms-article

            .row
              .col--3
                img.img(src="images/content/author.png")
              .col--9
                p Harry zápasí s minulosťou, ktorá sa #{' '}
                  a(href="#") ustavične vracia
                  | . Jeho najmladšiemu synovi Albusovi pripadla ťarcha rodinného dedičstva, o ktoré nikdy nemal záujem. Keď minulosť a prítomnosť vytvoria hrozivú výbušnú zmes, otec aj syn musia čeliť nepríjemnej pravde, že raz sa temnota zjaví na nečakaných miestach.

                p Slovenskú verziu scenára Harry Potter a prekliate dieťa v elektronickej verzii vydá spoločnosť Pottermore, globálny digitálny vydavateľ Harryho Pottera, ktorého založila sama J. K. Rowlingová v roku 2012.

                p Slovenskú verziu scenára Harry Potter a prekliate dieťa v elektronickej verzii vydá spoločnosť Pottermore, globálny digitálny vydavateľ Harryho Pottera, ktorého založila sama J. K. Rowlingová v roku 2012.


        .product-read-more.mb-medium
          a.link.text-size-medium(href="javascript:void(0)", data-toggle="#category-description, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
            +icon('arrow-down')

    section.section--secondary.section.section--toolbar
      .wrapper-main
        .carousel-lite.mj-carousel(style="height: 7rem;").carousel-lite--fade-inside
          .carousel-lite__container.mj-carousel__scroll
            .carousel-lite__wrapper.mj-carousel__content.align-items-top
              each item, i in menu
                .carousel-lite__slide.text-center(style="width: 6rem")
                  a.link
                    i.fal.fa-3x(class=`fa-${item.icon}`).text-color-grey.mb-small
                    .text-medium= item.title

    //section.section.section--overflow
      .wrapper-main
        h2 Najobľúbenejšie tituly a kolekcie
        +booksCarouselRecommended.carousel--fade-outside.carousel--fade-outside-white

    - let categoryListBadge = true;
    include modules/category-list
