extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon

block opts
    - var pageTitle = 'Text page'

block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.mb-none
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Otváracie hodiny počas vianoc'] })

    section.section(style="background-image:url(http://mrtns.eu/assets/martinus/lb/images/content/campaign/xmas2019/bg-collection-helper-willow.jpg); background-size: cover; background-position: 50%;")
      .wrapper-main
        .row.mb-large
          h1.text-color-white Otváracie hodiny
            br
            | v kníhkupectvách počas Vianoc

    .section
      .wrapper-main

        .row.mb-large
          .col--m-6
            .bar.align-items-start
              .bar__item.bar__item--shrinkable
                +icon('footer-stores').icon--large.text-color-grey
              .bar__item.bar__item--fill
                p Nákupy na poslednú chvíľu? Alebo len počas sviatkov máte chuť nadýchať sa knižnej atmosféry? Tu nájdete informácie o tom, kedy budú otvorené naše kníhkupectvá Martinus počas sviatkov.
          .col--m-6
            .bar.align-items-start
              .bar__item.bar__item--shrinkable
                +icon('time').icon--large.text-color-grey
              .bar__item.bar__item--fill
                p Pozrite sa, kedy je najlepší čas na návštevu kníhkupectva počas najrušnejších dní
              .bar__item.bar__item--shrinkable
                a.btn(href="#hours-chart", data-scroll, data-scroll-offset="85") viac info

        article
          .cms-article
            .row.mb-large
              each item,i in Array(9)
                .col--m-4.d-flex.mb-large
                  .card.card--material.text-center.w-100(style="height: 100%;")
                    .card__content
                      h2.mb-small Bratislava, Obchodná
                      table.table.table--striped.text-left
                        tr
                          td Pondelok - piatok:
                          td 8:30 - 21:00
                        tr
                          td Sobota - nedeľa:
                          td 9:00 - 20:00
                        tr
                          td
                            b 24.12.2017
                          td 8:00 - 11:30
                        tr
                          td 25.12.2017
                          td ZATVORENÉ
                        tr
                          td 26.12.2017
                          td ZATVORENÉ
                        tr
                          td 31.12.2017
                          td 10:00 - 14:00



            .row.mb-large.text-center#hours-chart
              .ofst--m-2.col--m-8
                h2 Kedy je u nás v kníhkupectve najmenej ľudí?

                p.mb-large Chcete sa vyhnúť vianočným tlačeniciam? Z informácii o minuloročných Vianociach sme skúsili vybrať hodiny, v ktorých je u nás v kníhkupectvách predsalen o kúsok menej ľudí.

                img.img(src="images/content/cms/peak-hours.jpg")
                hr.mb-medium

                .text-left
                  .bar
                    .bar__item
                      div(style="background: #33ab4e; width: 20px; height: 20px;")
                    .bar__item.line-small
                      h3.h4 Ideálny čas na návštevu alebo vyzdvihnutie osobného odberu
                      p.text-small.text-color-grey Graf vychádza z údajov o počte vybavených objednávok počas Vianoc 2016




block scripts
  script.
    window.myApp = window.myApp = {};
    //window.myApp.scrollOffset = {0: 85, 768: 95};
