extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon

block opts
    - var pageTitle = 'Text page'

block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Martinus vianoce 2017'] })

    section(style="background: url('../images/content/campaign/xmas2017/bg-cz.jpg') no-repeat center center; background-size: cover;")
      .wrapper-main.section-title-wrapper
        .section-title
          .section-title__item(style="background-color: #00bdf2; color: #fff;")
            | Lorem ipsum dolor sit amet
          .section-title__item(style="background-color: #009dd0; color: #fff;")
            | Lorem ipsum
          .section-title__item(style="background-color: #00bdf2; color: #fff;")
            | Lorem ipsum dolor sit amet

    section.section
      .wrapper-main
        .cms-article

          .text-center
            p.text-semibold.mb-large Kniha je nejoblíbenější vánoční dárek! Udělejte letos svým blízkým radost novým čtením a vyhněte se shonu.
              br
              | Čím dříve u nás knižní dárky vyberete, tím větší dárek od nás dostanete pro sebe ;-)

          .row.mb-large.text-center
            .ofst--m-2.col--m-8
              p Jak to funguje? Každý větší nákup v hodnotě alespoň 999 Kč odměníme poukázkami v hodnotě až 1000 Kč. Ty budete moci využít po celý rok 2018 a jistě vám pomohou v novém roce přečíst spoustu knih! Ke všem objednávkám teď navíc přibalujeme samolepky na dárky s motivy Knižní šifry. Kdopak dostane Švejka? ;-)

          .row.mb-large
            .col--m-4.flex
              .card.card--material.card--material-green.text-center
                .card__label
                  .badge.badge--green dostupná cena
                .card__content.flex-fill
                  .mb-medium
                  img.img(src="https://mrtns.eu/tovar/_l/596/l596499.jpg?v=1568012386").w-50
                .card__content.flex-shrinkable
                  h2.mb-small PocketBook 641 Aqua 2
                  hr.mb-tiny
                  .h4.mb-medium
                    | tlacidlove ovladanie
                    br
                    | jednoduche rozhranie
                    br
                    | vyborny pomer cena/vykon

                  .h1.price-box__price.mb-small 12,99 €
                  .text-center
                    button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                      +icon('cart').icon--left.icon--medium
                      | Vložiť do košíka

            .col--m-4.flex
              .card.card--material.card--material-orange.text-center
                .card__label
                  .badge.badge--orange výkon a funkcie
                .card__content.flex-fill
                  .mb-medium
                  img.img(src="https://mrtns.eu/tovar/_l/440/l440749.jpg?v=1572939612").w-50
                .card__content.flex-shrinkable
                  h2.mb-small PocketBook 641 Aqua 2
                    hr.mb-tiny
                    .h4.mb-medium
                      | tlacidlove ovladanie
                      br
                      | jednoduche rozhranie
                      br
                      | vyborny pomer cena/vykon

                    .h1.price-box__price.mb-small 12,99 €
                    .text-center
                      button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                        +icon('cart').icon--left.icon--medium
                        | Vložiť do košíka

            .col--m-4.flex
              .card.card--material.card--material-blue.text-center
                .card__label
                  .badge.badge--blue veľký rozmer
                .card__content.flex-fill
                  .mb-medium
                  img.img(src="https://mrtns.eu/tovar/_l/302/l302693.jpg?v=1572939432").w-50
                .card__content.flex-shrinkable
                  h2.mb-small PocketBook 641 Aqua 2
                    hr.mb-tiny
                    .h4.mb-medium
                      | tlacidlove ovladanie
                      br
                      | jednoduche rozhranie
                      br
                      | vyborny pomer cena/vykon

                    .h1.price-box__price.mb-small 12,99 €
                    .text-center
                      button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                        +icon('cart').icon--left.icon--medium
                        | Vložiť do košíka

        table.table.table--striped.mb-large
          tr
            th asdasd
            th asdasd
            th asdasd
          tr
            td asdasd
            td asdasd
            td asdasd
          tr
            td asdasd
            td asdasd
            td asdasd
          tr
            td asdasd
            td asdasd
            td asdasd


        .cms-article
          .row.mb-large.text-center
            .ofst--m-2.col--m-8
              p Jak to funguje? Každý větší nákup v hodnotě alespoň 999 Kč odměníme poukázkami v hodnotě až 1000 Kč. Ty budete moci využít po celý rok 2018 a jistě vám pomohou v novém roce přečíst spoustu knih! Ke všem objednávkám teď navíc přibalujeme samolepky na dárky s motivy Knižní šifry. Kdopak dostane Švejka? ;-)



block scripts
  script.
    window.myApp = window.myApp = {};
    //window.myApp.scrollOffset = {0: 85, 768: 95};
