extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon

block opts
    - var pageTitle = 'Text page'

block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Otváracie hodiny počas vianoc'] })

    section.section.xmas2017-cms-header
      .wrapper-main
        .text-center
          h1.text-color-white Otváracie hodiny
            br
            | v kníhkupectvách počas Vianoc

    .section
      .wrapper-main
        article
          .cms-article

            .row.mb-large.text-center
              .ofst--m-2.col--m-8
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor magna nunc, vitae lobortis sapien lacinia eu. Pellentesque commodo, orci ut rutrum dignissim, tellus neque mollis ante, nec fermentum nibh nunc sit amet ex. Phasellus felis ligula, volutpat vitae ex vel, dictum tristique enim.

            .row.mb-large
              .col--m-4.flex.flex-column
                .card.card--material.text-center(style="height: 100%;")
                  .card__content
                    h2.mb-small Bratislava, Obchodná
                    table.table.table--striped.text-left
                      tr
                        td Pondelok - piatok:
                        td 8:30 - 21:00
                      tr
                        td Sobota - nedeľa:
                        td 9:00 - 20:00
                      tr
                        td
                          b 24.12.2017
                        td 8:00 - 11:30
                      tr
                        td 25.12.2017
                        td ZATVORENÉ
                      tr
                        td 26.12.2017
                        td ZATVORENÉ
                      tr
                        td 31.12.2017
                        td 10:00 - 14:00

              .col--m-4.flex.flex-column
                .card.card--material.text-center(style="height: 100%;")
                  .card__content
                    h2.mb-small Bratislava, Obchodná
                    table.table.table--striped.text-left
                      tr
                        td Pondelok - piatok:
                        td 8:30 - 21:00
                      tr
                        td Sobota - nedeľa:
                        td 9:00 - 20:00
                      tr
                        td
                          b 24.12.2017
                        td 8:00 - 11:30
                      tr
                        td 25.12.2017
                        td ZATVORENÉ
                      tr
                        td 26.12.2017
                        td ZATVORENÉ
                      tr
                        td 31.12.2017
                        td 10:00 - 14:00

              .col--m-4.flex.flex-column
                .card.card--material.text-center(style="height: 100%;")
                  .card__content
                    h2.mb-small Bratislava, Obchodná
                    table.table.table--striped.text-left
                      tr
                        td Pondelok - piatok:
                        td 8:30 - 21:00
                      tr
                        td Sobota - nedeľa:
                        td 9:00 - 20:00
                      tr
                        td
                          b 24.12.2017
                        td 8:00 - 11:30
                      tr
                        td 25.12.2017
                        td ZATVORENÉ
                      tr
                        td 26.12.2017
                        td ZATVORENÉ
                      tr
                        td 31.12.2017
                        td 10:00 - 14:00

              .col--m-4.flex.flex-column
                .card.card--material.text-center(style="height: 100%;")
                  .card__content
                    h2.mb-small Bratislava, Obchodná
                    table.table.table--striped.text-left
                      tr
                        td Pondelok - piatok:
                        td 8:30 - 21:00
                      tr
                        td Sobota - nedeľa:
                        td 9:00 - 20:00
                      tr
                        td
                          b 24.12.2017
                        td 8:00 - 11:30
                      tr
                        td 25.12.2017
                        td ZATVORENÉ
                      tr
                        td 26.12.2017
                        td ZATVORENÉ
                      tr
                        td 31.12.2017
                        td 10:00 - 14:00

              .col--m-4.flex.flex-column
                .card.card--material.text-center(style="height: 100%;")
                  .card__content
                    h2.mb-small Bratislava, Obchodná
                    table.table.table--striped.text-left
                      tr
                        td Pondelok - piatok:
                        td 8:30 - 21:00
                      tr
                        td Sobota - nedeľa:
                        td 9:00 - 20:00
                      tr
                        td
                          b 24.12.2017
                        td 8:00 - 11:30
                      tr
                        td 25.12.2017
                        td ZATVORENÉ
                      tr
                        td 26.12.2017
                        td ZATVORENÉ
                      tr
                        td 31.12.2017
                        td 10:00 - 14:00

              .col--m-4.flex.flex-column
                .card.card--material.text-center(style="height: 100%;")
                  .card__content
                    h2.mb-small Bratislava, Obchodná
                    table.table.table--striped.text-left
                      tr
                        td Pondelok - piatok:
                        td 8:30 - 21:00
                      tr
                        td Sobota - nedeľa:
                        td 9:00 - 20:00
                      tr
                        td
                          b 24.12.2017
                        td 8:00 - 11:30
                      tr
                        td 25.12.2017
                        td ZATVORENÉ
                      tr
                        td 26.12.2017
                        td ZATVORENÉ
                      tr
                        td 31.12.2017
                        td 10:00 - 14:00

              .col--m-4.flex.flex-column
                .card.card--material.text-center(style="height: 100%;")
                  .card__content
                    h2.mb-small Bratislava, Obchodná
                    table.table.table--striped.text-left
                      tr
                        td Pondelok - piatok:
                        td 8:30 - 21:00
                      tr
                        td Sobota - nedeľa:
                        td 9:00 - 20:00
                      tr
                        td
                          b 24.12.2017
                        td 8:00 - 11:30
                      tr
                        td 25.12.2017
                        td ZATVORENÉ
                      tr
                        td 26.12.2017
                        td ZATVORENÉ
                      tr
                        td 31.12.2017
                        td 10:00 - 14:00

              .col--m-4.flex.flex-column
                .card.card--material.text-center(style="height: 100%;")
                  .card__content
                    h2.mb-small Bratislava, Obchodná
                    table.table.table--striped.text-left
                      tr
                        td Pondelok - piatok:
                        td 8:30 - 21:00
                      tr
                        td Sobota - nedeľa:
                        td 9:00 - 20:00
                      tr
                        td
                          b 24.12.2017
                        td 8:00 - 11:30
                      tr
                        td 25.12.2017
                        td ZATVORENÉ
                      tr
                        td 26.12.2017
                        td ZATVORENÉ
                      tr
                        td 31.12.2017
                        td 10:00 - 14:00

              .col--m-4.flex.flex-column
                .card.card--material.text-center(style="height: 100%;")
                  .card__content
                    h2.mb-small Bratislava, Obchodná
                    table.table.table--striped.text-left
                      tr
                        td Pondelok - piatok:
                        td 8:30 - 21:00
                      tr
                        td Sobota - nedeľa:
                        td 9:00 - 20:00
                      tr
                        td
                          b 24.12.2017
                        td 8:00 - 11:30
                      tr
                        td 25.12.2017
                        td ZATVORENÉ
                      tr
                        td 26.12.2017
                        td ZATVORENÉ
                      tr
                        td 31.12.2017
                        td 10:00 - 14:00

            .row.mb-large.text-center
              .ofst--m-2.col--m-8
                h2 Kedy je u nás v kníhkupectve najmenej ľudí?

                p.mb-large Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porttitor magna nunc, vitae lobortis sapien lacinia eu. Pellentesque commodo, orci ut rutrum dignissim, tellus neque mollis ante, nec fermentum nibh nunc sit amet ex. Phasellus felis ligula, volutpat vitae ex vel, dictum tristique enim.

                img.img(src="images/content/cms/peak-hours.jpg")
                hr.mb-medium

                .text-left
                  .bar
                    .bar__item
                      div(style="background: #33ab4e; width: 20px; height: 20px;")
                    .bar__item.line-small
                      h3.h4 Ideálny čas na návštevu alebo vyzdvihnutie osobného odberu
                      p.text-small.text-color-grey Graf vychádza z údajov o počte vybavených objednávok počas Vianoc 2016




block scripts
  script.
    window.myApp = window.myApp = {};
    window.myApp.scrollOffset = {0: 85, 768: 95};
