extends layouts/_default

include ./mixins/booksCarouselHorizontal
include ./mixins/breadcrumbs
include ./mixins/inlineNav
include ./mixins/sectionHeader
include ./mixins/icon
include ./mixins/collectionItem

block opts
    - var pageTitle = 'Kolekcia'

block content

  main.collection
    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy', 'Kolekcie'] })

    section.section.section--small
      .wrapper-main
        h1.mb-medium Kolekcie

        nav
          ul.list-inline
            each item, i in ['Ako začať', 'Kultovky', 'Kniha ako darček', 'Šport', 'Pre relax']
              li
                a.link.link--black(href="#", class= i == 0 ? 'text-bold' : '')= item


    section.section.bg-secondary
      .wrapper-main
        .row
          .col--l-8
            article.card
              .card__status
                +icon('eye').icon--medium.text-color-grey
              .card__content.text-center
                h5.mb-small Kolekcia 34. týždna
                h2.mb-small Knihy do vašej kuchyne
                p.text-size-medium.text-color-grey.no-mrg-bottom Obsahuje 27 kníh

              .card__content.card__content--overflow
                hr.mb-medium
                .bar
                  .bar__item.bar.no-mrg-bottom
                    .bar__item
                      .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                    .bar__item.text-size-medium
                      p.mb-small
                        span.text-semibold Vyberá Tomáš Ulej
                        br
                        a.link(href='#', title="Tomáš Ulej") Sledovať autora kolekcie
                  .bar__item.bar__item--border.show-m
                  .bar__break.hide-m
                  .bar__item.bar__item--fill.bar__item--shrinkable
                    p.no-mrg.text-size-medium Recepty zo života alebo zdravé desiate od Daniely Rau sú to najlepšie, čo môžete v Martinuse ochutnať.
                hr

                +booksCarouselHorizontal

              .card__content.text-center
                button.btn.btn--ghost Celá kolekcia

          .col--l-4
            article.card
              .card__content.card__content--overflow
                h2.text-center Najpopulárnejšie

              .card__content
                ul.list.list--counter.no-pad
                  each i in Array(5)
                    li.mb-medium
                      article.product.product--horizontal
                        .product__img.product__cover.collection
                          .thumbnail.thumbnail--book.thumbnail--clickable.thumbnail--medium-large
                            each i, index in Array(3)
                              .thumbnail__img-wrap
                                img(src=`${assetsPrefix}images/content/books/sample-${index + 1}.jpg`).img
                        .product__caption
                          a(href="#").link.link--product.block.mb-small.line-medium.text-size-regular
                            | Desať starých slovenských kníh, ktoré sú svieže aj dnes
                          .bar.bar--tiny.mb-none
                            .bar__item
                              .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                            .bar__item.bar__item--fill
                              .text-small.text-ellipsis Jana Šlinská
        .row
          .col--l-4
            +collectionItem
            +collectionItem

          .col--l-4
            +collectionItem
            +collectionItem

          .col--l-4
            +collectionItem
            +collectionItem

  include ./modules/seen-items
  include ./modules/seen-items-delete
