extends layouts/_default

include ./mixins/addTo
include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/product
include ./mixins/xmas

block opts
    - var pageTitle = 'Kolekcia'

block content
  -
    var swiperConfig = {
      slidesPerView: 1,
    };

  main.collection
    section.section--breadcrumbs
      .wrapper-main
        .bar.mb-none
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy', 'Kolekcie'] })

    section.section.section--books-header
      -
        var count = 12;
        var cols = 6;
        var _w = 200;
        var _h = 300;
        var width = count * _w;
        var height = count / cols * _h;
      .books-header.show-l
        each num, i in Array(count)
          -
            var x = i % cols * _w;
            var y = Math.floor(i / cols) * _h;
          .thumbnail.thumbnail--book(style="left: " + x + "px; top: " + y + "px")
            .thumbnail__img-wrap
              img(src="images/content/books/sample-" + i + ".jpg")
      .wrapper-main
        .row
          .col--l-5
            h1.mb-small Začnite s behaním alebo aspoň trošku športujte

            p
              +icon('collection', 'icon--medium').text-color-grey.mr-small
              | Kolekcia obsahuje#{' '}
              span.text-semibold 27 kníh

            p Najpredávanejšia kulinárska novinka z Veľkej Británie, ktorá zabodovala aj v USA. Lahodne s Ellou je názov jedinečnej kuchárskej knihy, ktorú na základe svojich vlastných skúseností napísala známa britská blogerka Ella Woodwardová. Jedinečnosť kuchárky nie je len v jedinečnom štýle a životnom príbehu autorky – radikálnou zmenou stravy sa jej podarilo vyliečiť z choroby, ktorú lekári označili za nevyliečiteľnú. Ella prináša dobré a zaujímavé recepty, v ktorých používa netradičné a dávno zabudnuté suroviny. V našich obchodoch ich dostaneme, ale nevieme ich používať.

            .bar.mb-medium.text-medium
              .bar__item
                .text-color-grey Kolekciu zostavil
              .bar__break.hide-s
              .bar__item.d-flex.align-items-center
                .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                span.text-semibold.ml-small Callie Krueger
              .bar__item.bar__item--border.show-s
              .bar__break.hide-s
              .bar__item
                a.link(href="#") Sledovať autora kolekcie

          .col--l-3.ofst--l-4
            article.card.card--well.text-center.text-size-medium.flex-1.justify-content-center
              .d-flex.flex-column
                .card__content
                  p.text-color-grey-dark Predobjednávka

                .card__content
                  .h1.mb-small 12,99 €
                  .badges.badges--inline.justify-content-center
                    .badge.badge--primary Ušetríte 3,50 €

                .card__content
                  .btn-layout--vertical
                    button.btn.btn--primary.btn--large.mb-small
                      +icon('collection').icon--left.icon--medium
                      | Vložiť do košíka

                    +addTo()

    section.section.pt-none
      - for (var i = 0; i<8; i++)
        .section.product-item(class=(i % 2 == 0) ? 'bg-secondary' : 'bg-default' ).mb-none
          .wrapper-main
            .row
              .col--4.col--s-shrink.text-left
                +product().mb-none
                  +productCover({
                    cover: 'images/content/books/sample-3.jpg',
                    rating: 3.5,
                    size: 'xlarge'
                  }).mb-medium
                  .show-s
                    +productPreview()
              .col--8.hide-s
                ul.list-inline.list-inline--delimited.mb-small
                  li
                    a.link(href="#") Frank Weissert

                h2.h3.text-bold.mb-small
                  a.link.link--product.text-bold Lahodne s Ellou - Lahodné prísady a fantastické jedlo, ktoré si vy a vaše telo zamilujete
                h3.h4.mb-medium Praktický návod ako stretnúť, spoznať a získať ženu svojich snov
              .col--s-fill
                .show-s
                  ul.list-inline.list-inline--delimited.mb-small
                    li
                      a.link(href="#") Frank Weissert

                  h2.text-bold.mb-small
                    a.link.link--product.text-bold Lahodne s Ellou - Lahodné prísady a fantastické jedlo, ktoré si vy a vaše telo zamilujete
                  h3.h4.mb-medium Praktický návod ako stretnúť, spoznať a získať ženu svojich snov

                if (i>0 && i<=2)
                  article.card.card--speech-bubble(class=(i % 2 == 0) ? 'bg-default' : 'bg-secondary' )
                    .card__content.text-medium Vychutnajte si daľšiu várku úžasných a zdravých receptov Elly Woodwardovej spolu s rodinou a priatelmi bez ohladu na to, pri akej príležitosti sa zišli.
                  .bar.bar--small
                    .bar__item
                      .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                    .bar__item
                      a.link.text-medium(href="#") Callie Krueger
                      .text-small.text-color-grey Autor kolekcie
                else
                  p Lahodne s Ellou je názov jedinečnej kuchárskej knihy, ktorú na základe svojich vlastných skúseností napísala známa britská blogerka Ella Woodwardová. Jedinečnosť kuchárky nie je len v jedinečnom štýle a životnom príbehu autorky – radikálnou zmenou stravy sa jej podarilo vyliečiť z choroby, ktorú lekári označili za nevyliečiteľnú. Ella prináša dobré a zaujímavé recepty, v ktorých používa netradičné a dávno zabudnuté suroviny. V našich obchodoch ich dostaneme, ale nevieme ich používať.
              .col--m-3.mb-large.mb-m-none
                .product-item__price-box.text-center
                  .mb-small.show-m
                    .h2.text-bold 12,99 €
                    .badge.badge--primary.mb-small Zľava 10%
                    +xmas({status: 0})
                  p.mb-medium.text-color-grey-dark.text-medium Posielame#{' '}
                    em(data-tooltip, title="Toto je tooltip vysvetlivka") ihneď
                    | .
                  .mb-small
                    +xmas()
                  .mb-small
                    .btn-layout.btn-layout--vertical
                      button.btn.btn--primary
                        +icon('cart').icon--left.icon--medium
                        span.show-m Vložiť do košíka
                        span.hide-m Kúpiť za 12,99 €
                  .mb-small
                    +addTo()

    section.section.section--secondary
      .wrapper-main
        .row
          .col--m-4.ofst--m-center
            .btn-layout--vertical.mb-m-large.mb-s-medium
              button.btn.btn--ghost Načítať ďalšie knihy (+5)

  include ./modules/seen-items
  include ./modules/seen-items-delete


block append modals
  include ./modules/product-preview
