extends layouts/_default

include ./mixins/booksCarouselHorizontal
include ./mixins/breadcrumbs
include ./mixins/inlineNav
include ./mixins/sectionHeader
include ./mixins/icon

block opts
    - var pageTitle = 'Kolekcia'

block content

  mixin najoblubenejsieSerie
    section.mb-large
      article.card
        .card__status
          .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
        .card__content.card__content--overflow
          +sectionHeader({ header: 'Najobľúbenejšie série', more: false, center: true, small: true })
          h2.text-center Všetko z IT sveta
          include ./modules/collection-carousel

        .card__content
          .btn-layout.btn-layout--vertical
            button.btn.btn--ghost Celá kolekcia

  main.collection
    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy', 'Kolekcie'] })

    section.section.xmas-collection-header
      .wrapper-main
        a(data-toggle="#xmas-help") Pomocnik


      .modal-overlay.active#xmas-help(data-modal)
        article.modal.modal--medium
          .modal__wrap
            header.modal__header.align-items-top.no-mrg-bottom
              .modal__header__headline
                h2.mb-medium Na každého čaká tá pravá knižka
                p.mb-medium Najkrajšia predvianočná šifra sú tie okamihy, keď si lámeme hlavu, ktorý darček najviac poteší našich blízkych. Je skvelé, že uvažujete nad knižkou, keďže aj podľa prieskumov patria k najobľúbenejším vianočným prekvapeniam.
                p Radi s vami dáme hlavy dohromady, aby sme skúsili nájsť tú pravú knižku :)
              .modal__header__action
                button.btn.btn--link(data-toggle="#xmas-help")
                  +icon('close', 'icon--medium')
            section.modal__content
              form
                .row.mb-none
                  .col--m-8.ofst--m-2
                    .form-control.form-control--input.mb-small
                      .form-label.form-label--required.no-mrg-bottom
                        label.text-transform-upper(for="xmas-name") Pre koho hľadáte darček?
                      input.input(type="text", name="xmas-name", id="xmas-name", placeholder="Napr. pre mamu, pre celú rodinu, pre domáceho škriatka...")

                    .form-control.form-control--input.mb-small
                      .form-label.form-label--required.no-mrg-bottom
                        label.text-transform-upper(for="xmas-sum") Koľko zlatiek môže stáť darček?
                      input.input(type="text", name="xmas-sum", id="xmas-sum", placeholder="Napr. do 25 eur")

                    .form-control.form-control--input.mb-small
                      .form-label.form-label--required.no-mrg-bottom
                        label.text-transform-upper(for="xmas-about") Čím by sa mal darček vyznačovať?
                      textarea.input(type="text", rows="4", name="xmas-about", id="xmas-about", placeholder="Napr. Hľadám knižku v islandčine, v ktorej by sa môj 20-ročný syn dočítal o zmysle života, hovoriacich rybách a programovaní autopilotov pre lietadlá Airbus A320. Alebo mi preňho odporučte dobrú kávu!")

                    .form-control.form-control--input.mb-medium
                      .form-label.form-label--required.no-mrg-bottom
                        label.text-transform-upper(for="xmas-mail") Na aký e-mail vám pošleme odpoveď?
                      input.input(type="text", name="xmas-mail", id="xmas-mail", placeholder="@")

                    .text-center
                      button.btn.btn--primary(type="button" data-toggle="#book-reservation") Poslať otázku

    section.section.section--small
      .wrapper-main
        +inlineNav({ items: ['Ako začať', 'Kultovky', 'Kniha ako darček', 'Šport', 'Pre relax'] })

    section.section.bg-secondary
      .wrapper-main
        .row
          .col--l-4
            +najoblubenejsieSerie
            +najoblubenejsieSerie

          .col--l-4
            +najoblubenejsieSerie
            +najoblubenejsieSerie

          .col--l-4
            +najoblubenejsieSerie
            +najoblubenejsieSerie

  include ./modules/seen-items
  include ./modules/seen-items-delete
