extends layouts/_default

include ./mixins/addTo
include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/product
include ./mixins/xmas
include ./mixins/booksCarouselRecommended

block opts
    - var pageTitle = 'Odporúčame pre vás'

block content

  main.collection
    section.section--breadcrumbs
      .wrapper-main
        .bar.mb-none
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Odporúčame pre vás'] })

    section.section
      .wrapper-main
        .row
          .col--l-7
            h1.mb-small Odporúčame špeciálne pre vás

            p Rozmýšľate nad tým, čo práve čítať? Naši škriatkovia sa tuho zamysleli a myslia si, že by sa vám mohlo páčiť napríklad toto:

    section.section.section--secondary
      .wrapper-main
        .row.mb-large
          .col--l-6
            .card.bg-yellow(style="overflow: hidden;")
              .card__content
                .card__content.no-pad--s-down

                  .section-title.mb-medium
                    a(href="#").section-title__item Kathy Reichs
                    a(href="#").section-title__item Kosti v sude

                  .thumbnail.thumbnail--book.thumbnail--xlarge.show-s(style="transform: rotateZ(-10deg); position: absolute; right: 0; top: 0;")
                    .thumbnail__img-wrap
                      a(href="#")
                        img(src="https://mrtns.eu/tovar/_l/456/l456359.jpg?v=1554147651")

                  .thumbnail.thumbnail--book.thumbnail--large.hide-s(style="transform: rotateZ(-10deg); position: absolute; right: -20px; top: 0;")
                    .thumbnail__img-wrap
                      img(src="https://mrtns.eu/tovar/_l/456/l456359.jpg?v=1554147651")

                  .row.show-l
                    .col--8
                      p.text-medium Slovensko je krajinou zabudnutých priemyselných pamiatok. Nadšenci zo združenia Čierne diery za nimi cestujú. Snažia sa nadchnúť ľudí pre históriu starých tovární, baní a stratených sídiel. Dokumentujú miesta, ktoré...

                  .bar.align-items-middle.mb-none
                    .bar__item.bar__item--fill
                      .bar.bar--vertical.bar--vertical-small.mb-none
                        .bar__item.m-none
                          .text-medium.mb-tiny
                            | Posielame#{' '}
                            em ihneď
                        .bar__item.m-none
                          .bar.bar--small.m-none.bar--no-wrap
                            .bar__item.m-none
                              .badge.badge--primary -20%
                            .bar__item.m-none
                              .h2.text-bold.text-space-left 8,99€
                    .bar__break.hide-s
                    .bar__item.bar__item--shrinkable
                      button.btn.btn--primary.mb-none(data-toggle='#checkout-notice')
                        +icon('cart').icon--left.icon--small
                        span.text-semibold Vložiť do košíka
                      +addTo({text: ''})

          .col--l-6.flex
            .row
              each item, i in [...books]
                if i < 4
                  .col--m-6
                    .card(style="height: 90%;")
                      .card__content
                        .bar.bar--vertical.bar--vertical-small.m-none
                          .bar__item.bar__item--fill.m-none
                            .mb-small
                              +productHorizontal(Object.assign({}, item, {titleClass: 'text-size-regular'}))
                          .bar__item.bar__item--shrinkable.m-none
                            .bar.mb-none
                              .bar__item.m-none
                                button.btn.btn--primary.btn--small.mb-none
                                  +icon('cart').icon--left.icon--small
                                  span.text-semibold do košíka
                              .bar__item.bar__item--fill.m-none
                              .bar__item.m-none
                                +addTo({text: '', buttonClass: 'btn--small'})

        .row.mb-large
          each item, i in [...books]
            .col--6.col--m-2
              a(href="#")
                .portrait(style=`background-image: url('https://mrtns.eu/tovar/_l/597/l597783.jpg?v=1555486578');`)
              .text-center.line-small
                a.link.link--product(href="#").text-medium Plyšový drak Toothless 40 cm
              .bar.bar--small.align-items-center
                .bar__item
                  .badge.badge--primary -5%
                .bar__item
                  .text-medium.text-semibold= item.price
                .bar__item
                  a.btn.btn--small.btn--clean.btn--equal.text-color-primary(href="#")
                    +icon('cart').icon--medium

    section.section
      .wrapper-main
        h2 Pretože ste si kúpili Mŕtvy na pekelnom vrchu
        +booksCarouselRecommended({ads: false, collections: false, cartButton: true}).carousel--fade-inside.carousel--fade-inside-white

    section.section.section--secondary
      .wrapper-main
        h2 Pretože ste si kúpili Mŕtvy na pekelnom vrchu
        +booksCarouselRecommended({ads: false, collections: false, cartButton: true}).carousel--fade-inside

    section.section
      .wrapper-main
        h2 Pretože ste si kúpili Mŕtvy na pekelnom vrchu
        +booksCarouselRecommended({ads: false, collections: false, cartButton: true}).carousel--fade-inside.carousel--fade-inside-white
