extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/pagination

block append head
  link(rel="stylesheet", href=`${assetsPrefix}styles/gallery.css`)

block opts
    - var pageTitle = 'Besedy'

block content
  -
    var swiperConfig = {
      slidesPerView: 1,
    };

  main.collection
    section.section--breadcrumbs
      .wrapper-main
        .bar.mb-none
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy', 'Besedy', 'Bratislava (Obchodná)'] })

    section.section
      .wrapper-main
        .bar
          .bar__item.bar__item--shrinkable
            h1.mb-none Archív besied
          .bar__item.bar__item--fill.show-m
            h2.h3
              a.link Bratislava (Obchodná)
          .bar__item.bar__item--shrinkable
            select.js-select
              option Bratislava (Obchodná)
              option Bratislava (Cubicon)
              option Nitra (OC Centro)

    section.section.pt-none.mb-medium
      - for (var i = 0; i<4; i++)
        .section.product-item(class=(i % 2 == 0) ? 'bg-secondary' : 'bg-default' ).mb-none
          .wrapper-main
            .row
              .col--s-1.text-center.show-m
                .h1.mb-none 14
                .h4.mb-none Máj
                .h2 2018
              .col--4.col--s-shrink.text-left
                img.img.img--rounded(src="http://mrtns.eu/img/custom/14855_whisky_web.png", width="200")
              .col--8.hide-s
                h3.h4.mb-tiny 14. 5. 2018 o 18:00
                h2.h3.text-bold.mb-small Prezentácia knihy Tretia planéta
                .text-medium
                  a.link
                    +icon('facebook').icon--small
                    | udalosť na facebooku

              .col--s-fill
                .show-s
                  h2.text-bold.mb-small Prezentácia knihy Tretia planéta
                  h3.h4.mb-medium 14. 5. 2018 o 18:00

                p.show-m Kniha fotografií a postrehov cestovateľa a frontmana legendárnej kapely Slobodná Európa z jeho potuliek po tretej planéte Slnečnej sústavy. Hudobník, pilot, kameraman a režisér Milo Láber, známy skôr pod prezývkou Whisky, dodnes navštívil zhruba 80 krajín. Zameriava sa najmä na miesta, kde ešte civilizácia a turistický ruch nestihli zničiť prírodu a tradičný spôsob života.
                .hide-m
                  p.mb-none(id='event-description-' + i, data-collapse="100", class=(i % 2 == 0) ? 'bg-secondary' : '') Kniha fotografií a postrehov cestovateľa a frontmana legendárnej kapely Slobodná Európa z jeho potuliek po tretej planéte Slnečnej sústavy. Hudobník, pilot, kameraman a režisér Milo Láber, známy skôr pod prezývkou Whisky, dodnes navštívil zhruba 80 krajín. Zameriava sa najmä na miesta, kde ešte civilizácia a turistický ruch nestihli zničiť prírodu a tradičný spôsob života.
                  .product-read-more.mb-medium
                    a.link.text-size-medium(href="javascript:void(0)", data-toggle="#event-description-" + i + ", self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
                      +icon('arrow-down')
                a.btn.btn--facebook.show-s.hide-l
                  +icon('facebook').icon--medium.icon--left
                  | Udalosť na facebooku
              .col--l-shrink.show-l
                a.btn.btn--facebook
                  +icon('facebook').icon--medium.icon--left
                  | Udalosť na facebooku
            .row.mb-medium
              .col--s-1.show-m
              .col--fill
                #lightgallery.gallery.gallery--small
                  a.gallery__item(href="http://www.martinus.sk/data/img/custom/75682_bratislava_2.jpg")
                    img(src="http://www.martinus.sk/data/img/custom/75682_bratislava_2.jpg")
                  a.gallery__item(href="http://www.martinus.sk/data/img/custom/75762_bratislava_3.jpg")
                    img(src="http://www.martinus.sk/data/img/custom/75762_bratislava_3.jpg")
                  a.gallery__item(href="http://www.martinus.sk/data/img/custom/75980_bratislava_4.jpg")
                    img(src="http://www.martinus.sk/data/img/custom/75980_bratislava_4.jpg")
                  a.gallery__item(href="http://www.martinus.sk/data/img/custom/75814_bratislava_5.jpg")
                    img(src="http://www.martinus.sk/data/img/custom/75814_bratislava_5.jpg")
                  a.gallery__item(href="http://www.martinus.sk/data/img/custom/75682_bratislava_2.jpg")
                    img(src="http://www.martinus.sk/data/img/custom/75682_bratislava_2.jpg")
                  a.gallery__item(href="http://www.martinus.sk/data/img/custom/75762_bratislava_3.jpg")
                    img(src="http://www.martinus.sk/data/img/custom/75762_bratislava_3.jpg")
                  a.gallery__item(href="http://www.martinus.sk/data/img/custom/75980_bratislava_4.jpg")
                    img(src="http://www.martinus.sk/data/img/custom/75980_bratislava_4.jpg")
                  a.gallery__item(href="http://www.martinus.sk/data/img/custom/75814_bratislava_5.jpg")
                    img(src="http://www.martinus.sk/data/img/custom/75814_bratislava_5.jpg")

    section.section
      .wrapper-main
        +pagination.justify-content-center.mb-large

  include ./modules/seen-items
  include ./modules/seen-items-delete


block append modals
  include ./modules/product-preview

block append scripts
  script(src=`${assetsPrefix}scripts/gallery.js`)

  script.
    lightGallery(document.getElementById('lightgallery'), {
      thumbnail: true,
      hash: false,
      download: false,
      fullScreen: false,
      zoom: false
    });
