extends layouts/_foxford

include ./mixins/icon

block opts
    - var pageTitle = 'Káva'
    - const pageClass = '';
    - var footer = true;

block content

  main

    section.section.section--secondary
      .wrapper-main
        .bar
          .bar__item.bar__item--shrinkable
            a(href="foxford-categories.html").btn.btn--ghost
              +icon('chevron-left').icon--medium
              | #{' '}Späť
          .bar__item.bar__item--fill.text-color-grey-dark
            h1.mb-none Káva
          .bar__item.bar__item--shrinkable.text-color-grey-dark
            +icon('coffee').icon--xxlarge

    section.section
      .wrapper-main

        ul.list.p-none.mb-large
          each item, i in [1,2,3,4,5,6,7,8,9]
            .mb-small.border-bottom-grey
              .bar.mb-small
                span.bar__item.bar__item--fill
                  h2.h3.mb-none Espresso
                  .text-small.text-ellipsis.text-color-grey Lorem ipsum dolor sit amet
                span.bar__item.bar__item--shrinkable.text-right
                  b 2,90 €
                span.bar__item.bar__item--shrinkable
                  button.btn.btn--ghost
                    +icon('plus').icon--medium.icon--left
                    | Pridať

block modals

  .modal-overlay.active#welcome(data-modal)
    .modal.modal--medium
      .modal__wrap
        .modal__content
          .text-center
            img(src=`${assetsPrefix}images/content/foxford/logo.png`, width="200")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra neque in varius euismod. Nulla quis scelerisque enim, nec tristique erat. Phasellus eros nulla, porta ut tellus in, dignissim lacinia tortor.
            a(href="#").btn.btn--success.btn--large Začať

block scripts
  script
    .
      window.addEventListener('DOMContentLoaded', function() {
        new window.myApp.Alert({
          type: 'success',
          icon: 'check-circle',
          text: 'Lorem ipsum dolor sit amet',
          timeout: 5000
        });
      });
