extends layouts/_foxford

include ./mixins/icon

block opts
    - var pageTitle = 'Objednávka'
    - const pageClass = '';
    - var footer = false;

block content

  main.bg-secondary
    section.section
      .wrapper-main
        .row
          .col--l-8.ofst--center.card.px-none
            .card__content.mb-medium
              .bar.bar--small
                .bar__item.bar__item--shrinkable
                  a(href="foxford-categories.html").btn.btn--ghost
                    +icon('chevron-left').icon--medium
                    | #{' '}Späť
                .bar__item
                  h1.h2 Vaša objednávka
                .bar__item
                  .pill.pill--blue 4

              each item, i in [1,2,3,4]
                .mb-small.border-bottom-grey
                  .bar.mb-small
                    .bar__item.bar__item--fill
                      h2.h3.mb-none Espresso
                    .bar__item.bar__item--shrinkable
                      .form-control.form-control--input.m-none
                        .input-addons.input-addons--small.align-items-right
                          .input-addons__item.input-addons__item--no-border.p-none
                            button(type="button" data-number-spinner="decrease" data-controls=`#product-${i}-qty`).btn.btn--small.btn--clean.btn--equal
                              +icon('minus', 'icon--medium', 'mínus')
                          input(type="number" id=`product-${i}-qty` min="0" max="100" step="1" value="1").input.input--small.input--short.px-none.text-center
                          .input-addons__item.input-addons__item--no-border.p-none
                            button(type="button" data-number-spinner="increase" data-controls=`#product-${i}-qty`).btn.btn--small.btn--clean.btn--equal
                              +icon('plus', 'icon--medium', 'plus')
                    .bar__item.bar__item--shrinkable.text-right
                      b 2,90 €
                    .bar__item.bar__item--shrinkable
                      button.btn.btn--clean.m-none(type="button")
                        +icon('trash', 'icon--medium')

              .mb-medium
              .bar.align-items-bottom
                .bar__item.bar__item--fill.text-right
                  .h3.mb-none Spolu
                .bar__item.bar__item--shrinkable
                  .h1.mb-none 13,80 €

              .text-center
                button.btn.btn--success.btn--large Objednať

