extends layouts/_foxford

include ./mixins/icon

block opts
    - var pageTitle = 'Kategórie'
    - const pageClass = '';
    - var footer = true;

block content

  main
    section.section
      .wrapper-main

        .alert.alert--success-light Obsluha bola privolaná :)

        .text-center
          | <div style="display: inline-block;" id="TA_cdswritereviewlg909" class="mb-large TA_cdswritereviewlg"><ul id="zrzKyS4M2e" class="TA_links Kmpcqqk0NtvB"><li id="P6qJOYEN8Qm" class="qop44dx2"><a target="_blank" href="https://www.tripadvisor.sk/"><img src="https://www.tripadvisor.sk/img/cdsi/img2/branding/medium-logo-12097-2.png" alt="TripAdvisor"/></a></li></ul></div><script async src="https://www.jscache.com/wejs?wtype=cdswritereviewlg&amp;uniq=909&amp;locationId=7291238&amp;lang=sk&amp;lang=sk&amp;display_version=2" data-loadtrk onload="this.loadtrk=true"></script>

        h1.mb-medium Vyberte kategóriu
        ul.list.no-pad.mb-large
          each item, i in [1,2,3,4,5,6,7,8,9]
            .mb-small.border-bottom-grey
              a(href="foxford-category.html").bar.mb-small
                span.bar__item.bar__item--shrinkable
                  +icon('coffee').icon--large
                span.bar__item.bar__item--fill
                  h2.h2.mb-none Káva
                  .text-small.text-ellipsis.text-color-grey espresso, espresso macchiatto,  cappuccino, caffe latte
                span.bar__item.bar__item--shrinkable
                  +icon('chevron-right').icon--small.text-color-grey
        .mb-large

block modals

  .modal-overlay#welcome(data-modal)
    .modal.modal--medium
      .modal__wrap
        .modal__content
          .text-center
            .mb-medium
            img(src=`${assetsPrefix}images/content/foxford/logo.png`, width="200").mb-medium
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra neque in varius euismod. Nulla quis scelerisque enim, nec tristique erat. Phasellus eros nulla, porta ut tellus in, dignissim lacinia tortor.
            a(href="#", data-toggle="#welcome").btn.btn--success.btn--large Začať

  .modal-overlay#thankyou(data-modal)
    .modal.modal--medium
      .modal__wrap
        .modal__content
          .text-center
            .mb-medium
            +icon('smile').icon--xxlarge.text-color-success.mb-medium
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra neque in varius euismod. Nulla quis scelerisque enim, nec tristique erat. Phasellus eros nulla, porta ut tellus in, dignissim lacinia tortor.
            a(href="#", data-toggle="#thankyou").btn Rozumiem