extends layouts/_default

block opts
    - var pageTitle = 'Homepage'

block content
  main.bg-secondary
    section.section
      .wrapper-main
        .homepage-grid(data-grid)
          .row(data-grid-container)
          div(data-grid-source)
            .homepage-grid__item(data-grid-column='{ "m": 1, "l": 1}')
              +section-header({ header: 'Pre Vás' })
              .card
                .card__content.card__content--overflow
                  include ./modules/card-carousel-horizontal

            .homepage-grid__item(data-grid-column='{ "m": 2, "l": 3}')
              +section-header({ header: 'Najpredávanejšie z ponuky', more: false })
              .card
                .card__content
                  .filter.filter--fill
                    .filter__item
                      input.filter__input(type="radio", name="top-type", id="top-type-1", checked)
                      label.filter__value(for="top-type-1") Knihy
                    .filter__item
                      input.filter__input(type="radio", name="top-type", id="top-type-2")
                      label.filter__value(for="top-type-2") Filmy
                    .filter__item
                      input.filter__input(type="radio", name="top-type", id="top-type-3")
                      label.filter__value(for="top-type-3") Hry
                    .filter__item
                      input.filter__input(type="radio", name="top-type", id="top-type-4")
                      label.filter__value(for="top-type-4") Káva a čaj

                .card__content
                  ul.list.list--counter
                    each item, i in [...books, ...books ]
                      if i < 10
                        li.mb-medium(class=i > 4 ? 'show-m' : '')
                          +book-figure-horizontal(item)

                .card__content
                  .btn-layout.btn-layout--vertical
                    button.btn.btn--ghost Celý rebríček

            .homepage-grid__item(data-grid-column='{ "m": 1, "l": 2}')
              +section-header({ header: 'Novinky' })

              .card
                .card__content.card__content--overflow
                  include ./modules/card-carousel-horizontal

            .homepage-grid__item(style="height: 200px;", data-grid-column='{ "m": 1, "l": 1}')
              h2 banner
            .homepage-grid__item(style="height: 543px;", data-grid-column='{ "m": 1, "l": 1}')
              h2 Týždenné kolekcie
            .homepage-grid__item(style="height: 410px;", data-grid-column='{ "m": 1, "l": 2}')
              h2 Najobľúbenejšie kolekcie
            .homepage-grid__item(style="height: 410px;", data-grid-column='{ "m": 1, "l": 2}')
              h2 Ľudí najviac zaujíma
