extends layouts/_default

block opts
    - var pageTitle = 'Homepage'

mixin preVas
  section.mb-large
    +section-header({ header: 'Pre Vás' })
    article.card
      .card__content.card__content--overflow
        include ./modules/card-carousel-horizontal

mixin banner
  section.mb-large
    a(href='#').banner
      img.img.img--fluid(src="images/content/banner-374x200.jpg")

mixin tyzdenneKolekcie
  section.mb-large
    +section-header({ header: 'Týždenné kolekcie' })
    article.card
      .card__content.card__content--overflow
        h2.text-center Knihy do vašej kuchyne
        include ./modules/collection-carousel

      .card__content
        .btn-layout.btn-layout--vertical
          button.btn.btn--ghost Celá kolekcia

mixin novinky
  section.mb-large
    +section-header({ header: 'Novinky' })
    article.card
      .card__content.card__content--overflow
        include ./modules/card-carousel-horizontal

mixin najoblubenejsieKolekcie
  section.mb-large
    +section-header({ header: 'Najobľúbenejšie kolekcie' })
    article.card
      .card__content.card__content--overflow
        h2.text-center Biografie slávnych
        include ./modules/collection-carousel

      .card__content
        .btn-layout.btn-layout--vertical
          button.btn.btn--ghost Celá kolekcia

mixin najpredavaniejsieZPonuky
  section.mb-large
    +section-header({ header: 'Najpredávanejšie z ponuky', more: false })
    .card
      .card__content
        .filter.filter--fill
          .filter__item
            input.filter__input(type="radio", name="top-type", id="top-type-1", checked)
            label.filter__value(for="top-type-1") Knihy
          .filter__item
            input.filter__input(type="radio", name="top-type", id="top-type-2")
            label.filter__value(for="top-type-2") Filmy
          .filter__item
            input.filter__input(type="radio", name="top-type", id="top-type-3")
            label.filter__value(for="top-type-3") Hry
          .filter__item
            input.filter__input(type="radio", name="top-type", id="top-type-4")
            label.filter__value(for="top-type-4") Káva a čaj

      .card__content
        ul.list.list--counter
          each item, i in [...books, ...books ]
            if i < 10
              li.mb-medium(class=i > 4 ? 'show-l' : '')
                +book-figure-horizontal(item)

      .card__content
        .btn-layout.btn-layout--vertical
          button.btn.btn--ghost Celý rebríček

block content
  main.bg-secondary
    section.section
      .wrapper-main
        // desktop
        .row.show-l
          .col--l-4.col--m-6
            +preVas
            +banner
            +tyzdenneKolekcie

          .col--l-4.col--m-6
            +novinky
            +najoblubenejsieKolekcie

          .col--l-4.col--m-6
            +najpredavaniejsieZPonuky

        // tablet
        .row.show-m-only
          .col--m-6
            +preVas
            +novinky
            +banner
            +tyzdenneKolekcie

          .col--m-6
            +najpredavaniejsieZPonuky
            +najoblubenejsieKolekcie

        // mobile
        .row.hide-m
          .col--12
            +preVas
            +najpredavaniejsieZPonuky
            +novinky
            +tyzdenneKolekcie
            +banner
            +najoblubenejsieKolekcie
