extends homepage

block head
  link(rel="stylesheet", href=`${assetsPrefix}styles/xmas.css`)

block opts
    - var pageTitle = 'Homepage'
    - var gdpr = false;
    - var xmasLogo = true;

block headerWarning
  .section.section--small.header-warning.bg-grey-dark.text-color-white.pt-tiny.pb-tiny.pt-l-small.pb-small-l.text-size-small
    .wrapper-main.overflow-scroll-x.pl-small.pl-l-large
      ul.d-flex.justify-content-between.list--unstyled
        li.pr-small
          | Kníhkupectvá
          a(href="").link--white.d-block
            strong.text-color-success Otvorené
            span.ml-tiny.show-m Predĺžená otváracia doba
            +icon('arrow-right').show-m
        li.pr-small
          | Rezervácia v kníhkupectve
          strong.d-block.text-color-success Stíhame do Vianoc
        li.pr-small
          | Osobný odber
          strong.d-block.text-color-success Stíhame do Vianoc
        li.pr-small
          | Zásielkovňa
          strong.d-block.text-color-grey Nestíha do Vianoc
        li.pr-small
          | Balíkobox
          strong.d-block.text-color-grey Nestíha do Vianoc
        li.pr-small
          | Kuriér GLS
          strong.d-block.text-color-success Stíha do Vianoc
        li.pr-small
          | Slovenská pošta
          strong.d-block.text-color-grey Nestíha do Vianoc

