extends layouts/_kiosk

include ./mixins/booksCarouselRecommended
include ./mixins/breadcrumbs
include ./mixins/pagination
include ./mixins/review
include ./mixins/sectionHeader
include ./mixins/icon

block opts
    - var pageTitle = 'Homepage';
    - var backButton = false;

block content
  main
    div(data-sticky-container)

      a(href='#')
        img.img.img--fluid(src="images/content/banners/hero.jpg").m-none

      section.section.section--small.section--secondary.section--overflow
        .wrapper-main
          h2.mb-medium Práve teraz sa najviac kupuje na Obchodnej
          -
            var swiperConfig = {
              slidesPerView: 'auto',
              slidesPerGroup: 7,
              breakpoints: {
                1024: {
                  slidesPerGroup: 5,
                },
                768: {
                  spaceBetween: 20,
                  slidesPerGroup: 3,
                },
                640: {
                  spaceBetween: 20,
                  slidesPerGroup: 2,
                },
                480: {
                  spaceBetween: 20,
                  slidesPerGroup: 1,
                }
              },
            };
            swiperConfig = JSON.stringify(swiperConfig);
          .carousel.carousel--fade-outside.mb-medium
            .swiper-container.swiper-container-horizontal(data-swiper-options=swiperConfig)
              //ul.swiper-wrapper.list--counter.p-none(data-equal-columns)
              ul.swiper-wrapper.list--counter.p-none
                each item, i in [...books, ...books, ...books, ...books]
                  //li.swiper-slide.carousel__product-detail(data-equal-column)
                  li.swiper-slide.carousel__product-detail
                    .product.mb-small.text-left.d-flex.flex-column.justify-content-end(style="height: 100%;")
                      +productCover({cover: item.cover, href: 'kiosk-detail.html'})
                      +productTitle({title: item.title, author: item.author, href: 'kiosk-detail.html'})

              button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
                +icon('arrow-left').icon--medium
              button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
                +icon('arrow-right').icon--medium

      section.section.section--small
        .wrapper-main
          +kioskFeatured
            h2.mb-medium Posledné detektívky, čo nás zaujali

        hr

        .wrapper-main
          +kioskFeatured
            h2.mb-medium Posledné romány, čo nás zaujali

        hr

        .wrapper-main
          +kioskFeatured
            h2.mb-medium Posledné sci-fi a fantasy, čo nás zaujali

block append modals
