extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/booksCarouselBookOfTheYear

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  main
    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Knihy', 'Knihy roka 2020']})
    section.section.section--knihy-roka
      .wrapper-main
        h1
          | Knihy
          br
          | roka 2020
        h2 Ktoré knihy by ste si nemali nechať ujsť?
    section.section
      .wrapper-main
        .row
          .col--m-8
            p Tuto ide text, ktory opisuje, co je projekt kniha roka zac. Mohol by opisat proces, akym sa knihy vyberali. Mozno nieco z backstagu. Mozno par teplych slov od MMeska. Mozno nejaky citat z knihy? Ja naozaj neviem, proste taky obkec, aby ked ho navstevnik precital, tak mal pocit ze knihy roka 2020 je martinusacka knizna alternativa Oscarov a tie knihy, ktore su nizsie, naozaj stoji za to a boli vyberane poriadne, odborne a s laskou.
          .col--m-4
            p.text-center sem pojde video
    section.section--breadcrumbs.sticky
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--fill.text-right
            a.btn.btn--clean(href='#dospely') Knihy pre dospelych
          .bar__item.bar__item--fill
            a.btn.btn--clean(href='#deti') Knihy pre deti
    section#dospely
      .wrapper-main
        h2 Knihy roka 2020
        p Tuto opiseme, ze nizsie vidime “dospelacke knihy” roka. Co za kategorie tu moze navstevnik preklikat a co moze ocakavat.
    section
      .wrapper-main
        ul.tab-nav(data-tabs-container)
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link Román a beletria
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link Reportáž a literatúra faktu
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link Populárno - náučná literatúra
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link Dizajn
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link Tipy vydavateľov
        .row
          .col--m-4
            h2 Román a beletria
          .col--m-8
            +booksCarouselBookOfTheYear
    section
      .wrapper-main
        .row
          .col--m-6
            h2 Názov kategórie
            p Sem opiseme, co je toto za kategoriu. Ze vlastne co v nej moze ocakavat, podla coho boli knihy vyberane a podobne. Bla bla Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh. Nullam hendrerit viverra dolor. Vestibulum fringilla, lectus id viverra malesuada, enim mi adipiscing ligula, et bibendum lacus lectus id sem.
          .col--m-6
            .bar.no-mrg-bottom
              .bar__item.bar__item--shrinkable
                span sem pojde fotka
              .bar__item.bar__item--fill
                h3 Recenzista/ka
                p.mb-large Sem mozme citovat recenziu na knihu nizsie, ktora je highlighnuta. A ze preco tu vlastne je. Obhajime to, ze bola vybrana pravom a vybrala ju akreditovana osoba.
            p Sem by sme mohli dat anotaciu knihy. Alebo nejaky citat z nej. Alebo par teplych slov o tom, ze preco tu ta kniha je. Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh.
            .bar.no-mrg-bottom
              .bar__item.bar__item--shrinkable
                span sem pojde fotka
              .bar__item.bar__item--fill
                h3 Názov knihy
                p Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh.
                a.mb-large Viac o knihe >
    section
      .wrapper-main
        .row
          .col--m-6
            p sem pojde kniha
          .col--m-6
            h3 Odporúčame
            h2 Názov knihy
            p Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh. Nullam hendrerit viverra dolor. Vestibulum fringilla, lectus id viverra malesuada, enim mi adipiscing ligula, et bibendum lacus lectus id sem.
            .bar__item.bar__item--fill
                .bar.bar--small.align-items-top.no-mrg-bottom
                  .bar__item
                    .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                  .bar__item.bar__item--fill
                    dl.no-mrg
                      dt Tento titul číta aj
                      dd
                        a.link(href="#") Jana Šlinská
            a.mb-large Viac o knihe >
    section#deti
      .wrapper-main
        h2 Detske knihy roka 2020