extends layouts/_default

include ./mixins/booksCarouselBookOfTheYear
include ./mixins/knihy-roka/breadcrumbs
include ./mixins/knihy-roka/hero-banner
include ./mixins/knihy-roka/introduction
include ./mixins/knihy-roka/categories-links

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  main
    +breadcrumbsKnihyRoka
    +heroBanner
    +introduction
    section#dospely
      .wrapper-main
        h2 Kategórie
        +categoriesLinks
        .row.mb-large
          .col--m-4
            h2 Román a beletria
            p Beletria je umelecká próza, alebo trocha nepresne, krásna literatúra, je spoločný názov prozaických umeleckých diel. Sú to najmä román, novela, črta, poviedka a umelecká reportáž. Výrazom beletria sa v minulosti označovala celá umelecká literatúra.
          .col--m-8.testik
            +booksCarouselBookOfTheYear
        .row
          .col--m-6
            h2 Názov kategórie
            p Sem opiseme, co je toto za kategoriu. Ze vlastne co v nej moze ocakavat, podla coho boli knihy vyberane a podobne. Bla bla Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh. Nullam hendrerit viverra dolor. Vestibulum fringilla, lectus id viverra malesuada, enim mi adipiscing ligula, et bibendum lacus lectus id sem.
          .col--m-6
            .bar.no-mrg-bottom
              .bar__item.bar__item--shrinkable
                span sem pojde fotka
              .bar__item.bar__item--fill
                h3 Recenzista/ka
                p.mb-large Sem mozme citovat recenziu na knihu nizsie, ktora je highlighnuta. A ze preco tu vlastne je. Obhajime to, ze bola vybrana pravom a vybrala ju akreditovana osoba.
            p Sem by sme mohli dat anotaciu knihy. Alebo nejaky citat z nej. Alebo par teplych slov o tom, ze preco tu ta kniha je. Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh.
            .bar.no-mrg-bottom
              .bar__item.bar__item--shrinkable
                span sem pojde fotka
              .bar__item.bar__item--fill
                h3 Názov knihy
                p Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh.
                a.mb-large Viac o knihe >
        .row
          .col--m-6
            p sem pojde kniha
          .col--m-6
            h3 Odporúčame
            h2 Názov knihy
            p Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh. Nullam hendrerit viverra dolor. Vestibulum fringilla, lectus id viverra malesuada, enim mi adipiscing ligula, et bibendum lacus lectus id sem.
            .bar__item.bar__item--fill
              .bar.bar--small.align-items-top.no-mrg-bottom
                .bar__item
                  .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                .bar__item.bar__item--fill
                  dl.no-mrg
                    dt Tento titul číta aj
                    dd
                      a.link(href="#") Jana Šlinská
            a.mb-large Viac o knihe >
    +heroBanner("children")