extends layouts/_default

include ./mixins/booksCarouselBookOfTheYear
include ./mixins/knihy-roka/breadcrumbs
include ./mixins/knihy-roka/hero-banner

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  main
    +breadcrumbsKnihyRoka
    +heroBanner
    +heroBanner("children")
    section.section.section--secondary.mb-large
      .wrapper-main
        .row.mb-large
          .col--m-6
            p Tuto ide text, ktory opisuje, co je projekt kniha roka zac. Mohol by opisat proces, akym sa knihy vyberali. Mozno nieco z backstagu. Mozno par teplych slov od MMeska. Mozno nejaky citat z knihy? Ja naozaj neviem, proste taky obkec, aby ked ho navstevnik precital, tak mal pocit ze knihy roka 2020 je martinusacka knizna alternativa Oscarov a tie knihy, ktore su nizsie, naozaj stoji za to a boli vyberane poriadne, odborne a s laskou.

            a(href="#dospely", style=`${sLink}`).link Knihy roka 2020
            br
            a(href="#deti", style=`${sLink}`).link Detské knihy roka 2020
          .col--m-4.ofst--m-2
            img(src='/images/knihy-roka/video-placeholder.png')
    section#dospely
      .wrapper-main
        h2 Kategórie
        ul.tab-nav(data-tabs-container).sticky
          li.tab-nav__item(data-tabs-item)
            a.tab-nav__content.tab-nav__content--link Román a beletria
          li.tab-nav__item(data-tabs-item)
            a.tab-nav__content.tab-nav__content--link Reportáž a literatúra faktu
          li.tab-nav__item(data-tabs-item)
            a.tab-nav__content.tab-nav__content--link Populárno - náučná literatúra
          li.tab-nav__item(data-tabs-item)
            a.tab-nav__content.tab-nav__content--link Dizajn
          li.tab-nav__item(data-tabs-item)
            a.tab-nav__content.tab-nav__content--link Tipy vydavateľov
        .row.mb-large
          .col--m-4
            h2 Román a beletria
            p Beletria je umelecká próza, alebo trocha nepresne, krásna literatúra, je spoločný názov prozaických umeleckých diel. Sú to najmä román, novela, črta, poviedka a umelecká reportáž. Výrazom beletria sa v minulosti označovala celá umelecká literatúra.
          .col--m-8.testik
            +booksCarouselBookOfTheYear
        .row
          .col--m-6
            h2 Názov kategórie
            p Sem opiseme, co je toto za kategoriu. Ze vlastne co v nej moze ocakavat, podla coho boli knihy vyberane a podobne. Bla bla Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh. Nullam hendrerit viverra dolor. Vestibulum fringilla, lectus id viverra malesuada, enim mi adipiscing ligula, et bibendum lacus lectus id sem.
          .col--m-6
            .bar.no-mrg-bottom
              .bar__item.bar__item--shrinkable
                span sem pojde fotka
              .bar__item.bar__item--fill
                h3 Recenzista/ka
                p.mb-large Sem mozme citovat recenziu na knihu nizsie, ktora je highlighnuta. A ze preco tu vlastne je. Obhajime to, ze bola vybrana pravom a vybrala ju akreditovana osoba.
            p Sem by sme mohli dat anotaciu knihy. Alebo nejaky citat z nej. Alebo par teplych slov o tom, ze preco tu ta kniha je. Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh.
            .bar.no-mrg-bottom
              .bar__item.bar__item--shrinkable
                span sem pojde fotka
              .bar__item.bar__item--fill
                h3 Názov knihy
                p Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh.
                a.mb-large Viac o knihe >
        .row
          .col--m-6
            p sem pojde kniha
          .col--m-6
            h3 Odporúčame
            h2 Názov knihy
            p Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh. Nullam hendrerit viverra dolor. Vestibulum fringilla, lectus id viverra malesuada, enim mi adipiscing ligula, et bibendum lacus lectus id sem.
            .bar__item.bar__item--fill
              .bar.bar--small.align-items-top.no-mrg-bottom
                .bar__item
                  .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                .bar__item.bar__item--fill
                  dl.no-mrg
                    dt Tento titul číta aj
                    dd
                      a.link(href="#") Jana Šlinská
            a.mb-large Viac o knihe >
    section#deti
      .wrapper-main
        h2 Detske knihy roka 2020