extends layouts/_default

include ./mixins/knihy-roka/breadcrumbs
include ./mixins/knihy-roka/hero-banner
include ./mixins/knihy-roka/introduction
include ./mixins/knihy-roka/categories-links
include ./mixins/knihy-roka/category-carousel
include ./mixins/knihy-roka/background-section-title

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  main
    +breadcrumbsKnihyRoka
    +heroBanner
    +introduction
    section#dospely
      .wrapper-main
        h2 Kategórie
        +categoriesLinks
    +categoryCarousel
    section
      .wrapper-main
        .row
          .col--m-6
            +backgroundSectionTitle
          .col--m-6
            .bar.no-mrg-bottom
              .bar__item.bar__item--shrinkable
                span sem pojde fotka
              .bar__item.bar__item--fill
                h3 Recenzista/ka
                p.mb-large Sem mozme citovat recenziu na knihu nizsie, ktora je highlighnuta. A ze preco tu vlastne je. Obhajime to, ze bola vybrana pravom a vybrala ju akreditovana osoba.
            p Sem by sme mohli dat anotaciu knihy. Alebo nejaky citat z nej. Alebo par teplych slov o tom, ze preco tu ta kniha je. Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh.
            .bar.no-mrg-bottom
              .bar__item.bar__item--shrinkable
                span sem pojde fotka
              .bar__item.bar__item--fill
                h3 Názov knihy
                p Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh.
                a.mb-large Viac o knihe >
        .row
          .col--m-6
            p sem pojde kniha
          .col--m-6
            h3 Odporúčame
            h2 Názov knihy
            p Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh. Nullam hendrerit viverra dolor. Vestibulum fringilla, lectus id viverra malesuada, enim mi adipiscing ligula, et bibendum lacus lectus id sem.
            .bar__item.bar__item--fill
              .bar.bar--small.align-items-top.no-mrg-bottom
                .bar__item
                  .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                .bar__item.bar__item--fill
                  dl.no-mrg
                    dt Tento titul číta aj
                    dd
                      a.link(href="#") Jana Šlinská
            a.mb-large Viac o knihe >
    +heroBanner("children")
    section#deti
      .wrapper-main
        h2 Kategórie pre deti
        +categoriesLinks(['Vo veku 0-3 roky','Vo veku 4-6 rokov','Vo veku 7-10 rokov','Vo veku 11-13 rokov','Vo veku 14-16 rokov'])