extends layouts/_default

include ./mixins/knihy-roka/anotation
include ./mixins/knihy-roka/anotationAuthor
include ./mixins/knihy-roka/backgroundSectionTitle
include ./mixins/knihy-roka/breadcrumbsKnihyRoka
include ./mixins/knihy-roka/categoriesLinks
include ./mixins/knihy-roka/categoryCarousel
include ./mixins/knihy-roka/heroBanner
include ./mixins/knihy-roka/introduction
include ./mixins/knihy-roka/bookHorizontal
include ./mixins/knihy-roka/bookVertical
include ./mixins/icon

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  main
    +breadcrumbsKnihyRoka
    +heroBanner
    +introduction
    section#dospely
      .wrapper-main
        h2 Kategórie
        +categoriesLinks
    +categoryCarousel
    section
      .wrapper-main
        .row
          .col--m-6
            +backgroundSectionTitle
          .col--m-6
            +anotation
            +anotationAuthor
            +bookHorizontal({cover:'https://mrtns.eu/tovar/_l/721/l721777.jpg?v=1601233594', coverSize: 'xlarge', title: 'Dobré znamenia', author: 'Neil Gaiman, Terry Pratchett', publisher: ' • Slovart, 2020', description: 'Koniec sveta sa nezadržateľne blíži. Zhromažďujú sa armády dobra a zla, z hlbín sa dvíha Atlantída, z neba padajú žaby, naplno horia vášne. Zdá sa, že všetko ide presne podľa Božieho plánu. Démon Crowley a anjel Azirafal už dlho žijú na zemi medzi smrteľníkmi a celkom si tu zvykli.'})
        .row
          .col--m-4
            +bookVertical({cover:'https://mrtns.eu/tovar/_l/721/l721103.jpg?v=1593073547', coverSize: 'xlarge', title: 'Tajný príbeh', author: 'Donna Tartt', publisher: ' • Slovart, 2020',})
          .col--m-4
            +bookVertical({cover:'https://mrtns.eu/tovar/_l/721/l721777.jpg?v=1601233594', coverSize: 'xlarge', title: 'Príbeh o Áste', author: 'Jón Kalman Stefánsson', publisher: ' • Artforum, 2020',})
          .col--m-4
            +bookVertical({cover:'https://mrtns.eu/tovar/_l/725/l725927.jpg?v=1602840038', coverSize: 'xlarge', title: 'Odkiaľ je život dokonalý', author: 'Silvia Avallone', publisher: ' • Inaque, 2020',})
        +bookHorizontal({cover:'https://mrtns.eu/tovar/_l/705/l705403.jpg?v=1592898126', coverSize: 'huge', title: 'Malé ženy', author: 'Louisa May Alcott', publisher: ' • Ikar, 2020', description: 'Príbeh štyroch sestier prvý raz uzrel svetlo sveta v druhej polovici 19. storočia, ale jeho obľúbenosť prekročila hranice času. Stále ďalším generáciám matiek a dcér ukazuje hodnotu rodiny, priateľstva, odpustenia a života v pravde a láske.'})
    +heroBanner("children")
    section#deti
      .wrapper-main
        h2 Kategórie pre deti
        +categoriesLinks([{link: 'Vo veku 0-3 roky',color: ''},{link:'Vo veku 4-6 rokov',color: ''},{link:'Vo veku 7-10 rokov',color: ''},{link:'Vo veku 11-13 rokov',color: ''},{link:'Vo veku 14-16 rokov',color: ''}])