extends layouts/_default

include ./mixins/breadcrumbs

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  main
    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Knihy', 'Knihy roka 2020']})
    section.section
      .wrapper-main
        h1.text-transform-upper.text-center
          | knihy roka
          br
          | 2020
