extends layouts/_default

include ./mixins/knihy-roka/annotation
include ./mixins/knihy-roka/annotationAuthor
include ./mixins/knihy-roka/backgroundSection
include ./mixins/knihy-roka/bookHorizontal
include ./mixins/knihy-roka/bookVertical
include ./mixins/knihy-roka/categoriesLinks
include ./mixins/knihy-roka/categoryCarousel
include ./mixins/knihy-roka/postheader
include ./mixins/knihy-roka/prefooter

block opts
  - var pageTitle = 'Populárno - náučná literatúra';
  - var backButton = false;

block content
  main
    +postheader
    +prefooter