extends layouts/_default

include ./mixins/knihy-roka/annotation
include ./mixins/knihy-roka/annotationAuthor
include ./mixins/knihy-roka/backgroundSection
include ./mixins/knihy-roka/breadcrumbsKnihyRoka
include ./mixins/knihy-roka/categoriesLinks
include ./mixins/knihy-roka/categoryCarousel
include ./mixins/knihy-roka/heroBanner
include ./mixins/knihy-roka/introduction
include ./mixins/knihy-roka/bookHorizontal
include ./mixins/knihy-roka/bookVertical
include ./mixins/knihy-roka/previousYears
include ./mixins/knihy-roka/prispievatelkyCarousel
include ./mixins/icon

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  each val, key in beletria
    +checkoutModal(beletria[key])
  each val, key in deti1
    +checkoutModal(deti1[key])
  main
    +breadcrumbsKnihyRoka
    +heroBanner
    +introduction
    section#dospely
      .wrapper-main
        h2 Kategórie
        +categoriesLinks
    +categoryCarousel
    section
      .wrapper-main
        .row
          .col--m-6
            +backgroundSection
          .col--m-6
            +annotation
            +annotationAuthor
            +bookHorizontal(beletria.u721103)
        .row
          .col--m-4
            +bookVertical(beletria.u707887)
          .col--m-4
            +bookVertical(beletria.u711363)
          .col--m-4
            +bookVertical(beletria.u698619)
        +bookHorizontal(beletria.u705403)
        .row
          .col--m-6
            +bookHorizontal(beletria.u721777)
            +bookHorizontal(beletria.u668745)
            +bookHorizontal(beletria.u658361)
          .col--m-6
            +backgroundSection
        +bookHorizontal(beletria.u698929)
        .row
          .col--m-4
            +bookVertical(beletria.u725927)
          .col--m-4
            +bookVertical(beletria.u716559)
          .col--m-4
            +bookVertical(beletria.u721773)
    +heroBanner("children")
    section#deti
      .wrapper-main
        h2 Kategórie pre deti
        +categoriesLinks({links: [{ href: "Vo veku 0-3 roky", color: "" },{ href: "Vo veku 4-6 rokov", color: "" },{ href: "Vo veku 7-10 rokov", color: "" },{ href: "Vo veku 11-13 rokov", color: "" },{ href: "Vo veku 14-16 rokov", color: "" },]})
        .row
          .col--m-6
            +backgroundSection
          .col--m-6
            +bookHorizontal(deti1.u758407)
            +bookHorizontal(deti1.u777669)
        .row
          .col--m-4
            +bookVertical(deti1.u706587)
          .col--m-4
            +bookVertical(deti1.u801211)
          .col--m-4
            +bookVertical(deti1.u801215)
        +prispievatelkyCarousel
    section.section.section--secondary
      .wrapper-main
        h2.h1 Pozrite si aj predošlé ročníky
        +previousYears