extends layouts/_default

include ./mixins/knihy-roka/anotation
include ./mixins/knihy-roka/anotationAuthor
include ./mixins/knihy-roka/backgroundSectionTitle
include ./mixins/knihy-roka/breadcrumbsKnihyRoka
include ./mixins/knihy-roka/categoriesLinks
include ./mixins/knihy-roka/categoryCarousel
include ./mixins/knihy-roka/heroBanner
include ./mixins/knihy-roka/introduction
include ./mixins/knihy-roka/bookHorizontal
include ./mixins/knihy-roka/bookVertical
include ./mixins/icon

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  main
    +breadcrumbsKnihyRoka
    +heroBanner
    +introduction
    section#dospely
      .wrapper-main
        h2 Kategórie
        +categoriesLinks
    +categoryCarousel
    section
      .wrapper-main
        .row
          .col--m-6
            +backgroundSectionTitle
          .col--m-6
            +anotation
            +anotationAuthor
            +bookHorizontal
        .row
          .col--m-4
            +bookVertical
          .col--m-4
            +bookVertical
          .col--m-4
            +bookVertical
        +bookHorizontal({cover:'images/content/books/sample-3.jpg', coverSize: 'huge', title: 'Dobré znamenia', author: 'Neil Gaiman, Terry Pratchett', publisher: ' • SnowMouse Publishing, 2020 • 6. diel série', description: 'Koniec sveta sa nezadržateľne blíži. Zhromažďujú sa armády dobra a zla, z hlbín sa dvíha Atlantída, z neba padajú žaby, naplno horia vášne. Zdá sa, že všetko ide presne podľa Božieho plánu. Démon Crowley a anjel Azirafal už dlho žijú na zemi medzi smrteľníkmi a celkom si tu zvykli.'})
        .row
          .col--m-6
            p sem pojde kniha
          .col--m-6
            h3 Odporúčame
            h2 Názov knihy
            p Nulla vestibulum eleifend nulla. Suspendisse potenti. Aliquam turpis nisi, venenatis non, accumsan nec, imperdiet laoreet, lacus. In purus est, mattis eget, imperdiet nec, fermentum congue, tortor. Aenean ut nibh. Nullam hendrerit viverra dolor. Vestibulum fringilla, lectus id viverra malesuada, enim mi adipiscing ligula, et bibendum lacus lectus id sem.
            .bar__item.bar__item--fill
              .bar.bar--small.align-items-top.no-mrg-bottom
                .bar__item
                  .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                .bar__item.bar__item--fill
                  dl.no-mrg
                    dt Tento titul číta aj
                    dd
                      a.link(href="#") Jana Šlinská
            a(href="detail-knihy.html").link.text-medium.text-color-theme Viac o knihe
              +icon('arrow-right', 'icon--small')
    +heroBanner("children")
    section#deti
      .wrapper-main
        h2 Kategórie pre deti
        +categoriesLinks([{link: 'Vo veku 0-3 roky',color: ''},{link:'Vo veku 4-6 rokov',color: ''},{link:'Vo veku 7-10 rokov',color: ''},{link:'Vo veku 11-13 rokov',color: ''},{link:'Vo veku 14-16 rokov',color: ''}])