extends layouts/_default

include ./mixins/breadcrumbs

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  main
    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Knihy', 'Knihy roka 2020']})
    section.section
      .wrapper-main
        h1.text-transform-upper.text-center
          | knihy roka
          br
          | 2020
    section.section
      .wrapper-main
        .row
          .col--m-8
            p Tuto ide text, ktory opisuje, co je projekt kniha roka zac. Mohol by opisat proces, akym sa knihy vyberali. Mozno nieco z backstagu. Mozno par teplych slov od MMeska. Mozno nejaky citat z knihy? Ja naozaj neviem, proste taky obkec, aby ked ho navstevnik precital, tak mal pocit ze knihy roka 2020 je martinusacka knizna alternativa Oscarov a tie knihy, ktore su nizsie, naozaj stoji za to a boli vyberane poriadne, odborne a s laskou.
          .col--m-4
            p.text-center sem pojde video