extends layouts/_default

include ./mixins/knihy-roka/annotation
include ./mixins/knihy-roka/annotationAuthor
include ./mixins/knihy-roka/backgroundSectionTitle
include ./mixins/knihy-roka/breadcrumbsKnihyRoka
include ./mixins/knihy-roka/categoriesLinks
include ./mixins/knihy-roka/categoryCarousel
include ./mixins/knihy-roka/heroBanner
include ./mixins/knihy-roka/introduction
include ./mixins/knihy-roka/bookHorizontal
include ./mixins/knihy-roka/bookVertical
include ./mixins/icon

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  each id in beletriaIds
    +checkoutModal(beletria[id])
  main
    section
      .wrapper-main
        .row
          .col--m-4
            +bookVertical(beletria.u658361)
          .col--m-4
            +bookVertical(beletria.u721103)
          .col--m-4
            +bookVertical(beletria.u707887)
          .col--m-4
            +bookVertical(beletria.u721773)
          .col--m-4
            +bookVertical(beletria.u725927)
          .col--m-4
            +bookVertical(beletria.u711363)
          .col--m-4
            +bookVertical(beletria.u698619)
          .col--m-4
            +bookVertical(beletria.u721777)
          .col--m-4
            +bookVertical(beletria.u698929)
          .col--m-4
            +bookVertical(beletria.u716559)
          .col--m-4
            +bookVertical(beletria.u668745)
          .col--m-4
            +bookVertical(beletria.u705403)
        .row
          .col--m-4
            +bookHorizontal(beletria.u658361)
          .col--m-4
            +bookHorizontal(beletria.u721103)
          .col--m-4
            +bookHorizontal(beletria.u707887)
          .col--m-4
            +bookHorizontal(beletria.u721773)
          .col--m-4
            +bookHorizontal(beletria.u725927)
          .col--m-4
            +bookHorizontal(beletria.u711363)
          .col--m-4
            +bookHorizontal(beletria.u698619)
          .col--m-4
            +bookHorizontal(beletria.u721777)
          .col--m-4
            +bookHorizontal(beletria.u698929)
          .col--m-4
            +bookHorizontal(beletria.u716559)
          .col--m-4
            +bookHorizontal(beletria.u668745)
          .col--m-4
            +bookHorizontal(beletria.u705403)
    +breadcrumbsKnihyRoka
    +heroBanner
    +introduction
    section#dospely
      .wrapper-main
        h2 Kategórie
        +categoriesLinks
    +categoryCarousel
    section
      .wrapper-main
        .row
          .col--m-6
            +backgroundSectionTitle
          .col--m-6
            +annotation
            +annotationAuthor
        .row
          .col--m-4
          .col--m-4
          .col--m-4
    section
      .wrapper-main
        .row
          .col--m-6
    +heroBanner("children")
    section#deti
      .wrapper-main
        h2 Kategórie pre deti
        +categoriesLinks({links: [{ href: "Vo veku 0-3 roky", color: "" },{ href: "Vo veku 4-6 rokov", color: "" },{ href: "Vo veku 7-10 rokov", color: "" },{ href: "Vo veku 11-13 rokov", color: "" },{ href: "Vo veku 14-16 rokov", color: "" },]})