extends layouts/_default

include ./mixins/knihy-roka/bigHighlight
include ./mixins/knihy-roka/categoriesLinks
include ./mixins/knihy-roka/categoryCarousel
include ./mixins/knihy-roka/highlight
include ./mixins/knihy-roka/postheader
include ./mixins/knihy-roka/prefooter
include ./mixins/knihy-roka/riadok
include ./mixins/knihy-roka/stlpec
include ./mixins/knihy-roka/partialBeletriaPage
include ./mixins/knihy-roka/categoriesLinksChild

block opts
  - var pageTitle = 'Knihy pre deti vo veku 4-6 rokov';
  - var backButton = false;

block content
  each val, key in beletria
    +checkoutModal(beletria[key])
  each val, key in deti2
    +checkoutModal(deti2[key])

  main
    +postheader
    +partialBeletriaPage
    +heroBanner("children")
    +categoriesLinksChild(1)
    +categoryCarousel({
      category: deti2,
      className: "deti2",
      description:
        "Dobrá detská knižka otvára bránu k zvedavosti, fantázii a múdrosti. Nepoteší len dieťa, ale zaujme aj dospelého.",
      title: pageTitle,
    })
    +stlpec({
      books: [deti2.u737767, deti2.u765781],
      imageUrl: "/images/knihy-roka/mood/09.jpg",
    })
    +riadok({
      books: [deti2.u722315, deti2.u792583, deti2.u766497],
    })
    +prefooter