extends layouts/_default

include ./mixins/knihy-roka/bigHighlight
include ./mixins/knihy-roka/categoriesLinks
include ./mixins/knihy-roka/categoryCarousel
include ./mixins/knihy-roka/highlight
include ./mixins/knihy-roka/postheader
include ./mixins/knihy-roka/prefooter
include ./mixins/knihy-roka/riadok
include ./mixins/knihy-roka/stlpec
include ./mixins/knihy-roka/categoriesLinksAdult
include ./mixins/knihy-roka/partialDetiPage
include ./mixins/knihy-roka/floatingButton

block opts
  - var pageTitle = 'Dizajn';
  - var backButton = false;

block content
  each val, key in dizajn
    +checkoutModal(dizajn[key])
  each val, key in deti1
    +checkoutModal(deti1[key])

  main
    +floatingButton
    +postheader
    +categoriesLinksAdult(3)
    +categoryCarousel({
      category: dizajn,
      className: "dizajn",
      description:
        "Krása knihy nespočíva len v texte. Dizajn, spôsob tlače, papier, ilustrácie - to všetko vytvára nádherný celok. Krásu je ťažko odmerať, a predsa sa jasne odráža v pohľade knihomoľa, keď vezme knihu do rúk prvý raz.",
      title: pageTitle,
    })
    +bigHighlight({
      imageUrl: "/images/knihy-roka/mood/05.jpg",
      book: dizajn.u709457,
    })
    +riadok({
      books: [dizajn.u756133, dizajn.u713533, dizajn.u772075],
    })
    +highlight({book: dizajn.u801185})
    +partialDetiPage
    +prefooter