extends layouts/_default

include ./mixins/knihy-roka/annotation
include ./mixins/knihy-roka/annotationAuthor
include ./mixins/knihy-roka/backgroundSection
include ./mixins/knihy-roka/bookHorizontal
include ./mixins/knihy-roka/bookVertical
include ./mixins/knihy-roka/breadcrumbsKnihyRoka
include ./mixins/knihy-roka/categoriesLinks
include ./mixins/knihy-roka/categoryCarousel
include ./mixins/knihy-roka/heroBanner
include ./mixins/knihy-roka/introduction
include ./mixins/knihy-roka/previousYears
include ./mixins/knihy-roka/prispievatelkyCarousel

block opts
  - var pageTitle = 'Knihy roka';
  - var backButton = false;

block content
  each val, key in beletria
    +checkoutModal(beletria[key])
  each val, key in deti1
    +checkoutModal(deti1[key])

  main
    +breadcrumbsKnihyRoka
    +heroBanner
    +introduction

    section.section#dospely
      .wrapper-main
        h2 Kategórie
        +categoriesLinks({
        links: [
          {
            href: "Beletria",
            color: "beletria",
          },
          {
            href: "Reportáž a literatúra faktu",
            color: "reportaz-a-literatura-faktu",
          },
          {
            href: "Populárno - náučná literatúra",
            color: "popularno-naucna-literatura",
          },
          {
            href: "Dizajn",
            color: "dizajn",
          },
          {
            href: "Tipy vydavateľov",
            color: "tipy-vydavatelov",
          },
        ],
      })
    +categoryCarousel({category: beletria, className: 'beletria', description: 'Dobrý príbeh unesie našu myseľ a výkupné si pýta stránku po stránke.', title: 'Beletria'})

    //- BIG HIGHLIGHT
    section.section
      .wrapper-main
        .row.mb-large
          .col--m-8.ofst--m-center.mb-medium(style=`align-self: center;`)
            +backgroundSection({
              imageUrl: '/images/knihy-roka/mood/03.jpg'
            })
          .col--l-6
            +annotation({annotation: beletria.u721103.review})
            +annotationAuthor(beletria.u721103.recommender)
            +bookHorizontal(beletria.u721103)

    //- RIADOK
    section.section
      .wrapper-main
        .row.mb-large
          .col--m-4.align-self-bottom
            +bookVertical(beletria.u707887)
          .col--m-4.align-self-bottom
            +bookVertical(beletria.u711363)
          .col--m-4.align-self-bottom
            +bookVertical(beletria.u698619)

    //- HIGHLIGHT
    section.section.section--secondary.mb-large
      +bookHorizontal(beletria.u705403)

    //- STĹPEC LEFT - 3
    section.section
      .wrapper-main
        .row.mb-large
          .col--l-6
            +bookHorizontal(beletria.u721777)
            +bookHorizontal(beletria.u668745)
            +bookHorizontal(beletria.u658361)
          .col--m-8.ofst--m-center.mb-medium(style=`align-self: center;`)
            +backgroundSection({
              imageUrl: '/images/knihy-roka/mood/02.jpg'
            })

    //- HIGHLIGHT
    section.section.section--secondary.mb-large
      +bookHorizontal(beletria.u698929)

    //- RIADOK
    section.section
      .wrapper-main
        .row.mb-large
          .col--m-4.align-self-bottom
            +bookVertical(beletria.u725927)
          .col--m-4.align-self-bottom
            +bookVertical(beletria.u716559)
          .col--m-4.align-self-bottom
            +bookVertical(beletria.u721773)

    +heroBanner("children")

    section.section#deti
      .wrapper-main
        .mb-large
        h2 Kategórie pre deti
        +categoriesLinks({links: [{ href: "Vo veku 0-3 roky", color: "" },{ href: "Vo veku 4-6 rokov", color: "" },{ href: "Vo veku 7-10 rokov", color: "" },{ href: "Vo veku 11-13 rokov", color: "" },{ href: "Vo veku 14-16 rokov", color: "" },]})
    +categoryCarousel({category: deti1, className: 'deti1', description: 'Dobrá detská knižka otvára bránu k zvedavosti, fantázii a múdrosti. Nepoteší len dieťa, ale zaujme aj dospelého.', title: 'Vo veku 0-3 roky'})

    //- STĹPEC LEFT - 2
    section.section
      .wrapper-main
        .row.mb-large
          .col--m-8.ofst--m-center.mb-medium(style=`align-self: center;`)
            +backgroundSection({
              imageUrl: '/images/knihy-roka/mood/08.jpg'
            })
          .col--l-6
            +bookHorizontal(deti1.u758407)
            +bookHorizontal(deti1.u777669)

    //- RIADOK
    section.section.section--secondary
      .wrapper-main
        .row.mb-large
          .col--m-4.align-self-bottom
            +bookVertical(deti1.u706587)
          .col--m-4.align-self-bottom
            +bookVertical(deti1.u801211)
          .col--m-4.align-self-bottom
            +bookVertical(deti1.u801215)

    section.section
      .wrapper-main
        h2.h1 Kto vyberal knihy pre deti a mládež?
        p Čítanie je jedným z najužitočnejších spôsobov, ako s deťmi tráviť čas. Len máločo im dá viac ako návyk čítať si. Svet kníh je nekonečným zdrojom informácií, inšpirácie a fantázie. Ak dieťa naučíte pravidelne navštevovať ho, získa výhodu, ktorá mu bude neustále pomáhať. Výber Detské knihy roka 2020 zostavili odborníčky, aby čo najlepšie zodpovedal potrebám budúcich knihomoľov a čítanie si zamilovali :-)
        +prispievatelkyCarousel

    section.section.section--secondary
      .wrapper-main
        h2.h1 Pozrite si aj predošlé ročníky
        +previousYears
