extends layouts/_default

include ./mixins/icon

block opts
    - var pageTitle = 'Výsledky vyhľadávania'
    - var filterStickyOffset = JSON.stringify({0: header.size.default, 768: header.size.m});
    - var publisher = true;

block content
  main.category

    section.section
      .wrapper-main
        include modules/publisher/list

    include modules/category-list

block append scripts
  script(src=`${assetsPrefix}scripts/charts.js`)
  script.
    [1,2].forEach(i => {
      var ctx = document.getElementById("chart-" + i).getContext('2d');
      var myChart = new window.myApp.chart(ctx, {
        type: 'bar',
        data: {
          labels: ["1.3.", "2.3.", "3.3.", "4.3.", "5.3.", "6.3."],
          datasets: [{
            label: 'Vývoj predaja (e-shopy)',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
              'rgba(54, 162, 235, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
              'rgba(54, 162, 235, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    });
