extends layouts/_me

include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/booksCarouselRecommended
include ./mixins/sectionHeader

block opts
    - var pageTitle = 'Moji kolegovia'

block head
  script(src=`https://unpkg.com/@fullcalendar/core@4.3.1/main.js`)
  link(rel="stylesheet", href=`https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css`)

  script(src=`https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.js`)
  link(rel="stylesheet", href=`https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css`)

  script(src=`https://unpkg.com/@fullcalendar/core@4.3.1/locales/sk.js`)

block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.mb-none
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Ja', 'Moji kolegovia']})

    section.section--secondary
      .wrapper-main
        #calendar

block modals

block scripts
  script.
    window.myApp = window.myApp = {};
    //window.myApp.scrollOffset = {0: 85, 768: 95};

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['dayGrid'],
        locale: 'sk',
        events: [
          {
            id: 'a',
            title: 'Roman Klco',
            start: '2020-02-10',
            end: '2020-02-13'
          }
        ]
      });

      calendar.render();
    });

