extends layouts/_me

include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/booksCarouselRecommended
include ./mixins/sectionHeader

block opts
    - var pageTitle = 'Naše vzdelávanie'

block head
  script(src=`https://cdn.jsdelivr.net/npm/pikaday/pikaday.js`)
  link(rel="stylesheet", href=`https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css`)
  style.
    .pika-button:hover { background: #d22121; }

block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Ja', 'Naše vzdelávanie']})

    section.section--secondary
      .wrapper-main
        .row
          .col--m-6
            .btn-group.btn-group--horizontal.btn-group--fill
              a.btn(href="me-education.html") Moje vzdelávanie
              a.btn.is-active(href="me-education-list.html") Naše vzdelávanie
        .card
          .card__content

            .bar
              .bar__item.bar__item--fill
                h2 Naše vzdelávanie
              .bar__item.bar__item--shrinkable
                select.js-select.select--ghost
                  option Filter podľa kategórie

            | <table cellpadding="0" cellspacing="0" width="100%" class="table table--striped">
            |                         <tbody>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Jazykový kurz</a>                                                                                                                <br><small><b>Jazykové kurzy</b></small>
            |                                                                     </td>
            |                                 <td>11.02.2020</td>
            |                                 <td style="white-space: pre;">Velma Whitney</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Knihy o design thinkingu (Creative confidence a The art of innovation)</a>                                                                                                                <br><small><b>Knihy</b> | V Martinuse chcem pomôcť tento rok rozvíjať oveľa viac niečo čomu sa hovorí design thinking - v skratke ide o spôsob, ako rozumieť zákazníkom, zamestnancom do tej miery, že pre ...</small>
            |                                                                     </td>
            |                                 <td>11.02.2020</td>
            |                                 <td style="white-space: pre;">Aliyah Shaw</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Knihy-110357238</a>                                                                                                                <br><small>Gastrolove (ne)učebnica, Nastavenie mysle, Vplyv, Pri káve o káve a kávovinách, Velká kniha o kávě</small>
            |                                                                     </td>
            |                                 <td>11.02.2020</td>
            |                                 <td style="white-space: pre;">Helena Navarro</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Knihy-111123976</a>                                                                                                                <br><small>Diár Premium 2020 (modrý nápis), Ako sa nestať pacientom, (Za)chráňte svoje črevo – aj pečeň, žlčník a pankreas!</small>
            |                                                                     </td>
            |                                 <td>11.02.2020</td>
            |                                 <td style="white-space: pre;">Aoife Porter</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Seminar k DP k Dani z Príjmu PO</a>                                                                                                                <br><small><b>Školenia, kurzy</b></small>
            |                                                                     </td>
            |                                 <td>11.02.2020</td>
            |                                 <td style="white-space: pre;">Lucie Avila</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Knihy-112566671</a>                                                                                                                <br><small>Prvá a posledná láska, Letmý sneh</small>
            |                                                                     </td>
            |                                 <td>11.02.2020</td>
            |                                 <td style="white-space: pre;">Rebekah Holder</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Knihy-118888914</a>                                                                                                                <br><small>Obklopený idiotmi, Atómové návyky, 7 návykov skutočne efektívnych ľudí, 12 pravidiel pre život, Jemné umenie mať veci v paži, Môžete byť šťastní, nech sa deje čokoľvek, Netrápte...</small>
            |                                                                     </td>
            |                                 <td>11.02.2020</td>
            |                                 <td style="white-space: pre;">Harris Hárrison</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Knihy-113959014</a>                                                                                                                <br><small>Každý klame, Ako prežiť kreténov, Prečo spíme, Domácnosť bez odpadu, Ako klameme, Obklopený idiotmi</small>
            |                                                                     </td>
            |                                 <td>08.02.2020</td>
            |                                 <td style="white-space: pre;">Daniella Newton</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Knihy-116988475</a>                                                                                                                <br><small>Moleskine – 12-mesačný čierny plánovací diár 2020, Sila rozumu v bláznivej dobe, 1000 arabských slovíček</small>
            |                                                                     </td>
            |                                 <td>07.02.2020</td>
            |                                 <td style="white-space: pre;">Angela Pittman</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Knihy-118988868</a>                                                                                                                <br><small>12 pravidiel pre život, Atómové návyky, Historia gentis Slavae / Dejiny slovenského národa</small>
            |                                                                     </td>
            |                                 <td>07.02.2020</td>
            |                                 <td style="white-space: pre;">Hannah Jensen</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Knihy-116357661</a>                                                                                                                <br><small>PocketBook Touch HD 3</small>
            |                                                                     </td>
            |                                 <td>07.02.2020</td>
            |                                 <td style="white-space: pre;">Caroline Mayer</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Ročné predplatné literárneho mesačníka Poets &amp; Writers</a>                                                                                                                <br><small><b>Predplatné</b></small>
            |                                                                     </td>
            |                                 <td>07.02.2020</td>
            |                                 <td style="white-space: pre;">Bailey Norton</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Knihy-116355432</a>                                                                                                                <br><small>Humor, Na počiatku bola bunka, Moc faktov, Slovenská mafia</small>
            |                                                                     </td>
            |                                 <td>07.02.2020</td>
            |                                 <td style="white-space: pre;">Anisa Cook</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Angličtina</a>                                                                                                                <br><small><b>Jazykové kurzy</b></small>
            |                                                                     </td>
            |                                 <td>07.02.2020</td>
            |                                 <td style="white-space: pre;">Katy Harrington</td>
            |                                 <td style="text-align:right;">
            |                                                                     </td>
            |                             </tr>
            |                                                 </tbody>
            |                     </table>

block modals

block scripts
  script.
    window.myApp = window.myApp = {};
    //window.myApp.scrollOffset = {0: 85, 768: 95};

