extends layouts/_me

include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/booksCarouselRecommended
include ./mixins/sectionHeader

block opts
    - var pageTitle = 'Moje vzdelávanie'

block head
  script(src=`https://cdn.jsdelivr.net/npm/pikaday/pikaday.js`)
  link(rel="stylesheet", href=`https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css`)
  style.
    .pika-button:hover { background: #d22121; }

block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Ja', 'Moje vzdelávanie']})

    section.section--secondary
      .wrapper-main
        .row
          .col--m-6
            .btn-group.btn-group--horizontal.btn-group--fill
              a.btn.is-active(href="me-education.html") Moje vzdelávanie
              a.btn(href="me-education-list.html") Naše vzdelávanie
        .card
          .card__content

            .bar
              .bar__item.bar__item--fill
                h2 Moje vzdelávanie
              .bar__item.bar__item--shrinkable
                select.js-select.select--ghost
                  option Filter podľa kategórie

            .alert.alert--success-light
              p.mb-none Za celé obdobie si využil 6 štipendií v celkovej hodnote 896,70 €

            | <table cellpadding="0" cellspacing="0" width="100%" class="table table--striped">
            |                         <tbody>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">AKM</a>                                                                                                        </td>
            |                                 <td>30.03.2019</td>
            |                                 <td style="white-space: pre;">Roman Klčo</td>
            |                                 <td style="text-align:right;">
            a.btn.btn--ghost.mb-none upraviť
            |</td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">UX in Motion Part 1</a>                                                                                                        </td>
            |                                 <td>29.11.2018</td>
            |                                 <td style="white-space: pre;">Roman Klčo</td>
            |                                 <td style="text-align:right;">
            a.btn.btn--ghost.mb-none upraviť
            |</td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">WebExpo naklady</a>                                                                                                        </td>
            |                                 <td>04.10.2018</td>
            |                                 <td style="white-space: pre;">Roman Klčo</td>
            |                                 <td style="text-align:right;">
            a.btn.btn--ghost.mb-none upraviť
            |</td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Udemy kurzy</a>                                                                                                        </td>
            |                                 <td>31.08.2018</td>
            |                                 <td style="white-space: pre;">Roman Klčo</td>
            |                                 <td style="text-align:right;">
            a.btn.btn--ghost.mb-none upraviť
            |</td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Web Expo</a>                                                                                                        </td>
            |                                 <td>20.09.2018</td>
            |                                 <td style="white-space: pre;">Roman Klčo</td>
            |                                 <td style="text-align:right;">
            a.btn.btn--ghost.mb-none upraviť
            |</td>
            |                             </tr>
            |                                                     <tr class="intro">
            |                                 <td>
            |                                     <a class="link" href="me-education-item.html">Gallup - unlock vsetkych talentov</a>                                                                                                        </td>
            |                                 <td>05.06.2018</td>
            |                                 <td style="white-space: pre;">Roman Klčo</td>
            |                                 <td style="text-align:right;">
            a.btn.btn--ghost.mb-none upraviť
            |</td>
            |                             </tr>
            |                                                 </tbody>
            |                     </table>

block modals

block scripts
  script.
    window.myApp = window.myApp = {};
    //window.myApp.scrollOffset = {0: 85, 768: 95};

