extends layouts/_me

include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/booksCarouselRecommended
include ./mixins/sectionHeader

block opts
    - var pageTitle = 'Moje údaje'

block head
  script(src=`https://cdn.jsdelivr.net/npm/pikaday/pikaday.js`)
  link(rel="stylesheet", href=`https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css`)
  style.
    .pika-button:hover { background: #d22121; }

block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.mb-none
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Ja', 'Moje údaje']})

    section.section--secondary
      .wrapper-main
        .card
          .card__content
            h2 Moje údaje
            .bar
              .bar__item
                p Toto sú tvoje zamestnanecké údaje.#{' '}
                  b Niečo nesedí?
              .bar__break.hide-m
              .bar__item
                button.btn Požiadať o zmenu údajov

            | <table cellpadding="0" cellspacing="0" width="100%" class="table table--striped">
            |
            |     <tbody><tr>
            |         <td class="left">ID</td>
            |         <td class="right" width="50%">310</td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Meno</td>
            |         <td class="right">Roman</td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Priezvisko</td>
            |         <td class="right">Cooper</td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Pracovný e-mail</td>
            |         <td class="right">roman.klco@martinus.sk</td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Súkromný e-mail</td>
            |         <td class="right"></td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Mobil</td>
            |         <td class="right">+421</td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Adresa</td>
            |         <td class="right">
            |                     </td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Dátum narodenia</td>
            |         <td class="right">
            |             26. 1. 1985        </td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Rodné číslo</td>
            |         <td class="right">
            |                     </td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Číslo OP</td>
            |         <td class="right">
            |                     </td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Poisťovňa</td>
            |         <td class="right">
            |                     </td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Účet</td>
            |         <td class="right">
            |                     </td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Veľkosť trička</td>
            |         <td class="right">L</td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Poradové číslo posl. dod.</td>
            |         <td class="right"></td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Vstupná lekárska prehliadka</td>
            |         <td class="right"></td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Zdravotný preukaz platný do</td>
            |         <td class="right"></td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Posledné školenie BOZP</td>
            |         <td class="right"></td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Posledné školenie PO</td>
            |         <td class="right"></td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Dátum podpisu pracovnej zmluvy</td>
            |         <td class="right"></td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Dátum nástupu do PP - pracovné výročie</td>
            |         <td class="right">1. 9. 2012</td>
            |     </tr>
            |
            |
            |     <tr>
            |         <td class="left">Potravinársky preukaz</td>
            |         <td class="right">Nie</td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Oddelenie</td>
            |         <td class="right">Vývoj</td>
            |     </tr>
            |
            |     <tr>
            |         <td class="left">Pracovná pozícia</td>
            |         <td class="right">Programátor</td>
            |     </tr>
            | </tbody></table>


block modals

block scripts
  script.
    window.myApp = window.myApp = {};
    //window.myApp.scrollOffset = {0: 85, 768: 95};

