extends layouts/_default

include ./mixins/booksCarouselHorizontal
include ./mixins/breadcrumbs
include ./mixins/inlineNav
include ./mixins/sectionHeader
include ./mixins/icon
include ./mixins/collectionItem

block opts
    - var pageTitle = 'Čitateľské kolekcie'

block content

  main.collection
    section.section--breadcrumbs
      .wrapper-main
        .bar.mb-none
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy', 'Čitateľské kolekcie'] })

    section.section.section--small
      .wrapper-main
        .row.align-items-middle
          .col--m-6
            h1.mb-medium Čitateľské kolekcie
          .col--m-6
            .bar
              .bar__item.bar__item--fill
              .bar__break.hide-m
              .bar__item.bar__item--shrinkable
                | Hľadať:
              .bar__item.bar__item--shrinkable
                .form-control
                  input(type="text").input

        nav
          ul.list-inline
            each item, i in ['Najnovšie', 'Dovolenkové čítanie', 'Do vane :)', 'Dlhé zimné večery', 'Tipy na darčeky', 'Osobný rast', 'Do školy', 'Nezaradené']
              li
                a.link.link--black(href="#", class= i == 0 ? 'text-bold' : '')= item


    section.section.bg-secondary
      .wrapper-main

        .row
          .col--l-4
            +collectionItem({user: true})
            +collectionItem({user: true})

          .col--l-4
            +collectionItem({user: true})
            +collectionItem({user: true})

          .col--l-4
            +collectionItem({user: true})
            +collectionItem({user: true})

  include ./modules/seen-items
  include ./modules/seen-items-delete
