extends layouts/_default

block opts
  - var pageTitle = 'Newsletter Landing Page'
  - var headerWarningActive = false


block content
  main.bg-secondary
    section.section
      .wrapper-main
        h1.mb-small Knižní newsletter
        h4.mb-medium Nenechte si ujít dopis z knihkupectví, který vám 1x týdně přijde do vaší e-mailové schránky.

        -
          const listOptions = [
            '<strong>Tematické long-reads</strong> o knižním světě',
            'O akcích a novinkách se dozvíte jako první',
            '<strong>Žádný spam</strong> ani letáky ve vaší schránce',
          ];

        ul.fa-ul.mb-large
          each option in listOptions
            li
              span.fa-li
                +faIcon('check-circle').text-color-success
              =option

        .row.mb-medium
          .col--xl-7
            .card.card--material.card--material-green.pt-none
              .card__content
                h2 Přidejte se k 12 000 odběratelům

                .d-flex.align-items-m-end.gap-small.mb-small.flex-column.flex-m-row
                  .form-control.form-control--input.flex-grow-1
                    .form-label
                      label(for='subscribe-email').h5
                        | E-mail
                        span(data-tooltip, title="Viac info").ml-tiny
                          +faIcon('info-circle')
                    input.input(id='subscribe-email', placeholder="Váš e-mail")
                  button.btn.btn--primary.mb-none Přihlásit k odběru

                | <small>Více o <a href="#" class="link">ochraně osobních údajů</a></small>


    section.section.bg-white.pb-large.border-bottom-grey
      .wrapper-main
        .row
          .col--l-4.text-center
            img(src=`${assetsPrefix}images/content/author.png`, style="width: 80px").img--circle.mb-small
            p.text-italic.mb-small Jeden z mála newsletterů, který opravdu čtu. Je inspirující, hravý, zábavný a prostě takový, jaký je celý&nbsp;Martinus.
            a(href="#").link Jana Zarková
            div.text-color-grey Influencerka
          .col--l-4.text-center
            img(src=`${assetsPrefix}images/content/author.png`, style="width: 80px").img--circle.mb-small
            p.text-italic.mb-small Pravidelné tipy na čtení a spoustu další knižní  inspirace. Moje knihovna sice praská ve všech, ale vůbec mi to  nevadí&nbsp;:) Doporučuju všemi&nbsp;deseti!
            a(href="#").link Jana Zarková
            div.text-color-grey Influencerka
          .col--l-4.text-center
            img(src=`${assetsPrefix}images/content/author.png`, style="width: 80px").img--circle.mb-small
            p.text-italic.mb-small Newsletter, který si ráda pročtu od začátku dokonce! Navnadím se na čtení, najdu hromadu inspirace a rozšířím své knihomolské  obzory.
            a(href="#").link Jana Zarková
            div.text-color-grey Influencerka

    section.section.bg-white.pb-large
      .wrapper-main
        h2.mb-small Ukázky newsletterů
        p.mb-medium Váháte? Prohlédněte si ukázky několika zaslaných newsletterů.

