extends layouts/_default

block opts
    - var pageTitle = 'Objednávky'

block content
 - var currentStep = 2
  -
    var swiperConfig = {
      slidesPerView: 6,
      simulateTouch: false,
      breakpoints: {
        768: {
          slidesPerView: 3,
          simulateTouch: true,
        },
      },
    };

  main.account

    section.section.section
      .wrapper-main
        .row
          .col--l-3.col--12.show-l
            .order-list
              .form-control.form-control--input
                input.input.filter__search.no-mrg-top(type="text", name="filter-author", id="filter-author", placeholder="Hľadať v objednávkach")
              .order-list__container.overflow-auto
                - for (i=0; i<20; i++)
                  a.card.block.order-list__item(href="order-detail.html", class=i === 0 ? "bg-secondary" : "border-bottom-grey")
                    .card__content
                      .bar.align-items-top
                        .bar__item.bar__item--fill
                          .text-medium.text-semibold Objednávka č. 123
                          .text-small.text-color-grey 12.4.2017                            
                        .bar__item
                          img(src="images/content/books/sample-3.jpg").thumbnail.thumbnail--book.thumbnail--medium
                      .bar.text-medium.no-mrg-bottom
                        .bar__item.bar__item--fill
                          if i<1
                            +icon('time', 'icon--small').text-color-grey
                          else
                            +icon('check-circle', 'icon--small').text-color-success
                          | #{i<1 ? ' Prijatá' : ' Vybavená'}
                          span.text-color-grey.text-space-left Dnes
                        .bar__item
                          .text-semibold 10,00 €


          .col--l-9.col--12
            include modules/order