extends layouts/_default

include ./mixins/icon

block opts
    - var pageTitle = 'Page not found'
    - var pageClass = 'bg-teal'

block content
  main
    section.section
      .wrapper-main
        .row
          .col--m-8.col--l-5.ofst--center
            img.img.img--fluid.mb-medium(src=`${assetsPrefix}images/content/page-not-found-1.png`, alt="404")

            h1.text-center.mb-large.text-color-white
              | Ľutujeme, ani Harry Potter nenašiel túto stránku :(

            .form-control.form-control--input.mb-medium
              .input-addons
                input.input(type='text', placeholder='Skúste vyhľadávanie')
                .input-addons__item
                  +icon('search', '', 'Search')

            p.text-center.text-color-white.mb-medium
              | alebo

            .btn-layout--vertical.mb-large
              button.btn.btn--default na domovskú stránku
