extends layouts/_default

include ./mixins/icon

block opts
    - var pageTitle = 'PF 2018'

block header

block content
  main

    .pf2018#online

      section.section
        .wrapper-main
          .text-center
            .row
              .col--12.ofst--0.col--m-8.ofst--m-2

                .mb-large
                  img(src='images/content/campaign/pf2018/logo.svg', width="100")

                .mb-large
                .mb-large
                  p Čo najlepšieho vám môžeme zaželať do roku 2018?
                    br
                    |Naše prianie uvidíte na tejto stránke, keď sa odpojíte od internetu.
                  p
                    h3 Vážne, skúste vypnúť wifi či na chvíľu vytiahnuť kábel!

            .row
              .col--12.ofst--0.col--m-6.ofst--m-3
                img.mb-large(src='images/content/campaign/pf2018/dc.svg')

    .pf2018.hide#offline

      header.pf2018-header
        img.pf2018-header__bg(src='images/content/campaign/pf2018/bg-border.svg')
        .pf2018-header__content
          .wrapper-main
            .row
              .col--8.ofst--2.col--m-4.ofst--m-4.text-center
                .mb-large
                img.mb-large(src='images/content/campaign/pf2018/hdg.svg', width='80%')
                img(src='images/content/campaign/pf2018/hobbit.svg', width='80%')

      section.section
        .wrapper-main
          .text-center
            .row
              .col--12.ofst--0.col--m-8.ofst--m-2
                h1.h2 Vitajte v zázračnom Offline svete!

                p Vo svete, kde máte viac času čítať, premýšľať a rozprávať sa. Vo svete, kde vás svetlo z monitora nepripraví o spánok a búrlivá diskusia na Facebooku o pokoj.

                p Želáme vám, aby ste v roku 2018 vedeli do tohto sveta vykročiť vždy, keď to potrebujete. A tiež, aby ste si uvedomovali, akú moc vám dáva, že dokážete otvoriť tieto dvere. Niekedy sa to zdá byť ťažké, a pritom... stačí pár kliknutí, či jeden vhodne vytiahnutý kábel :-)

                p Želáme vám viac času na blízkych. A na príbehy. A na snívanie. A na čítanie.

                p.mb-large
                  i Vaši martinusáci

                .mb-large
                  img.mb-small(src='images/content/campaign/pf2018/btns.svg', width="300")
                  p.text-color-grey Tu chýbajú tlačidlá na zdieľanie.
                    br
                    | Teda, nechýbajú.
                .mb-large
                  img(src='images/content/campaign/pf2018/logo.svg', width="100")

block footer

block scripts
  script.

    var xhr = new XMLHttpRequest();
    var file = "https://d38xd85q56o9jw.cloudfront.net/reachable.txt";

    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
            if (xhr.status >= 200 && xhr.status < 304) {
                //console.log('Connection OK');
                checkConnection();
            } else {
                //console.log('Error: ' + xhr.status);
                goOffline();
            }
        }
    };

    checkConnection();

    function checkConnection() {
        setTimeout(function() {

            //console.log('Connecting...');

            var rand = Math.round(Math.random() * 10000);
            xhr.open('GET', file + "?rand=" + rand, true);
            xhr.send(null);

        }, 3000);
    }

    function goOffline() {
        var online = document.getElementById('online');
        var offline = document.getElementById('offline');

        online.classList.add('hide');
        offline.classList.remove('hide');
    }
