extends layouts/_default

include ./mixins/icon

block opts
    - var pageTitle = 'PF 2018'

block header

block content
  main

    .pf2018

      header.pf2018-header
        img.pf2018-header__bg(src='images/content/campaign/pf2018/bg-border.svg')
        .pf2018-header__content
          .wrapper-main
            .row
              .col--8.ofst--2.col--m-4.ofst--m-4
                .mb-large
                img.mb-large(src='images/content/campaign/pf2018/hdg.svg')
                img(src='images/content/campaign/pf2018/hobbit.svg')

      section.section
        .wrapper-main
          .text-center
            .row
              .col--12.ofst--0.col--m-8.ofst--m-2
                h1 Placeholder nadpis

                p Vo svete, kde máte viac času čítať, premýšľať a rozprávať sa. Vo svete, kde vás svetlo z monitora nepripraví o spánok a búrlivá diskusia na Facebooku o pokoj.

                p Želáme vám, aby ste v roku 2018 vedeli do tohto sveta vykročiť vždy, keď to potrebujete. A tiež, aby ste si uvedomovali, akú moc vám dáva, že dokážete otvoriť tieto dvere. Niekedy sa to zdá byť ťažké, a pritom... stačí pár kliknutí, či jeden vhodne vytiahnutý kábel :-)

                p Želáme vám viac času na blízkych. A na príbehy. A na snívanie. A na čítanie.

                p.mb-large
                  i Vaši martinusáci

                .mb-large
                  img.mb-small(src='images/content/campaign/pf2018/btns.svg', width="300")
                  p.text-color-grey Tu chýbajú tlačidlá na zdieľanie.
                    br
                    | Teda, nechýbajú.
                .mb-large
                  img(src='images/content/campaign/pf2018/logo.svg', width="100")

block footer

block scripts
