extends layouts/_default

include ./mixins/addTo
include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/product
include ./mixins/xmas

block opts
    - var pageTitle = 'Akcie a zľavy'

block content
  -
    var swiperConfig = {
      slidesPerView: 1,
    };

  main.collection
    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy', 'Akcie a zľavy'] })

    section.section
      .wrapper-main
        .row
          .col--l-10
            h1.mb-small Akcie a zľavy
            p.mb-large Okrem výhodných cien na všetky knihy vám pravidelne prinášame stovky kníh za ešte nižšie ceny v rámci špeciálnych akcií. Myslíme si, že na mnohé symbolické dni či mesiace by sa nemalo zabudnúť (vtedy vám ponúkame knihy súvisiace s témou aktuálneho dňa či mesiaca) a rovnako si myslíme, že mnohé knihy si sem-tam zaslúžia viac pozornosti, ako sa im zvyčajne dostáva. Nech sa páči - pozrite si našu ponuku aktuálnych akcií, vyberajte a nakupujte pohodlne!

    section.section.no-pad-top
      - for (var i = 0; i<2; i++)
        .section.product-item(class=(i % 2 == 0) ? 'bg-secondary' : 'bg-default' ).no-mrg-bottom
          .wrapper-main
            .row
              .col--4.col--s-shrink.text-left
                +product().no-mrg-bottom
                  +productCover({
                    cover: 'images/content/books/sample-3.jpg',
                    rating: 3.5,
                    size: 'xlarge',
                    collection: true,
                  }).mb-medium
              .col--8.hide-s
                h2.text-bold.mb-small
                  a.link.link--product.text-bold Pristáli ste v Londýne a čítačka na Bali? Letné ceny e-kníh aj pre tých, čo nemajú čítačky už od 2,90 €
                .bar
                  .bar__item
                    .badge.badge--primary.text-size-regular
                      if i == 0
                        | zľava 5%
                      else
                        | rôzna výška zľavy
                  .bar__item
                    h3.h4.mb-none platí do 24.6.
              .col--s-fill
                .show-s
                  h2.text-bold.mb-small
                    a.link.link--product.text-bold Pristáli ste v Londýne a čítačka na Bali? Letné ceny e-kníh aj pre tých, čo nemajú čítačky už od 2,90 €
                  .bar
                    .bar__item
                      .badge.badge--primary.text-size-regular
                        if i == 0
                          | zľava 5%
                        else
                          | rôzna výška zľavy
                    .bar__item
                      h3.h4.mb-none platí do 24.6.

                p Pripravili sme pre vás skvelé letné zľavy na vychytené e-knižné tituly, z ktorých si vyberie naozaj každý. Na dovolenke je fúra voľného času a e-knihy do zásoby sa zídu vždy! A ak nemáte čítačku a chcete vedieť, ako čítať e-knihy na vašich bežne používaných zariadeniach, bližšie informácie nájdete tu :-)

    section.section.section--secondary
      .wrapper-main
        .row
          .col--m-4.ofst--m-center
            .btn-layout--vertical.mb-m-large.mb-s-medium
              button.btn.btn--ghost Načítať ďalšie knihy (+5)

  include ./modules/seen-items
  include ./modules/seen-items-delete


block append modals
  include ./modules/product-preview
