extends layouts/_default

block opts
    - var pageTitle = 'Registrácia'

block content
  main
    section.section.section--secondary.section--m-full
      .wrapper-main
        .row
          article.card.col--l-8.ofst--center
            .card__header.card-header.mb-medium
              .card-header__action
                button.btn.btn--clean.btn--small.no-mrg
                  +icon('arrow-left').icon--left.icon--medium
                  | Späť
              h2.card-header__title Registrácia
              .card-header__action

            section.card__content
              .row
                .col--m-6.col--s-8.ofst--center
                  h3.text-center.mb-medium
                    | K tejto e-mailovej adrese zatiaĺ nie je priradený žiadny účet!

                  p.text-center.mb-small
                    | Váš e-mail:#{' '}
                    strong
                      | peter.skrovan@gmail.com

                  .btn-layout--vertical.mb-large
                    button.btn.btn--clean.btn--small.text-center
                      +icon('close').icon--left.icon--medium
                      | chcem použiť iný mail

                  p.text-center.mb-medium
                    | Ďakujeme, že ste sa rozhodli vytvoriť si konto v internetovom obchode Martinus.sk. Ihneď získate vlastné konto a môžete začať nakupovať s výhodami a využívať všetky naše služby prístupné iba pre našich zákazníkov!

            section.card__content
              .row
                .col--m-6.col--s-8.ofst--center

                  .form-control.form-control--input
                    .form-label.form-label--required
                      label.text-transform-upper.text-size-small(for="reglog_reg_surname")
                        | meno
                    input.input(type="text", name="reg_surname", id="reglog_reg_surname", placeholder="Zadajte meno")

                  .form-control.form-control--input
                    .form-label.form-label--required
                      label.text-transform-upper.text-size-small(for="reglog_reg_lastname")
                        | priezvisko
                    input.input(type="text", name="reg_lastname", id="reglog_reg_lastname", placeholder="Zadajte priezvisko")

                  .form-control.form-control--input.mb-large
                    .form-label.form-label--required
                      label.text-transform-upper.text-size-small(for="reglog_reg_password")
                        | heslo
                    input.input(type="password", name="reg_password", id="reglog_reg_password", placeholder="Zadajte heslo")

                  h4.text-center.mb-medium
                    | Nepovinné údaje

                  p.text-center.text-size-regular.mb-medium
                    | (Psst! Vďaka nim Vás môžeme prekvapiť na narodeniny! :))

                  .form-control.no-mrg
                    .form-label
                      label.text-transform-upper.text-size-small
                        | dátum narodenia

                  .row.row--form
                    .col--4
                      .form-control.form-control--select
                        select.js-select
                            option(selected disabled placeholder) Deň
                            option 1

                    .col--4
                      .form-control.form-control--select
                        select.js-select
                            option(selected disabled placeholder) Mesiac
                            option 1

                    .col--4
                     .form-control.form-control--select
                        select.js-select
                            option(selected disabled placeholder) Rok
                            option 1

            section.card__content
              .row
              .col--m-6.col--s-8.ofst--center

                  .form-control.form-control--checkbox.text-center
                    .checkbox
                      input.radiocheck__input(type="checkbox" id="reglog_reg_newsletter" name="reg_newsletter")
                      label.radiocheck__control(for="reglog_reg_newsletter")
                      label.radiocheck__label(for="reglog_reg_newsletter")
                        | Prosím si posielať novinky na e-mail

                  .btn-layout--vertical.mb-medium
                    button.btn.btn--primary Pokračovať

            section.card__content
              .row
                .col--m-6.col--s-8.ofst--center
                  p.text-center.text-small.text-color-grey.no-mrg
                    | Vyplnením a odoslaním tohto formulára súhlasíte s
                    a.link(href='#')  Všeobecnými obchodnými podmienkami
                    |  Martinus.sk. Všetky údaje, ktoré nám poskytnete, budú použité len pre našu potrebu a potreby v súvislosti s vybavovaním Vašich objednávok. Prečítajte si, ako ich chránime.
                    a.link(href='#')  (Ochrana Vášho súkromia a osobných údajov)
