extends layouts/_default

block opts
    - var pageTitle = 'Zmena hesla'

block content
  main
    section.section.section--secondary.section--m-full
      .wrapper-main
        .row
          article.card.col--l-8.ofst--center
            .card__header.card-header.mb-small
              .card-header__action
                button.btn.btn--clean.btn--small.no-mrg
                  +icon('arrow-left').icon--left.icon--medium
                  | Späť
              .h2.card-header__title Zmena hesla
              .card-header__action

            section.card__content
              .row
                .col--m-6.col--s-8.ofst--center
                  p.text-center.text-size-large
                    | Na tomto mieste môžete zmeniť vaše heslo:

                  .form-control.form-control--input.no-mrg
                    .form-label.form-label--required
                      label.text-transform-upper.text-size-small(for="reglog_change_pass_old")
                        | staré heslo
                    input.input(type="password", name="reglog_change_pass_old", id="reglog_change_pass_old", placeholder="Vaše staré heslo")

            section.card__content.no-mrg
              .row.no-mrg
                .ofst--center
                  a.link.ofst--center.text-size-medium Zabudol som heslo

            section.card__content
              .row
                .col--m-6.col--s-8.ofst--center
                  .form-control.form-control--input
                    .form-label.form-label--required
                      label.text-transform-upper.text-size-small(for="reglog_change_pass_new")
                        | nové heslo
                    input.input(type="password", name="reglog_change_pass_new", id="reglog_change_pass_new", placeholder="Vaše nové heslo")

                  .form-control.form-control--input
                    .form-label.form-label--required
                      label.text-transform-upper.text-size-small(for="reglog_change_pass_repeat")
                        | ešte raz nové heslo
                    input.input(type="password", name="reglog_change_pass_repeat", id="reglog_change_pass_repeat", placeholder="Ešte raz nové heslo")

                  .btn-layout--vertical.mb-medium
                    button.btn.btn--primary Zmeniť heslo
