extends layouts/_default

block opts
    - var pageTitle = 'Registrácia'

block content
  main
    section.section.section--secondary.section--m-full
      .wrapper-main

        article.card
          .card__header.card-header.mb-small
            .card-header__action
              button.btn.btn--clean.btn--small
                +icon('arrow-left').icon--left.icon--medium
                | Späť
            h2.card-header__title Registrácia
            .card-header__action

          section.card__content
            .row
              .col--s-12.col--m-11
                h3.text-left.mb-medium
                  | K tejto e-mailovej adrese zatiaĺ nie je priradený žiadny účet!

                .row.mb-medium
                  .col--s-12.col--m-5
                    p.text-left.no-mrg
                       | Váš e-mail:
                       strong  peter.skrovan@gmail.com

                  .col--s-12.col--m-7
                    .btn-layout--vertical.no-mrg
                      button.btn.btn--clean.btn--small.text-left
                        +icon('reaction').icon--left.text-space-right
                        | chcem použiť iný mail

                p.text-left.no-mrg
                  | Ďakujeme, že ste sa rozhodli vytvoriť si konto v internetovom obchode Martinus.sk. Ihneď získate vlastné konto a môžete začať nakupovať s výhodami a využívať všetky naše služby prístupné iba pre našich zákazníkov!

          section.card__content
            .row
              .col--12
                .row
                  .col--s-12.col--m-6

                    .form-control.form-control--input
                      .form-label.form-label--required
                        label.text-transform-upper.text-size-small(for="reglog_reg_surname")
                          | meno
                        input.input(type="text", name="reg_surname", id="reglog_reg_surname", placeholder="Zadajte meno")

                    .form-control.form-control--input
                      .form-label.form-label--required
                        label.text-transform-upper.text-size-small(for="reglog_reg_lastname")
                          | priezvisko
                        input.input(type="text", name="reg_lastname", id="reglog_reg_lastname", placeholder="Zadajte priezvisko")

                    .form-control.form-control--input
                      .form-label.form-label--required
                        label.text-transform-upper.text-size-small(for="reglog_reg_password")
                          | heslo
                        input.input(type="password", name="reg_password", id="reglog_reg_password", placeholder="Zadajte heslo")

                  .col--s-12.col--m-6

                    h4.text-left.mb-medium
                      | Nepovinné údaje

                    p.text-left.text-size-regular.mb-large
                      | (Psst! Vďaka nim Vás môžeme prekvapiť na narodeniny! :))

                    .form-control.no-mrg
                      .form-label
                        label.text-transform-upper.text-size-small
                          | dátum narodenia

                    .row
                      .col--4
                        .form-control.form-control--select
                          select.js-select.select--inline
                              option(selected disabled placeholder) Deň
                              option 1

                      .col--4
                        .form-control.form-control--select
                          select.js-select.select--inline
                              option(selected disabled placeholder) Mesiac
                              option 1

                      .col--4
                       .form-control.form-control--select
                          select.js-select.select--inline
                              option(selected disabled placeholder) Rok
                              option 1

          section.card__content
            .row
              .col--m-5.col--s-8.ofst--center

                .form-control.form-control--checkbox.text-center
                  .checkbox
                    input.radiocheck__input(type="checkbox" id="reglog_reg_newsletter" name="reg_newsletter")
                    label.radiocheck__control(for="reglog_reg_newsletter")
                    label.radiocheck__label(for="reglog_reg_newsletter")
                      | Prosím si posielať novinky na e-mail

                .btn-layout--vertical.mb-medium
                  button.btn.btn--primary Pokračovať

          section.card__content
            .row
              .col--12
                p.text-small.text-color-grey.no-mrg
                  | Vyplnením a odoslaním tohto formulára súhlasíte s
                  a.link(href='#')  Všeobecnými obchodnými podmienkami
                  |  Martinus.sk. Všetky údaje, ktoré nám poskytnete, budú použité len pre našu potrebu a potreby v súvislosti s vybavovaním Vašich objednávok. Prečítajte si, ako ich chránime.
                  a.link(href='#')  (Ochrana Vášho súkromia a osobných údajov)



