extends layouts/_default

block opts
    - var pageTitle = 'Zabudnuté heslo'

block content
  main
    section.section.section--secondary.section--m-full
      .wrapper-main
        article.card
          .card__header.card-header.mb-small
            .card-header__action
              button.btn.btn--clean.btn--small
                +icon('arrow-left').icon--left.icon--medium
                | Späť
            h2.card-header__title Zabudnuté heslo
            .card-header__action

          section.card__content
            .row
              .col--l-4.col--m-6.col--s-8.ofst--center
                p.text-center.text-size-large
                  | Ak ste zabudli heslo, odkaz na jeho obnovu vám zašleme na váš e-mail:

                .form-control.form-control--input
                  .form-label.form-label--required
                    label.text-transform-upper.text-size-small(for="reglog_forgot_pass_email")
                      | e-mail
                  input.input(type="email", name="email", id="reglog_forgot_pass_email", placeholder="Váš e-mail")

                div.btn-layout--vertical.mb-medium
                  button.btn.btn--primary Pokračovať
