extends layouts/_default

block opts
    - var pageTitle = 'Prihlásenie'

block content
  main
    section.section.section--secondary.section--m-full
      .wrapper-main
        .row
          article.card.col--l-8.ofst--center
            .card__header.card-header.mb-small
              .card-header__action
                button.btn.btn--clean.btn--small.no-mrg
                  +icon('arrow-left').icon--left.icon--medium
                  | Späť
              h2.card-header__title Prihlásenie
              .card-header__action

            section.card__content
              .row
                .col--m-6.col--s-8.ofst--center
                  p.text-center.text-size-large.no-mrg
                     | Váš e-mail:#{' '}
                     strong peter.skrovan@gmail.com

                  .btn-layout--vertical.mb-medium
                    button.btn.btn--clean.text-center
                      +icon('close').icon--left.icon--medium
                      | chcem použiť iný mail

                  h4.text-center.mb-medium
                    | Ahoj Peter, si to ty?

                  .form-control.form-control--input.no-mrg
                    .form-label
                      label.text-transform-upper.text-size-small(for="reglog_login_pass")
                        | heslo
                    input.input(type="email", name="email", id="reglog_login_pass", placeholder="Zadaj tvoje heslo")

            section.card__content.mb-medium
              .row
                .ofst--center
                  a.link.ofst--center.text-size-medium Zabudol som heslo

            section.card__content
              .row
                .col--m-6.col--s-8.ofst--center
                  .btn-layout--vertical.mb-medium
                    button.btn.btn--primary Pokračovať
