extends layouts/_default

include ./mixins/icon

block opts
    - var pageTitle = 'Výsledky vyhľadávania - Nenajdene'
    - var filterStickyOffset = JSON.stringify({0: header.size.default, 768: header.size.m});


block content
  main.category
    section.section.section--secondary
      .wrapper-main.text-center
        .text-medium.text-color-grey Hľadali ste
        h1 Harry Potter
          button.btn.btn--clean.mb-none(data-toggle=".header, #search-in-header", data-toggle-class-target="is-search-active")
            +icon('edit', 'icon--medium', 'Upraviť vyhľadávanie')
        .h4 Nebol nájdený#{' '}
          span.text-color-black.text-semibold žiadny titul#{' '}
          | vyhovujúci zadaným podmienkam.
          br
          | Skúste prosím zmeniť vyhľadávaný výraz.
        .row.mb-large
          .col--l-2.ofst--l-3.col--m-3.ofst--m-2.col--s-4.show-s
            img(src="/images/content/no-results.png", alt="Ziadne vysledky")
          .col--l-5.col--m-6.col--s-8
            article.card.mb-none.card--arrowhead.card--arrowhead-left
              section.card__content.text-left
                p Mali ste na mysli..
                ul.list-inline.list-inline--delimited
                  each suggestion in ['Harry Potter', 'Harry Potter a Kameň mudrcov', 'John Potter', 'Porter Walks Faster']
                    li
                      a.link(href="#")=suggestion

    include ./modules/seen-items
