extends layouts/_default

block opts
    - var pageTitle = 'Výsledky vyhľadávania - Nenajdene'
    - var filterStickyOffset = 80

block content
  main.category
    section.section.section--secondary
      .wrapper-main.text-center
        .text-medium.text-color-grey Hľadali ste
        h1 Harry Potter
          a.text-color-grey.hide-m(href="#uq" data-toggle=".header" data-toggle-class-target="is-search-active")
            +icon('edit', 'icon--medium', 'Upraviť vyhľadávanie')
          a.text-color-grey.show-m(href="#uq")
            +icon('edit', 'icon--medium', 'Upraviť vyhľadávanie')
        .h3 Nebol nájdený#{' '}
          span.text-color-black.text-semibold žiadny titul#{' '}
          | vyhovujúci zadaným podmienkam.
          br
          | Skúste prosím zmeniť vyhľadávaný výraz.
        .row.mb-large
          .col--l-2.ofst--l-3.col--m-3.ofst--m-2.col--s-4.show-s
            img(src="/images/content/no-results.png", alt="Ziadne vysledky")
          .col--l-5.col--m-6.col--s-8
            article.card.no-mrg-bottom.card--arrowhead.card--arrowhead-left
              section.card__content.text-left
                p Mali ste na mysli..
                ul.list-inline.list-inline--delimited
                  each suggestion in ['Harry Potter', 'Harry Potter a Kameň mudrcov', 'John Potter', 'Porter Walks Faster']
                    li
                      a.link(href="#")=suggestion

    include ./modules/seen-items
