extends layouts/_default

include ./mixins/icon

block opts
    - var pageTitle = 'Výsledky vyhľadávania'
    - var filterStickyOffset = JSON.stringify({0: header.size.default, 768: header.size.m});
    - var searchCard = true

block content
  main.category
    section.section.section--secondary
      .wrapper-main.text-center
        .text-medium.text-color-grey Hľadali ste
        h1 Harry Potter
          button.btn.btn--clean.mb-none(data-toggle=".header, #search-in-header", data-toggle-class-target="is-search-active")
            +icon('edit', 'icon--medium', 'Upraviť vyhľadávanie')
        .h3 Našli sme #{' '}
          span.text-color-black.text-semibold 63 titulov

    include modules/category-list
