extends layouts/_default

include ./mixins/icon

block opts
    - var pageTitle = 'Výsledky vyhľadávania'
    - var filterStickyOffset = JSON.stringify({0: header.size.default, 768: header.size.m});
    - var searchCard = true
    - var sortLinks = [{icon: 'house', title: 'Odporúčame'}, 'Bestsellery', 'Top hodnotené', 'Najnovšie', 'Najlacnejšie', 'Najdrahšie', 'Najvyššia zľava']

block content
  main.category
    section.section.section--secondary
      .wrapper-main
        .text-medium.text-color-grey Hľadali ste
        h1 harry potter

    include modules/category-list
