extends layouts/_default

block opts
  - const pageTitle = 'CMS hlavičky'

block content
  section(style="background: #EAAC2C;")
    .wrapper-main.section-title-wrapper.section-title-background(style="background-image: url('https://mrtns.eu/img/custom/35577_header_pomahame_2390_respo.jpg');")
      .section-title(class=`section-title--${theme}`)
        .section-title__item
          | Lorem ipsum dolor sit amet
        .section-title__item
          | Lorem ipsum
        .section-title__item
          | Lorem ipsum dolor sit amet
  | <br><br><br><br><br><br><br><br>
