extends homepage

include ./mixins/booksCarouselHorizontal
include ./mixins/carouselTiles
include ./mixins/productHorizontal
include ./mixins/sectionHeader
include ./mixins/collectionItem

block opts
    - var pageTitle = 'New header test - v2'
    - var testHeader2 = true;

block headerSearchDropdown
