extends layouts/_default

include mixins/libraryCarousel
include mixins/sectionHeader
include mixins/icon

block opts
    - var pageTitle = 'Ďakujeme'
    - const pageClass = 'bg-secondary';

block content
  - var currentStep = 2
  -
    var swiperConfig = {
      slidesPerView: 6,
      simulateTouch: false,
      breakpoints: {
        768: {
          slidesPerView: 3,
          simulateTouch: true,
        },
      },
    };
  -
    var swiperConfig2 = {
      slidesPerView: 3,
      simulateTouch: false,
      breakpoints: {
        768: {
          simulateTouch: true,
        },
      },
    };
  main
    section.section.section--secondary.section--m-full
      .wrapper-main
        .row
          article.card.col--l-8.ofst--center
            section.card__content
              .mb-medium
              .mb-large
                h4.mb-small.text-center Vaša objednávka č. 8512435 bola úspešne odoslaná a čakáme na vašu platbu!
                p.text-medium.text-center.no-mrg-bottom Naši škriatkovia začali objednávku spracovávať a odošlú ju po vašom zaplatení do 3 dní.
              .mb-large.text-center
                button.btn.btn--primary Zaplatiť kartou online
              // progress bar
              .order-progress.mb-large
                .swiper-container(data-swiper-options=swiperConfig)
                  .swiper-wrapper
                    - for (var i = 1; i < 7; ++i)
                      .order-progress__item.swiper-slide.text-center(class=(i===currentStep) ? 'current' : '')
                        .order-progress__icon(class=i<currentStep ? 'text-color-success' : '')
                          +icon('order-progress-'+i, 'icon--xxlarge')
                        .mb-small(class=i<currentStep ? 'text-color-success' : '')
                          if (i<currentStep)
                            +icon('check-circle', 'icon--medium').bg-default
                          if (i===currentStep)
                            +icon('time', 'icon--medium').bg-default
                          if (i>currentStep)
                            .order-progress__blank-circle
                        .text-medium.order-progress__status(class=i===currentStep ? 'text-semibold' : '') Dokončili ste objednávku

              .row.align-items-middle
                .col--m-shrink
                  .bar.align-items-middle.mb-small
                    .bar__item
                      img(src="/images/content/avatars/thank-you-avatar.png", alt="avatar")
                    .bar__item
                      .text-semibold.text-nowrap Anugs Stefanson
                      .text-medium.text-nowrap Knižný škriatok
                .col--m-fill
                  article.card.card--well.no-mrg-bottom.card--arrowhead.card--arrowhead-left
                    section.card__content
                      p.text-medium Milý Peter,
                        br
                        | ďakujeme za Váš nákup! Hneď ako vašu objednávku pripravím a odošlem, budeme vás o tom informovať e-mailom. V prípade akýchkoľvek otázok mi neváhajte napísať!
                      button.btn.btn--ghost.no-mrg-bottom Skontrolovať objednávku
                      button.btn.btn--ghost.no-mrg-bottom Poslať správu

    section.section.section--secondary.section--overflow
      .wrapper-main
        .mb-large
          +sectionHeader({ header: 'Zakúpené tituly sme pridali do Vašej knižnice', more: 'Prezrieť kinžnicu' })
        .mb-large
          +libraryCarousel()
        .text-center.mb-large
          a.btn(href="/")
            +icon('arrow-left').icon--medium
            span.text-space-left späť na domovskú stránku
