extends layouts/_default

include mixins/product
include mixins/icon

block opts
  - var pageTitle = 'Na stiahnutie'

  -
    const subNav = [
      {
        title: 'Všetky', href: '#vsetky-tituly'
      },
      {
        title: 'E-knihy', href: '#e-knihy',
      },
      {
        title: 'Audioknihy', href: '#audioknihy',
      }
    ];

block content
  main.account

    include modules/account-header
    +accountHeader({
      navActive: 0,
      subNav: subNav,
    })

    section.section
      .wrapper-main
        .row
          .col--l-3.show-l(data-sticky-container)
            div(data-sticky, data-sticky-class="is-stuck", data-scroll-offset=header.size.default + 40)
              .form-control.form-control--input
                input.input.filter__search.no-mrg-top(type="text", name="filter-order", id="filter-order", placeholder="Hľadať v objednávkach")
              ul.list.list--expanded.no-pad(role="navigation")
                each item, index in subNav
                  li(class= index === 0 ? 'is-active' : '')
                    a(href=item.href, data-scroll, data-scroll-offset=header.size.default + 40)= item.title
          .col--l-9.col--12
            h2 Všetky tituly k stiahnutiu

            .row.align-items-bottom
              .col--6.col--s-4.col--m-3.mb-large
                +product({ size: 'large' }).mb-small.product--gift
                  +productCover({ cover: `${assetsPrefix}images/content/book-gift.svg`, type: false, clickable: false }).no-mrg-bottom
                  .product__gift
                    p.text-semibold.mb-small.text-medium Dostali ste darček?
                    button(data-toggle="#gift-modal").btn.btn--clean.no-mrg-bottom
                      | Viac
                      +icon('arrow-right').icon--right.icon--medium


              each item, i in [...books, ...books, ...books, ...books]
                .col--6.col--s-4.col--m-3.mb-large
                  +product({ size: 'large' }).mb-small.text-left
                    +productStatus({ actionDropdown: true })
                    +productCover({ cover: item.cover, href: '#' })
                    +productTitle({ title: item.title, author: item.author, href: '#' })
                    +productDownload({
                        buttonClass: (i == 1) ? 'success' : 'primary',
                        title: (i == 1) ? 'Zadarmo' : 'Stiahnuť'
                    })


block append modals
  include ./modules/gift-modal
  include ./modules/e-reader-modal
  include ./modules/audiobook-modal
