.card
  .card__content
    h2 Zvoľte spôsob doručenia

  .card__content
    .row
      .col--l-6
        .form-control.form-control--group
          section.radiocheck-group.radiocheck-group--wider

            .form-control.form-control--radio
              .radio.radiocheck--large.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_01', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_01')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_01')
                  .bar.no-mrg
                    .bar__item.bar__item--fill.no-mrg
                      p.text-semibold.no-mrg
                        | Kuriér GLS
                    .bar__item.no-mrg
                      span.text-size-medium.text-semibold
                        | 4.28€
                  p.text-size-small.no-mrg
                    | Doručenie na druhý deň od odoslania

            .form-control.form-control--radio
              .radio.radiocheck--large.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_02', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_02')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_02')
                  .bar.no-mrg
                    .bar__item.bar__item--fill.no-mrg
                      p.text-semibold.no-mrg
                        | Pošta (na adresu)
                    .bar__item.no-mrg
                      span.text-size-medium.text-semibold
                        | 1.99€
                  p.text-size-small.no-mrg
                    | Doručenie na druhý deň od odoslania

            .form-control.form-control--radio
              .radio.radiocheck--large.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_03', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_03')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_03')
                  .bar.no-mrg
                    .bar__item.bar__item--fill.no-mrg
                      p.text-semibold.no-mrg
                        | Osobný odber
                    .bar__item.no-mrg
                      span.text-size-medium.text-semibold.text-transform-upper
                        | zadarmo
                  p.text-size-small.no-mrg
                    | Doručenie na druhý deň od odoslania
      .col--l-6
        .form-control.form-control--group
          .radiocheck-group.radiocheck-group--wider
            .form-control.form-control--radio
              .radio.radiocheck--large.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_04', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_04')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_04')
                  .bar.no-mrg
                    .bar__item.bar__item--fill.no-mrg
                      p.text-semibold.no-mrg
                        | Balíkomat
                    .bar__item.no-mrg
                      span.text-size-medium.text-semibold
                        | 1.99€
                  p.text-size-small.no-mrg
                    | Doručenie na druhý deň od odoslania

            .form-control.form-control--radio
              .radio.radiocheck--large.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_05', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_05')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_05')
                  .bar.no-mrg
                    .bar__item.bar__item--fill.no-mrg
                      p.text-semibold.no-mrg
                        | Pošta(na poštu)
                    .bar__item.no-mrg
                      span.text-size-medium.text-semibold
                        | 1.99€
                  p.text-size-small.no-mrg
                    | Doručenie na druhý deň od odoslania

            .form-control.form-control--radio
              .radio.radiocheck--large.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_06', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_06')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_06')
                  .bar.no-mrg
                    .bar__item.bar__item--fill.no-mrg
                      p.text-semibold.no-mrg
                        | Zasielkovňa
                    .bar__item.no-mrg
                      span.text-size-medium.text-semibold.text-transform-upper
                        | zadarmo
                  p.text-size-small.no-mrg
                    | Doručenie na druhý deň od odoslania

  .card__content
    .row
      .col--s-8.col--m-5.ofst--center
        .btn-layout--vertical
          button.btn.btn--primary.is-disabled(type="submit")
            | Pokračovať v objednávke
