.card#delivery
  .card__content
    h2 Zvoľte spôsob doručenia

  .card__content
    .row
      .col--l-6
        .form-control.form-control--group
          section.radiocheck-group.radiocheck-group--wider

            .form-control.form-control--radio
              .radio.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_01', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_01')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_01')
                  span.bar.align-items-top.no-mrg-bottom
                    span.bar__item.bar__item--fill
                      span.block.text-semibold
                        | Kuriér GLS
                      span.block.text-size-small
                        | Doručenie na druhý deň od odoslania
                    span.bar__item.text-size-medium.text-semibold
                      | 4.28€

            .form-control.form-control--radio
              .radio.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_02', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_02')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_02')
                  span.bar.align-items-top.no-mrg-bottom
                    span.bar__item.bar__item--fill
                      span.block.text-semibold
                        | Pošta (na adresu)
                      span.block.text-size-small
                        | Doručenie na druhý deň od odoslania
                    span.bar__item.text-size-medium.text-semibold
                      | 1.99€

            .form-control.form-control--radio
              .radio.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_03', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_03')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_03')
                  span.bar.align-items-top.no-mrg-bottom
                    span.bar__item.bar__item--fill
                      span.block.text-semibold
                        | Osobný odber
                      span.block.text-size-small
                        | Doručenie na druhý deň od odoslania
                    span.bar__item.text-size-medium.text-semibold
                      | zadarmo

      .col--l-6
        .form-control.form-control--group
          .radiocheck-group.radiocheck-group--wider
            .form-control.form-control--radio
              .radio.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_04', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_04')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_04')
                  span.bar.align-items-top.no-mrg-bottom
                    span.bar__item.bar__item--fill
                      span.block.text-semibold
                        | Balíkomat
                      span.block.text-size-small
                        | Doručenie na druhý deň od odoslania
                    span.bar__item.text-size-medium.text-semibold
                      | 1.99€

            .form-control.form-control--radio
              .radio.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_05', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_05')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_05')
                  span.bar.align-items-top.no-mrg-bottom
                    span.bar__item.bar__item--fill
                      span.block.text-semibold
                        | Pošta (na poštu)
                      span.block.text-size-small
                        | Doručenie na druhý deň od odoslania
                    span.bar__item.text-size-medium.text-semibold
                      | 1.99€

            .form-control.form-control--radio
              .radio.align-items-top
                input.radiocheck__input(type='radio', id='radio_group_shipping_06', name='radio_group_shipping')
                label.radiocheck__control(for='radio_group_shipping_06')
                label.radiocheck__label.mb-medium(for='radio_group_shipping_06')
                  span.bar.align-items-top.no-mrg-bottom
                    span.bar__item.bar__item--fill
                      span.block.text-semibold
                        | Zasielkovňa
                      span.block.text-size-small
                        | Doručenie na druhý deň od odoslania
                    span.bar__item.text-size-medium.text-semibold
                      | zadarmo

  .card__content
    .row
      .col--s-8.col--m-5.ofst--center
        .btn-layout--vertical
          button.btn.btn--primary.is-disabled(type="submit")
            | Pokračovať v objednávke
