.modal-overlay#mj-modal-delivery-picker(data-modal)
  .modal.modal--large
    .modal__wrap
      .modal__content
        .row
          .col--5
            h2.mb-small Packeta

            .form-control.form-control--input
              .input-addons.d-flex
                .input-addons__item.p-none
                  button.btn.btn--secondary(data-tooltip, title="Zistiť aktuálnu polohu")
                    +icon('target').icon--medium.fa-fw
                input.input.autocomplete__input(type="text", id="input-addon-left-5", placeholder="Hľadať podľa adresy")

            .list
              .list__item.d-flex.bg-secondary.p-small.align-items-start
                img(src=`${assetsPrefix}images/content/delivery-types/packeta.svg`, alt="Packeta").fa-fw
                .ml-small.text-medium
                  strong Dolný Kubín, Papiernictvo Ševt<br>
                  | Na Sihoti 15
                  .d-flex.mt-small
                    +icon('time').fa-fw.fa-lg
                    div.ml-tiny
                      | Pondelok-piatok 8:30 – 20:00<br>
                      | Sobota 10:00 – 16:00<br>
                      | Nedeľa zatvorené
                  .d-flex.mt-small
                    +icon('check-circle').fa-fw.fa-lg.text-color-green
                    div.ml-tiny
                      | Možnosť platby kartou
                  .d-flex
                    +icon('close').fa-fw.fa-lg.text-color-error
                    div.ml-tiny.text-color-grey
                      | Bezbariérový prístup
                .btn-layout--vertical.mt-small
                  a.btn.btn--primary Vyzdvihnem si to tu
              .list__item.d-flex.p-small.align-items-start.list__item--clickable
                img(src=`${assetsPrefix}images/content/delivery-types/packeta.svg`, alt="Packeta").fa-fw
                .ml-small.text-medium
                  strong Dolný Kubín, Nuttery Place<br>
                  | Bysterecká 2200
          .col--7.px-none.modal__map.martinus-map.position-relative
            button.btn.position-absolute.btn--location(data-tooltip, title="Zistiť aktuálnu polohu")
              +icon('target').icon--medium.fa-fw
            div(id="m", style="height:100%")

append block head
  <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
  <script type="text/javascript">Loader.load();</script>

block scripts
  script.
    var center = SMap.Coords.fromWGS84(14.41790, 50.12655);
    var map = new SMap(JAK.gel("m"), center, 13);
    map.addDefaultLayer(SMap.DEF_BASE).enable();

    var c = new SMap.Control.Mouse(SMap.MOUSE_PAN);
    map.addControl(c);

    var zoom = new SMap.Control.Zoom(null, { titles: ['Priblížiť', 'Oddialiť'], showZoomMenu: false });
    map.addControl(zoom);

