.modal-overlay#mj-modal-delivery-picker(data-modal)
  .modal.modal--large
    .modal__wrap
      .modal__content
        .row
          .col--5
            h2 Packeta

            .form-control.form-control--input
              .input-addons
                .input-addons__item.p-none
                  button.btn.btn--secondary(data-tooltip, title="Zistiť aktuálnu polohu")
                    +icon('target').icon--medium.fa-fw
                input.input.autocomplete__input(type="text", id="input-addon-left-5", placeholder="Hľadať podľa adresy")
          .col--7
            | Sem príde mapa
