.card
  .card__content
    .row.no-mrg-bottom
      .col--s-11.col--m-7.ofst--left
        h2 Kde si prídete nákup vyzdvihnúť?
        .btn-layout--vertical.no-mrg
          button.btn.btn--ghost
            +icon('target').icon--left.icon--medium
            | Zistiť podľa mojej polohy

  .card__content
    .row
      .col--s-11.col--m-6
        .form-control.form-control--radio.no-mrg
          .radio.radiocheck--large.align-items-top
            input.radiocheck__input(type='radio', id='location_option1', name='location_options')
            label.radiocheck__control(for='location_option1')
            label.radiocheck__label(for='location_option1')
              .bar.bar--vertical.no-mrg
                .bar__item.no-mrg
                  p.text-semibold.no-mrg
                    | Bratislava, Obchodná 42
                .bar__item.no-mrg
                  p.text-size-small.no-mrg
                    | Po - Ne: 9:00 - 21:00

        .form-control.form-control--radio.no-mrg
          .radio.radiocheck--large.align-items-top
            input.radiocheck__input(type='radio', id='location_option2', name='location_options')
            label.radiocheck__control(for='location_option2')
            label.radiocheck__label(for='location_option2')
              .bar.bar--vertical.no-mrg
                .bar__item.no-mrg
                  p.text-semibold.no-mrg
                    | Bratislava, Cubicon
                .bar__item.no-mrg
                  p.text-size-small.no-mrg
                    | Po - Ne: 9:00 - 21:00

        .form-control.form-control--radio.no-mrg
          .radio.radiocheck--large.align-items-top
            input.radiocheck__input(type='radio', id='location_option3', name='location_options')
            label.radiocheck__control(for='location_option3')
            label.radiocheck__label(for='location_option3')
              .bar.bar--vertical.no-mrg
                .bar__item.no-mrg
                  p.text-semibold.no-mrg
                    | Martin, Štefnáika 58
                .bar__item.no-mrg
                  p.text-size-small.no-mrg
                    | Po - Ne: 9:00 - 21:00

        .form-control.form-control--radio.no-mrg
          .radio.radiocheck--large.align-items-top
            input.radiocheck__input(type='radio', id='location_option4', name='location_options')
            label.radiocheck__control(for='location_option4')
            label.radiocheck__label(for='location_option4')
              .bar.bar--vertical.no-mrg
                .bar__item.no-mrg
                  p.text-semibold.no-mrg
                    | Žilina, SC Mirage
                .bar__item.no-mrg
                  p.text-size-small.no-mrg
                    | Po - Ne: 9:00 - 21:00

        .form-control.form-control--radio.mb-small
          .radio.radiocheck--large.align-items-top
            input.radiocheck__input(type='radio', id='location_option5', name='location_options')
            label.radiocheck__control(for='location_option5')
            label.radiocheck__label(for='location_option5')
              .bar.bar--vertical.no-mrg
                .bar__item.no-mrg
                  p.text-semibold.no-mrg
                    | Nitra, OC Centro
                .bar__item.no-mrg
                  p.text-size-small.no-mrg
                    | Po - Ne: 9:00 - 21:00

      .col--s-11.col--m-6
        .form-control.form-control--radio.no-mrg
          .radio.radiocheck--large.align-items-top
            input.radiocheck__input(type='radio', id='location_option6', name='location_options')
            label.radiocheck__control(for='location_option6')
            label.radiocheck__label(for='location_option6')
              .bar.bar--vertical.no-mrg
                .bar__item.no-mrg
                  p.text-semibold.no-mrg
                    | Košice, OC Galéria
                .bar__item.no-mrg
                  p.text-size-small.no-mrg
                    | Po - Ne: 9:00 - 21:00

        .form-control.form-control--radio.no-mrg
          .radio.radiocheck--large.align-items-top
            input.radiocheck__input(type='radio', id='location_option7', name='location_options')
            label.radiocheck__control(for='location_option7')
            label.radiocheck__label(for='location_option7')
              .bar.bar--vertical.no-mrg
                .bar__item.no-mrg
                  p.text-semibold.no-mrg
                    | Považská Bystrica, M-park
                .bar__item.no-mrg
                  p.text-size-small.no-mrg
                    | Po - Ne: 9:00 - 21:00

        .form-control.form-control--radio.no-mrg
          .radio.radiocheck--large.align-items-top
            input.radiocheck__input(type='radio', id='location_option8', name='location_options')
            label.radiocheck__control(for='location_option8')
            label.radiocheck__label(for='location_option8')
              .bar.bar--vertical.no-mrg
                .bar__item.no-mrg
                  p.text-semibold.no-mrg
                    | Poprad. OC Fórum
                .bar__item.no-mrg
                  p.text-size-small.no-mrg
                    | Po - Ne: 9:00 - 21:00

        .form-control.form-control--radio.no-mrg
          .radio.radiocheck--large.align-items-top
            input.radiocheck__input(type='radio', id='location_option9', name='location_options')
            label.radiocheck__control(for='location_option9')
            label.radiocheck__label(for='location_option9')
              .bar.bar--vertical.no-mrg
                .bar__item.no-mrg
                  p.text-semibold.no-mrg
                    | Lučenec, OC Galéria
                .bar__item.no-mrg
                  p.text-size-small.no-mrg
                    | Po - Ne: 9:00 - 21:00

  .card__content
    .row
      .col--s-11.col--m-6.ofst--center
        .btn-layout--vertical.mb-small
          button.btn.btn--primary.is-disabled(type="submit")
            | vyzdvyhnem si to tu!
