.modal-overlay#mj-modal-delivery-picker(data-modal)
  .modal.modal--large
    .modal__wrap
      .modal__content
        .text-center
          img(src=`${assetsPrefix}images/content/foxford/logo.png`, width="200")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris pharetra neque in varius euismod. Nulla quis scelerisque enim, nec tristique erat. Phasellus eros nulla, porta ut tellus in, dignissim lacinia tortor.
          a(href="#").btn.btn--success.btn--large Začať
