.card.mb-small
  .card__content
    .bar
      .bar__item.bar__item--fill
        h2 Zvoľte spôsob doručenia
      .bar__item
        button.btn.btn--clean.no-mrg.no-pad
          +icon('edit').icon--medium.icon--left
          | Upraviť

  .card__content.no-pad-top.mb-medium
    .bar.no-mrg
      .bar__item.bar__item--fill.text-size-medium
        | Balíkomat
      .bar__item.text-size-medium
        strong 1.99€
