.card.card--done.mb-small
  .card__content
    .bar
      .bar__item.bar__item--fill
        h2 Poznámka

  .card__content.no-pad-top.no-mrg
    p.text-size-medium
      | Pridanie poznámky spôsobí zdržanie objednávky
