.card.mb-small#payment
  .card__content
    .bar
      .bar__item.bar__item--fill
        h2 Spôsob platby ?

  .card__content

    .form-control.form-control--radio
      .radio
        input.radiocheck__input(type='radio', id='payment_card', name='payment_options' data-radiocheck-toggle="#payment_card_options")
        label.radiocheck__control(for='payment_card')
        label.radiocheck__label.text-semibold(for='payment_card')
          | Kartou (vopred)
          img.text-space-left(src="/images/content/banks/visa.png", alt="VISA")
          img.text-space-left(src="/images/content/banks/mastercard.png", alt="mastercard")

      .form-control.form-control--checkbox.hide#payment_card_options
        .checkbox
          input.radiocheck__input(type='checkbox', id='payment_save_card', name='payment_save_card')
          label.radiocheck__control(for='payment_save_card')
          label.radiocheck__label(for='payment_save_card')
            span.text-size-medium.text-semibold Bezpečne zapamätať číslo mojej karty#{' '}
              span.text-normal pre ďalšie nákupy

    .form-control.form-control--radio
      .radio
        input.radiocheck__input(type='radio', id='payment_ib', name='payment_options' data-radiocheck-toggle="#payment_ib_options")
        label.radiocheck__control(for='payment_ib')
        label.radiocheck__label(for='payment_ib')
          span.block.text-semibold
            | Internet bankingom mojej banky
            img.text-space-left(src="/images/content/banks/tatra-banka.png", alt="tatra bank")
            img.text-space-left(src="/images/content/banks/slsp.png", alt="SLSP")
            img.text-space-left(src="/images/content/banks/vub.png", alt="VUB")
            img.text-space-left(src="/images/content/banks/unicredit.png", alt="unicredit")
            img.text-space-left(src="/images/content/banks/postova-banka.png", alt="postova banka")
            img.text-space-left(src="/images/content/banks/sberbank.png", alt="sberbank")
          span.text-size-medium
            | Tatra Banka, SLSP, VÚB, UniCredit, ČSOB, Poštová banka, Sberbank

      .form-control.hide#payment_ib_options
        .row
          .col--m-4
            ul.list.list--clean
              li.list__item
                .form-control.form-control--radio.no-mrg
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option1', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option1')
                    label.radiocheck__label.text-semibold(for='payment_ib_option1')
                      | TatraPay

              li.list__item
                .form-control.form-control--radio.no-mrg
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option2', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option2')
                    label.radiocheck__label.text-semibold(for='payment_ib_option2')
                      | UniPlatba

              li.list__item
                .form-control.form-control--radio.no-mrg
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option3', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option3')
                    label.radiocheck__label.text-semibold(for='payment_ib_option3')
                      | Sberbank WEBpay

          .col--m-5
            ul.list.list--clean
              li.list__item
                .form-control.form-control--radio.no-mrg
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option4', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option4')
                    label.radiocheck__label.text-semibold(for='payment_ib_option4')
                      | SporoPay

              li.list__item
                .form-control.form-control--radio.no-mrg
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option5', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option5')
                    label.radiocheck__label.text-semibold(for='payment_ib_option5')
                      | Poštová banka Platba ONLINE

              li.list__item
                .form-control.form-control--radio.no-mrg
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option6', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option6')
                    label.radiocheck__label.text-semibold(for='payment_ib_option6')
                      | ePlatby VÚB

    .form-control.form-control--radio
      .radio
        input.radiocheck__input(type='radio', id='payment_paypal', name='payment_options')
        label.radiocheck__control(for='payment_paypal')
        label.radiocheck__label.text-semibold(for='payment_paypal')
          | PayPal
          img.text-space-left(src="/images/content/banks/paypal.png", alt="paypal")

    .form-control.form-control--radio
      .radio
        input.radiocheck__input(type='radio', id='payment_viamo', name='payment_options')
        label.radiocheck__control(for='payment_viamo')
        label.radiocheck__label.text-semibold(for='payment_viamo')
          | Viamo
          img.text-space-left(src="/images/content/banks/viamo.png", alt="viamo")

    .form-control.form-control--radio
      .radio
        input.radiocheck__input(type='radio', id='payment_mcm', name='payment_options')
        label.radiocheck__control(for='payment_mcm')
        label.radiocheck__label.text-semibold(for='payment_mcm')
          | MasterCard Mobile
          img.text-space-left(src="/images/content/banks/mastercard.png", alt="mastercard")

    .form-control.form-control--radio
      .radio.align-items-top
        input.radiocheck__input(type='radio', id='payment_invoice', name='payment_options')
        label.radiocheck__control(for='payment_invoice')
        label.radiocheck__label.mb-medium(for='payment_invoice')
          span.block.text-semibold
            | Predfaktúra
          span.text-size-medium
            | Tovar bude odoslaný až po pripísaní platby na náš účet.

  .card__content.no-pad-top.mb-medium
    .row
      .col--s-12.col--m-11.ofst--center
        .mb-medium
          a.link.text-size-medium(data-toggle="#gift")
            | Využiť darčekovú poukážku alebo ISIC, ITIC, EURO<26 zľavu
        #gift.row.hide(data-toggle-class="hide")
          .col--m-6
            .form-control.form-control--input
              .form-label.form-label--required
                label.text-transform-upper.text-size-small(for="cislo-poukazky")
                  | Zadajte číslo poukážky
              .input-addons
                input.input(type="text", name="cislo-poukazky", id="cislo-poukazky", placeholder="V tvare XYZ321")
                .input-addons__item.no-pad
                  button.btn.btn--ghost Overiť
          .col--m-6
            .form-control.form-control--input
              .form-label.form-label--required
                label.text-transform-upper.text-size-small(for="cislo-poukazky")
                  | Zadajte číslo preukazu
              .input-addons
                input.input(type="text", name="cislo-poukazky", id="cislo-poukazky", placeholder="ISIC, ITIC alebo EURO<26")
                .input-addons__item.no-pad
                  button.btn.btn--ghost Overiť

  .card__content
    .row
      .col--s-11.col--m-7.ofst--center
        .btn-layout--vertical.mb-small
          button.btn.btn--primary.is-disabled(type="submit")
            | Potvrdiť výber
