.card.mb-small
  .card__content
    .bar
      .bar__item.bar__item--fill
        h2 Spôsob platby ?

  .card__content.no-pad-top

    .form-control.form-control--radio.mb-small
      .radio.radiocheck--large
        input.radiocheck__input(type='radio', id='payment_card', name='payment_options')
        label.radiocheck__control(for='payment_card')
        label.radiocheck__label.text-semibold(for='payment_card')
          | Kartou (vopred)
          +icon('like').icon--medium.icon--right
          +icon('like').icon--medium.icon--right

    .form-control.form-control--checkbox.text-space-left.mb-medium
      .checkbox.radiocheck--large
        input.radiocheck__input(type='checkbox', id='payment_save_card', name='payment_save_card')
        label.radiocheck__control(for='payment_save_card')
        label.radiocheck__label.text-semibold(for='payment_save_card')
          p.text-size-medium.no-mrg
            strong Bezpečne zapamätať číslo mojej karty#{' '}
            | pre ďalšie nákupy

    .form-control.form-control--radio.mb-small
      .radio.radiocheck--large.align-items-top
        input.radiocheck__input(type='radio', id='payment_ib', name='payment_options')
        label.radiocheck__control(for='payment_ib')
        label.radiocheck__label(for='payment_ib')
          .bar.bar--vertical.no-mrg
            .bar__item.no-mrg
              p.text-semibold.no-mrg
                | Internet bankingom mojej banky
            .bar__item.no-mrg
              p.text-size-medium.no-mrg
                | Tatra Banka, SLSP, VÚB, UniCredit, ČSOB, Poštová banka, Sberbank

    .row.text-space-left
      .col--m-4
        ul.list.list--clean
          li.list__item
            .form-control.form-control--radio.no-mrg
              .radio.radiocheck--large
                input.radiocheck__input(type='radio', id='payment_ib_option1', name='payment_ib_options')
                label.radiocheck__control(for='payment_ib_option1')
                label.radiocheck__label.text-semibold(for='payment_ib_option1')
                  | TatraPay

          li.list__item
            .form-control.form-control--radio.no-mrg
              .radio.radiocheck--large
                input.radiocheck__input(type='radio', id='payment_ib_option2', name='payment_ib_options')
                label.radiocheck__control(for='payment_ib_option2')
                label.radiocheck__label.text-semibold(for='payment_ib_option2')
                  | UniPlatba

          li.list__item
            .form-control.form-control--radio.no-mrg
              .radio.radiocheck--large
                input.radiocheck__input(type='radio', id='payment_ib_option3', name='payment_ib_options')
                label.radiocheck__control(for='payment_ib_option3')
                label.radiocheck__label.text-semibold(for='payment_ib_option3')
                  | Sberbank WEBpay

      .col--m-5
        ul.list.list--clean
          li.list__item
            .form-control.form-control--radio.no-mrg
              .radio.radiocheck--large
                input.radiocheck__input(type='radio', id='payment_ib_option4', name='payment_ib_options')
                label.radiocheck__control(for='payment_ib_option4')
                label.radiocheck__label.text-semibold(for='payment_ib_option4')
                  | SporoPay

          li.list__item
            .form-control.form-control--radio.no-mrg
              .radio.radiocheck--large
                input.radiocheck__input(type='radio', id='payment_ib_option5', name='payment_ib_options')
                label.radiocheck__control(for='payment_ib_option5')
                label.radiocheck__label.text-semibold(for='payment_ib_option5')
                  | Poštová banka Platba ONLINE

          li.list__item
            .form-control.form-control--radio.no-mrg
              .radio.radiocheck--large
                input.radiocheck__input(type='radio', id='payment_ib_option6', name='payment_ib_options')
                label.radiocheck__control(for='payment_ib_option6')
                label.radiocheck__label.text-semibold(for='payment_ib_option6')
                  | ePlatby VÚB

    .form-control.form-control--radio.mb-small
      .radio.radiocheck--large
        input.radiocheck__input(type='radio', id='payment_paypal', name='payment_options')
        label.radiocheck__control(for='payment_paypal')
        label.radiocheck__label.text-semibold(for='payment_paypal')
          | PayPal

    .form-control.form-control--radio.mb-small
      .radio.radiocheck--large
        input.radiocheck__input(type='radio', id='payment_viamo', name='payment_options')
        label.radiocheck__control(for='payment_viamo')
        label.radiocheck__label.text-semibold(for='payment_viamo')
          | Viamo

    .form-control.form-control--radio.no-mrg
      .radio.radiocheck--large
        input.radiocheck__input(type='radio', id='payment_mcm', name='payment_options')
        label.radiocheck__control(for='payment_mcm')
        label.radiocheck__label.text-semibold(for='payment_mcm')
          | MasterCard Mobile

    .form-control.form-control--radio.no-mrg
      .radio.radiocheck--large.align-items-top
        input.radiocheck__input(type='radio', id='payment_invoice', name='payment_options')
        label.radiocheck__control(for='payment_invoice')
        label.radiocheck__label.mb-medium(for='payment_invoice')
          .bar.bar--vertical.no-mrg
            .bar__item.no-mrg
              p.text-semibold.no-mrg
                | Predfaktúra
            .bar__item.no-mrg
              p.text-size-medium.no-mrg
                | Tovar bude odoslaný až po pripísaní platby na náš účet.

  .card__content.no-pad-top.mb-medium
    .row
      .col--s-12.col--m-11.ofst--center
        a.link.text-size-medium
          | Využiť darčekovú poukážku alebo ISIC, ITIC, EURO<26 zľavu

  .card__content
    .row
      .col--s-11.col--m-7.ofst--center
        .btn-layout--vertical.mb-small
          button.btn.btn--primary.is-disabled(type="submit")
            | Potvrdiť výber
