$color-violet-dark: #19002c;
$color-beige: #d8bf9e;

.bg-violet-dark {
  background-color: $color-violet-dark;
}

.ks-page {
  background: $color-violet-dark;
}

.tk23-header {
  padding: 40px 0;
  background: $color-violet-dark url('../images/content/campaign/tajomne-kniznice/web/header.jpg') no-repeat top center;

  @include breakpoint('m') {
    padding: 80px 0;
  }

  &__logo {
    width: _get-rem(220px);

    @include breakpoint('m') {
      width: _get-rem(350px);
    }
  }

  &__info {
    max-width: _get-rem(400px);
  }

  &__claim {
    span {
      color: $color-beige;
    }
  }
}

.tk23-bg {
  &--teaser {
    padding: 60px;

    height: 400px;

    background: url('../images/content/campaign/tajomne-kniznice/web/teasing.jpg') no-repeat top center;
    background-size: cover;

    @include breakpoint('l') {
      padding: 90px 30px;
      height: 700px;
    }
  }
}

.tk23-nav-days {
  a {
    font-size: $font-size-regular;
    font-weight: $font-weight-semibold;
    padding: 3px 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: _get-rem(10px);
    background: _color(violet);
    margin-right: _get-space(tiny);
    color: _color(white);
    transition: ease-in-out 300ms;

    &:hover {
      transform: scale(1.2);
    }

    &.is-active {
      background: _color(white);
      color: _color(black);
    }

    &.is-done {
      background: _color(green);
    }

    &.is-inactive {
      background: #3b234e;
      color: rgba(255, 255, 255, 0.5);
      cursor: not-allowed;
    }
  }

  @include breakpoint('l') {
    display: flex;
    justify-content: space-between;

    a {
      margin-right: 0;
    }
  }
}

.footer {
  margin-top: 49px !important;
}

.campaign-progress {
  color: _color(black);
  min-width: _get-rem(200px);
  text-align: center;

  &__books {
    background: $color-beige;
    border-radius: _get-rem(3px) _get-rem(3px) 0 0;
    padding: 5px 0;
  }

  &__info {
    border-radius: 0 0 _get-rem(3px) _get-rem(3px);
    padding: 7px 0;
  }
}
